In [5]:
##  전종목  종가 > ma120  일일 비교

from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 


path = 'd:\\stockdata\\close_ma120\\close_ma120_'

df = all_stock(choice_date)
df.columns=['date', 'code', 'name', 'open', 'high', 'low', 'volume', 'close']
df.head()

         date    code    name   open   high    low  volume  close
0  2019-10-10  060310      3S   3545   3660   3515  189166   3595
1  2019-10-10  095570  AJ네트웍스   4245   4290   4185   41233   4230
2  2019-10-10  068400   AJ렌터카  11700  11700  11300  181965  11450
3  2019-10-10  006840   AK홀딩스  33000  33500  32050   26943  32200
4  2019-10-10  054620  APS홀딩스  11000  11350  10450  309033  10650

In [3]:
df.columns

Index(['Date', 'Code', 'Name', 'Open', 'High', 'Low', 'Volume', 'Close'], dtype='object')

In [1]:
##  전종목  종가 > ma120  일일 비교

from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 


path = 'd:\\stockdata\\close_ma120\\close_ma120_'

df = all_stock('2019-10-10')
df = df['Name']

name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)
    

last = len(df2[df2['name'] == name[0]])-1
today_df = df2[df2.index == last]

ma120_df = today_df[today_df['close'] > today_df['ma120']]
ma120_df = ma120_df.sort_values(['ma120'])

today = str(ma120_df.iloc[0,4])
ma120_df.to_excel(path+today+'.xlsx', encoding='utf-8')

price_up = 155
price_down = 142
win_rate=52.18855218855219%

          name  price_startday  price_today      diff
239      신스타임즈            3990         5180  1.298246
225     코리아써키트            7110         8230  1.157525
158      제이엠아이            1195         1375  1.150628
304  에이치엘비생명과학           19550        22200  1.135550
215       NE능률            3195         3545  1.109546
151        뉴인텍            1475         1635  1.108475
297        이랜텍            5950         6430  1.080672
245       KH바텍           13300        14250  1.071429
303       제이엠티            4740         5060  1.067511
208         WI            8550         9120  1.066667

       name  price_startday  price_today      diff
141   이에스에이            3370         3090  0.916914
1      제이웨이            1075          999  0.929302
63      씨티젠            2890         2695  0.932526
42       상보            1275         1190  0.933333
212    삼성제약            3330         3110  0.933934
101   인프라웨어            1245         1170  0.939759
98   오성첨단소재            2915         2765  0.948542
200    대양금속           12750        12150  0.952941
194    피델릭스            1620         1550  0.956790
29       웅진            1685         1615  0.958457

       price_startday    price_today        diff
count      318.000000     318.000000  318.000000
mean     15119.176101   15233.044025    1.003196
std      42019.448386   43301.992719    0.031239
min        150.000000     150.000000    0.916914
25%       2072.500000    2096.250000    0.991185
50%       4480.000000    4532.500000    1.000000
75%      10837.500000   10937.500000    1.008998
max     591000.000000  620000.000000    1.298246

# Excel to Mysql

In [ ]:
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy
from  datetime import datetime

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

date = input('원하는 날짜를 입력하세요 ')
path = 'd:\\stockdata\\관리종목\\'+date+'.xlsx'

df = pd.read_excel(path)
#df['Date']=str(df['Date'])
#df = df.set_index('Date')
#df.columns =['Date','Name']
df.to_sql(name='badstock', con=engine, if_exists='append', index = False)

# Daum Crawling

In [ ]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import json 
import pandas as pd
import sqlalchemy 
import urllib.request as req
from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
#source = BeautifulSoup(res, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

a  = res.find('[')
b = res.find(']')+1

#print('a:{}'.format(a))
#print('b:{}'.format(b))

ab = res[a:b]
print(ab, file=open("out.txt", "w"))

data = []
with open('out.txt') as f:
    for line in f:
        data.append(json.loads(line))
df = pd.DataFrame(data[0])
df

# 볼린저밴드

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

file = 'd:\\hrs.xlsx'

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
df = pd.read_sql("SELECT * from market where Name = 'hrs' && Date > '2019-01-05'", connect)

volume_average_5 = df['Volume'].rolling(window=5,min_periods=1).mean()
volume_average_10 = df['Volume'].rolling(window=10,min_periods=1).mean()
volume_average_20 = df['Volume'].rolling(window=20,min_periods=1).mean()
volume_average_60 = df['Volume'].rolling(window=60,min_periods=1).mean()
volume_average_120 = df['Volume'].rolling(window=120,min_periods=1).mean()

close_average_5 = df['Close'].rolling(window=5,min_periods=1).mean()
close_average_10 = df['Close'].rolling(window=10,min_periods=1).mean()
close_average_20 = df['Close'].rolling(window=20,min_periods=1).mean()
close_average_60 = df['Close'].rolling(window=60,min_periods=1).mean()
close_average_120 = df['Close'].rolling(window=120,min_periods=1).mean()

df.insert(len(df.columns), "Vol_MA5", volume_average_5)
df.insert(len(df.columns), "Vol_MA10", volume_average_10)
df.insert(len(df.columns), "Vol_MA20", volume_average_20)
df.insert(len(df.columns), "Vol_MA60", volume_average_60)
df.insert(len(df.columns), "Vol_MA120", volume_average_120)

df.insert(len(df.columns), "Close_MA5", close_average_5)
df.insert(len(df.columns), "Close_MA10", close_average_10)
df.insert(len(df.columns), "Close_MA20", close_average_20)
df.insert(len(df.columns), "Close_MA60", close_average_60)
df.insert(len(df.columns), "Close_MA120", close_average_120)

df1 = df[['Date','Name','Close','Volume','Vol_MA5','Vol_MA10','Vol_MA20','Vol_MA60','Vol_MA120']]
#df1.to_excel(file)
df1

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from tensorflow import keras
mnist = keras.datasets.mnist
(train_images, train_labels),(test_images, test_labels) = mnist.load_data()


print("훈련 이미지 :",  train_images.shape)
print("훈련 라벨:",  train_labels.shape)
print("테스트 이미지 : ", test_images.shape)
print("테스트 라벨 : ", test_labels.shape)
print('\n')


mnist_idx = 100


print('[label]')
print('number label = ', train_labels[mnist_idx])
print('\n')

print('[image]')

for row in train_images[mnist_idx]:
    for col in row:
        print("%10f" % col, end="")
    print('\n')
print('\n')


plt.figure(figsize=(5, 5))
image = train_images[mnist_idx]
plt.imshow(image)
plt.show()

In [ ]:
import tensorflow as tf

# MNIST 데이터 세트를 가져옵니다. 

mnist = tf.keras.datasets.mnist

(x_train, y_train), (x_test, y_test) = mnist.load_data()

x_train, x_test = x_train / 255.0, x_test / 255.0

# 뉴럴 네트워크 모델을 생성합니다. 

model = tf.keras.models.Sequential([tf.keras.layers.Flatten(input_shape=(28, 28)), tf.keras.layers.Dense(128, activation='relu'), tf.keras.layers.Dropout(0.2), tf.keras.layers.Dense(10, activation='softmax')])

# 학습을 위한 optimizer와 loss function을 선택합니다. 

model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

# 학습 데이터 세트를 사용하여 모델을 학습시킵니다. 5번 반복합니다. 

model.fit(x_train, y_train, epochs=5)

# 테스트 데이터 세트를 사용하여 모델을 평가합니다. 

model.evaluate(x_test, y_test)

In [ ]:
tf.__version__

In [ ]:
## 거래량 평균으로 일일 거래량 나눔

import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import sqlalchemy 

font_dir = font_manager.win32FontDirectory()

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()


date = input("날짜를 입력하세요 sample: '2019-01-10':")
name = input('주식이름을 입력하세요:').split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "
    

tuple_name=tuple(name)
df1 = pd.DataFrame()
    
for x in tuple_name:
    var = select_query +"'"+x+"'"+" "+"&&"+" "+date_query+"'"+date+"'"
    df = pd.read_sql(var ,engine)
    #print(df)
    df.columns=['Date',x+'거래량',x]
    if df1.empty:
        df1 = df
    else:
        df1 = pd.merge (df,df1,on='Date')
df1=df1.set_index('Date')
size = len(df1.index)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100)
    #plt.plot(df1[name[i]+'거래량']/df1[name[i]+'거래량'].loc[df['Date'][0]]*100, label =[name[i]+'거래량'] )
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    volume_average = df1[name[i]+'거래량'].sum(axis=0)/size
    #plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100, label=name[i])
    plt.plot(df1[name[i]+'거래량']/volume_average)
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
            
plt.show()

# project

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'


#today = datetime.now()
#real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
#real_today = today.strftime('%Y-%m-%d')

#now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])
#print(yesterday)
#print(today)

#var = "select * from market where (Date = '2019-01-02' OR Date = '2019-01-03')  and Volume >  500000"
#df = pd.read_sql(var ,engine)
#df

select_query = "select * from market where (Date = "
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
df = pd.read_sql(var ,engine)

#df


df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
#display(df1)


df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
#display(df2)

df3 = pd.merge(df1,df2,on='Name')
df3['Close']=df3['today_Close']/df3['yester_Close']
df3['Volume']=df3['today_Volume']/df3['yester_Volume']
df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
df3 = df3.reset_index(drop=True)

df3 = df3[:15]
df4 = df4.reset_index(drop=True)
df4 = df4[:15]
df3.to_excel(path_volume+today+'.xlsx', encoding='utf-8')
df4.to_excel(path_price+today+'.xlsx', encoding='utf-8')        
display(df3)
display(df4)

In [ ]:
today

In [ ]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

#is_hrs=market_df['Name']=='HRS'
#hrs_df = market_df[is_hrs]
#yesterday = str(hrs_df['Date'].iloc[0])
#today = str(hrs_df['Date'].iloc[1])

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    df2 = df2[['Name','Volume','Close']]
    df2.columns = ['Name','today_Volume','today_Close']
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close_Rate']=df3['today_Close']/df3['yester_Close']
    df3['Volume_Rate']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)

    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    df3.to_excel('d:\\detect_stock_with_volume.xlsx', encoding='utf-8')
    df4.to_excel('d:\\detect_stock_with_price.xlsx', encoding='utf-8')        
    display(df3)
    display(df4)

In [ ]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])

f = open('kkang.txt','w')

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    #df2 = df2[['Name','Volume','Close']]
    #df2.columns = ['Name','today_Volume','today_Close']
    df2 = df2[['Name','Date','Code','Volume','Close']]
    df2.columns = ['Name','Date','Code','today_Volume','today_Close']    
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)
    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    
    df3.to_csv('out.txt', header=True, index=False, sep='\t', mode='a')
    df4.to_csv('out.txt', header=True, index=False, sep='\t', mode='a')
    
    display(df3)
    display(df4)

In [ ]:
### Close and Volume graph 표준화

import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select * from market where Name='화천기계' and Date > '2018-08-01'", engine)

source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values.astype(float))
df1 = pd.DataFrame(data)
df1.columns=['Close','Volume']
df1 = df1.set_index(df['Date'])
df1.plot(figsize=(16,4))

In [ ]:
### Close and Volume graph 표준화

import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def parm(select):
    name = '화천기계'
    date = '2019-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)
df = pd.read_sql(parm(select), engine)

source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values.astype(float))
df1 = pd.DataFrame(data)
df1.columns=['Close','Volume']
df1 = df1.set_index(df['Date'])
df1.plot(figsize=(16,4))

In [ ]:
### Close and Volume graph 표준화

import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def choice(select=1):
    name =['화천기계','hrs','모나미','한국내화']
    date = '2019-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)
df = pd.read_sql(choice(select), engine)

source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values.astype(float))
df1 = pd.DataFrame(data)
df1.columns=['Close','Volume']
df1 = df1.set_index(df['Date'])
df1.plot(figsize=(16,4))

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def choice_one():
    name = input('주식이름을 입력하세요 : ')
    date = input('날짜를 입력하세요: ')
    var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    return var

def choice_batch():
    name ='화천기계'
    date = '2019-01-01'
    var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    return var           
           
df = pd.read_sql(choice_batch(), engine)
df

In [ ]:
### Close and Volume graph 표준화 _ 2

import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

name =['화천기계','hrs','모나미','한국내화']
date = '2019-01-01'
for i in name:
    var = select_query +"'"+i+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    df = pd.read_sql(var, engine)

    source = MinMaxScaler()
    data = source.fit_transform(df[['Close','Volume']].values.astype(float))
    df1 = pd.DataFrame(data)
    df1.columns=['Close','Volume']
    df1 = df1.set_index(df['Date'])
    df1.plot(figsize=(16,4))
    plt.title(i)
    plt.show()

In [ ]:
### Close and Volume graph 표준화 _ 2

import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

df = pd.read_excel('d:\\detect_stock_with_volume.xlsx')
df=df['Name']
name = df.values.tolist()
date = '2019-01-01'
for i in name:
    var = select_query +"'"+i+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    df = pd.read_sql(var, engine)

    source = MinMaxScaler()
    data = source.fit_transform(df[['Close','Volume']].values.astype(float))
    df1 = pd.DataFrame(data)
    df1.columns=['Close','Volume']
    df1 = df1.set_index(df['Date'])
    df1.plot(figsize=(16,2))
    plt.title(i)
    plt.show()

In [ ]:
name =['화천기계','hrs','모나미','한국내화']
date = '2019-01-01'
for i in name:
    var = select_query +"'"+i+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    df = pd.read_sql(var, engine)

    source = MinMaxScaler()
    data = source.fit_transform(df[['Close','Volume']].values.astype(float))
    df1 = pd.DataFrame(data)
    df1.columns=['Close','Volume']
    df1 = df1.set_index(df['Date'])
    df1.plot(figsize=(16,4))
    plt.title(i)
    plt.show()

In [ ]:



import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

df = pd.read_sql("select * from market where Name='카리스국보' and Date > '2019-01-01'", engine)

df['Close'].plot(figsize=(16,5))

In [ ]:
source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values)
df = pd.DataFrame(data)
df.columns=['Close','Volume']
df[['Close','Volume']].plot(figsize=(16,5))

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

df = pd.read_sql("select * from market where Name='삼보산업' and Date > '2019-01-01'", engine)

df['Close'].plot(figsize=(16,5))

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

## def stock_price_graph():
    
name = input('주식이름을 입력하세요:').split()
date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
select_query = "select Date,Close from market where Name= "
date_query = "Date > "
    

tuple_name=tuple(name)
df1 = pd.DataFrame()
    
for x in tuple_name:
    var = select_query +"'"+x+"'"+" "+"&&"+" "+date_query+"'"+date+"'"
    df = pd.read_sql(var ,engine)
    df.columns=['Date',x]
    if df1.empty:
        df1 = df
    else:
        df1 = pd.merge (df,df1,on='Date')
df1=df1.set_index('Date')
    
plt.figure(figsize=(12,5))
    
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100)
        
plt.legend(loc=0)
plt.grid(True,color='0.7',linestyle=':',linewidth=1)

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

## def stock_price_graph():
    
#name = input('주식이름을 입력하세요:').split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
#select_query = "select Date,Close from future where Date > "
#date_query = "Date > "
    
var = "select * from future where Date > '2019-06-13'"
#tuple_name=tuple(name)
df = pd.read_sql(var ,engine)
df.columns

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

## def stock_price_graph():
    
#name = input('주식이름을 입력하세요:').split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
#select_query = "select Date,Close from future where Date > "
#date_query = "Date > "

name = ['Close', '미결제약정', '외국인', '기관', '개인']
var = "select * from future where Date > '2019-06-13'"
#tuple_name=tuple(name)
df = pd.read_sql(var ,engine)


#df.columns=[['Date', 'Close', '미결제약정', '외국인', '기관', '개인']]
#df = df.set_index('Date')
#df= df['Close', '미결제약정', '외국인', '기관', '개인']
df.columns=[['Date', 'Close', '미결제약정', '외국인', '기관', '개인']]
df = df.set_index('Date')
df= df[name]


plt.figure(figsize=(16,4))        

for i in range(len(name)):
    plt.plot(df[name[i]]/df[name[i]].loc[df.index[0]]*100)
        
plt.legend(loc=0)
plt.grid(True,color='0.7',linestyle=':',linewidth=1)

In [ ]:
## 일일 거래량 50만주이상 주식중 전일 거래량 보다 많은 거래량 top15 종목 

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])
#print(yesterday)
#print(today)

#var = "select * from market where (Date = '2019-01-02' OR Date = '2019-01-03')  and Volume >  500000"
#df = pd.read_sql(var ,engine)
#df

select_query = "select * from market where (Date = "
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
df = pd.read_sql(var ,engine)

#df


df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
#display(df1)


df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
#display(df2)

df3 = pd.merge(df1,df2,on='Name')
df3['Close']=df3['today_Close']/df3['yester_Close']
df3['Volume']=df3['today_Volume']/df3['yester_Volume']
df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
df3 = df3.reset_index(drop=True)

df3 = df3[:30]
df4 = df4.reset_index(drop=True)
df4 = df4[:30]
df3.to_excel('d:\\detect_stock_with_volume_'+real_today+'.xlsx', encoding='utf-8')
df4.to_excel('d:\\detect_stock_with_price_'+real_today+'.xlsx', encoding='utf-8')        
display(df3)
display(df4)

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = pymysql.connect(host = 'localhost', user = 'kkang', password = 'leaf2027' ,db = 'stock')
curs = conn.cursor()

In [ ]:
## def money_trend_graph():  integrate graph
    
name = input("항목을 입력하세요: 선택항목: 'kpi200', '거래량', '고객예탁금', '신용잔고', '주식형펀드', '혼합형펀드', '채권형펀드'").split()
date = input("날짜를 입력하세요 sample: '2019-01-10':")
    
query = "select * from kpi_with_money where Date >"+"'"+date+"'"
    
tuple_name=tuple(name)
df1 = pd.DataFrame()
    
df = pd.read_sql(query ,engine)

df.columns=['Date','kpi200', '거래량', '고객예탁금', '신용잔고', '주식형펀드', '혼합형펀드', '채권형펀드']
df = df.set_index('Date')
df1=df[name]

plt.figure(figsize=(16,4))
colors = ['red','green','blue','pink','gray']
for i in range(len(name)):
    plt.subplot(2,2,i+1)
    plt.plot(df1[name[i]]/df1[name[i]].loc[df1.index[0]]*100,color=colors[i])
    
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)

In [ ]:
## def future_trend_graph():
    
#name = input("항목을 입력하세요: 선택항목: 'kpi200', '거래량', '고객예탁금', '신용잔고', '주식형펀드', '혼합형펀드', '채권형펀드'").split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
    
#query = "select * from future where Date > '2019-06-13'"+"'"+date+"'"
query = "select * from future where Date > '2019-06-11'"

#name=['Close', '미결제약정', '외국인', '기관', '개인']
#name=['미결제약정']
name=['외국인', '기관', '개인']
tuple_name=tuple(name)
df1 = pd.DataFrame()
    
df = pd.read_sql(query ,engine)

df.columns=['Date', 'Close', '미결제약정', '외국인', '기관', '개인']
df = df.set_index('Date')
df1=df[name]

plt.figure(figsize=(16,4))    
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df.index[0]]*100)
        
plt.legend(loc=0)
plt.grid(True,color='0.7',linestyle=':',linewidth=1)

In [ ]:
df1

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
def future_trend_graph():
    
    #name = input("항목을 입력하세요: 선택항목: 'kpi200', '거래량', '고객예탁금', '신용잔고', '주식형펀드', '혼합형펀드', '채권형펀드'").split()
    #date = input("날짜를 입력하세요 sample: '2019-01-10':")

    #query = "select * from future where Date > '2019-06-13'"+"'"+date+"'"
    query = "select * from future where Date > '2019-06-11'"
    query1 = "select * from basis where Date > '2019-06-13'"

    name=['Close', '미결제약정', '외국인', '기관', '개인']
    name1=['Close','미결제약정']
    name2=['외국인', '기관', '개인']
    basis_name=['kpi200','Future']

    #tuple_name=tuple(name)
    df1 = pd.DataFrame()
    basis_df1 = pd.DataFrame()

    df = pd.read_sql(query ,engine)
    basis_df = pd.read_sql(query1 ,engine)

    df.columns=['Date', 'Close', '미결제약정', '외국인', '기관', '개인']
    df = df.set_index('Date')
    df1=df[name]
    
    basis_df = basis_df.set_index('Date')
    basis_df1=basis_df[basis_name]

    colors = ['red','green','blue','black']
    plt.figure(figsize=(16,4))    
    for i in range(len(basis_name)):
        plt.plot(basis_df1[basis_name[i]]/basis_df1[basis_name[i]].loc[basis_df.index[0]]*100)
        
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)

    plt.figure(figsize=(16,4))    
    for i in range(len(name1)):
        #plt.subplot(2,2,i+1)
        plt.plot(df1[name1[i]]/df1[name1[i]].loc[df.index[0]]*100)

    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
    plt.show()

    plt.figure(figsize=(16,4)) 
    for i in range(len(name2)):
        plt.subplot(2,2,i+1)
        plt.plot(df1[name2[i]]/df1[name2[i]].loc[df.index[0]]*100,color = colors[i])

        plt.legend(loc=0)
        plt.grid(True,color='0.7',linestyle=':',linewidth=1)

future_trend_graph()

In [ ]:
import mod1

In [ ]:
a = mod1.to_report()

In [ ]:
a.get_graph(type=2)

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

def future():
    #name = input("항목을 입력하세요: 선택항목: 'kpi200', '거래량', '고객예탁금', '신용잔고', '주식형펀드', '혼합형펀드', '채권형펀드'").split()
    #date = input("날짜를 입력하세요 sample: '2019-01-10':")

    #query = "select * from future where Date > '2019-06-13'"+"'"+date+"'"
    query = "select * from future where Date > '2019-06-11'"
    query1 = "select * from basis where Date > '2019-06-13'"

    name=['Close', '미결제약정', '외국인', '기관', '개인']
    name1=['Close','미결제약정']
    name2=['외국인', '기관', '개인']
    basis_name=['kpi200','Future']

    #tuple_name=tuple(name)
    df1 = pd.DataFrame()
    basis_df1 = pd.DataFrame()

    df = pd.read_sql(query ,engine)
    basis_df = pd.read_sql(query1 ,engine)

    df.columns=['Date', 'Close', '미결제약정', '외국인', '기관', '개인']
    df = df.set_index('Date')
    df1=df[name]

    basis_df = basis_df.set_index('Date')
    basis_df1=basis_df[basis_name]

    colors = ['red','green','blue','black']
    plt.figure(figsize=(16,4))    
    for i in range(len(basis_name)):
        plt.plot(basis_df1[basis_name[i]]/basis_df1[basis_name[i]].loc[basis_df.index[0]]*100)

    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
    plt.show()
                
    plt.figure(figsize=(16,4))    
    for i in range(len(name1)):
        #plt.subplot(2,2,i+1)
        plt.plot(df1[name1[i]]/df1[name1[i]].loc[df.index[0]]*100)

    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
    plt.show()

    plt.figure(figsize=(16,4)) 
    for i in range(len(name2)):
        plt.subplot(2,2,i+1)
        plt.plot(df1[name2[i]]/df1[name2[i]].loc[df.index[0]]*100,color = colors[i])

        plt.legend(loc=0)
        plt.grid(True,color='0.7',linestyle=':',linewidth=1)
        
future()

In [ ]:
f = open('kkang.txt','a')
a = [{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6}]
b = [{'a':7,'b':8,'c':9},{'a':10,'b':11,'c':12}]
df1 = pd.DataFrame(a)
df2 = pd.DataFrame(b)
display(df1)
df2
f.write(df1.to_string())
f.write(df2.to_string())
f.close()

In [ ]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from datetime import timedelta
from tqdm import tqdm
sns.set()
tf.set_random_seed(777)  # reproducibility
tf.reset_default_graph()
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter('ignore')

import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
var ="select * from market where Name='HRS' and  Date > '2019-01-01'" 
df = pd.read_sql(var ,engine)
df.head()

minmax = MinMaxScaler().fit(df.iloc[:, 7:].astype('float32')) # Close index
df_log = minmax.transform(df.iloc[:, 7:].astype('float32')) # Close index
df_log = pd.DataFrame(df_log)
df_log.head()

simulation_size = 10
num_layers = 1
size_layer = 128
timestamp = 5
epoch = 300
dropout_rate = 0.8
test_size = 30
learning_rate = 0.01

df_train = df_log
df.shape, df_train.shape

class Model:
    def __init__(
        self,
        learning_rate,
        num_layers,
        size,
        size_layer,
        output_size,
        forget_bias = 0.1,
    ):
        def lstm_cell(size_layer):
            return tf.nn.rnn_cell.LSTMCell(size_layer, state_is_tuple = False)

        rnn_cells = tf.nn.rnn_cell.MultiRNNCell(
            [lstm_cell(size_layer) for _ in range(num_layers)],
            state_is_tuple = False,
        )
        self.X = tf.placeholder(tf.float32, (None, None, size))
        self.Y = tf.placeholder(tf.float32, (None, output_size))
        drop = tf.contrib.rnn.DropoutWrapper(
            rnn_cells, output_keep_prob = forget_bias
        )
        self.hidden_layer = tf.placeholder(
            tf.float32, (None, num_layers * 2 * size_layer)
        )
        self.outputs, self.last_state = tf.nn.dynamic_rnn(
            drop, self.X, initial_state = self.hidden_layer, dtype = tf.float32
        )
        self.logits = tf.layers.dense(self.outputs[-1], output_size)
        self.cost = tf.reduce_mean(tf.square(self.Y - self.logits))
        self.optimizer = tf.train.AdamOptimizer(learning_rate).minimize(
            self.cost
        )
        
def calculate_accuracy(real, predict):
    real = np.array(real) + 1
    predict = np.array(predict) + 1
    percentage = 1 - np.sqrt(np.mean(np.square((real - predict) / real)))
    return percentage * 100

def anchor(signal, weight):
    buffer = []
    last = signal[0]
    for i in signal:
        smoothed_val = last * weight + (1 - weight) * i
        buffer.append(smoothed_val)
        last = smoothed_val
    return buffer

def forecast():
    tf.reset_default_graph()
    modelnn = Model(
        learning_rate, num_layers, df_log.shape[1], size_layer, df_log.shape[1], dropout_rate
    )
    sess = tf.InteractiveSession()
    sess.run(tf.global_variables_initializer())
    date_ori = pd.to_datetime(df.iloc[:, 0]).tolist()

    pbar = tqdm(range(epoch), desc = 'train loop')
    for i in pbar:
        init_value = np.zeros((1, num_layers * 2 * size_layer))
        total_loss, total_acc = [], []
        for k in range(0, df_train.shape[0] - 1, timestamp):
            index = min(k + timestamp, df_train.shape[0] - 1)
            batch_x = np.expand_dims(
                df_train.iloc[k : index, :].values, axis = 0
            )
            batch_y = df_train.iloc[k + 1 : index + 1, :].values
            logits, last_state, _, loss = sess.run(
                [modelnn.logits, modelnn.last_state, modelnn.optimizer, modelnn.cost],
                feed_dict = {
                    modelnn.X: batch_x,
                    modelnn.Y: batch_y,
                    modelnn.hidden_layer: init_value,
                },
            )        
            init_value = last_state
            total_loss.append(loss)
            total_acc.append(calculate_accuracy(batch_y[:, 0], logits[:, 0]))
        pbar.set_postfix(cost = np.mean(total_loss), acc = np.mean(total_acc))
    
    future_day = test_size

    output_predict = np.zeros((df_train.shape[0] + future_day, df_train.shape[1]))
    output_predict[0] = df_train.iloc[0]
    upper_b = (df_train.shape[0] // timestamp) * timestamp
    init_value = np.zeros((1, num_layers * 2 * size_layer))

    for k in range(0, (df_train.shape[0] // timestamp) * timestamp, timestamp):
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(
                    df_train.iloc[k : k + timestamp], axis = 0
                ),
                modelnn.hidden_layer: init_value,
            },
        )
        init_value = last_state
        output_predict[k + 1 : k + timestamp + 1] = out_logits

    if upper_b != df_train.shape[0]:
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(df_train.iloc[upper_b:], axis = 0),
                modelnn.hidden_layer: init_value,
            },
        )
        output_predict[upper_b + 1 : df_train.shape[0] + 1] = out_logits
        future_day -= 1
        date_ori.append(date_ori[-1] + timedelta(days = 1))

    init_value = last_state
    
    for i in range(future_day):
        o = output_predict[-future_day - timestamp + i:-future_day + i]
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(o, axis = 0),
                modelnn.hidden_layer: init_value,
            },
        )
        init_value = last_state
        output_predict[-future_day + i] = out_logits[-1]
        date_ori.append(date_ori[-1] + timedelta(days = 1))
    
    output_predict = minmax.inverse_transform(output_predict)
    deep_future = anchor(output_predict[:, 0], 0.4)
    
    return deep_future

results = []
for i in range(simulation_size):
    print('simulation %d'%(i + 1))
    results.append(forecast())
    
date_ori = pd.to_datetime(df.iloc[:, 0]).tolist()
for i in range(test_size):
    date_ori.append(date_ori[-1] + timedelta(days = 1))
date_ori = pd.Series(date_ori).dt.strftime(date_format = '%Y-%m-%d').tolist()
date_ori[-5:]

accepted_results = []
for r in results:
    if (np.array(r[-test_size:]) < np.min(df['Close'])).sum() == 0 and \
    (np.array(r[-test_size:]) > np.max(df['Close']) * 2).sum() == 0:
        accepted_results.append(r)
len(accepted_results)

accuracies = [calculate_accuracy(df['Close'].values, r[:-test_size]) for r in accepted_results]

plt.figure(figsize = (15, 5))
for no, r in enumerate(accepted_results):
    plt.plot(r, label = 'forecast %d'%(no + 1))
plt.plot(df['Close'], label = 'true trend', c = 'black')
plt.legend()
plt.title('average accuracy: %.4f'%(np.mean(accuracies)))

x_range_future = np.arange(len(results[0]))
plt.xticks(x_range_future[::30], date_ori[::30])

plt.show()

In [ ]:
### Close and Volume graph 표준화-3  이동평균선 포함

import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def choice(select):
    name = 'hrs'
    date = '2010-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)

df = pd.read_sql(choice(select), engine)
df[['Volume','Close']] = df[['Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

source = MinMaxScaler()
data = source.fit_transform(df[['close','volume','ma120']].values)
df1 = pd.DataFrame(data)
df1.columns=['close','ma120','volume']
df1 = df1.set_index(df['date'])
df1.plot(figsize=(16,4))

choice(select)

In [ ]:
## 종가 , 이동평균선,  거래량 을  그래프로 만드는 함수

import talib.abstract as ta
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select * from market where Name='hrs' and Date > '2019-01-01'",engine)

In [ ]:
df

In [ ]:
df

In [ ]:
def ma(DataFrame):

    df = DataFrame
    df[['Volume','Close']] = df[['Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
    df.columns=df.columns.str.lower()

    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5

    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','volume','ma120']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close','ma120','volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))

ma(df)

In [ ]:
## 주식 데이타프레임에서   종가, 거래걍, 이동평균선을 graph로 그리는 함수 
def close_vol_ma(DataFrame,select):

    df = DataFrame
    df.columns=df.columns.str.lower()
    df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df['ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df['ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df['ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df['ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120    

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))

close_vol_ma(df,select='ma20')

In [ ]:
import mod1

name = ['hrs','아가방컴퍼니']
a = mod1
for i in name:
    df=a.select_stock(i,'17-01-01')
    a.close_vol_ma(df,'ma120')

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-08-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])
count = hrs_df.shape[0]
#for i in range(hrs_df['Date'].shape[0]):
for i in range(count):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    df2 = df2[['Name','Volume','Close']]
    df2.columns = ['Name','today_Volume','today_Close']
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)

    df3 = df3[:19]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:19]
    df3.to_excel('d:\\stockdata\\vote_stock\\detect_stock_with_volume_'+today+'.xlsx', encoding='utf-8')
    df4.to_excel('d:\\stockdata\\vote_stock\\detect_stock_with_price_'+today+'.xlsx', encoding='utf-8')        
    display(df3)
    display(df4)

In [ ]:
from mod1 import *

analysis(path_price,'2019-09-10')

In [ ]:
import mod1
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

def analysis(path,today):
    
    #today = input('날짜를 입력하세요: ')

    df = pd.read_excel(path+today+'.xlsx')
    df = df['Name']

    name=df.to_list()
    for i in name:
        #a = mod1
        df=mod1.select_stock(i,'18-01-01')
        mod1.close_vol_ma(df,'ma120')

analysis(path_price,'2019-09-10')

In [ ]:
import mod1
path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'
def analysis(path,today):
    
    #path = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'
    #today = input('날짜를 입력하세요: ')

    df = pd.read_excel(path+today+'.xlsx')
    df = df['Name']

    name=df.to_list()
    a = mod1
    for i in name:
        df=a.select_stock(i,'18-01-01')
        a.close_vol_ma(df,'ma120')
        
analysis(path_volume,'2019-09-10')

In [ ]:
import mod1

def analysis_price(today):
    path = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
    #path = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'
    #today = input('날짜를 입력하세요: ')

    df = pd.read_excel(path+today+'.xlsx')
    df = df['Name']

    name=df.to_list()
    a = mod1
    for i in name:
        df=a.select_stock(i,'18-01-01')
        a.close_vol_ma(df,'ma120')
        
        
def analysis_volume(today):
    #path = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
    path = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'
    #today = input('날짜를 입력하세요: ')

    df = pd.read_excel(path+today+'.xlsx')
    df = df['Name']

    name=df.to_list()
    a = mod1
    for i in name:
        df=a.select_stock(i,'18-01-01')
        a.close_vol_ma(df,'ma120')

analysis_price('2019-09-10')

In [ ]:
analysis_price('2019-09-10')

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import talib.abstract as ta
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = pymysql.connect(host = 'localhost', user = 'kkang', password = 'leaf2027' ,db = 'stock')
curs = conn.cursor()

In [ ]:
## Close and Volume and MA graph 표준화-3  주식 DataFrame에서   종가, 거래걍, 이동평균선을 graph로 그리는 함수 

def close_vol_ma(DataFrame,select):

    df = DataFrame
    df.columns=df.columns.str.lower()
    df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df['ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df['ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df['ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df['ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120    

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
close_vol_ma(df,select='ma20')

In [ ]:
from mod1 import *

df = select_stock('hrs','2017-01-01')
df.head()

In [ ]:
close_vol_ma(df,'ma120')

In [ ]:
df.head()

In [ ]:
plt.plot(df['close'])
plt.show()

In [ ]:
source = MinMaxScaler()
data = source.fit_transform(df[['volume','close','ma5','ma10','ma15','ma20']].values)
df1=pd.DataFrame(data)
df1.head()

In [ ]:
import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


df = pd.read_sql("SELECT * from market where Code = '036640' and date > '2010-01-05'", engine)
df = df.set_index('Date')
df[['Volume','Close']] = df[['Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma10 = ta.MA(df, timeperiod=10)
df['ma10'] = talib_ma10

talib_ma20 = ta.MA(df, timeperiod=20)
df['ma20'] = talib_ma20

talib_ma30 = ta.MA(df, timeperiod=30)
df['ma30'] = talib_ma30

talib_ma60 = ta.MA(df, timeperiod=60)
df['ma60'] = talib_ma60

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

df = df.iloc[120:]

df.head()

In [ ]:
import io
import json
import sys
from fake_useragent import UserAgent
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime,timedelta
from urllib.request import urlopen
import urllib.request as req
from pykrx import stock
import sqlalchemy 
import pymysql
import talib.abstract as ta
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

In [ ]:
def select_stock(name,date):
    select_query = "select * from market_good where Name= "
    date_query = "Date > "    
    var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
    df = pd.read_sql(var, engine)
    return df

In [ ]:
df = select_stock('hrs','2010-09-01')
df.head()

In [ ]:


def ma(DataFrame):

    df = DataFrame
    df.columns=df.columns.str.lower()
    df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
    df = df[['date','volume','close']]
    
    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df['ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df['ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df['ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df['ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120    
    
    df = df.loc[120:,:]
    #df = df.set_index(df['date'],drop=True)
    return df

In [ ]:
df.head()

In [ ]:
df = ma(df)
df.head()

In [ ]:
def close_vol_ma(DataFrame,select):
    df = ma(DataFrame)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])

In [ ]:
close_vol_ma(df,'ma120')

In [ ]:
def close_vol_ma(DataFrame,select):

    df = DataFrame
    df.columns=df.columns.str.lower()
    df = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df['ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df['ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df['ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df['ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120    

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])

In [ ]:
close_vol_ma(df,'ma120')

In [ ]:
df1.head()

In [ ]:
df.head()

In [ ]:
df1 = df.set_index(df1['date'],drop =True)
df1.head()

In [ ]:
df1 = df
df1.head()