# Excel to Mysql

In [ ]:
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy
from  datetime import datetime

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

date = input('원하는 날짜를 입력하세요 ')
path = 'd:\\stockdata\\관리종목\\'+date+'.xlsx'

df = pd.read_excel(path)
#df['Date']=str(df['Date'])
#df = df.set_index('Date')
#df.columns =['Date','Name']
df.to_sql(name='badstock', con=engine, if_exists='append', index = False)

# Daum Crawling

In [ ]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import json 
import pandas as pd
import sqlalchemy 
import urllib.request as req
from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
#source = BeautifulSoup(res, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

a  = res.find('[')
b = res.find(']')+1

#print('a:{}'.format(a))
#print('b:{}'.format(b))

ab = res[a:b]
print(ab, file=open("out.txt", "w"))

data = []
with open('out.txt') as f:
    for line in f:
        data.append(json.loads(line))
df = pd.DataFrame(data[0])
df

# 볼린저밴드

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

file = 'd:\\hrs.xlsx'

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
df = pd.read_sql("SELECT * from market where Name = 'hrs' && Date > '2019-01-05'", connect)

volume_average_5 = df['Volume'].rolling(window=5,min_periods=1).mean()
volume_average_10 = df['Volume'].rolling(window=10,min_periods=1).mean()
volume_average_20 = df['Volume'].rolling(window=20,min_periods=1).mean()
volume_average_60 = df['Volume'].rolling(window=60,min_periods=1).mean()
volume_average_120 = df['Volume'].rolling(window=120,min_periods=1).mean()

close_average_5 = df['Close'].rolling(window=5,min_periods=1).mean()
close_average_10 = df['Close'].rolling(window=10,min_periods=1).mean()
close_average_20 = df['Close'].rolling(window=20,min_periods=1).mean()
close_average_60 = df['Close'].rolling(window=60,min_periods=1).mean()
close_average_120 = df['Close'].rolling(window=120,min_periods=1).mean()

df.insert(len(df.columns), "Vol_MA5", volume_average_5)
df.insert(len(df.columns), "Vol_MA10", volume_average_10)
df.insert(len(df.columns), "Vol_MA20", volume_average_20)
df.insert(len(df.columns), "Vol_MA60", volume_average_60)
df.insert(len(df.columns), "Vol_MA120", volume_average_120)

df.insert(len(df.columns), "Close_MA5", close_average_5)
df.insert(len(df.columns), "Close_MA10", close_average_10)
df.insert(len(df.columns), "Close_MA20", close_average_20)
df.insert(len(df.columns), "Close_MA60", close_average_60)
df.insert(len(df.columns), "Close_MA120", close_average_120)

df1 = df[['Date','Name','Close','Volume','Vol_MA5','Vol_MA10','Vol_MA20','Vol_MA60','Vol_MA120']]
#df1.to_excel(file)
df1

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from tensorflow import keras
mnist = keras.datasets.mnist
(train_images, train_labels),(test_images, test_labels) = mnist.load_data()


print("훈련 이미지 :",  train_images.shape)
print("훈련 라벨:",  train_labels.shape)
print("테스트 이미지 : ", test_images.shape)
print("테스트 라벨 : ", test_labels.shape)
print('\n')


mnist_idx = 100


print('[label]')
print('number label = ', train_labels[mnist_idx])
print('\n')

print('[image]')

for row in train_images[mnist_idx]:
    for col in row:
        print("%10f" % col, end="")
    print('\n')
print('\n')


plt.figure(figsize=(5, 5))
image = train_images[mnist_idx]
plt.imshow(image)
plt.show()

In [ ]:
import tensorflow as tf




# MNIST 데이터 세트를 가져옵니다. 

mnist = tf.keras.datasets.mnist



(x_train, y_train), (x_test, y_test) = mnist.load_data()

x_train, x_test = x_train / 255.0, x_test / 255.0




# 뉴럴 네트워크 모델을 생성합니다. 

model = tf.keras.models.Sequential([

  tf.keras.layers.Flatten(input_shape=(28, 28)),

  tf.keras.layers.Dense(128, activation='relu'),

  tf.keras.layers.Dropout(0.2),

  tf.keras.layers.Dense(10, activation='softmax')

])




# 학습을 위한 optimizer와 loss function을 선택합니다. 

model.compile(optimizer='adam',

              loss='sparse_categorical_crossentropy',

              metrics=['accuracy'])




# 학습 데이터 세트를 사용하여 모델을 학습시킵니다. 5번 반복합니다. 

model.fit(x_train, y_train, epochs=5)



# 테스트 데이터 세트를 사용하여 모델을 평가합니다. 

model.evaluate(x_test, y_test)

In [ ]:
tf.__version__

In [ ]:
## 거래량 평균으로 일일 거래량 나눔

import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import sqlalchemy 

font_dir = font_manager.win32FontDirectory()

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()


date = input("날짜를 입력하세요 sample: '2019-01-10':")
name = input('주식이름을 입력하세요:').split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "
    

tuple_name=tuple(name)
df1 = pd.DataFrame()
    
for x in tuple_name:
    var = select_query +"'"+x+"'"+" "+"&&"+" "+date_query+"'"+date+"'"
    df = pd.read_sql(var ,engine)
    #print(df)
    df.columns=['Date',x+'거래량',x]
    if df1.empty:
        df1 = df
    else:
        df1 = pd.merge (df,df1,on='Date')
df1=df1.set_index('Date')
size = len(df1.index)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100)
    #plt.plot(df1[name[i]+'거래량']/df1[name[i]+'거래량'].loc[df['Date'][0]]*100, label =[name[i]+'거래량'] )
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    volume_average = df1[name[i]+'거래량'].sum(axis=0)/size
    #plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100, label=name[i])
    plt.plot(df1[name[i]+'거래량']/volume_average)
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
            
plt.show()

# project

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])
#print(yesterday)
#print(today)

#var = "select * from market where (Date = '2019-01-02' OR Date = '2019-01-03')  and Volume >  500000"
#df = pd.read_sql(var ,engine)
#df

select_query = "select * from market where (Date = "
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
df = pd.read_sql(var ,engine)

#df


df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
#display(df1)


df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
#display(df2)

df3 = pd.merge(df1,df2,on='Name')
df3['Close']=df3['today_Close']/df3['yester_Close']
df3['Volume']=df3['today_Volume']/df3['yester_Volume']
df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
df3 = df3.reset_index(drop=True)

df3 = df3[:15]
df4 = df4.reset_index(drop=True)
df4 = df4[:15]
df3.to_excel('d:\\detect_stock_with_volume.xlsx', encoding='utf-8')
df4.to_excel('d:\\detect_stock_with_price.xlsx', encoding='utf-8')        
display(df3)
display(df4)

In [29]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    df2 = df2[['Name','Volume','Close']]
    df2.columns = ['Name','today_Volume','today_Close']
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)

    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    df3.to_excel('d:\\detect_stock_with_volume.xlsx', encoding='utf-8')
    df4.to_excel('d:\\detect_stock_with_price.xlsx', encoding='utf-8')        
    display(df3)
    display(df4)

y:2019-01-02
t:2019-01-03

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,위지트,1397308,1095,21306037,1175,1.073059,15.247917
1,윙입푸드,1016640,1385,10895263,1465,1.057762,10.716933
2,남화산업,712420,9150,5500720,10400,1.136612,7.721176
3,큐캐피탈,558326,633,4019228,640,1.011058,7.198712
4,수산중공업,573526,1610,3930467,1730,1.074534,6.853163
5,신원,3697294,1925,24828344,2390,1.241558,6.715274
6,SK네트웍스,902071,5180,4795141,5490,1.059846,5.315702
7,HB테크놀러지,1331125,3195,6870963,3015,0.943662,5.161771
8,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
9,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
10,정산애강,546760,2140,2668408,2310,1.079439,4.880401
11,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
14,와이디온라인,1433174,803,6018185,827,1.029888,4.199201

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
1,인디에프,4001840,2460,13288644,3195,1.298780,3.320634
2,신원,3697294,1925,24828344,2390,1.241558,6.715274
3,남화산업,712420,9150,5500720,10400,1.136612,7.721176
4,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
5,장원테크,648646,17800,1296937,20100,1.129213,1.999453
6,제룡전기,578469,8100,2417571,9110,1.124691,4.179258
7,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
8,제룡산업,652850,8530,1743733,9360,1.097304,2.670955
9,서암기계공업,1190591,6630,4476256,7270,1.096531,3.759692
10,보해양조,59051382,2095,87284755,2295,1.095465,1.478115
11,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,정산애강,546760,2140,2668408,2310,1.079439,4.880401
14,이화전기,8599372,267,32940776,287,1.074906,3.830603

y:2019-01-03
t:2019-01-04

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,KJ프리텍,918836,490,19380013,420,0.857143,21.091917
1,풍강,835097,3400,12298798,4420,1.300000,14.727389
2,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
3,크리스탈신소재,582759,1035,4587416,1005,0.971014,7.871892
4,지스마트글로벌,1693878,1865,11718827,1995,1.069705,6.918342
5,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
6,흥국,1611124,6690,7841070,8300,1.240658,4.866832
7,대영포장,9460154,1220,45526275,1315,1.077869,4.812424
8,주연테크,2642282,386,9236161,443,1.147668,3.495524
9,넷게임즈,2074959,9580,6441634,10050,1.049061,3.104463
10,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
11,원익큐브,746785,2505,1811314,2520,1.005988,2.425483
12,위메이드,542990,30500,1246388,35150,1.152459,2.295416
13,제미니투자,986453,692,2222313,731,1.056358,2.252832
14,시노펙스,2034831,2870,4568015,2955,1.029617,2.244911

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,풍강,835097,3400,12298798,4420,1.300000,14.727389
1,와이비엠넷,4013812,3050,6259162,3965,1.300000,1.559406
2,흥국,1611124,6690,7841070,8300,1.240658,4.866832
3,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
4,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
5,위메이드,542990,30500,1246388,35150,1.152459,2.295416
6,주연테크,2642282,386,9236161,443,1.147668,3.495524
7,강스템바이오텍,1862686,20200,1983001,22500,1.113861,1.064592
8,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
9,삼기오토모티브,884615,2465,1353598,2710,1.099391,1.530155
10,핸디소프트,520789,5920,605358,6500,1.097973,1.162386
11,라이트론,508711,9340,662677,10250,1.097430,1.302659
12,SK증권우,1150164,3450,1242370,3770,1.092754,1.080168
13,코미팜,2837508,21200,1091809,23050,1.087264,0.384777
14,장원테크,1296937,20100,1135489,21800,1.084577,0.875516

y:2019-01-04
t:2019-01-07

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,에이프로젠 KIC,2819639,4240,55663128,3350,0.790094,19.741225
1,KD건설,3271013,103,38161275,112,1.087379,11.666501
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
4,제미니투자,2222313,731,13766559,825,1.128591,6.194698
5,티플랙스,1433483,2800,8431755,3015,1.076786,5.882006
6,국영지앤엠,699832,1515,4094800,1620,1.069307,5.851119
7,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
8,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
9,위지트,2569367,1170,12902040,1170,1.000000,5.021486
10,삼본정밀전자,1151531,3310,5434498,3575,1.080060,4.719368
11,SK증권,2087099,650,9381536,668,1.027692,4.495012
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,우리은행,2626832,15400,10334391,14550,0.944805,3.934165
14,윌비스,622371,1365,2123157,1415,1.036630,3.411401

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,넥슨지티,12336920,9770,11519295,12700,1.299898,0.933725
1,넷게임즈,6441634,10050,7538348,12550,1.248756,1.170254
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
4,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
5,제미니투자,2222313,731,13766559,825,1.128591,6.194698
6,기가레인,1351250,1610,3488323,1800,1.118012,2.581553
7,머큐리,4124628,12000,4363702,13400,1.116667,1.057963
8,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
9,EDGC,1581963,5110,4869635,5620,1.099804,3.078223
10,나노,2541500,2110,5868944,2305,1.092417,2.309244
11,KD건설,3271013,103,38161275,112,1.087379,11.666501
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,제이에스티나,1259127,6940,2173822,7530,1.085014,1.726452
14,신풍제약,1526914,6840,2745330,7410,1.083333,1.797960

In [ ]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])

f = open('kkang.txt','w')

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    #df2 = df2[['Name','Volume','Close']]
    #df2.columns = ['Name','today_Volume','today_Close']
    df2 = df2[['Name','Date','Code','Volume','Close']]
    df2.columns = ['Name','Date','Code','today_Volume','today_Close']    
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)
    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    
    df3.to_csv('out.txt', header=True, index=False, sep='\t', mode='a')
    df4.to_csv('out.txt', header=True, index=False, sep='\t', mode='a')
    
    display(df3)
    display(df4)

In [ ]:
df

In [ ]:
f = open('kkang.txt','a')
a = [{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6}]
b = [{'a':7,'b':8,'c':9},{'a':10,'b':11,'c':12}]
df1 = pd.DataFrame(a)
df2 = pd.DataFrame(b)
display(df1)
df2
f.write(df1.to_string())
f.write(df2.to_string())
f.close()

In [ ]:
df = pd.concat([df1, df2], axis=0)
#df = pd.merge(df1,df2)
df

In [ ]:
df1.loc[1:]

In [ ]:
yesterday = df1 = str(kpi200_df['Date'][1])
today = str(kpi200_df['Date'][0])

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

df = pd.read_sql("select * from market where Name='카리스국보' and Date > '2019-01-01'", engine)

df['Close'].plot(figsize=(16,5))

In [ ]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

df = pd.read_sql("select * from market where Name='삼보산업' and Date > '2019-01-01'", engine)

df['Close'].plot(figsize=(16,5))

In [ ]:
df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
display(df1)

In [ ]:
df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
display(df2)

In [ ]:
a = is_hrs.index.tolist()
a