# Daum Crawling

In [1]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import json 
import pandas as pd
import sqlalchemy 
import urllib.request as req
from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
#source = BeautifulSoup(res, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

a  = res.find('[')
b = res.find(']')+1

#print('a:{}'.format(a))
#print('b:{}'.format(b))

ab = res[a:b]
print(ab, file=open("out.txt", "w"))

data = []
with open('out.txt') as f:
    for line in f:
        data.append(json.loads(line))
df = pd.DataFrame(data[0])
df

,accTradeVolume,change,changePrice,changeRate,date,foreignSettlement,institutionSettlement,privateSettlement,tradePrice,unsettledVolume
0,106472,FALL,1.10,0.0042,2019-09-03 00:00:00,-1948,2410,-806,258.25,356899
1,128587,RISE,0.20,0.0008,2019-09-02 00:00:00,-3328,16,2817,259.35,354957
2,197707,RISE,4.95,0.0195,2019-08-30 00:00:00,4313,-915,-1755,259.15,358112
3,189895,FALL,1.65,0.0064,2019-08-29 00:00:00,-3913,3023,277,254.20,354326
4,171477,RISE,1.85,0.0073,2019-08-28 00:00:00,-3300,-617,3096,255.85,355452
5,173052,RISE,1.40,0.0055,2019-08-27 00:00:00,-1746,-282,2059,254.00,357593
6,210601,FALL,3.75,0.0146,2019-08-26 00:00:00,16728,-6261,-9788,252.60,365065
7,154114,FALL,0.05,0.0002,2019-08-23 00:00:00,6164,-4788,-868,256.35,357350
8,191949,FALL,2.00,0.0077,2019-08-22 00:00:00,2283,-1204,-954,256.40,359342
9,147794,RISE,0.40,0.0016,2019-08-21 00:00:00,-2,152,-1,258.40,361612

In [ ]:
prediction_lastimport pandas as pd
from sqlalchemy import create_engine

file = 'd:\\hrs.xlsx'

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
df = pd.read_sql("SELECT * from market where Name = 'hrs' && Date > '2019-01-05'", connect)

volume_average_5 = df['Volume'].rolling(window=5).mean()
volume_average_10 = df['Volume'].rolling(window=10).mean()
volume_average_20 = df['Volume'].rolling(window=20).mean()
volume_average_60 = df['Volume'].rolling(window=60).mean()
volume_average_120 = df['Volume'].rolling(window=120).mean()

close_average_5 = df['Close'].rolling(window=5).mean()
close_average_10 = df['Close'].rolling(window=10).mean()
close_average_20 = df['Close'].rolling(window=20).mean()
close_average_60 = df['Close'].rolling(window=60).mean()
close_average_120 = df['Close'].rolling(window=120).mean()

df.insert(len(df.columns), "Vol_MA5", volume_average_5)
df.insert(len(df.columns), "Vol_MA10", volume_average_10)
df.insert(len(df.columns), "Vol_MA20", volume_average_20)
df.insert(len(df.columns), "Vol_MA60", volume_average_60)
df.insert(len(df.columns), "Vol_MA120", volume_average_120)

df.insert(len(df.columns), "Close_MA5", close_average_5)
df.insert(len(df.columns), "Close_MA10", close_average_10)
df.insert(len(df.columns), "Close_MA20", close_average_20)
df.insert(len(df.columns), "Close_MA60", close_average_60)
df.insert(len(df.columns), "Close_MA120", close_average_120)

df1 = df[['Date','Name','Close','Volume','Vol_MA5','Vol_MA10','Vol_MA20','Vol_MA60','Vol_MA120']]
df1.to_excel(file)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from tensorflow import keras
mnist = keras.datasets.mnist
(train_images, train_labels),(test_images, test_labels) = mnist.load_data()


print("훈련 이미지 :",  train_images.shape)
print("훈련 라벨:",  train_labels.shape)
print("테스트 이미지 : ", test_images.shape)
print("테스트 라벨 : ", test_labels.shape)
print('\n')


mnist_idx = 100


print('[label]')
print('number label = ', train_labels[mnist_idx])
print('\n')

print('[image]')

for row in train_images[mnist_idx]:
    for col in row:
        print("%10f" % col, end="")
    print('\n')
print('\n')


plt.figure(figsize=(5, 5))
image = train_images[mnist_idx]
plt.imshow(image)
plt.show()

In [ ]:
import tensorflow as tf




# MNIST 데이터 세트를 가져옵니다. 

mnist = tf.keras.datasets.mnist



(x_train, y_train), (x_test, y_test) = mnist.load_data()

x_train, x_test = x_train / 255.0, x_test / 255.0




# 뉴럴 네트워크 모델을 생성합니다. 

model = tf.keras.models.Sequential([

  tf.keras.layers.Flatten(input_shape=(28, 28)),

  tf.keras.layers.Dense(128, activation='relu'),

  tf.keras.layers.Dropout(0.2),

  tf.keras.layers.Dense(10, activation='softmax')

])




# 학습을 위한 optimizer와 loss function을 선택합니다. 

model.compile(optimizer='adam',

              loss='sparse_categorical_crossentropy',

              metrics=['accuracy'])




# 학습 데이터 세트를 사용하여 모델을 학습시킵니다. 5번 반복합니다. 

model.fit(x_train, y_train, epochs=5)



# 테스트 데이터 세트를 사용하여 모델을 평가합니다. 

model.evaluate(x_test, y_test)

In [ ]:
tf.__version__

In [ ]:
## 거래량 평균으로 일일 거래량 나눔

import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import sqlalchemy 

font_dir = font_manager.win32FontDirectory()

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()


date = input("날짜를 입력하세요 sample: '2019-01-10':")
name = input('주식이름을 입력하세요:').split()
#date = input("날짜를 입력하세요 sample: '2019-01-10':")
        
select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "
    

tuple_name=tuple(name)
df1 = pd.DataFrame()
    
for x in tuple_name:
    var = select_query +"'"+x+"'"+" "+"&&"+" "+date_query+"'"+date+"'"
    df = pd.read_sql(var ,engine)
    #print(df)
    df.columns=['Date',x+'거래량',x]
    if df1.empty:
        df1 = df
    else:
        df1 = pd.merge (df,df1,on='Date')
df1=df1.set_index('Date')
size = len(df1.index)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100)
    #plt.plot(df1[name[i]+'거래량']/df1[name[i]+'거래량'].loc[df['Date'][0]]*100, label =[name[i]+'거래량'] )
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)

plt.figure(figsize=(16,4))
for i in range(len(name)):
    volume_average = df1[name[i]+'거래량'].sum(axis=0)/size
    #plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100, label=name[i])
    plt.plot(df1[name[i]+'거래량']/volume_average)
    plt.legend(loc=0)
    plt.grid(True,color='0.7',linestyle=':',linewidth=1)
            
plt.show()

# project

In [136]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])
#print(yesterday)
#print(today)

#var = "select * from market where (Date = '2019-01-02' OR Date = '2019-01-03')  and Volume >  500000"
#df = pd.read_sql(var ,engine)
#df

select_query = "select * from market where (Date = "
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
df = pd.read_sql(var ,engine)

#df


df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
#display(df1)


df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
#display(df2)

df3 = pd.merge(df1,df2,on='Name')
df3['Close']=df3['today_Close']/df3['yester_Close']
df3['Volume']=df3['today_Volume']/df3['yester_Volume']
df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
df3 = df3.reset_index(drop=True)

df3 = df3[:15]
df4 = df4.reset_index(drop=True)
df4 = df4[:15]
df3.to_excel('d:\\detect_stock_with_volume.xlsx', encoding='utf-8')
df4.to_excel('d:\\detect_stock_with_price.xlsx', encoding='utf-8')        
display(df3)
display(df4)

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,위지트,1397308,1095,21306037,1175,1.073059,15.247917
1,윙입푸드,1016640,1385,10895263,1465,1.057762,10.716933
2,남화산업,712420,9150,5500720,10400,1.136612,7.721176
3,큐캐피탈,558326,633,4019228,640,1.011058,7.198712
4,수산중공업,573526,1610,3930467,1730,1.074534,6.853163
5,신원,3697294,1925,24828344,2390,1.241558,6.715274
6,SK네트웍스,902071,5180,4795141,5490,1.059846,5.315702
7,HB테크놀러지,1331125,3195,6870963,3015,0.943662,5.161771
8,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
9,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
10,정산애강,546760,2140,2668408,2310,1.079439,4.880401
11,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
14,와이디온라인,1433174,803,6018185,827,1.029888,4.199201

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
1,인디에프,4001840,2460,13288644,3195,1.298780,3.320634
2,신원,3697294,1925,24828344,2390,1.241558,6.715274
3,남화산업,712420,9150,5500720,10400,1.136612,7.721176
4,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
5,장원테크,648646,17800,1296937,20100,1.129213,1.999453
6,제룡전기,578469,8100,2417571,9110,1.124691,4.179258
7,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
8,제룡산업,652850,8530,1743733,9360,1.097304,2.670955
9,서암기계공업,1190591,6630,4476256,7270,1.096531,3.759692
10,보해양조,59051382,2095,87284755,2295,1.095465,1.478115
11,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,정산애강,546760,2140,2668408,2310,1.079439,4.880401
14,이화전기,8599372,267,32940776,287,1.074906,3.830603

In [144]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    df2 = df2[['Name','Volume','Close']]
    df2.columns = ['Name','today_Volume','today_Close']
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)

    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    df3.to_excel('d:\\detect_stock_with_volume.xlsx', encoding='utf-8')
    df4.to_excel('d:\\detect_stock_with_price.xlsx', encoding='utf-8')        
    display(df3)
    display(df4)

y:2019-01-02
t:2019-01-03

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,위지트,1397308,1095,21306037,1175,1.073059,15.247917
1,윙입푸드,1016640,1385,10895263,1465,1.057762,10.716933
2,남화산업,712420,9150,5500720,10400,1.136612,7.721176
3,큐캐피탈,558326,633,4019228,640,1.011058,7.198712
4,수산중공업,573526,1610,3930467,1730,1.074534,6.853163
5,신원,3697294,1925,24828344,2390,1.241558,6.715274
6,SK네트웍스,902071,5180,4795141,5490,1.059846,5.315702
7,HB테크놀러지,1331125,3195,6870963,3015,0.943662,5.161771
8,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
9,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
10,정산애강,546760,2140,2668408,2310,1.079439,4.880401
11,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
14,와이디온라인,1433174,803,6018185,827,1.029888,4.199201

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
1,인디에프,4001840,2460,13288644,3195,1.298780,3.320634
2,신원,3697294,1925,24828344,2390,1.241558,6.715274
3,남화산업,712420,9150,5500720,10400,1.136612,7.721176
4,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
5,장원테크,648646,17800,1296937,20100,1.129213,1.999453
6,제룡전기,578469,8100,2417571,9110,1.124691,4.179258
7,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
8,제룡산업,652850,8530,1743733,9360,1.097304,2.670955
9,서암기계공업,1190591,6630,4476256,7270,1.096531,3.759692
10,보해양조,59051382,2095,87284755,2295,1.095465,1.478115
11,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,정산애강,546760,2140,2668408,2310,1.079439,4.880401
14,이화전기,8599372,267,32940776,287,1.074906,3.830603

y:2019-01-03
t:2019-01-04

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,KJ프리텍,918836,490,19380013,420,0.857143,21.091917
1,풍강,835097,3400,12298798,4420,1.300000,14.727389
2,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
3,크리스탈신소재,582759,1035,4587416,1005,0.971014,7.871892
4,지스마트글로벌,1693878,1865,11718827,1995,1.069705,6.918342
5,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
6,흥국,1611124,6690,7841070,8300,1.240658,4.866832
7,대영포장,9460154,1220,45526275,1315,1.077869,4.812424
8,주연테크,2642282,386,9236161,443,1.147668,3.495524
9,넷게임즈,2074959,9580,6441634,10050,1.049061,3.104463
10,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
11,원익큐브,746785,2505,1811314,2520,1.005988,2.425483
12,위메이드,542990,30500,1246388,35150,1.152459,2.295416
13,제미니투자,986453,692,2222313,731,1.056358,2.252832
14,시노펙스,2034831,2870,4568015,2955,1.029617,2.244911

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,풍강,835097,3400,12298798,4420,1.300000,14.727389
1,와이비엠넷,4013812,3050,6259162,3965,1.300000,1.559406
2,흥국,1611124,6690,7841070,8300,1.240658,4.866832
3,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
4,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
5,위메이드,542990,30500,1246388,35150,1.152459,2.295416
6,주연테크,2642282,386,9236161,443,1.147668,3.495524
7,강스템바이오텍,1862686,20200,1983001,22500,1.113861,1.064592
8,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
9,삼기오토모티브,884615,2465,1353598,2710,1.099391,1.530155
10,핸디소프트,520789,5920,605358,6500,1.097973,1.162386
11,라이트론,508711,9340,662677,10250,1.097430,1.302659
12,SK증권우,1150164,3450,1242370,3770,1.092754,1.080168
13,코미팜,2837508,21200,1091809,23050,1.087264,0.384777
14,장원테크,1296937,20100,1135489,21800,1.084577,0.875516

y:2019-01-04
t:2019-01-07

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,에이프로젠 KIC,2819639,4240,55663128,3350,0.790094,19.741225
1,KD건설,3271013,103,38161275,112,1.087379,11.666501
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
4,제미니투자,2222313,731,13766559,825,1.128591,6.194698
5,티플랙스,1433483,2800,8431755,3015,1.076786,5.882006
6,국영지앤엠,699832,1515,4094800,1620,1.069307,5.851119
7,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
8,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
9,위지트,2569367,1170,12902040,1170,1.000000,5.021486
10,삼본정밀전자,1151531,3310,5434498,3575,1.080060,4.719368
11,SK증권,2087099,650,9381536,668,1.027692,4.495012
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,우리은행,2626832,15400,10334391,14550,0.944805,3.934165
14,윌비스,622371,1365,2123157,1415,1.036630,3.411401

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,넥슨지티,12336920,9770,11519295,12700,1.299898,0.933725
1,넷게임즈,6441634,10050,7538348,12550,1.248756,1.170254
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
4,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
5,제미니투자,2222313,731,13766559,825,1.128591,6.194698
6,기가레인,1351250,1610,3488323,1800,1.118012,2.581553
7,머큐리,4124628,12000,4363702,13400,1.116667,1.057963
8,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
9,EDGC,1581963,5110,4869635,5620,1.099804,3.078223
10,나노,2541500,2110,5868944,2305,1.092417,2.309244
11,KD건설,3271013,103,38161275,112,1.087379,11.666501
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,제이에스티나,1259127,6940,2173822,7530,1.085014,1.726452
14,신풍제약,1526914,6840,2745330,7410,1.083333,1.797960

In [111]:
#### for loop 추가

import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

market_df = pd.read_sql("select * from market where Date > '2019-01-01'", engine)
#market_df

is_hrs=market_df['Name']=='HRS'
hrs_df = market_df[is_hrs]
yesterday = str(hrs_df['Date'].iloc[0])
today = str(hrs_df['Date'].iloc[1])

f = open('kkang.txt','a')

#for i in range(hrs_df['Date'].shape[0]):
for i in range(3):
    yesterday = str(hrs_df['Date'].iloc[i])
    today = str(hrs_df['Date'].iloc[i+1])
    print('y:{}'.format(yesterday))
    print('t:{}'.format(today))
    select_query = "select * from market where (Date = "
    volume_query = "&& Volume >  500000"
    
    var = select_query +"'"+yesterday+"'"+'or Date ='+"'"+today+"'"+')' + volume_query
    df = pd.read_sql(var ,engine)

    #df


    df1 = df[df['Date'].astype(str) == yesterday]
    df1 = df1[['Name','Volume','Close']]
    df1.columns = ['Name','yester_Volume','yester_Close']
    #display(df1)


    df2 = df[df['Date'].astype(str) == today]
    df2 = df2[['Name','Volume','Close']]
    df2.columns = ['Name','today_Volume','today_Close']
    #display(df2)

    df3 = pd.merge(df1,df2,on='Name')
    df3['Close']=df3['today_Close']/df3['yester_Close']
    df3['Volume']=df3['today_Volume']/df3['yester_Volume']
    df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
    df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
    df3 = df3.reset_index(drop=True)

    df3 = df3[:15]
    df4 = df4.reset_index(drop=True)
    df4 = df4[:15]
    with open('out.txt','a') as f:
        for line in f:
            data.append(json.loads(line))
    display(df3)
    display(df4)
    df = pd.concat([df3, df4], axis=0)
    df

y:2019-01-02
t:2019-01-03

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,위지트,1397308,1095,21306037,1175,1.073059,15.247917
1,윙입푸드,1016640,1385,10895263,1465,1.057762,10.716933
2,남화산업,712420,9150,5500720,10400,1.136612,7.721176
3,큐캐피탈,558326,633,4019228,640,1.011058,7.198712
4,수산중공업,573526,1610,3930467,1730,1.074534,6.853163
5,신원,3697294,1925,24828344,2390,1.241558,6.715274
6,SK네트웍스,902071,5180,4795141,5490,1.059846,5.315702
7,HB테크놀러지,1331125,3195,6870963,3015,0.943662,5.161771
8,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
9,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
10,정산애강,546760,2140,2668408,2310,1.079439,4.880401
11,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
14,와이디온라인,1433174,803,6018185,827,1.029888,4.199201

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,좋은사람들,6034875,4635,25903420,6020,1.298813,4.292288
1,인디에프,4001840,2460,13288644,3195,1.298780,3.320634
2,신원,3697294,1925,24828344,2390,1.241558,6.715274
3,남화산업,712420,9150,5500720,10400,1.136612,7.721176
4,재영솔루텍,4498623,1065,22382993,1210,1.136150,4.975521
5,장원테크,648646,17800,1296937,20100,1.129213,1.999453
6,제룡전기,578469,8100,2417571,9110,1.124691,4.179258
7,에코바이오,794644,7270,3754920,8050,1.107290,4.725286
8,제룡산업,652850,8530,1743733,9360,1.097304,2.670955
9,서암기계공업,1190591,6630,4476256,7270,1.096531,3.759692
10,보해양조,59051382,2095,87284755,2295,1.095465,1.478115
11,엠게임,1635482,3060,7987757,3345,1.093137,4.884038
12,세우글로벌,1409603,1755,6216970,1905,1.085470,4.410440
13,정산애강,546760,2140,2668408,2310,1.079439,4.880401
14,이화전기,8599372,267,32940776,287,1.074906,3.830603

y:2019-01-03
t:2019-01-04

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,KJ프리텍,918836,490,19380013,420,0.857143,21.091917
1,풍강,835097,3400,12298798,4420,1.300000,14.727389
2,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
3,크리스탈신소재,582759,1035,4587416,1005,0.971014,7.871892
4,지스마트글로벌,1693878,1865,11718827,1995,1.069705,6.918342
5,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
6,흥국,1611124,6690,7841070,8300,1.240658,4.866832
7,대영포장,9460154,1220,45526275,1315,1.077869,4.812424
8,주연테크,2642282,386,9236161,443,1.147668,3.495524
9,넷게임즈,2074959,9580,6441634,10050,1.049061,3.104463
10,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
11,원익큐브,746785,2505,1811314,2520,1.005988,2.425483
12,위메이드,542990,30500,1246388,35150,1.152459,2.295416
13,제미니투자,986453,692,2222313,731,1.056358,2.252832
14,시노펙스,2034831,2870,4568015,2955,1.029617,2.244911

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,풍강,835097,3400,12298798,4420,1.300000,14.727389
1,와이비엠넷,4013812,3050,6259162,3965,1.300000,1.559406
2,흥국,1611124,6690,7841070,8300,1.240658,4.866832
3,크로바하이텍,1074889,1865,8577177,2285,1.225201,7.979593
4,넥슨지티,2308900,8280,12336920,9770,1.179952,5.343202
5,위메이드,542990,30500,1246388,35150,1.152459,2.295416
6,주연테크,2642282,386,9236161,443,1.147668,3.495524
7,강스템바이오텍,1862686,20200,1983001,22500,1.113861,1.064592
8,디에이테크놀로지,896542,3305,2425443,3665,1.108926,2.705331
9,삼기오토모티브,884615,2465,1353598,2710,1.099391,1.530155
10,핸디소프트,520789,5920,605358,6500,1.097973,1.162386
11,라이트론,508711,9340,662677,10250,1.097430,1.302659
12,SK증권우,1150164,3450,1242370,3770,1.092754,1.080168
13,코미팜,2837508,21200,1091809,23050,1.087264,0.384777
14,장원테크,1296937,20100,1135489,21800,1.084577,0.875516

y:2019-01-04
t:2019-01-07

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,에이프로젠 KIC,2819639,4240,55663128,3350,0.790094,19.741225
1,KD건설,3271013,103,38161275,112,1.087379,11.666501
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
4,제미니투자,2222313,731,13766559,825,1.128591,6.194698
5,티플랙스,1433483,2800,8431755,3015,1.076786,5.882006
6,국영지앤엠,699832,1515,4094800,1620,1.069307,5.851119
7,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
8,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
9,위지트,2569367,1170,12902040,1170,1.000000,5.021486
10,삼본정밀전자,1151531,3310,5434498,3575,1.080060,4.719368
11,SK증권,2087099,650,9381536,668,1.027692,4.495012
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,우리은행,2626832,15400,10334391,14550,0.944805,3.934165
14,윌비스,622371,1365,2123157,1415,1.036630,3.411401

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,넥슨지티,12336920,9770,11519295,12700,1.299898,0.933725
1,넷게임즈,6441634,10050,7538348,12550,1.248756,1.170254
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
4,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
5,제미니투자,2222313,731,13766559,825,1.128591,6.194698
6,기가레인,1351250,1610,3488323,1800,1.118012,2.581553
7,머큐리,4124628,12000,4363702,13400,1.116667,1.057963
8,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
9,EDGC,1581963,5110,4869635,5620,1.099804,3.078223
10,나노,2541500,2110,5868944,2305,1.092417,2.309244
11,KD건설,3271013,103,38161275,112,1.087379,11.666501
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,제이에스티나,1259127,6940,2173822,7530,1.085014,1.726452
14,신풍제약,1526914,6840,2745330,7410,1.083333,1.797960

In [112]:
df

,Name,yester_Volume,yester_Close,today_Volume,today_Close,Close,Volume
0,에이프로젠 KIC,2819639,4240,55663128,3350,0.790094,19.741225
1,KD건설,3271013,103,38161275,112,1.087379,11.666501
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
4,제미니투자,2222313,731,13766559,825,1.128591,6.194698
5,티플랙스,1433483,2800,8431755,3015,1.076786,5.882006
6,국영지앤엠,699832,1515,4094800,1620,1.069307,5.851119
7,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
8,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
9,위지트,2569367,1170,12902040,1170,1.000000,5.021486
10,삼본정밀전자,1151531,3310,5434498,3575,1.080060,4.719368
11,SK증권,2087099,650,9381536,668,1.027692,4.495012
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,우리은행,2626832,15400,10334391,14550,0.944805,3.934165
14,윌비스,622371,1365,2123157,1415,1.036630,3.411401
0,넥슨지티,12336920,9770,11519295,12700,1.299898,0.933725
1,넷게임즈,6441634,10050,7538348,12550,1.248756,1.170254
2,루멘스,2035926,2755,21176579,3265,1.185118,10.401448
3,나노메딕스,565772,5670,2862212,6630,1.169312,5.058950
4,포스코엠텍,541659,6400,4322944,7280,1.137500,7.980933
5,제미니투자,2222313,731,13766559,825,1.128591,6.194698
6,기가레인,1351250,1610,3488323,1800,1.118012,2.581553
7,머큐리,4124628,12000,4363702,13400,1.116667,1.057963
8,디오스텍,1007571,1070,5218617,1180,1.102804,5.179404
9,EDGC,1581963,5110,4869635,5620,1.099804,3.078223
10,나노,2541500,2110,5868944,2305,1.092417,2.309244
11,KD건설,3271013,103,38161275,112,1.087379,11.666501
12,제이콘텐트리,1193937,4740,5067767,5150,1.086498,4.244585
13,제이에스티나,1259127,6940,2173822,7530,1.085014,1.726452
14,신풍제약,1526914,6840,2745330,7410,1.083333,1.797960

In [115]:
f = open('kkang.txt','a')
a = [{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6}]
b = [{'a':7,'b':8,'c':9},{'a':10,'b':11,'c':12}]
df1 = pd.DataFrame(a)
df2 = pd.DataFrame(b)
display(df1)
df2
f.write(df1.to_string())
f.write(df2.to_string())
f.close()

   a  b  c
0  1  2  3
1  4  5  6

In [110]:
df = pd.concat([df1, df2], axis=0)
#df = pd.merge(df1,df2)
df

    a   b   c
0   1   2   3
1   4   5   6
0   7   8   9
1  10  11  12

In [97]:
df1.loc[1:]

   a  b  c
1  4  5  6

In [26]:
yesterday = df1 = str(kpi200_df['Date'][1])
today = str(kpi200_df['Date'][0])

             Date    Code Name  Open  High   Low  Volume  Close
10222  2019-01-02  036640  HRS  2850  2890  2840   20472   2840
10223  2019-01-03  036640  HRS  2830  2845  2795   26542   2840
10224  2019-01-04  036640  HRS  2830  2835  2760   35375   2835
10225  2019-01-07  036640  HRS  2850  2880  2825   16935   2850
10226  2019-01-08  036640  HRS  2840  2885  2840   12976   2850
10227  2019-01-09  036640  HRS  2855  2940  2855   51621   2920
10228  2019-01-10  036640  HRS  2920  2945  2905   28694   2945
10229  2019-01-11  036640  HRS  2970  2970  2905   31441   2935
10230  2019-01-14  036640  HRS  2950  2995  2925   29935   2950
10231  2019-01-15  036640  HRS  2950  2975  2940   11938   2975
10232  2019-01-16  036640  HRS  2975  3025  2965   57832   2980
10233  2019-01-17  036640  HRS  2990  2990  2930   63395   2930
10234  2019-01-18  036640  HRS  2970  2970  2925   49889   2950
10235  2019-01-21  036640  HRS  2955  3015  2950   80597   3015
10236  2019-01-22  036640  HRS  3005  3110  3005   84388   3060
10237  2019-01-23  036640  HRS  3060  3120  3015   66504   3120
10238  2019-01-24  036640  HRS  3135  3135  3085   58016   3090
10239  2019-01-25  036640  HRS  3100  3110  3075   33766   3080
10240  2019-01-28  036640  HRS  3080  3120  3050   60633   3120
10241  2019-01-29  036640  HRS  3080  3115  3075   20191   3080
10242  2019-01-30  036640  HRS  3080  3120  3050   58634   3070
10243  2019-01-31  036640  HRS  3110  3120  3060   59869   3080
10244  2019-02-01  036640  HRS  3100  3100  3045   43410   3050
10245  2019-02-07  036640  HRS  3035  3105  3035   51925   3100
10246  2019-02-08  036640  HRS  3100  3140  3085   55036   3125
10247  2019-02-11  036640  HRS  3125  3145  3110   44068   3125
10248  2019-02-12  036640  HRS  3100  3175  3100   85398   3170
10249  2019-02-13  036640  HRS  3185  3200  3140   56233   3150
10250  2019-02-14  036640  HRS  3150  3190  3130   72114   3175
10251  2019-02-15  036640  HRS  3200  3200  3150   43041   3170
...           ...     ...  ...   ...   ...   ...     ...    ...
10357  2019-07-19  036640  HRS  2490  2525  2490   28404   2515
10358  2019-07-22  036640  HRS  2525  2540  2505    9601   2515
10359  2019-07-23  036640  HRS  2520  2550  2495   18159   2505
10360  2019-07-24  036640  HRS  2510  2520  2465   43263   2465
10361  2019-07-25  036640  HRS  2465  2490  2410   71378   2465
10362  2019-07-26  036640  HRS  2470  2470  2405   40760   2410
10363  2019-07-29  036640  HRS  2415  2445  2225   78528   2225
10364  2019-07-30  036640  HRS  2190  2320  2190   50230   2280
10365  2019-07-31  036640  HRS  2275  2300  2255   20890   2280
10366  2019-08-01  036640  HRS  2280  2335  2280   29802   2310
10367  2019-08-02  036640  HRS  2285  2325  2265   33657   2270
10368  2019-08-05  036640  HRS  2250  2275  2010  112073   2010
10369  2019-08-06  036640  HRS  1975  2090  1950  131509   1955
10370  2019-08-07  036640  HRS  1890  1955  1860  316056   1940
10371  2019-08-08  036640  HRS  1945  2040  1940  112628   1990
10372  2019-08-09  036640  HRS  2010  2050  2000   41583   2030
10373  2019-08-12  036640  HRS  2030  2070  2030   41962   2050
10374  2019-08-13  036640  HRS  2030  2090  2030   17223   2055
10375  2019-08-14  036640  HRS  2065  2120  2065   40904   2065
10376  2019-08-16  036640  HRS  2065  2100  2035   52886   2100
10377  2019-08-19  036640  HRS  2100  2130  2095   36383   2100
10378  2019-08-20  036640  HRS  2110  2160  2100   45508   2135
10379  2019-08-21  036640  HRS  2135  2180  2135   31508   2165
10380  2019-08-22  036640  HRS  2165  2170  2105   22817   2150
10381  2019-08-23  036640  HRS  2150  2180  2135   21704   2165
10382  2019-08-26  036640  HRS  2115  2135  2105   16775   2105
10383  2019-08-27  036640  HRS  2125  2140  2125   11170   2130
10384  2019-08-28  036640  HRS  2135  2180  2130   18925   2180
10385  2019-08-29  036640  HRS  2155  2175  2115   32834   2140
10386  2019-08-30  036640  HRS  2130  2165  2130   25834   2135

[165 rows x 8 columns]

In [112]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

kpi200_df = pd.read_sql("select Date from kpi200 order by Date desc limit 2", engine)
yesterday = str(kpi200_df['Date'][1])
today = str(kpi200_df['Date'][0])
            
select_query = "select * from market where Date >="
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+ volume_query
df = pd.read_sql(var ,engine)

In [113]:
df

           Date    Code       Name   Open   High    Low    Volume  Close
0    2019-08-30  054620     APS홀딩스   9160   9850   9050    795431   9730
1    2019-08-30  138930    BNK금융지주   6550   6720   6510    724011   6700
2    2019-08-29  011150      CJ씨푸드   3425   3450   3260   1343794   3295
3    2019-08-30  011150      CJ씨푸드   3390   3815   3350  19233546   3610
4    2019-08-29  037560       CJ헬로   6010   6060   5760    594084   5870
5    2019-08-30  037560       CJ헬로   5900   6690   5800   5972694   6290
6    2019-08-29  058820      CMG제약   2830   2830   2725    959419   2795
7    2019-08-30  058820      CMG제약   2835   2875   2795    978710   2800
8    2019-08-30  139130    DGB금융지주   6710   6910   6700    685410   6890
9    2019-08-29  001250      GS글로벌   2400   2630   2380    518849   2445
10   2019-08-30  001250      GS글로벌   2460   2525   2425    606489   2520
11   2019-08-29  045890         GV   2110   2220   2080   1227254   2200
12   2019-08-30  045890         GV   2200   2470   2170   5650754   2410
13   2019-08-29  078150    HB테크놀러지   3180   3200   2885   4171231   2960
14   2019-08-30  078150    HB테크놀러지   3010   3030   2925   1358369   2925
15   2019-08-30  003560        IHQ   1735   1820   1735    955869   1755
16   2019-08-30  035900   JYP Ent.  19350  19750  19150    515736  19150
17   2019-08-29  105560       KB금융  38700  38850  38450    602540  38850
18   2019-08-30  105560       KB금융  38900  39800  38900    985925  39700
19   2019-08-29  092220        KEC   1130   1135   1090    620843   1095
20   2019-08-30  035600     KG이니시스  15250  16350  15100    601091  15300
21   2019-08-29  052900     KMH하이텍   1115   1130   1075   2125145   1100
22   2019-08-30  052900     KMH하이텍   1110   1120   1085   1357507   1105
23   2019-08-29  058400        KNN   1175   1210   1155   3960869   1190
24   2019-08-30  058400        KNN   1190   1255   1170   9304354   1185
25   2019-08-30  036030        KTH   5600   6150   5600    599210   6150
26   2019-08-29  034220    LG디스플레이  12800  13150  12650   1515231  13100
27   2019-08-30  034220    LG디스플레이  13300  14050  13250   4662521  13950
28   2019-08-29  032640     LG유플러스  12800  13300  12750   1732610  13000
29   2019-08-30  032640     LG유플러스  13100  13300  12950   1448659  13200
..          ...     ...        ...    ...    ...    ...       ...    ...
585  2019-08-30  317320  한화에스비아이스팩   4040   4270   4000    847258   4050
586  2019-08-30  009830      한화케미칼  17050  17450  16950    722431  17300
587  2019-08-29  220630   해마로푸드서비스   2720   2815   2700   1048916   2790
588  2019-08-30  220630   해마로푸드서비스   2850   2850   2755    936592   2805
589  2019-08-29  900270       헝셩그룹   1060   1085   1055   2484427   1055
590  2019-08-30  900270       헝셩그룹   1190   1320   1130  57828590   1230
591  2019-08-30  000720       현대건설  40550  41450  40300    557559  41350
592  2019-08-29  048410      현대바이오  12400  12650  11900   1614626  12200
593  2019-08-30  048410      현대바이오  12450  12750  12150   1436382  12250
594  2019-08-30  011200       현대상선   3290   3410   3290    698038   3395
595  2019-08-29  004310       현대약품   4660   4720   4555    925229   4600
596  2019-08-30  004310       현대약품   4655   4750   4645    787162   4685
597  2019-08-29  204990      현성바이탈   2720   2985   2650   4161539   2980
598  2019-08-30  204990      현성바이탈   2975   3300   2870   4239614   3145
599  2019-08-29  008770       호텔신라  77100  82200  76300   1192725  79600
600  2019-08-30  008770       호텔신라  80500  81100  78200    570963  78800
601  2019-08-29  008775      호텔신라우  46000  59000  45800    878596  59000
602  2019-08-29  126640       화신정공   1200   1210   1105   1037304   1120
603  2019-08-29  086250       화신테크   3140   3140   2875    512834   2885
604  2019-08-29  010660       화천기계   3025   3380   3015   8446926   3260
605  2019-08-30  010660       화천기계   3260   3330   3210   3088913   3265
606  2019-08-29  093370         후성   9830   9840   9380   4396716   9420
607  2019-08-30  093370         후성   9340   9450   9020   5468543   9100
608  2019-08-29  050090      휘닉스소재    612    689    591   5900117    669
609  2019-08-30  050090      휘닉스소재    662    674    637   2109116    651
610  2019-08-29  081660      휠라코리아  57800  59100  57000    642955  57900
611  2019-08-30  081660      휠라코리아  59000  59100  56700    531053  57200
612  2019-08-29  290270       휴네시온   6290   6520   6050    775821   6090
613  2019-08-30  090710       휴림로봇    839    882    839    611265    865
614  2019-08-29  024060       흥구석유   5260   5370   4945    541304   4945

[615 rows x 8 columns]

In [65]:
df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
display(df1)

KeyError: 'Date'

In [64]:
df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
display(df2)

[datetime.date(2019, 1, 2),
 datetime.date(2019, 1, 3),
 datetime.date(2019, 1, 4),
 datetime.date(2019, 1, 7),
 datetime.date(2019, 1, 8),
 datetime.date(2019, 1, 9),
 datetime.date(2019, 1, 10),
 datetime.date(2019, 1, 11),
 datetime.date(2019, 1, 14),
 datetime.date(2019, 1, 15),
 datetime.date(2019, 1, 16),
 datetime.date(2019, 1, 17),
 datetime.date(2019, 1, 18),
 datetime.date(2019, 1, 21),
 datetime.date(2019, 1, 22),
 datetime.date(2019, 1, 23),
 datetime.date(2019, 1, 24),
 datetime.date(2019, 1, 25),
 datetime.date(2019, 1, 28),
 datetime.date(2019, 1, 29),
 datetime.date(2019, 1, 30),
 datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 1),
 datetime.date(2019, 2, 7),
 datetime.date(2019, 2, 8),
 datetime.date(2019, 2, 11),
 datetime.date(2019, 2, 12),
 datetime.date(2019, 2, 13),
 datetime.date(2019, 2, 14),
 datetime.date(2019, 2, 15),
 datetime.date(2019, 2, 18),
 datetime.date(2019, 2, 19),
 datetime.date(2019, 2, 20),
 datetime.date(2019, 2, 21),
 datetime.date(2019, 2, 22),
 datetime.date(2019, 2, 25),
 datetime.date(2019, 2, 26),
 datetime.date(2019, 2, 27),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 4),
 datetime.date(2019, 3, 5),
 datetime.date(2019, 3, 6),
 datetime.date(2019, 3, 7),
 datetime.date(2019, 3, 8),
 datetime.date(2019, 3, 11),
 datetime.date(2019, 3, 12),
 datetime.date(2019, 3, 13),
 datetime.date(2019, 3, 14),
 datetime.date(2019, 3, 15),
 datetime.date(2019, 3, 18),
 datetime.date(2019, 3, 19),
 datetime.date(2019, 3, 20),
 datetime.date(2019, 3, 21),
 datetime.date(2019, 3, 22),
 datetime.date(2019, 3, 25),
 datetime.date(2019, 3, 26),
 datetime.date(2019, 3, 27),
 datetime.date(2019, 3, 28),
 datetime.date(2019, 3, 29),
 datetime.date(2019, 4, 1),
 datetime.date(2019, 4, 2),
 datetime.date(2019, 4, 3),
 datetime.date(2019, 4, 4),
 datetime.date(2019, 4, 5),
 datetime.date(2019, 4, 8),
 datetime.date(2019, 4, 9),
 datetime.date(2019, 4, 10),
 datetime.date(2019, 4, 11),
 datetime.date(2019, 4, 12),
 datetime.date(2019, 4, 15),
 datetime.date(2019, 4, 16),
 datetime.date(2019, 4, 17),
 datetime.date(2019, 4, 18),
 datetime.date(2019, 4, 19),
 datetime.date(2019, 4, 22),
 datetime.date(2019, 4, 23),
 datetime.date(2019, 4, 24),
 datetime.date(2019, 4, 25),
 datetime.date(2019, 4, 26),
 datetime.date(2019, 4, 29),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 2),
 datetime.date(2019, 5, 3),
 datetime.date(2019, 5, 7),
 datetime.date(2019, 5, 8),
 datetime.date(2019, 5, 9),
 datetime.date(2019, 5, 10),
 datetime.date(2019, 5, 13),
 datetime.date(2019, 5, 14),
 datetime.date(2019, 5, 15),
 datetime.date(2019, 5, 16),
 datetime.date(2019, 5, 17),
 datetime.date(2019, 5, 20),
 datetime.date(2019, 5, 21),
 datetime.date(2019, 5, 22),
 datetime.date(2019, 5, 23),
 datetime.date(2019, 5, 24),
 datetime.date(2019, 5, 27),
 datetime.date(2019, 5, 28),
 datetime.date(2019, 5, 29),
 datetime.date(2019, 5, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 3),
 datetime.date(2019, 6, 4),
 datetime.date(2019, 6, 5),
 datetime.date(2019, 6, 7),
 datetime.date(2019, 6, 10),
 datetime.date(2019, 6, 11),
 datetime.date(2019, 6, 12),
 datetime.date(2019, 6, 13),
 datetime.date(2019, 6, 14),
 datetime.date(2019, 6, 17),
 datetime.date(2019, 6, 18),
 datetime.date(2019, 6, 19),
 datetime.date(2019, 6, 20),
 datetime.date(2019, 6, 21),
 datetime.date(2019, 6, 24),
 datetime.date(2019, 6, 25),
 datetime.date(2019, 6, 26),
 datetime.date(2019, 6, 27),
 datetime.date(2019, 6, 28),
 datetime.date(2019, 7, 1),
 datetime.date(2019, 7, 2),
 datetime.date(2019, 7, 3),
 datetime.date(2019, 7, 4),
 datetime.date(2019, 7, 5),
 datetime.date(2019, 7, 8),
 datetime.date(2019, 7, 9),
 datetime.date(2019, 7, 10),
 datetime.date(2019, 7, 11),
 datetime.date(2019, 7, 12),
 datetime.date(2019, 7, 15),
 datetime.date(2019, 7, 16),
 datetime.date(2019, 7, 17),
 datetime.date(2019, 7, 18),
 datetime.date(2019, 7, 19),
 datetime.date(2019, 7, 22),
 datetime.date(2019, 7, 23),
 datetime.date(2019, 7, 24),
 datetime.date(2019, 7, 25),
 datetime.date(2019, 7, 26),
 datetime.date(2019, 7, 29),
 datetime.date(2019, 7, 30),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 1),
 datetime.date(2019, 8, 2),
 datetime.date(2019, 8, 5),
 datetime.date(2019, 8, 6),
 datetime.date(2019, 8, 7),
 datetime.date(2019, 8, 8),
 datetime.date(2019, 8, 9),
 datetime.date(2019, 8, 12),
 datetime.date(2019, 8, 13),
 datetime.date(2019, 8, 14),
 datetime.date(2019, 8, 16),
 datetime.date(2019, 8, 19),
 datetime.date(2019, 8, 20),
 datetime.date(2019, 8, 21),
 datetime.date(2019, 8, 22),
 datetime.date(2019, 8, 23),
 datetime.date(2019, 8, 26),
 datetime.date(2019, 8, 27),
 datetime.date(2019, 8, 28),
 datetime.date(2019, 8, 29),
 datetime.date(2019, 8, 30)]

In [59]:
a = is_hrs.index.tolist()
a

[datetime.date(2019, 1, 2),
 datetime.date(2019, 1, 3),
 datetime.date(2019, 1, 4),
 datetime.date(2019, 1, 7),
 datetime.date(2019, 1, 8),
 datetime.date(2019, 1, 9),
 datetime.date(2019, 1, 10),
 datetime.date(2019, 1, 11),
 datetime.date(2019, 1, 14),
 datetime.date(2019, 1, 15),
 datetime.date(2019, 1, 16),
 datetime.date(2019, 1, 17),
 datetime.date(2019, 1, 18),
 datetime.date(2019, 1, 21),
 datetime.date(2019, 1, 22),
 datetime.date(2019, 1, 23),
 datetime.date(2019, 1, 24),
 datetime.date(2019, 1, 25),
 datetime.date(2019, 1, 28),
 datetime.date(2019, 1, 29),
 datetime.date(2019, 1, 30),
 datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 1),
 datetime.date(2019, 2, 7),
 datetime.date(2019, 2, 8),
 datetime.date(2019, 2, 11),
 datetime.date(2019, 2, 12),
 datetime.date(2019, 2, 13),
 datetime.date(2019, 2, 14),
 datetime.date(2019, 2, 15),
 datetime.date(2019, 2, 18),
 datetime.date(2019, 2, 19),
 datetime.date(2019, 2, 20),
 datetime.date(2019, 2, 21),
 datetime.date(2019, 2, 22),
 datetime.date(2019, 2, 25),
 datetime.date(2019, 2, 26),
 datetime.date(2019, 2, 27),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 4),
 datetime.date(2019, 3, 5),
 datetime.date(2019, 3, 6),
 datetime.date(2019, 3, 7),
 datetime.date(2019, 3, 8),
 datetime.date(2019, 3, 11),
 datetime.date(2019, 3, 12),
 datetime.date(2019, 3, 13),
 datetime.date(2019, 3, 14),
 datetime.date(2019, 3, 15),
 datetime.date(2019, 3, 18),
 datetime.date(2019, 3, 19),
 datetime.date(2019, 3, 20),
 datetime.date(2019, 3, 21),
 datetime.date(2019, 3, 22),
 datetime.date(2019, 3, 25),
 datetime.date(2019, 3, 26),
 datetime.date(2019, 3, 27),
 datetime.date(2019, 3, 28),
 datetime.date(2019, 3, 29),
 datetime.date(2019, 4, 1),
 datetime.date(2019, 4, 2),
 datetime.date(2019, 4, 3),
 datetime.date(2019, 4, 4),
 datetime.date(2019, 4, 5),
 datetime.date(2019, 4, 8),
 datetime.date(2019, 4, 9),
 datetime.date(2019, 4, 10),
 datetime.date(2019, 4, 11),
 datetime.date(2019, 4, 12),
 datetime.date(2019, 4, 15),
 datetime.date(2019, 4, 16),
 datetime.date(2019, 4, 17),
 datetime.date(2019, 4, 18),
 datetime.date(2019, 4, 19),
 datetime.date(2019, 4, 22),
 datetime.date(2019, 4, 23),
 datetime.date(2019, 4, 24),
 datetime.date(2019, 4, 25),
 datetime.date(2019, 4, 26),
 datetime.date(2019, 4, 29),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 2),
 datetime.date(2019, 5, 3),
 datetime.date(2019, 5, 7),
 datetime.date(2019, 5, 8),
 datetime.date(2019, 5, 9),
 datetime.date(2019, 5, 10),
 datetime.date(2019, 5, 13),
 datetime.date(2019, 5, 14),
 datetime.date(2019, 5, 15),
 datetime.date(2019, 5, 16),
 datetime.date(2019, 5, 17),
 datetime.date(2019, 5, 20),
 datetime.date(2019, 5, 21),
 datetime.date(2019, 5, 22),
 datetime.date(2019, 5, 23),
 datetime.date(2019, 5, 24),
 datetime.date(2019, 5, 27),
 datetime.date(2019, 5, 28),
 datetime.date(2019, 5, 29),
 datetime.date(2019, 5, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 3),
 datetime.date(2019, 6, 4),
 datetime.date(2019, 6, 5),
 datetime.date(2019, 6, 7),
 datetime.date(2019, 6, 10),
 datetime.date(2019, 6, 11),
 datetime.date(2019, 6, 12),
 datetime.date(2019, 6, 13),
 datetime.date(2019, 6, 14),
 datetime.date(2019, 6, 17),
 datetime.date(2019, 6, 18),
 datetime.date(2019, 6, 19),
 datetime.date(2019, 6, 20),
 datetime.date(2019, 6, 21),
 datetime.date(2019, 6, 24),
 datetime.date(2019, 6, 25),
 datetime.date(2019, 6, 26),
 datetime.date(2019, 6, 27),
 datetime.date(2019, 6, 28),
 datetime.date(2019, 7, 1),
 datetime.date(2019, 7, 2),
 datetime.date(2019, 7, 3),
 datetime.date(2019, 7, 4),
 datetime.date(2019, 7, 5),
 datetime.date(2019, 7, 8),
 datetime.date(2019, 7, 9),
 datetime.date(2019, 7, 10),
 datetime.date(2019, 7, 11),
 datetime.date(2019, 7, 12),
 datetime.date(2019, 7, 15),
 datetime.date(2019, 7, 16),
 datetime.date(2019, 7, 17),
 datetime.date(2019, 7, 18),
 datetime.date(2019, 7, 19),
 datetime.date(2019, 7, 22),
 datetime.date(2019, 7, 23),
 datetime.date(2019, 7, 24),
 datetime.date(2019, 7, 25),
 datetime.date(2019, 7, 26),
 datetime.date(2019, 7, 29),
 datetime.date(2019, 7, 30),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 1),
 datetime.date(2019, 8, 2),
 datetime.date(2019, 8, 5),
 datetime.date(2019, 8, 6),
 datetime.date(2019, 8, 7),
 datetime.date(2019, 8, 8),
 datetime.date(2019, 8, 9),
 datetime.date(2019, 8, 12),
 datetime.date(2019, 8, 13),
 datetime.date(2019, 8, 14),
 datetime.date(2019, 8, 16),
 datetime.date(2019, 8, 19),
 datetime.date(2019, 8, 20),
 datetime.date(2019, 8, 21),
 datetime.date(2019, 8, 22),
 datetime.date(2019, 8, 23),
 datetime.date(2019, 8, 26),
 datetime.date(2019, 8, 27),
 datetime.date(2019, 8, 28),
 datetime.date(2019, 8, 29),
 datetime.date(2019, 8, 30)]

In [ ]:
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy


engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

Code = '010660'
Name = '화천기계'

df = fdr.DataReader(Code, '1995')
df.to_excel('d:\\010660.xlsx', encoding='UTF-8')

df = pd.read_excel('d:\\010660.xlsx')
df['Code']= Code
df['Name']= Name

df = df[['Date','Code','Name','Open', 'High', 'Low', 'Close', 'Volume']]

df.to_sql(name='market', con=engine, if_exists='append', index = False)