In [ ]:
class excel:
    

    def kospi_stock_price(self):
    
        data = pd.read_excel('d:\\kospi_list.xlsx')

        code_list = data['종목코드'].tolist()
        code_list = [str(item).zfill(6) for item in code_list]
        name_list = data['종목명'].tolist()

        # 코스피 상장종목 전체
        stock_dic = dict(list(zip(code_list,name_list)))

        for code in stock_dic.keys():
            df  = fdr.DataReader(code,'2019-01-01')
            print(code,stock_dic[code])
            df['Code'],df['Name'] = code,stock_dic[code]
            df = df[['Code','Name','Open','High','Low','Volume','Close']]
    
            #df.to_excel('d:\\data_set\\kospi\\'+ stock_dic[code] +'.xlsx',engine = 'xlsxwriter')
            print(df)

In [7]:
import pandas as pd
from pandas import DataFrame, Series
import requests as re
from bs4 import BeautifulSoup
import datetime as dt
from urllib.request import urlopen

# 사용자의 PC내 폴더 주소를 입력하시면 됩니다.


def get_money_trend():
    
    path = 'd:\\money_trend.xlsx'

    url = 'http://finance.naver.com/sise/sise_deposit.nhn?&page='    
    Data = pd.DataFrame(columns = ['고객예탁금', '신용잔고','주식형 펀드','혼합형 펀드','채권형 펀드'])
    date_list = []
    
    # 값을 받을 사전
    dictionary = {'고객예탁금': [],'신용잔고': [],'주식형 펀드': [],'혼합형 펀드': [],'채권형 펀드': []}

    # dictionary key 인덱싱을 위한 리스트
    name_list = ['고객예탁금','신용잔고','주식형 펀드','혼합형 펀드','채권형 펀드']


    # count mask
    mask = [0,1,3,5,7,9]
    
    for i in range(1,300):
        
        source = urlopen(url+ str(i)).read()
        source = BeautifulSoup(source,'lxml')

        tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
        trs = tbody.find_all('tr')
        for tr in trs:
            tds = tr.find_all('td')
            count = 0
    
            for td in tds:
                # 변화량 제외하고 잔고량만 가져오기
                if not td.text.strip() == 0:
                    if len(td.text.strip()) >= 4:
            
                        if count == 0:
                            date_ = td.text.strip().replace('.','-')
                        
                            if not date_ in date_list:
                                date_list.append(date_)
                        
                            #마지막 페이지인 경우
                            else:
                                print(str(i-1) + '번째 페이지에서 크롤링 종료')
                                
                                df = pd.DataFrame(dictionary,index = date_list)
                                df = df.sort_index()
                                df.to_excel(path, encoding='utf-8')
                                
                                return df

                        elif count in mask:
                            temp = int((count-1)/2)
                            dictionary[name_list[temp]].append(td.text.strip())
        
                    count += 1
            
            # 누락된 값을 발견하면 (펀드 자료에 누락된 값이 존재함)
            if len(dictionary['고객예탁금']) != len(dictionary['주식형 펀드']):
                print(str(i)+ '번째 페이지에서 누락된 값 발생')
                print('누락된 데이터를 제거합니다')
                    
                date_list.pop(-1)
                dictionary['고객예탁금'].pop(-1)
                dictionary['신용잔고'].pop(-1)
                
        print(str(i) + '번째 페이지 크롤링 완료')
        

get_money_trend()

1번째 페이지 크롤링 완료
2번째 페이지 크롤링 완료
3번째 페이지 크롤링 완료
4번째 페이지 크롤링 완료
5번째 페이지 크롤링 완료
6번째 페이지 크롤링 완료
7번째 페이지 크롤링 완료
8번째 페이지 크롤링 완료
9번째 페이지 크롤링 완료
10번째 페이지 크롤링 완료
11번째 페이지 크롤링 완료
12번째 페이지 크롤링 완료
13번째 페이지 크롤링 완료
14번째 페이지 크롤링 완료
15번째 페이지 크롤링 완료
16번째 페이지 크롤링 완료
17번째 페이지 크롤링 완료
18번째 페이지 크롤링 완료
19번째 페이지 크롤링 완료
20번째 페이지 크롤링 완료
21번째 페이지 크롤링 완료
22번째 페이지 크롤링 완료
23번째 페이지 크롤링 완료
24번째 페이지 크롤링 완료
25번째 페이지 크롤링 완료
26번째 페이지 크롤링 완료
27번째 페이지 크롤링 완료
28번째 페이지 크롤링 완료
29번째 페이지 크롤링 완료
30번째 페이지 크롤링 완료
31번째 페이지 크롤링 완료
32번째 페이지 크롤링 완료
33번째 페이지 크롤링 완료
34번째 페이지 크롤링 완료
35번째 페이지 크롤링 완료
36번째 페이지 크롤링 완료
37번째 페이지 크롤링 완료
38번째 페이지 크롤링 완료
39번째 페이지 크롤링 완료
40번째 페이지 크롤링 완료
41번째 페이지 크롤링 완료
42번째 페이지 크롤링 완료
43번째 페이지 크롤링 완료
44번째 페이지 크롤링 완료
45번째 페이지 크롤링 완료
46번째 페이지 크롤링 완료
47번째 페이지 크롤링 완료
48번째 페이지 크롤링 완료
49번째 페이지 크롤링 완료
50번째 페이지 크롤링 완료
51번째 페이지 크롤링 완료
52번째 페이지 크롤링 완료
53번째 페이지 크롤링 완료
54번째 페이지 크롤링 완료
55번째 페이지 크롤링 완료
56번째 페이지 크롤링 완료
57번째 페이지 크롤링 완료
58번째 페이지 크롤링 완료
59번째 페이지 크롤링 완료
60번째 페이지 크롤링 완료
61번째 페이지 크롤링 완료
62번째 페이지 크롤링 완료
63번째 페이지 크롤링 완료
64번째 페이지 크롤링 완료
65번째 페이지 크롤링 완료
66번째 페이지 크롤링 완료
67번째 페이지 크롤링 완료
68번째 페이지 크롤링 완료
69번째 페이지 크롤링 완료
70번째 페이지 크롤링 완료
71번째 페이지 크롤링 완료
72번째 페이지 크롤링 완료
73번째 페이지 크롤링 완료
74번째 페이지 크롤링 완료
75번째 페이지 크롤링 완료
76번째 페이지 크롤링 완료
77번째 페이지 크롤링 완료
78번째 페이지 크롤링 완료
79번째 페이지 크롤링 완료
80번째 페이지 크롤링 완료
81번째 페이지 크롤링 완료
82번째 페이지 크롤링 완료
83번째 페이지 크롤링 완료
84번째 페이지 크롤링 완료
85번째 페이지 크롤링 완료
86번째 페이지 크롤링 완료
87번째 페이지 크롤링 완료
88번째 페이지 크롤링 완료
89번째 페이지 크롤링 완료
90번째 페이지 크롤링 완료
91번째 페이지 크롤링 완료
92번째 페이지 크롤링 완료
93번째 페이지 크롤링 완료
94번째 페이지 크롤링 완료
95번째 페이지 크롤링 완료
96번째 페이지 크롤링 완료
97번째 페이지 크롤링 완료
98번째 페이지 크롤링 완료
99번째 페이지 크롤링 완료
100번째 페이지 크롤링 완료
101번째 페이지 크롤링 완료
102번째 페이지 크롤링 완료
103번째 페이지 크롤링 완료
104번째 페이지 크롤링 완료
105번째 페이지 크롤링 완료
106번째 페이지 크롤링 완료
107번째 페이지 크롤링 완료
108번째 페이지 크롤링 완료
109번째 페이지 크롤링 완료
110번째 페이지 크롤링 완료
111번째 페이지 크롤링 완료
112번째 페이지 크롤링 완료
113번째 페이지 크롤링 완료
114번째 페이지 크롤링 완료
115번째 페이지 크롤링 완료
116번째 페이지 크롤링 완료
117번째 페이지 크롤링 완료
118번째 페이지 크롤링 완료
119번째 페이지 크롤링 완료
120번째 페이지 크롤링 완료
121번째 페이지 크롤링 완료
122번째 페이지 크롤링 완료
123번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다
123번째 페이지 크롤링 완료
124번째 페이지 크롤링 완료
125번째 페이지 크롤링 완료
126번째 페이지 크롤링 완료
127번째 페이지 크롤링 완료
128번째 페이지 크롤링 완료
129번째 페이지 크롤링 완료
130번째 페이지 크롤링 완료
131번째 페이지 크롤링 완료
132번째 페이지 크롤링 완료
133번째 페이지 크롤링 완료
134번째 페이지 크롤링 완료
135번째 페이지 크롤링 완료
136번째 페이지 크롤링 완료
137번째 페이지 크롤링 완료
138번째 페이지 크롤링 완료
139번째 페이지 크롤링 완료
140번째 페이지 크롤링 완료
141번째 페이지 크롤링 완료
142번째 페이지 크롤링 완료
143번째 페이지 크롤링 완료
144번째 페이지 크롤링 완료
145번째 페이지 크롤링 완료
146번째 페이지 크롤링 완료
147번째 페이지 크롤링 완료
148번째 페이지 크롤링 완료
149번째 페이지 크롤링 완료
150번째 페이지 크롤링 완료
151번째 페이지 크롤링 완료
152번째 페이지 크롤링 완료
153번째 페이지 크롤링 완료
154번째 페이지 크롤링 완료
155번째 페이지 크롤링 완료
156번째 페이지 크롤링 완료
157번째 페이지 크롤링 완료
158번째 페이지 크롤링 완료
159번째 페이지 크롤링 완료
160번째 페이지 크롤링 완료
161번째 페이지 크롤링 완료
162번째 페이지 크롤링 완료
163번째 페이지 크롤링 완료
164번째 페이지 크롤링 완료
165번째 페이지 크롤링 완료
166번째 페이지 크롤링 완료
167번째 페이지 크롤링 완료
168번째 페이지 크롤링 완료
169번째 페이지 크롤링 완료
170번째 페이지 크롤링 완료
171번째 페이지 크롤링 완료
172번째 페이지 크롤링 완료
173번째 페이지 크롤링 완료
174번째 페이지 크롤링 완료
175번째 페이지 크롤링 완료
176번째 페이지 크롤링 완료
177번째 페이지 크롤링 완료
178번째 페이지 크롤링 완료
179번째 페이지 크롤링 완료
180번째 페이지 크롤링 완료
181번째 페이지 크롤링 완료
182번째 페이지 크롤링 완료
183번째 페이지 크롤링 완료
184번째 페이지 크롤링 완료
185번째 페이지 크롤링 완료
186번째 페이지 크롤링 완료
187번째 페이지 크롤링 완료
188번째 페이지 크롤링 완료
189번째 페이지 크롤링 완료
190번째 페이지 크롤링 완료
191번째 페이지 크롤링 완료
192번째 페이지 크롤링 완료
193번째 페이지 크롤링 완료
194번째 페이지 크롤링 완료
195번째 페이지 크롤링 완료
196번째 페이지 크롤링 완료
197번째 페이지 크롤링 완료
198번째 페이지 크롤링 완료
199번째 페이지 크롤링 완료
200번째 페이지 크롤링 완료
201번째 페이지 크롤링 완료
202번째 페이지 크롤링 완료
203번째 페이지 크롤링 완료
204번째 페이지 크롤링 완료
205번째 페이지 크롤링 완료
206번째 페이지 크롤링 완료
207번째 페이지 크롤링 완료
207번째 페이지에서 크롤링 종료

            고객예탁금    신용잔고   주식형 펀드   혼합형 펀드     채권형 펀드
19-01-24  237,513  97,664  871,937  277,800  1,030,840
19-01-23  236,726  97,262  869,540  277,856  1,029,809
19-01-22  238,833  96,405  869,312  278,338  1,029,094
19-01-21  257,131  96,208  870,010  278,345  1,029,642
19-01-18  258,714  95,614  871,124  279,590  1,025,426
19-01-17  260,753  94,968  868,350  279,743  1,024,613
19-01-16  230,478  94,861  868,046  279,849  1,023,502
19-01-15  238,019  94,309  867,892  279,777  1,022,299
19-01-14  233,683  94,426  864,521  279,775  1,020,896
19-01-11  231,135  94,036  866,046  279,878  1,020,202
19-01-10  237,977  94,120  865,999  279,989  1,020,884
19-01-09  230,849  93,741  861,829  280,104  1,019,142
19-01-08  235,214  93,620  851,852  281,874  1,019,273
19-01-07  237,744  93,564  852,904  281,620  1,018,673
19-01-04  245,383  93,902  849,490  281,727  1,017,581
19-01-03  260,171  93,236  846,165  281,719  1,018,070
19-01-02  264,937  93,215  850,038  281,346  1,020,082
18-12-28  252,829  93,748  851,377  281,089  1,013,876
18-12-27  249,014  94,192  851,464  280,993  1,012,156
18-12-26  243,433  94,216  843,299  280,895  1,009,377
18-12-24  232,333  94,359  845,503  281,247  1,008,705
18-12-21  231,187  94,502  843,771  281,276  1,012,207
18-12-20  232,416  94,549  839,448  281,205  1,015,077
18-12-19  229,970  95,106  836,726  281,390  1,016,399
18-12-18  229,964  95,676  831,419  281,436  1,017,023
18-12-17  231,707  95,351  832,237  281,440  1,014,917
18-12-14  225,662  95,272  826,538  281,521  1,015,573
18-12-13  231,431  95,671  827,996  281,502  1,015,957
18-12-12  229,994  96,159  826,678  281,649  1,016,013
18-12-11  232,724  96,449  821,370  281,689  1,017,889
...           ...     ...      ...      ...        ...
02-06-17   97,572   3,596   92,091  523,100    552,938
02-06-14   99,093   3,596   91,817  522,816    553,567
02-06-12   99,663   3,583   91,584  523,228    554,134
02-06-11  100,622   3,599   91,174  523,056    552,352
02-06-10  102,683   3,610   91,306  522,864    549,719
02-06-07  100,150   3,631   91,030  521,116    550,194
02-06-05  101,349   3,641   91,166  521,074    549,866
02-06-04  101,255   3,684   91,192  517,668    553,166
02-06-03  101,988   3,700   91,170  516,987    553,029
02-05-31  102,047   3,736   90,975  515,919    552,387
02-05-30  106,016   3,741   90,051  515,398    551,962
02-05-29  106,738   3,771   89,922  514,967    550,556
02-05-28  108,945   3,793   90,101  515,327    548,753
02-05-27  109,011   3,816   91,413  515,154    548,679
02-05-24  112,104   3,822   91,331  514,006    550,305
02-05-23  112,191   3,817   95,544  514,630    550,985
02-05-22  111,135   3,847   95,314  513,158    552,140
02-05-21  110,996   3,827   95,099  513,266    552,354
02-05-20  114,527   3,805   95,331  511,612    552,495
02-05-17  109,130   3,809   92,531  512,201    555,187
02-05-16  107,302   3,828   92,399  509,558    556,273
02-05-15  110,387   3,814   93,232  507,073    558,377
02-05-14  107,559   3,795   87,674  502,508    562,857
02-05-13  109,733   3,818   87,366  502,704    562,515
02-05-10  109,696   3,794   87,395  502,296    561,392
02-05-09  111,313   3,735   86,636  504,716    560,981
02-05-08  111,797   3,718   86,166  504,027    560,179
02-05-07  113,669   3,732   85,343  504,198    558,722
02-05-06  114,088   3,709   85,283  503,271    558,907
02-05-03  114,414   3,552   85,378  503,136    560,097

[4125 rows x 5 columns]

In [9]:
df = pd.read_excel('d:\\money_trend.xlsx')
df.sort_index()

            고객예탁금    신용잔고   주식형 펀드   혼합형 펀드     채권형 펀드
02-05-03  114,414   3,552   85,378  503,136    560,097
02-05-06  114,088   3,709   85,283  503,271    558,907
02-05-07  113,669   3,732   85,343  504,198    558,722
02-05-08  111,797   3,718   86,166  504,027    560,179
02-05-09  111,313   3,735   86,636  504,716    560,981
02-05-10  109,696   3,794   87,395  502,296    561,392
02-05-13  109,733   3,818   87,366  502,704    562,515
02-05-14  107,559   3,795   87,674  502,508    562,857
02-05-15  110,387   3,814   93,232  507,073    558,377
02-05-16  107,302   3,828   92,399  509,558    556,273
02-05-17  109,130   3,809   92,531  512,201    555,187
02-05-20  114,527   3,805   95,331  511,612    552,495
02-05-21  110,996   3,827   95,099  513,266    552,354
02-05-22  111,135   3,847   95,314  513,158    552,140
02-05-23  112,191   3,817   95,544  514,630    550,985
02-05-24  112,104   3,822   91,331  514,006    550,305
02-05-27  109,011   3,816   91,413  515,154    548,679
02-05-28  108,945   3,793   90,101  515,327    548,753
02-05-29  106,738   3,771   89,922  514,967    550,556
02-05-30  106,016   3,741   90,051  515,398    551,962
02-05-31  102,047   3,736   90,975  515,919    552,387
02-06-03  101,988   3,700   91,170  516,987    553,029
02-06-04  101,255   3,684   91,192  517,668    553,166
02-06-05  101,349   3,641   91,166  521,074    549,866
02-06-07  100,150   3,631   91,030  521,116    550,194
02-06-10  102,683   3,610   91,306  522,864    549,719
02-06-11  100,622   3,599   91,174  523,056    552,352
02-06-12   99,663   3,583   91,584  523,228    554,134
02-06-14   99,093   3,596   91,817  522,816    553,567
02-06-17   97,572   3,596   92,091  523,100    552,938
...           ...     ...      ...      ...        ...
18-12-11  232,724  96,449  821,370  281,689  1,017,889
18-12-12  229,994  96,159  826,678  281,649  1,016,013
18-12-13  231,431  95,671  827,996  281,502  1,015,957
18-12-14  225,662  95,272  826,538  281,521  1,015,573
18-12-17  231,707  95,351  832,237  281,440  1,014,917
18-12-18  229,964  95,676  831,419  281,436  1,017,023
18-12-19  229,970  95,106  836,726  281,390  1,016,399
18-12-20  232,416  94,549  839,448  281,205  1,015,077
18-12-21  231,187  94,502  843,771  281,276  1,012,207
18-12-24  232,333  94,359  845,503  281,247  1,008,705
18-12-26  243,433  94,216  843,299  280,895  1,009,377
18-12-27  249,014  94,192  851,464  280,993  1,012,156
18-12-28  252,829  93,748  851,377  281,089  1,013,876
19-01-02  264,937  93,215  850,038  281,346  1,020,082
19-01-03  260,171  93,236  846,165  281,719  1,018,070
19-01-04  245,383  93,902  849,490  281,727  1,017,581
19-01-07  237,744  93,564  852,904  281,620  1,018,673
19-01-08  235,214  93,620  851,852  281,874  1,019,273
19-01-09  230,849  93,741  861,829  280,104  1,019,142
19-01-10  237,977  94,120  865,999  279,989  1,020,884
19-01-11  231,135  94,036  866,046  279,878  1,020,202
19-01-14  233,683  94,426  864,521  279,775  1,020,896
19-01-15  238,019  94,309  867,892  279,777  1,022,299
19-01-16  230,478  94,861  868,046  279,849  1,023,502
19-01-17  260,753  94,968  868,350  279,743  1,024,613
19-01-18  258,714  95,614  871,124  279,590  1,025,426
19-01-21  257,131  96,208  870,010  278,345  1,029,642
19-01-22  238,833  96,405  869,312  278,338  1,029,094
19-01-23  236,726  97,262  869,540  277,856  1,029,809
19-01-24  237,513  97,664  871,937  277,800  1,030,840

[4125 rows x 5 columns]

In [ ]:
    def kpi_200(self,index_cd, start_date='', end_date= '', page_n=1, last_page=0):
        
        historical_prices = dict()
        index_cd = 'KPI200'
        page_n = 1
        naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
        
        self.start_date = start_date
        self.end_date = end_date
        
        if start_date:  # start_date가 있으면
            start_date = date_format(start_date)   # date 포맷으로 변환
        else:    # 없으면
            start_date = dt.date.today()   # 오늘 날짜를 지정
        if end_date:   
            end_date = date_format(end_date)   
        else:   
            end_date = dt.date.today()  
        
        
        naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    
        source = urlopen(naver_index).read()   # 지정한 페이지에서 코드 읽기
        source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류
    
        dates = source.find_all('td', class_='date')   # <td class="date">태그에서 날짜 수집   
        prices = source.find_all('td', class_='number_1')   # <td class="number_1">태그에서 지수 수집
    
        for n in range(len(dates)):
    
            if dates[n].text.split('.')[0].isdigit():
            
                # 날짜 처리
                this_date = dates[n].text
                this_date= date_format(this_date)
            
                if this_date <= end_date and this_date >= start_date:   
                # start_date와 end_date 사이에서 데이터 저장
                    # 종가 처리
                    this_close = prices[n*4].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                    this_close = this_close.replace(',', '')
                    this_close = float(this_close)

                    # 딕셔너리에 저장
                    historical_prices[this_date] = this_close
                
                elif this_date < start_date:   
                    # start_date 이전이면 함수 종료
                    return historical_prices              
            
        # 페이지 네비게이션
        if last_page == 0:
            last_page = source.find('td', class_='pgRR').find('a')['href']
            # 마지막페이지 주소 추출
            last_page = last_page.split('&')[1]   # & 뒤의 page=506 부분 추출
            last_page = last_page.split('=')[1]   # = 뒤의 페이지번호만 추출
            last_page = int(last_page)   # 숫자형 변수로 변환
        
        #다음 페이지 호출
        if page_n < last_page:   
               page_n = page_n + 1   
               self.(index_cd, start_date='', end_date= '', page_n=1, last_page=0)  
        
        return historical_prices  
        print(historical_prices)

In [14]:
now = date_format('2018-01-02')
now

datetime.date(2018, 1, 2)

In [1]:
import mod1

In [2]:
a = mod1.excel()

In [3]:
a.get_money_trend()

1번째 페이지 크롤링 완료
2번째 페이지 크롤링 완료
3번째 페이지 크롤링 완료
4번째 페이지 크롤링 완료
5번째 페이지 크롤링 완료
6번째 페이지 크롤링 완료
7번째 페이지 크롤링 완료
8번째 페이지 크롤링 완료
9번째 페이지 크롤링 완료
10번째 페이지 크롤링 완료
11번째 페이지 크롤링 완료
12번째 페이지 크롤링 완료
13번째 페이지 크롤링 완료
14번째 페이지 크롤링 완료
15번째 페이지 크롤링 완료
16번째 페이지 크롤링 완료
17번째 페이지 크롤링 완료
18번째 페이지 크롤링 완료
19번째 페이지 크롤링 완료
20번째 페이지 크롤링 완료
21번째 페이지 크롤링 완료
22번째 페이지 크롤링 완료
23번째 페이지 크롤링 완료
24번째 페이지 크롤링 완료
25번째 페이지 크롤링 완료
26번째 페이지 크롤링 완료
27번째 페이지 크롤링 완료
28번째 페이지 크롤링 완료
29번째 페이지 크롤링 완료
30번째 페이지 크롤링 완료
31번째 페이지 크롤링 완료
32번째 페이지 크롤링 완료
33번째 페이지 크롤링 완료
34번째 페이지 크롤링 완료
35번째 페이지 크롤링 완료
36번째 페이지 크롤링 완료
37번째 페이지 크롤링 완료
38번째 페이지 크롤링 완료
39번째 페이지 크롤링 완료
40번째 페이지 크롤링 완료
41번째 페이지 크롤링 완료
42번째 페이지 크롤링 완료
43번째 페이지 크롤링 완료
44번째 페이지 크롤링 완료
45번째 페이지 크롤링 완료
46번째 페이지 크롤링 완료
47번째 페이지 크롤링 완료
48번째 페이지 크롤링 완료
49번째 페이지 크롤링 완료
50번째 페이지 크롤링 완료
51번째 페이지 크롤링 완료
52번째 페이지 크롤링 완료
53번째 페이지 크롤링 완료
54번째 페이지 크롤링 완료
55번째 페이지 크롤링 완료
56번째 페이지 크롤링 완료
57번째 페이지 크롤링 완료
58번째 페이지 크롤링 완료
59번째 페이지 크롤링 완료
60번째 페이지 크롤링 완료
61번째 페이지 크롤링 완료
62번째 페이지 크롤링 완료
63번째 페이지 크롤링 완료
64번째 페이지 크롤링 완료
65번째 페이지 크롤링 완료
66번째 페이지 크롤링 완료
67번째 페이지 크롤링 완료
68번째 페이지 크롤링 완료
69번째 페이지 크롤링 완료
70번째 페이지 크롤링 완료
71번째 페이지 크롤링 완료
72번째 페이지 크롤링 완료
73번째 페이지 크롤링 완료
74번째 페이지 크롤링 완료
75번째 페이지 크롤링 완료
76번째 페이지 크롤링 완료
77번째 페이지 크롤링 완료
78번째 페이지 크롤링 완료
79번째 페이지 크롤링 완료
80번째 페이지 크롤링 완료
81번째 페이지 크롤링 완료
82번째 페이지 크롤링 완료
83번째 페이지 크롤링 완료
84번째 페이지 크롤링 완료
85번째 페이지 크롤링 완료
86번째 페이지 크롤링 완료
87번째 페이지 크롤링 완료
88번째 페이지 크롤링 완료
89번째 페이지 크롤링 완료
90번째 페이지 크롤링 완료
91번째 페이지 크롤링 완료
92번째 페이지 크롤링 완료
93번째 페이지 크롤링 완료
94번째 페이지 크롤링 완료
95번째 페이지 크롤링 완료
96번째 페이지 크롤링 완료
97번째 페이지 크롤링 완료
98번째 페이지 크롤링 완료
99번째 페이지 크롤링 완료
100번째 페이지 크롤링 완료
101번째 페이지 크롤링 완료
102번째 페이지 크롤링 완료
103번째 페이지 크롤링 완료
104번째 페이지 크롤링 완료
105번째 페이지 크롤링 완료
106번째 페이지 크롤링 완료
107번째 페이지 크롤링 완료
108번째 페이지 크롤링 완료
109번째 페이지 크롤링 완료
110번째 페이지 크롤링 완료
111번째 페이지 크롤링 완료
112번째 페이지 크롤링 완료
113번째 페이지 크롤링 완료
114번째 페이지 크롤링 완료
115번째 페이지 크롤링 완료
116번째 페이지 크롤링 완료
117번째 페이지 크롤링 완료
118번째 페이지 크롤링 완료
119번째 페이지 크롤링 완료
120번째 페이지 크롤링 완료
121번째 페이지 크롤링 완료
122번째 페이지 크롤링 완료
123번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다
123번째 페이지 크롤링 완료
124번째 페이지 크롤링 완료
125번째 페이지 크롤링 완료
126번째 페이지 크롤링 완료
127번째 페이지 크롤링 완료
128번째 페이지 크롤링 완료
129번째 페이지 크롤링 완료
130번째 페이지 크롤링 완료
131번째 페이지 크롤링 완료
132번째 페이지 크롤링 완료
133번째 페이지 크롤링 완료
134번째 페이지 크롤링 완료
135번째 페이지 크롤링 완료
136번째 페이지 크롤링 완료
137번째 페이지 크롤링 완료
138번째 페이지 크롤링 완료
139번째 페이지 크롤링 완료
140번째 페이지 크롤링 완료
141번째 페이지 크롤링 완료
142번째 페이지 크롤링 완료
143번째 페이지 크롤링 완료
144번째 페이지 크롤링 완료
145번째 페이지 크롤링 완료
146번째 페이지 크롤링 완료
147번째 페이지 크롤링 완료
148번째 페이지 크롤링 완료
149번째 페이지 크롤링 완료
150번째 페이지 크롤링 완료
151번째 페이지 크롤링 완료
152번째 페이지 크롤링 완료
153번째 페이지 크롤링 완료
154번째 페이지 크롤링 완료
155번째 페이지 크롤링 완료
156번째 페이지 크롤링 완료
157번째 페이지 크롤링 완료
158번째 페이지 크롤링 완료
159번째 페이지 크롤링 완료
160번째 페이지 크롤링 완료
161번째 페이지 크롤링 완료
162번째 페이지 크롤링 완료
163번째 페이지 크롤링 완료
164번째 페이지 크롤링 완료
165번째 페이지 크롤링 완료
166번째 페이지 크롤링 완료
167번째 페이지 크롤링 완료
168번째 페이지 크롤링 완료
169번째 페이지 크롤링 완료
170번째 페이지 크롤링 완료
171번째 페이지 크롤링 완료
172번째 페이지 크롤링 완료
173번째 페이지 크롤링 완료
174번째 페이지 크롤링 완료
175번째 페이지 크롤링 완료
176번째 페이지 크롤링 완료
177번째 페이지 크롤링 완료
178번째 페이지 크롤링 완료
179번째 페이지 크롤링 완료
180번째 페이지 크롤링 완료
181번째 페이지 크롤링 완료
182번째 페이지 크롤링 완료
183번째 페이지 크롤링 완료
184번째 페이지 크롤링 완료
185번째 페이지 크롤링 완료
186번째 페이지 크롤링 완료
187번째 페이지 크롤링 완료
188번째 페이지 크롤링 완료
189번째 페이지 크롤링 완료
190번째 페이지 크롤링 완료
191번째 페이지 크롤링 완료
192번째 페이지 크롤링 완료
193번째 페이지 크롤링 완료
194번째 페이지 크롤링 완료
195번째 페이지 크롤링 완료
196번째 페이지 크롤링 완료
197번째 페이지 크롤링 완료
198번째 페이지 크롤링 완료
199번째 페이지 크롤링 완료
200번째 페이지 크롤링 완료
201번째 페이지 크롤링 완료
202번째 페이지 크롤링 완료
203번째 페이지 크롤링 완료
204번째 페이지 크롤링 완료
205번째 페이지 크롤링 완료
206번째 페이지 크롤링 완료
207번째 페이지 크롤링 완료
207번째 페이지에서 크롤링 종료

            고객예탁금    신용잔고   주식형 펀드   혼합형 펀드     채권형 펀드
02-05-03  114,414   3,552   85,378  503,136    560,097
02-05-06  114,088   3,709   85,283  503,271    558,907
02-05-07  113,669   3,732   85,343  504,198    558,722
02-05-08  111,797   3,718   86,166  504,027    560,179
02-05-09  111,313   3,735   86,636  504,716    560,981
02-05-10  109,696   3,794   87,395  502,296    561,392
02-05-13  109,733   3,818   87,366  502,704    562,515
02-05-14  107,559   3,795   87,674  502,508    562,857
02-05-15  110,387   3,814   93,232  507,073    558,377
02-05-16  107,302   3,828   92,399  509,558    556,273
02-05-17  109,130   3,809   92,531  512,201    555,187
02-05-20  114,527   3,805   95,331  511,612    552,495
02-05-21  110,996   3,827   95,099  513,266    552,354
02-05-22  111,135   3,847   95,314  513,158    552,140
02-05-23  112,191   3,817   95,544  514,630    550,985
02-05-24  112,104   3,822   91,331  514,006    550,305
02-05-27  109,011   3,816   91,413  515,154    548,679
02-05-28  108,945   3,793   90,101  515,327    548,753
02-05-29  106,738   3,771   89,922  514,967    550,556
02-05-30  106,016   3,741   90,051  515,398    551,962
02-05-31  102,047   3,736   90,975  515,919    552,387
02-06-03  101,988   3,700   91,170  516,987    553,029
02-06-04  101,255   3,684   91,192  517,668    553,166
02-06-05  101,349   3,641   91,166  521,074    549,866
02-06-07  100,150   3,631   91,030  521,116    550,194
02-06-10  102,683   3,610   91,306  522,864    549,719
02-06-11  100,622   3,599   91,174  523,056    552,352
02-06-12   99,663   3,583   91,584  523,228    554,134
02-06-14   99,093   3,596   91,817  522,816    553,567
02-06-17   97,572   3,596   92,091  523,100    552,938
...           ...     ...      ...      ...        ...
18-12-11  232,724  96,449  821,370  281,689  1,017,889
18-12-12  229,994  96,159  826,678  281,649  1,016,013
18-12-13  231,431  95,671  827,996  281,502  1,015,957
18-12-14  225,662  95,272  826,538  281,521  1,015,573
18-12-17  231,707  95,351  832,237  281,440  1,014,917
18-12-18  229,964  95,676  831,419  281,436  1,017,023
18-12-19  229,970  95,106  836,726  281,390  1,016,399
18-12-20  232,416  94,549  839,448  281,205  1,015,077
18-12-21  231,187  94,502  843,771  281,276  1,012,207
18-12-24  232,333  94,359  845,503  281,247  1,008,705
18-12-26  243,433  94,216  843,299  280,895  1,009,377
18-12-27  249,014  94,192  851,464  280,993  1,012,156
18-12-28  252,829  93,748  851,377  281,089  1,013,876
19-01-02  264,937  93,215  850,038  281,346  1,020,082
19-01-03  260,171  93,236  846,165  281,719  1,018,070
19-01-04  245,383  93,902  849,490  281,727  1,017,581
19-01-07  237,744  93,564  852,904  281,620  1,018,673
19-01-08  235,214  93,620  851,852  281,874  1,019,273
19-01-09  230,849  93,741  861,829  280,104  1,019,142
19-01-10  237,977  94,120  865,999  279,989  1,020,884
19-01-11  231,135  94,036  866,046  279,878  1,020,202
19-01-14  233,683  94,426  864,521  279,775  1,020,896
19-01-15  238,019  94,309  867,892  279,777  1,022,299
19-01-16  230,478  94,861  868,046  279,849  1,023,502
19-01-17  260,753  94,968  868,350  279,743  1,024,613
19-01-18  258,714  95,614  871,124  279,590  1,025,426
19-01-21  257,131  96,208  870,010  278,345  1,029,642
19-01-22  238,833  96,405  869,312  278,338  1,029,094
19-01-23  236,726  97,262  869,540  277,856  1,029,809
19-01-24  237,513  97,664  871,937  277,800  1,030,840

[4125 rows x 5 columns]

In [10]:
import mod1

SyntaxError: invalid syntax (mod1.py, line 130)

In [13]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as date
from urllib.request import urlopen

# 사용자의 PC내 폴더 주소를 입력하시면 됩니다.

def get_money_trend():
    folder_adress = 'd:\\'
    file_name = 'pre_mondy_trend.xlsx'
        
    url = 'http://finance.naver.com/sise/sise_deposit.nhn?&page='
    source = urlopen(url).read()
    source = BeautifulSoup(source,'lxml')
    last = source.find('td',class_='pgRR').find('a')['href']
    last = last.split('&')[1]
    last = last.split('=')[1]
    last = int(last)
    
    Data = pd.DataFrame(columns = ['고객예탁금', '신용잔고','주식형 펀드','혼합형 펀드','채권형 펀드'])

    # 날짜를 받을 리스트
    date_list = []
        
    # 값을 받을 사전
    dictionary = {'고객예탁금': [],'신용잔고': [],'주식형 펀드': [],'혼합형 펀드': [],'채권형 펀드': []}

    # dictionary key 인덱싱을 위한 리스트
    name_list = ['고객예탁금','신용잔고','주식형 펀드','혼합형 펀드','채권형 펀드']

    # count mask
    mask = [0,1,3,5,7,9]
    
    for i in range(1,last+5):
        source = urlopen(url+ str(i)).read()
        source = BeautifulSoup(source,'lxml')

        tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
        trs = tbody.find_all('tr')

        for tr in trs:
            tds = tr.find_all('td')
            count = 0
            for td in tds:
                # 변화량 제외하고 잔고량만 가져오기
                if not td.text.strip() == 0:
                    if len(td.text.strip()) >= 4:
            
                        if count == 0:
                            date_ = td.text.strip().replace('.','-')
                        
                            if not date_ in date_list:
                                date_list.append(date_)
                            
                            else:
                                print(str(i-1) + '번째 페이지에서 크롤링 종료')
                                
                                data = pd.DataFrame(dictionary,index = date_list)
                                data.to_csv(folder_adress + '/money_trend.csv')
    
                                return data

                        elif count in mask:
                            temp = int((count-1)/2)
                            dictionary[name_list[temp]].append(td.text.strip())
        
                    count += 1
            
            # 누락된 값을 발견하면 (펀드 자료에 누락된 값이 존재함)
            if len(dictionary['고객예탁금']) != len(dictionary['주식형 펀드']):
                print(str(i)+ '번째 페이지에서 누락된 값 발생')
                print('누락된 데이터를 제거합니다')
                    
                date_list.pop(-1)
                dictionary['고객예탁금'].pop(-1)
                dictionary['신용잔고'].pop(-1)
                
        print(str(i) + '번째 페이지 크롤링 완료')

In [14]:
get_money_trend()

1번째 페이지 크롤링 완료
2번째 페이지 크롤링 완료
3번째 페이지 크롤링 완료
4번째 페이지 크롤링 완료
5번째 페이지 크롤링 완료
6번째 페이지 크롤링 완료
7번째 페이지 크롤링 완료
8번째 페이지 크롤링 완료
9번째 페이지 크롤링 완료
10번째 페이지 크롤링 완료
11번째 페이지 크롤링 완료
12번째 페이지 크롤링 완료
13번째 페이지 크롤링 완료
14번째 페이지 크롤링 완료
15번째 페이지 크롤링 완료
16번째 페이지 크롤링 완료
17번째 페이지 크롤링 완료
18번째 페이지 크롤링 완료
19번째 페이지 크롤링 완료
20번째 페이지 크롤링 완료
21번째 페이지 크롤링 완료
22번째 페이지 크롤링 완료
23번째 페이지 크롤링 완료
24번째 페이지 크롤링 완료
25번째 페이지 크롤링 완료
26번째 페이지 크롤링 완료
27번째 페이지 크롤링 완료
28번째 페이지 크롤링 완료
29번째 페이지 크롤링 완료
30번째 페이지 크롤링 완료
31번째 페이지 크롤링 완료
32번째 페이지 크롤링 완료
33번째 페이지 크롤링 완료
34번째 페이지 크롤링 완료
35번째 페이지 크롤링 완료
36번째 페이지 크롤링 완료
37번째 페이지 크롤링 완료
38번째 페이지 크롤링 완료
39번째 페이지 크롤링 완료
40번째 페이지 크롤링 완료
41번째 페이지 크롤링 완료
42번째 페이지 크롤링 완료
43번째 페이지 크롤링 완료
44번째 페이지 크롤링 완료
45번째 페이지 크롤링 완료
46번째 페이지 크롤링 완료
47번째 페이지 크롤링 완료
48번째 페이지 크롤링 완료
49번째 페이지 크롤링 완료
50번째 페이지 크롤링 완료
51번째 페이지 크롤링 완료
52번째 페이지 크롤링 완료
53번째 페이지 크롤링 완료
54번째 페이지 크롤링 완료
55번째 페이지 크롤링 완료
56번째 페이지 크롤링 완료
57번째 페이지 크롤링 완료
58번째 페이지 크롤링 완료
59번째 페이지 크롤링 완료
60번째 페이지 크롤링 완료
61번째 페이지 크롤링 완료
62번째 페이지 크롤링 완료
63번째 페이지 크롤링 완료
64번째 페이지 크롤링 완료
65번째 페이지 크롤링 완료
66번째 페이지 크롤링 완료
67번째 페이지 크롤링 완료
68번째 페이지 크롤링 완료
69번째 페이지 크롤링 완료
70번째 페이지 크롤링 완료
71번째 페이지 크롤링 완료
72번째 페이지 크롤링 완료
73번째 페이지 크롤링 완료
74번째 페이지 크롤링 완료
75번째 페이지 크롤링 완료
76번째 페이지 크롤링 완료
77번째 페이지 크롤링 완료
78번째 페이지 크롤링 완료
79번째 페이지 크롤링 완료
80번째 페이지 크롤링 완료
81번째 페이지 크롤링 완료
82번째 페이지 크롤링 완료
83번째 페이지 크롤링 완료
84번째 페이지 크롤링 완료
85번째 페이지 크롤링 완료
86번째 페이지 크롤링 완료
87번째 페이지 크롤링 완료
88번째 페이지 크롤링 완료
89번째 페이지 크롤링 완료
90번째 페이지 크롤링 완료
91번째 페이지 크롤링 완료
92번째 페이지 크롤링 완료
93번째 페이지 크롤링 완료
94번째 페이지 크롤링 완료
95번째 페이지 크롤링 완료
96번째 페이지 크롤링 완료
97번째 페이지 크롤링 완료
98번째 페이지 크롤링 완료
99번째 페이지 크롤링 완료
100번째 페이지 크롤링 완료
101번째 페이지 크롤링 완료
102번째 페이지 크롤링 완료
103번째 페이지 크롤링 완료
104번째 페이지 크롤링 완료
105번째 페이지 크롤링 완료
106번째 페이지 크롤링 완료
107번째 페이지 크롤링 완료
108번째 페이지 크롤링 완료
109번째 페이지 크롤링 완료
110번째 페이지 크롤링 완료
111번째 페이지 크롤링 완료
112번째 페이지 크롤링 완료
113번째 페이지 크롤링 완료
114번째 페이지 크롤링 완료
115번째 페이지 크롤링 완료
116번째 페이지 크롤링 완료
117번째 페이지 크롤링 완료
118번째 페이지 크롤링 완료
119번째 페이지 크롤링 완료
120번째 페이지 크롤링 완료
121번째 페이지 크롤링 완료
122번째 페이지 크롤링 완료
123번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다
123번째 페이지 크롤링 완료
124번째 페이지 크롤링 완료
125번째 페이지 크롤링 완료
126번째 페이지 크롤링 완료
127번째 페이지 크롤링 완료
128번째 페이지 크롤링 완료
129번째 페이지 크롤링 완료
130번째 페이지 크롤링 완료
131번째 페이지 크롤링 완료
132번째 페이지 크롤링 완료
133번째 페이지 크롤링 완료
134번째 페이지 크롤링 완료
135번째 페이지 크롤링 완료
136번째 페이지 크롤링 완료
137번째 페이지 크롤링 완료
138번째 페이지 크롤링 완료
139번째 페이지 크롤링 완료
140번째 페이지 크롤링 완료
141번째 페이지 크롤링 완료
142번째 페이지 크롤링 완료
143번째 페이지 크롤링 완료
144번째 페이지 크롤링 완료
145번째 페이지 크롤링 완료
146번째 페이지 크롤링 완료
147번째 페이지 크롤링 완료
148번째 페이지 크롤링 완료
149번째 페이지 크롤링 완료
150번째 페이지 크롤링 완료
151번째 페이지 크롤링 완료
152번째 페이지 크롤링 완료
153번째 페이지 크롤링 완료
154번째 페이지 크롤링 완료
155번째 페이지 크롤링 완료
156번째 페이지 크롤링 완료
157번째 페이지 크롤링 완료
158번째 페이지 크롤링 완료
159번째 페이지 크롤링 완료
160번째 페이지 크롤링 완료
161번째 페이지 크롤링 완료
162번째 페이지 크롤링 완료
163번째 페이지 크롤링 완료
164번째 페이지 크롤링 완료
165번째 페이지 크롤링 완료
166번째 페이지 크롤링 완료
167번째 페이지 크롤링 완료
168번째 페이지 크롤링 완료
169번째 페이지 크롤링 완료
170번째 페이지 크롤링 완료
171번째 페이지 크롤링 완료
172번째 페이지 크롤링 완료
173번째 페이지 크롤링 완료
174번째 페이지 크롤링 완료
175번째 페이지 크롤링 완료
176번째 페이지 크롤링 완료
177번째 페이지 크롤링 완료
178번째 페이지 크롤링 완료
179번째 페이지 크롤링 완료
180번째 페이지 크롤링 완료
181번째 페이지 크롤링 완료
182번째 페이지 크롤링 완료
183번째 페이지 크롤링 완료
184번째 페이지 크롤링 완료
185번째 페이지 크롤링 완료
186번째 페이지 크롤링 완료
187번째 페이지 크롤링 완료
188번째 페이지 크롤링 완료
189번째 페이지 크롤링 완료
190번째 페이지 크롤링 완료
191번째 페이지 크롤링 완료
192번째 페이지 크롤링 완료
193번째 페이지 크롤링 완료
194번째 페이지 크롤링 완료
195번째 페이지 크롤링 완료
196번째 페이지 크롤링 완료
197번째 페이지 크롤링 완료
198번째 페이지 크롤링 완료
199번째 페이지 크롤링 완료
200번째 페이지 크롤링 완료
201번째 페이지 크롤링 완료
202번째 페이지 크롤링 완료
203번째 페이지 크롤링 완료
204번째 페이지 크롤링 완료
205번째 페이지 크롤링 완료
206번째 페이지 크롤링 완료
207번째 페이지 크롤링 완료
207번째 페이지에서 크롤링 종료

NameError: name 'DataFrame' is not defined

In [ ]:

df = pd.read_excel('d:\\pre_mondy_trend.xlsx')
df = df.sort_index()
df.to_excel('d:\\money_trends.xlsx')