In [1]:
import mod1

In [2]:
a = mod1.to_excel()

In [3]:
a.get_program_trend_date(type=2)

363

            차익  비차익  전체
19-08-23  -149  221  72

In [4]:
a.get_investor_trend_date(type=2)

363

            개인 외국인   기관
19-08-23  -909  75  661

In [5]:
a.get_kpi200_date(type=2)

563

            KPI200    거래량
2019-08-23  256.11  49981

In [12]:
a.get_money_trend_date(type=2)

           고객예탁금   신용잔고  주식형 펀드   채권형 펀드  혼합형 펀드
19-08-21  241387  82603  788020  1229515  264822

In [8]:
b = mod1.to_sql()

In [13]:
b.excel_to_sql(type=2)

파일이름을 입력하세요:moneytrend.xlsx
       Date   고객예탁금   신용잔고   주식형펀드    혼합형펀드   채권형펀드
0  19-08-21  241387  82603  788020  1229515  264822