In [1]:
import mod1

In [2]:
a = mod1.to_excel()

In [3]:
a.get_program_trend_date(type=2)

363

            차익    비차익     전체
19-08-26   328   -178    150
19-08-27  -224  -1772  -1996

In [4]:
a.get_investor_trend_date(type=2)

363

            개인    외국인    기관
19-08-26   534  -1175   709
19-08-27  -313  -1847  1984

In [5]:
a.get_kpi200_date(type=2)

563

            KPI200    거래량
2019-08-26  252.19  62611
2019-08-27  253.50  91311

In [6]:
a.get_money_trend_date(type=2)

           고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
19-08-22  239003  82774  786363  1229285  264366
19-08-23  237331  83407  785831  1232962  264195

In [2]:
b = mod1.to_sql()

In [3]:
b.excel_to_sql(type=2)

kpi200
         Date  KPI200    거래량
0  2019-08-26  252.19  62611
1  2019-08-27  253.50  91311
investortrend
       Date   개인   외국인    기관
0  19-08-26  534 -1175   709
1  19-08-27 -313 -1847  1984
programtrend
       Date   차익   비차익    전체
0  19-08-26  328  -178   150
1  19-08-27 -224 -1772 -1996
moneytrend
       Date   고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
0  19-08-22  239003  82774  786363  1229285  264366
1  19-08-23  237331  83407  785831  1232962  264195