In [1]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()

In [ ]:
## def stock_select_with_Volume_Close():
    
yesterday = input("어제날짜를 입력하세요 : sample: '2019-02-07 00:00:00'  ") 
today = input("오늘날짜를 입력하세요 : sample: '2019-02-07 00:00:00'  ")
    
select_query = "select * from market where Date >="
volume_query = "&& Volume >  500000"
    
var = select_query +"'"+yesterday+"'"+ volume_query
df = pd.read_sql(var ,engine)

df1 = df[df['Date'].astype(str) == yesterday]
df1 = df1[['Name','Volume','Close']]
df1.columns = ['Name','yester_Volume','yester_Close']
#display(df1)

df2 = df[df['Date'].astype(str) == today]
df2 = df2[['Name','Volume','Close']]
df2.columns = ['Name','today_Volume','today_Close']
#display(df2)

df3 = pd.merge(df1,df2,on='Name')
df3['Close']=df3['today_Close']/df3['yester_Close']
df3['Volume']=df3['today_Volume']/df3['yester_Volume']
df3 = df3.sort_values(by=['Volume','Close'],ascending=False)
df3 = df3.reset_index(drop=True)
df3 = df3[:10]
df4 = df3.sort_values(by=['Close','Volume'],ascending=False)
df4 = df4.reset_index(drop=True)
df4 = df4[:10]
display(df3)
display(df4)

In [ ]:
## def stock_price_graph():
    
name = input('주식이름을 입력하세요:').split()
date = input("날짜를 입력하세요 sample: '2019-01-10':")
#table= input('write table name:')
    
select_query = "select Date,Close from market where Name= "
date_query = "Date > "
    

#print("\n")
tuple_name=tuple(name)
df1 = pd.DataFrame()
    
for x in tuple_name:
    #print(x)
        
    var = select_query +"'"+x+"'"+" "+"&&"+" "+date_query+"'"+date+"'"
    #print(var)
    df = pd.read_sql(var ,engine)
    df.columns=['Date',x]
    if df1.empty:
        df1 = df
    else:
        df1 = pd.merge (df,df1,on='Date')
df1=df1.set_index('Date')
#first_date = date_format(df['Date'][0])
plt.figure(figsize=(12,5))
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df['Date'][0]]*100)
    #plt.plot(df1[name[1]]/df1[name[1]].loc[dt.date(2017,1,2)]*100)
plt.legend(loc=0)
plt.grid(True,color='0.7',linestyle=':',linewidth=1)

In [ ]:
## def excel_to_mysql():

file_name = input('파일이름을 입력하세요:')
        
df=pd.read_excel('d:\\'+ file_name)
if file_name=='kpi200.xlsx':
    df.columns=['Date','kpi200','거래량']
    table_name = 'kpi200'
    #df = df.set_index('Date')
elif file_name=='moneytrend.xlsx':
    table_name = 'moneytrend'
    df.columns=['Date', '고객예탁금', '신용잔고','주식형펀드','혼합형펀드','채권형펀드']
    #df = df.set_index('Date')
else:
    print('\n file_name error\n')
    
df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

print(df)

In [ ]:
## def get_stock_price_from_fdr(end_date=now):
        
file_name = input('파일이름을 입력하세요:')
toward = input('저장 방식을 입력하세요 : sample: excel, sql ')
start_date = input("시작날자를 입려하세요 : sample: '2015-01-01'")
table_name = input("table명을 입력하세요 : sample: market")
data=pd.read_excel('d:\\'+ file_name)
   
code_list = data['종목코드'].tolist()
code_list = [str(item).zfill(6) for item in code_list]
name_list = data['종목명'].tolist()

# 코스피 상장종목 전체
stock_dic = dict(list(zip(code_list,name_list)))

for code in sorted(stock_dic.keys()):
    df  = fdr.DataReader(code,start_date,now)
    print(code,stock_dic[code])
    df['Code'],df['Name'] = code,stock_dic[code]
    df = df[['Code','Name','Open','High','Low','Volume','Close']]
    if toward == 'excel':
        df.to_excel('d:\\data_set\\kospi\\'+ stock_dic[code] +'.xlsx',engine = 'xlsxwriter')
    elif toward == 'sql':
        df.to_sql(name=table_name, con=engine, if_exists='append')

# Test

In [2]:
import mod1
dir(mod1)

['BeautifulSoup',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'conn',
 'datetime',
 'dt',
 'engine',
 'excel_to_mysql',
 'fdr',
 'font_manager',
 'font_name',
 'get_stock_price_from_fdr',
 'now',
 'pd',
 'plt',
 'pymysql',
 'rc',
 'sqlalchemy',
 'stock_price_graph',
 'stock_select_with_Volume_Close',
 'timedelta',
 'to_excel',
 'urlopen']

In [ ]:
mod1.stock_select_with_Volume_Close()

In [ ]:
mod1.stock_price_graph()

In [46]:
a = mod1.to_excel()

In [56]:
a.get_money_trend_date('2019-01-30')

d:\moneytrend.xlsx
0번째 페이지에서 크롤링 종료

           고객예탁금    신용잔고   주식형펀드   혼합형펀드    채권형펀드
19-01-31  282083   98843  884180  275677  1040890
19-02-01  251816   98875  885919  275367  1041711
19-02-07  266626   99418  884835  275458  1045127
19-02-08  250298   99283  880588  275405  1046784
19-02-11  261868   99495  879901  275190  1047133
19-02-12  249473  100523  879451  275172  1048776
19-02-13  248987  101371  882040  275092  1049422

In [75]:
a.get_kpi_200_date('2019-02-14')

0번째 페이지에서 크롤링 종료

            KPI200      거래량
2019-02-15  283.98  3632959