In [1]:
from pykrx import stock

In [2]:
##  시장별 일별  종목변동내역 조회

#df = stock.get_market_ohlcv_by_ticker("20210119", "ALL")
df = stock.get_market_ohlcv_by_ticker("20210119", "KOSPI")
#df = stock.get_market_ohlcv_by_ticker("20210119", "KOSDAQ")
#df = stock.get_market_ohlcv_by_ticker("20210119", "KONEX")
df

            종목명      시가      고가      저가      종가      거래량        거래대금
티커
095570   AJ네트웍스    4485    4495    4370    4465   106387   470547685
006840    AK홀딩스   24900   25700   24850   25650    80470  2038904200
027410      BGF    4810    5100    4750    4905   707708  3473725080
282330   BGF리테일  140500  147500  140000  145000    41581  6025674000
138930  BNK금융지주    5790    5850    5750    5850  1323893  7687502890
...         ...     ...     ...     ...     ...      ...         ...
069260      휴켐스   24000   24650   23950   24650   235655  5724908950
000540     흥국화재    3250    3320    3220    3270   292409   958915925
000547  흥국화재2우B   20000   20000   19700   20000     1028    20418050
000545    흥국화재우    8170    8340    8100    8100    21614   177500980
003280     흥아해운       0       0       0     258        0           0

[917 rows x 7 columns]

In [3]:
##  종목코드를  list로 반환

#tickers = stock.get_market_ticker_list("20210122",'ALL')
tickers = stock.get_market_ticker_list("20210122",'KOSPI')
#tickers = stock.get_market_ticker_list("20210122",'KOSDAQ')
#tickers = stock.get_market_ticker_list("20210122",'KONEX')
print(tickers[:3])

['095570', '006840', '027410']

In [4]:
##  선택종목의  일별, 월별, 년별 ohlcv 내역 반환

#df = stock.get_market_ohlcv_by_date("20180810", "20211212", "005930", "d")
#df = stock.get_market_ohlcv_by_date("20200810", "20211212", "005930", "m")
df = stock.get_market_ohlcv_by_date("20180810", "20211212", "005930", "y")
print(df.head(3))

               시가     고가     저가     종가           거래량
날짜
2018-12-31  46150  48450  38100  38700  1.024578e+09
2019-12-31  39400  57300  36850  55800  2.680545e+09
2020-12-31  55500  81300  42300  81000  5.471749e+09

In [61]:
##   종목코드와 종목명 반환


#df = stock.krx.market.wrap.get_market_ticker_and_name("20210122", 'KOSPI')
df = stock.krx.market.wrap.get_market_ticker_and_name("20210122", 'KOSDAQ')
df

티커
060310        3S
054620    APS홀딩스
265520     AP시스템
211270      AP위성
035760    CJ ENM
           ...
024060      흥구석유
010240        흥국
189980    흥국에프엔비
037440        희림
238490        힘스
Name: 종목명, Length: 1472, dtype: object

In [67]:
df.reset_index()

          티커     종목명
0     060310      3S
1     054620  APS홀딩스
2     265520   AP시스템
3     211270    AP위성
4     035760  CJ ENM
...      ...     ...
1467  024060    흥구석유
1468  010240      흥국
1469  189980  흥국에프엔비
1470  037440      희림
1471  238490      힘스

[1472 rows x 2 columns]

In [6]:
##  종목별 DIV/BPS/PER/EPS 조회

df = stock.get_market_fundamental_by_ticker("20210122")
df.head(5)

            종목명    BPS        PER       PBR   EPS       DIV  DPS
티커
060310      3S     745   0.000000  0.000000     0  0.000000    0
095570  AJ네트웍스    6802   4.289062  0.619209   982  7.128906  300
006840   AK홀딩스   62448  13.421875  0.465966  2168  2.580078  750
054620  APS홀딩스   10530   0.000000  0.000000     0  0.000000    0
265520   AP시스템    7468  37.843750  3.400262   671  0.199951   50

In [7]:
##  선택종목 DIV/BPS/PER/EPS 기간별 변동 조회

#df = stock.get_market_fundamental_by_date("20180810", "20181212", "005930", "d")
#df = stock.get_market_fundamental_by_date("20180810", "20181212", "005930", "m")
df = stock.get_market_fundamental_by_date("20180101", "20211231", "005930", "y")
df.head()

                 DIV      BPS        PER     EPS       PBR
날짜
2018-12-31  1.120117  1156530  16.156250  157967  2.206734
2019-12-31  2.189453    28126   6.460938    5997  1.377595
2020-12-31  2.570312    35342   8.539062    6461  1.561057
2021-12-31  1.709961    37528  26.218750    3166  2.211910

In [8]:
##  종목별, 시가총액 ,거래량, 거래대금, 종가, 상장수식수


#df =stock.krx.market.wrap.get_market_cap_by_ticker("20210122", "KOSPI", True)
df =stock.krx.market.wrap.get_market_cap_by_ticker("20210122", "KOSDAQ", True)
df

            종가            시가총액      거래량            거래대금      상장주식수
티커
032685   28950      4135710150      275      4135710150     142857
021045    1335      5663692110    75734      5663692110    4242466
158310     505      6096179210        0      6096179210   12071642
347140    2060      6198540000     5305      6198540000    3009000
323210    2045      6544000000      886      6544000000    3200000
...        ...             ...      ...             ...        ...
196170  147000   4128186300000   158567   4128186300000   28082900
096530  171400   4496511028000   493371   4496511028000   26234020
028300   90700   4808001285900   365843   4808001285900   53009937
068760  178000   6374293386000   342157   6374293386000   35810637
091990  144600  21951700261200  1434036  21951700261200  151809822

[1472 rows x 5 columns]

In [10]:
##  입력된 기간동안의 전 종목 수익률 반환
##  stock에서 import한 websit에서 krx.market.wrap.py를 import 하여 get_market_price_change_by_ticker() 를 부름
## warp.py에서 import 한 전종목등락률()에서  ---  return "dbms/MDC/STAT/standard/MDCSTAT.01602"를
## ---  return "dbms/MDC/STAT/standard/MDCSTAT12002"로 수정  크롬에서 f12개발자모드에서  Element에서 찾음
    
#df = stock.krx.market.wrap.get_market_price_change_by_ticker("20210104", "20210122", "KOSPI",True)
df = stock.krx.market.wrap.get_market_price_change_by_ticker("20210104", "20210122", "KOSDAQ",True)
df

           종목명      시가      종가    변동폭    등락률       거래량          거래대금
티커
060310      3S    2165    2255     90   4.16   5094086   11374874620
054620  APS홀딩스    8210    7120  -1090 -13.28   3495201   25682599010
265520   AP시스템   24850   25400    550   2.21   5830770  148383995100
211270    AP위성    7920   10350   2430  30.68  20512229  198530410190
035760  CJ ENM  139500  163800  24300  17.42   4078596  645626595300
...        ...     ...     ...    ...    ...       ...           ...
024060    흥구석유    7220    7000   -220  -3.05  11420042   87294539720
010240      흥국    5810    8380   2570  44.23  25242449  223718443140
189980  흥국에프엔비    2115    2220    105   4.96  83976728  187773889285
037440      희림    3905    4190    285   7.30   2134485    8923485865
238490      힘스   12800   13600    800   6.25   5875565   78966538200

[1470 rows x 7 columns]

In [59]:
##  개별종목 외국인지분율 변동조회

df = stock.krx.market.wrap.get_exhaustion_rates_of_foreign_investment_by_date("20170101", "20210122", "130500")
df

               상장주식수    보유수량       지분율      한도수량     한도소진율
날짜
2017-01-02   7000000  162048  2.310547   7000000  2.310547
2017-01-03   7000000  176780  2.529297   7000000  2.529297
2017-01-04   7000000  177557  2.539062   7000000  2.539062
2017-01-05   7000000  160133  2.289062   7000000  2.289062
2017-01-06   7000000  138349  1.980469   7000000  1.980469
...              ...     ...       ...       ...       ...
2021-01-18  11000000  785008  7.140625  11000000  7.140625
2021-01-19  11000000  820699  7.460938  11000000  7.460938
2021-01-20  11000000  898076  8.156250  11000000  8.156250
2021-01-21  11000000  890138  8.093750  11000000  8.093750
2021-01-22  11000000  863922  7.851562  11000000  7.851562

[996 rows x 5 columns]

In [60]:
df.to_excel('d:/gh.xlsx')

In [55]:
##  시장지수 변동분 조회


df = stock.get_index_price_change_by_ticker("20210104", "20210122", "KOSPI")
#df = stock.get_index_price_change_by_ticker("20210104", "20210122", "KOSDAQ")
df

,시가,종가,등락률,거래량,거래대금
지수명,,,,,
코스피,2874.0000,3140.00,9.296875,20897191476,419004190287523
코스피 200,389.2500,427.25,9.718750,5377732500,328669962905839
코스피 100,2974.0000,3266.00,9.820312,3089276003,271101622384134
코스피 50,2726.0000,3008.00,10.382812,2101696839,231777856011642
코스피 200 중소형주,1152.0000,1265.00,9.789062,2288456497,57568340521705
코스피 200 초대형제외 지수,277.7500,308.25,11.000000,4770597579,275642584822239
코스피200제외 코스피지수,3318.0000,3514.00,5.898438,15268881594,75836706721053
코스피 200 커뮤니케이션서비스,2594.0000,2844.00,9.671875,219186573,24686028772464
코스피 200 건설,239.8750,274.75,14.468750,440083578,7688019979435
코스피 200 중공업,272.5000,275.00,0.930176,502042433,9484786945890
코스피 200 철강/소재,737.0000,769.50,4.371094,125804392,5133119110519
코스피 200 에너지/화학,1798.0000,2194.00,22.062500,327667001,39646414110905
코스피 200 정보기술,3556.0000,4184.00,17.640625,1038293568,102277623270529
코스피 200 금융,601.0000,608.50,1.280273,915759141,14628015056235
코스피 200 생활소비재,1162.0000,1188.00,2.259766,222283129,12860365668146
코스피 200 경기소비재,1651.0000,2048.00,24.046875,571179541,58691980376059
코스피 200 산업재,517.5000,577.00,11.468750,643815895,17169244796447
코스피 200 헬스케어,3178.0000,2936.00,-7.601562,371617249,36404364819210
음식료품,3940.0000,4160.00,5.570312,582247647,3756211693509
섬유의복,254.6250,283.50,11.328125,1069524503,2481996259471
종이목재,392.2500,395.75,0.890137,866302662,2307112077040
화학,6504.0000,7456.00,14.617188,1341036543,49162936217214
의약품,21088.0000,19456.00,-7.761719,1350018156,38362535166425
비금속광물,2072.0000,2488.00,20.093750,248211854,2965325428080
철강금속,4112.0000,4176.00,1.519531,825583688,8193268637533
기계,972.0000,1042.00,7.210938,1008221392,7440991509144
전기전자,29792.0000,32800.00,10.062500,3479485319,126133137137218
의료정밀,2796.0000,2936.00,5.031250,40153933,419349429370
운수장비,1924.0000,2506.00,30.265625,2180431101,65145930548790
유통업,394.7500,421.00,6.671875,1340111945,13416026123302
전기가스업,845.0000,780.50,-7.621094,110303271,2955670694750
건설업,106.1875,119.00,12.031250,762788236,7244593767065
운수창고업,1756.0000,1935.00,10.179688,1538485423,14698365460890
통신업,325.2500,340.25,4.628906,154293145,4433705443637
금융업,392.5000,417.00,6.210938,2354443172,32985341264889
은행,185.1250,178.75,-3.460938,68586520,523171017695
증권,1904.0000,1991.00,4.570312,1059526108,4768294307593
보험,12664.0000,12448.00,-1.679688,521403260,4179800755260
서비스업,1640.0000,1802.00,9.890625,967654656,34230912623515
제조업,7548.0000,8320.00,10.179688,13628679071,308818995804322
코스피 대형주,2860.0000,3142.00,9.921875,3222998780,264238388823970
코스피 중형주,2954.0000,3160.00,6.949219,4445418529,80876522313356
코스피 소형주,2210.0000,2360.00,6.750000,12765869634,52388126591901
코스피 200 비중상한 30%,388.5000,426.50,9.726562,5377732500,328669962905839
코스피 200 비중상한 25%,383.0000,421.25,9.937500,5377732500,328669962905839
코스피 200 비중상한 20%,371.2500,409.00,10.140625,5377732500,328669962905839