In [1]:
from pykrx.stock.api import *

In [3]:
df = get_index_ticker_list('20200410', market="KOSPI")
df

['코스피',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주']

In [6]:
df = get_market_ohlcv_by_date("20190501", "20190531", "005930")
df

               시가     고가     저가     종가       거래량
날짜
2019-05-02  45500  46150  45400  45900   8625126
2019-05-03  45900  46050  45300  45300   6562916
2019-05-07  45250  45300  44400  44850  12014907
2019-05-08  44300  44850  44200  44250  10398754
2019-05-09  43900  44250  42450  42450  23029718
2019-05-10  42600  43450  42450  42900  14579512
2019-05-13  42500  43200  42350  42650   7635079
2019-05-14  41300  43100  41300  42650  11563730
2019-05-15  42700  43050  42550  42550   7670185
2019-05-16  42350  42400  41350  41550  13687828
2019-05-17  41950  42050  40850  41200  13357951
2019-05-20  41650  42100  41550  42000  15752397
2019-05-21  42600  43950  42350  43150  18812133
2019-05-22  43700  43800  42400  43500  11033339
2019-05-23  43900  44000  43250  43850  12259006
2019-05-24  43800  43800  42400  42700  13966305
2019-05-27  42500  43000  42350  42650   8066669
2019-05-28  42550  42950  42150  42550  24506881
2019-05-29  41850  42100  41300  41800  14930618
2019-05-30  42200  42700  42150  42550  11766018
2019-05-31  42600  42800  42150  42500  11365999

In [7]:
df = get_market_price_change_by_ticker("20190624", "20190630")
df

           종목명     시가     종가   변동폭     등락률      거래량         거래대금
티커
000020    동화약품   9870   9680  -190   -1.93    99885    977258200
000040   KR모터스    520    540    20    3.85  1323274    706294918
000050      경방  10550  10450  -100   -0.95    31235    327224950
000060   메리츠화재  21000  20700  -300   -1.43   793198  16440721550
000070   삼양홀딩스  75500  73700 -1800   -2.38    40271   2988620800
...        ...    ...    ...   ...     ...      ...          ...
950140   잉글우드랩   5710   5240  -470   -8.23   385192   2050455590
950160  코오롱티슈진   8010   8010     0    0.00        0            0
950170     JTC   7980   7880  -100   -1.25   576744   4559041170
950180     SNK  25500  24850  -650   -2.55   668583  16312643350
079660    사조해표   8380      0 -8380 -100.00        0            0

[2398 rows x 7 columns]

In [8]:
df = get_market_ohlcv_by_date("20180101", "20201231", "003000", "y")
df

               시가     고가     저가     종가        거래량
날짜
2018-12-31  17345  24121  15577  23722   72350556
2019-12-31  24200  24869  11717  14350   53949110
2020-12-31  14350  27900  12350  24300  222216363

In [10]:
df = get_market_fundamental_by_ticker("20200410")
df

             종목명   DIV   BPS     PER  EPS       PBR
티커
050860      아세아텍  1.60  5625  104.00   30  0.554667
097870     효성오앤비  0.00  7275   26.12  227  0.815016
093380        풍강  1.65  6075   28.59   85  0.400025
030960       양지사  0.59  4261   49.76  169  1.973584
017250       인터엠  6.15  3513    0.00    0  0.000000
...          ...   ...   ...     ...  ...       ...
316140    우리금융지주  0.00     0    0.00    0  0.000000
33626L  두산퓨얼셀2우B  0.00     0    0.00    0  0.000000
336370     두산솔루스  0.00     0    0.00    0  0.000000
33637K   두산솔루스1우  0.00     0    0.00    0  0.000000
33637L  두산솔루스2우B  0.00     0    0.00    0  0.000000

[2288 rows x 6 columns]

In [11]:
df = get_market_fundamental_by_date("20200101", "20201231", "003000", "m")
df

             DIV   BPS    PER   EPS       PBR
날짜
2020-01-31  1.42  6231   6.32  2224  2.255766
2020-02-29  1.47  6231   6.12  2224  2.184381
2020-03-31  1.52  6231   5.91  2224  2.109427
2020-04-30  0.85  6231  10.59  2224  3.779836

In [12]:
df = get_market_ticker_name("000660")
df

'SK하이닉스'

In [13]:
df = get_market_fundamental_by_date("20200101", "20200410", '005930')
df

             DIV    BPS   PER   EPS       PBR
날짜
2020-01-02  2.57  35342  8.54  6461  1.561229
2020-01-03  2.55  35342  8.59  6461  1.570369
2020-01-06  2.55  35342  8.59  6461  1.570369
2020-01-07  2.54  35342  8.64  6461  1.579510
2020-01-08  2.49  35342  8.79  6461  1.606932
...          ...    ...   ...   ...       ...
2020-04-06  2.91  35342  7.54  6461  1.378415
2020-04-07  2.85  35342  7.68  6461  1.404009
2020-04-08  2.91  35342  7.52  6461  1.374759
2020-04-09  2.88  35342  7.60  6461  1.389384
2020-04-10  2.88  35342  7.62  6461  1.393040

[70 rows x 5 columns]

In [14]:
df = get_market_fundamental_by_date("20200101", "20200410", '005930')
df

             DIV    BPS   PER   EPS       PBR
날짜
2020-01-02  2.57  35342  8.54  6461  1.561229
2020-01-03  2.55  35342  8.59  6461  1.570369
2020-01-06  2.55  35342  8.59  6461  1.570369
2020-01-07  2.54  35342  8.64  6461  1.579510
2020-01-08  2.49  35342  8.79  6461  1.606932
...          ...    ...   ...   ...       ...
2020-04-06  2.91  35342  7.54  6461  1.378415
2020-04-07  2.85  35342  7.68  6461  1.404009
2020-04-08  2.91  35342  7.52  6461  1.374759
2020-04-09  2.88  35342  7.60  6461  1.389384
2020-04-10  2.88  35342  7.62  6461  1.393040

[70 rows x 5 columns]

In [15]:
tickers = get_index_ticker_list("20200410", "KOSDAQ")
tickers

['코스닥',
 '코스닥 150',
 '코스닥 150 기술주',
 '코스닥 150 정보기술',
 '코스닥 150 생명기술',
 '코스닥 150 문화기술',
 '코스닥 150 소재',
 '코스닥 150 산업재',
 '코스닥 150 필수소비재',
 '코스닥 150 자유소비재',
 '기타서비스',
 '코스닥 IT',
 '제조',
 '건설',
 '유통',
 '운송',
 '금융',
 '오락,문화',
 '통신방송서비스',
 'IT S/W & SVC',
 'IT H/W',
 '음식료·담배',
 '섬유·의류',
 '종이·목재',
 '출판·매체복제',
 '화학',
 '제약',
 '비금속',
 '금속',
 '기계·장비',
 '일반전기전자',
 '의료·정밀기기',
 '운송장비·부품',
 '기타 제조',
 '통신서비스',
 '방송서비스',
 '인터넷',
 '디지털컨텐츠',
 '소프트웨어',
 '컴퓨터서비스',
 '통신장비',
 '정보기기',
 '반도체',
 'IT부품',
 '코스닥 대형주',
 '코스닥 중형주',
 '코스닥 소형주',
 '코스닥 우량기업부',
 '코스닥 벤처기업부',
 '코스닥 중견기업부',
 '코스닥 기술성장기업부']

In [16]:
tickers = get_index_ticker_list("20200410", "KOSPI")
tickers

['코스피',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주']

In [3]:
df = get_index_ohlcv_by_date("20200401", "20250517", "코스피")
df

                 시가       고가       저가       종가         거래량
날짜
2020-04-01  1737.28  1762.44  1685.37  1685.46  1243591000
2020-04-02  1693.53  1726.76  1664.13  1724.86   766313000
2020-04-03  1731.17  1743.91  1706.68  1725.44  1000087000
2020-04-06  1745.25  1794.19  1742.67  1791.88  1219389000
2020-04-07  1826.72  1838.97  1791.92  1823.60   951739000
2020-04-08  1815.75  1842.16  1801.80  1807.14   907494000
2020-04-09  1838.09  1839.33  1818.30  1836.21   920571000
2020-04-10  1835.76  1861.10  1824.43  1860.70   992548000
2020-04-13  1853.30  1853.30  1825.76  1825.76  1017752000
2020-04-14  1846.41  1864.46  1837.17  1857.08   886766000
2020-04-16  1839.51  1862.23  1828.13  1857.07   878338000
2020-04-17  1893.31  1926.02  1893.19  1914.53  1667460000
2020-04-20  1908.34  1925.25  1893.17  1898.36  1087463000
2020-04-21  1886.78  1898.32  1841.66  1879.38  1174294000
2020-04-22  1855.51  1897.90  1844.85  1896.15   820360000
2020-04-23  1907.45  1923.53  1895.98  1914.73   683720000
2020-04-24  1906.07  1908.29  1880.71  1889.01   933917000
2020-04-27  1897.06  1929.82  1894.62  1922.77   735663000
2020-04-28  1931.25  1941.79  1911.63  1934.09  1173476000
2020-04-29  1936.89  1957.51  1934.31  1947.56  1984182000
2020-05-04  1906.42  1918.66  1894.29  1895.37  1146855000
2020-05-06  1919.45  1928.76  1902.55  1928.76  1082527000
2020-05-07  1922.00  1938.50  1918.57  1928.61   775658000
2020-05-08  1944.94  1956.89  1942.54  1945.82   784773000
2020-05-11  1953.51  1960.46  1932.87  1935.40   591283000
2020-05-12  1938.62  1938.62  1905.17  1922.17   799930000
2020-05-13  1897.50  1940.42  1897.24  1940.42   618784000
2020-05-14  1922.44  1931.43  1913.49  1924.96   760646000
2020-05-15  1937.63  1938.59  1913.21  1927.28   866357000

In [17]:
df = get_index_ohlcv_by_date("20190101", "20190228", "코스닥")
df

                시가      고가      저가      종가         거래량
날짜
2019-01-02  682.16  683.09  667.71  669.37   539452000
2019-01-03  671.98  673.61  656.85  657.02   656328000
2019-01-04  655.62  664.49  648.95  664.49   554456000
2019-01-07  672.76  675.31  669.07  672.84   584295000
2019-01-08  674.53  675.05  667.01  668.49   623518000
2019-01-09  672.38  681.12  671.95  679.74   622018000
2019-01-10  680.61  685.65  678.23  683.34   735087000
2019-01-11  686.09  688.01  683.59  686.33   701508000
2019-01-14  687.42  687.42  682.54  683.09   613343000
2019-01-15  684.97  691.56  684.32  690.39   639018000
2019-01-16  692.72  693.50  687.43  693.38   788308000
2019-01-17  694.94  696.21  686.27  686.35   862713000
2019-01-18  690.83  696.34  689.80  696.34   819963000
2019-01-21  698.74  698.74  692.95  695.62   794340000
2019-01-22  698.00  698.30  692.45  694.55   794374000
2019-01-23  691.50  697.06  690.91  695.63   683156000
2019-01-24  696.97  704.78  696.80  704.41   605766000
2019-01-25  705.66  712.67  704.67  711.38   631593000
2019-01-28  713.41  717.31  711.96  714.26   664267000
2019-01-29  712.65  713.65  705.89  710.99   703386000
2019-01-30  712.87  716.77  711.71  715.30   719235000
2019-01-31  719.93  721.58  714.31  716.86   684510000
2019-02-01  719.08  719.74  714.66  716.92   643316000
2019-02-07  719.86  728.89  717.53  728.79   713057000
2019-02-08  726.40  729.74  724.99  728.74   736597000
2019-02-11  731.82  733.94  730.32  733.47   704616000
2019-02-12  734.87  735.14  729.52  730.58   692220000
2019-02-13  734.56  740.44  733.37  739.91   798623000
2019-02-14  740.69  742.46  737.07  742.27   738308000
2019-02-15  741.53  743.20  734.37  738.66   737999000
2019-02-18  743.53  746.81  742.50  745.33   734383000
2019-02-19  746.50  748.69  741.20  748.05   793917000
2019-02-20  749.52  751.66  747.56  750.69   885293000
2019-02-21  752.30  752.75  744.87  747.33   956554000
2019-02-22  747.25  748.11  740.94  743.38   965508000
2019-02-25  746.79  750.93  746.30  750.40   735845000
2019-02-26  752.25  753.66  746.12  747.09   956644000
2019-02-27  748.11  752.16  747.16  752.16   921722000
2019-02-28  753.29  755.92  731.25  731.25  1016481000

In [46]:
#df = get_index_ohlcv_by_date("20180101", "20180630", "코스피", "m")
df = get_index_ohlcv_by_date("20190101", "20190228", "코스닥",'m')
df

                시가      고가      저가      종가          거래량
날짜
2019-01-31  682.16  721.58  648.95  716.86  15020634000
2019-02-28  719.08  755.92  714.66  731.25  13731083000

In [47]:
df = get_index_portfolio_deposit_file("20190412", "코스피 소형주")
df

['095570',
 '068400',
 '001460',
 '011150',
 '000590',
 '012030',
 '016610',
 '004840',
 '155660',
 '069730',
 '001250',
 '039570',
 '089470',
 '082740',
 '003560',
 '009070',
 '009440',
 '119650',
 '092220',
 '001390',
 '001940',
 '025000',
 '092230',
 '000040',
 '044450',
 '030210',
 '058850',
 '000680',
 '229640',
 '023150',
 '008260',
 '004250',
 '100840',
 '003570',
 '036530',
 '101060',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '001510',
 '011810',
 '077970',
 '071970',
 '084870',
 '002710',
 '024070',
 '037270',
 '000500',
 '000860',
 '011420',
 '002100',
 '267290',
 '012320',
 '000050',
 '214390',
 '012610',
 '009140',
 '013580',
 '012200',
 '004200',
 '002140',
 '001290',
 '017040',
 '017900',
 '037710',
 '030610',
 '007690',
 '005320',
 '001140',
 '002720',
 '083420',
 '014530',
 '014280',
 '008870',
 '001570',
 '214330',
 '001210',
 '092440',
 '013700',
 '004540',
 '074610',
 '001260',
 '008350',
 '004270',
 '002070',
 '005720',
 '003580',
 '090350',
 '000320',
 '058730',
 '006370',
 '000490',
 '008110',
 '005750',
 '004440',
 '006570',
 '084690',
 '128820',
 '117580',
 '016710',
 '009190',
 '014160',
 '009320',
 '000430',
 '006340',
 '003220',
 '024890',
 '002880',
 '000300',
 '012800',
 '015230',
 '001070',
 '084010',
 '001790',
 '001130',
 '003830',
 '016090',
 '069460',
 '004830',
 '024900',
 '001620',
 '023450',
 '004140',
 '007590',
 '005960',
 '016380',
 '083370',
 '083380',
 '102260',
 '005190',
 '028100',
 '282690',
 '084670',
 '030790',
 '002900',
 '008970',
 '092780',
 '018500',
 '030720',
 '163560',
 '001530',
 '004890',
 '002690',
 '000020',
 '011160',
 '016740',
 '024090',
 '003160',
 '092200',
 '013570',
 '210540',
 '007340',
 '026890',
 '027740',
 '001080',
 '015540',
 '090370',
 '017180',
 '012690',
 '005360',
 '204210',
 '009680',
 '009200',
 '008420',
 '025560',
 '007120',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '155900',
 '003610',
 '001340',
 '014580',
 '035150',
 '002410',
 '007210',
 '002760',
 '000890',
 '001270',
 '026940',
 '011390',
 '005030',
 '100220',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '079660',
 '005090',
 '001470',
 '006660',
 '001360',
 '068290',
 '006110',
 '002170',
 '272550',
 '002810',
 '005680',
 '003720',
 '023000',
 '004380',
 '002450',
 '000520',
 '009770',
 '001880',
 '010960',
 '004450',
 '009470',
 '011230',
 '000390',
 '041650',
 '075180',
 '007540',
 '248170',
 '007860',
 '200880',
 '004410',
 '021050',
 '008490',
 '007610',
 '136490',
 '002820',
 '014910',
 '003080',
 '004980',
 '011300',
 '000180',
 '002420',
 '004360',
 '306200',
 '003030',
 '019440',
 '013000',
 '091090',
 '021820',
 '067830',
 '033530',
 '075580',
 '027970',
 '145210',
 '017550',
 '002200',
 '134790',
 '016590',
 '004970',
 '011930',
 '005390',
 '035510',
 '034300',
 '031440',
 '006880',
 '005800',
 '009270',
 '002700',
 '002870',
 '005450',
 '293940',
 '001770',
 '004080',
 '102280',
 '004770',
 '004920',
 '008700',
 '002030',
 '002310',
 '267850',
 '122900',
 '101140',
 '001780',
 '002250',
 '161000',
 '011090',
 '023960',
 '140910',
 '078520',
 '015260',
 '007460',
 '003060',
 '085310',
 '009810',
 '014440',
 '006740',
 '012280',
 '012160',
 '015360',
 '002630',
 '004720',
 '118000',
 '006980',
 '017370',
 '105840',
 '010400',
 '049800',
 '016880',
 '095720',
 '103130',
 '005820',
 '010600',
 '008600',
 '000910',
 '047400',
 '011330',
 '077500',
 '002920',
 '000700',
 '072130',
 '000220',
 '001200',
 '003460',
 '008730',
 '008250',
 '025820',
 '088260',
 '007660',
 '005950',
 '015020',
 '093230',
 '102460',
 '084680',
 '000760',
 '014990',
 '023800',
 '034590',
 '129260',
 '023810',
 '000230',
 '013360',
 '003120',
 '003200',
 '007110',
 '008500',
 '081000',
 '020760',
 '103590',
 '015860',
 '033240',
 '000950',
 '194370',
 '025620',
 '001560',
 '006220',
 '004910',
 '004700',
 '001550',
 '000480',
 '120030',
 '018470',
 '002600',
 '063160',
 '001630',
 '044380',
 '013870',
 '010580',
 '035000',
 '088790',
 '003780',
 '010640',
 '100250',
 '051630',
 '011000',
 '002780',
 '009310',
 '000650',
 '012600',
 '033250',
 '006380',
 '109070',
 '029460',
 '281820',
 '145270',
 '058860',
 '007810',
 '152330',
 '044820',
 '005070',
 '005420',
 '071950',
 '003070',
 '144620',
 '138490',
 '031820',
 '015590',
 '264900',
 '005740',
 '020120',
 '012170',
 '015890',
 '006890',
 '011280',
 '004100',
 '001420',
 '007980',
 '055490',
 '078000',
 '214420',
 '140890',
 '019180',
 '004870',
 '036580',
 '010820',
 '016800',
 '001020',
 '090080',
 '010770',
 '058430',
 '007630',
 '017810',
 '005810',
 '172580',
 '153360',
 '159650',
 '071090',
 '019490',
 '000140',
 '005430',
 '010040',
 '004090',
 '006200',
 '002300',
 '023350',
 '025890',
 '000970',
 '104700',
 '017960',
 '007280',
 '010100',
 '123690',
 '003350',
 '011500',
 '014790',
 '053690',
 '003680',
 '069640',
 '016450',
 '010420',
 '009180',
 '004710',
 '004150',
 '025750',
 '004960',
 '011700',
 '001750',
 '014130',
 '002220',
 '130660',
 '097230',
 '003480',
 '005110',
 '009460',
 '027390',
 '195870',
 '101530',
 '143210',
 '004560',
 '004310',
 '001500',
 '227840',
 '093240',
 '003010',
 '111110',
 '002460',
 '013520',
 '010690',
 '133820',
 '010660',
 '000850',
 '016580',
 '032560',
 '094280',
 '005870',
 '079980',
 '005010',
 '000540',
 '003280']

In [61]:
df = krx.IndexTicker().get_id("코스피")
df

'001'

In [65]:
df = get_index_portfolio_deposit_file("20200410", "코스피")
df

['095570',
 '006840',
 '027410',
 '282330',
 '138930',
 '001460',
 '001040',
 '079160',
 '000120',
 '011150',
 '097950',
 '000590',
 '012030',
 '016610',
 '005830',
 '000990',
 '139130',
 '001530',
 '004840',
 '155660',
 '069730',
 '017940',
 '007700',
 '114090',
 '078930',
 '006360',
 '001250',
 '007070',
 '012630',
 '039570',
 '089470',
 '294870',
 '082740',
 '003560',
 '175330',
 '234080',
 '001060',
 '096760',
 '105560',
 '002380',
 '009070',
 '009440',
 '119650',
 '092220',
 '001390',
 '001940',
 '025000',
 '092230',
 '000040',
 '044450',
 '030200',
 '033780',
 '030210',
 '058850',
 '058860',
 '093050',
 '003550',
 '034220',
 '001120',
 '051900',
 '032640',
 '011070',
 '066570',
 '108670',
 '037560',
 '051910',
 '079550',
 '006260',
 '010120',
 '000680',
 '229640',
 '023150',
 '035420',
 '181710',
 '005940',
 '338100',
 '034310',
 '008260',
 '004250',
 '010060',
 '005490',
 '100840',
 '064960',
 '003570',
 '036530',
 '010950',
 '034120',
 '101060',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '034730',
 '011790',
 '018670',
 '001740',
 '006120',
 '210980',
 '068400',
 '096770',
 '001510',
 '285130',
 '017670',
 '000660',
 '005610',
 '011810',
 '077970',
 '071970',
 '084870',
 '002710',
 '024070',
 '037270',
 '000500',
 '000860',
 '035250',
 '011420',
 '002100',
 '009450',
 '267290',
 '012320',
 '000050',
 '214390',
 '012610',
 '009140',
 '013580',
 '012200',
 '004200',
 '002140',
 '010130',
 '002240',
 '009290',
 '017040',
 '017900',
 '037710',
 '030610',
 '007690',
 '005320',
 '001140',
 '002720',
 '083420',
 '014530',
 '014280',
 '008870',
 '001570',
 '002990',
 '011780',
 '214330',
 '001210',
 '073240',
 '092440',
 '000270',
 '024110',
 '013700',
 '004540',
 '074610',
 '001260',
 '008350',
 '004270',
 '003920',
 '002070',
 '025860',
 '005720',
 '002350',
 '003580',
 '251270',
 '090350',
 '000320',
 '006280',
 '005250',
 '004370',
 '072710',
 '058730',
 '023590',
 '019680',
 '006370',
 '008060',
 '000490',
 '008110',
 '005750',
 '000210',
 '004440',
 '006570',
 '001680',
 '084690',
 '128820',
 '117580',
 '016710',
 '003540',
 '009190',
 '014160',
 '047040',
 '009320',
 '042660',
 '003090',
 '069620',
 '000430',
 '006340',
 '003220',
 '024890',
 '002880',
 '000300',
 '012800',
 '015230',
 '001070',
 '006650',
 '001440',
 '084010',
 '001790',
 '001130',
 '003490',
 '005880',
 '003830',
 '016090',
 '069460',
 '192080',
 '012510',
 '004830',
 '024900',
 '145720',
 '002150',
 '001230',
 '023450',
 '004140',
 '007590',
 '005960',
 '016380',
 '083370',
 '083380',
 '026960',
 '002210',
 '102260',
 '005190',
 '000640',
 '170900',
 '028100',
 '282690',
 '001520',
 '084670',
 '002900',
 '082640',
 '008970',
 '092780',
 '049770',
 '018500',
 '006040',
 '030720',
 '014820',
 '163560',
 '004890',
 '002690',
 '000020',
 '000150',
 '241560',
 '336370',
 '042670',
 '034020',
 '336260',
 '016740',
 '192650',
 '024090',
 '003160',
 '092200',
 '013570',
 '210540',
 '007340',
 '026890',
 '115390',
 '032350',
 '330590',
 '000400',
 '023530',
 '004000',
 '286940',
 '280360',
 '004990',
 '005300',
 '011170',
 '002270',
 '071840',
 '027740',
 '204320',
 '001080',
 '088980',
 '138040',
 '008560',
 '000060',
 '090370',
 '017180',
 '012690',
 '005360',
 '204210',
 '009680',
 '009580',
 '009200',
 '033920',
 '008420',
 '025560',
 '007120',
 '006800',
 '085620',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '155900',
 '003610',
 '001340',
 '014580',
 '035150',
 '002410',
 '007210',
 '002760',
 '003850',
 '000890',
 '003000',
 '001270',
 '026940',
 '015350',
 '011390',
 '005030',
 '100220',
 '101140',
 '005180',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '005090',
 '001470',
 '006400',
 '006660',
 '028260',
 '207940',
 '032830',
 '018260',
 '028050',
 '009150',
 '005930',
 '001360',
 '010140',
 '016360',
 '068290',
 '029780',
 '000810',
 '006110',
 '145990',
 '003230',
 '002170',
 '272550',
 '000070',
 '002810',
 '005680',
 '003720',
 '023000',
 '004380',
 '002450',
 '000520',
 '009770',
 '005500',
 '004690',
 '001880',
 '010960',
 '004450',
 '009470',
 '011230',
 '001820',
 '000390',
 '001290',
 '041650',
 '075180',
 '007540',
 '248170',
 '007860',
 '200880',
 '017390',
 '004410',
 '021050',
 '008490',
 '007610',
 '136490',
 '002820',
 '014910',
 '003080',
 '004980',
 '011300',
 '000180',
 '002420',
 '004360',
 '004490',
 '001430',
 '306200',
 '003030',
 '019440',
 '058650',
 '013000',
 '091090',
 '021820',
 '067830',
 '033530',
 '075580',
 '027970',
 '145210',
 '308170',
 '068270',
 '004430',
 '017550',
 '002200',
 '053210',
 '134790',
 '016590',
 '029530',
 '004970',
 '011930',
 '005390',
 '004170',
 '035510',
 '034300',
 '031430',
 '031440',
 '006880',
 '005800',
 '001720',
 '009270',
 '002700',
 '019170',
 '002870',
 '005450',
 '293940',
 '055550',
 '001770',
 '004080',
 '102280',
 '003410',
 '003620',
 '004770',
 '015540',
 '004920',
 '112610',
 '008700',
 '002790',
 '090430',
 '002030',
 '183190',
 '002310',
 '267850',
 '020560',
 '122900',
 '010780',
 '033660',
 '001780',
 '018250',
 '161000',
 '011090',
 '005850',
 '012750',
 '023960',
 '298690',
 '140910',
 '078520',
 '015260',
 '007460',
 '003060',
 '036570',
 '138250',
 '085310',
 '009810',
 '014440',
 '111770',
 '009970',
 '003520',
 '000670',
 '006740',
 '012280',
 '012160',
 '015360',
 '007310',
 '002630',
 '271560',
 '001800',
 '070960',
 '316140',
 '004720',
 '118000',
 '010050',
 '006980',
 '017370',
 '105840',
 '010400',
 '049800',
 '016880',
 '095720',
 '103130',
 '005820',
 '010600',
 '008600',
 '033270',
 '014830',
 '000910',
 '047400',
 '011330',
 '077500',
 '002920',
 '000700',
 '003470',
 '011690',
 '072130',
 '000220',
 '001200',
 '000100',
 '003460',
 '008730',
 '008250',
 '025820',
 '214320',
 '088260',
 '139480',
 '007660',
 '005950',
 '015020',
 '093230',
 '102460',
 '084680',
 '000760',
 '014990',
 '006490',
 '023800',
 '034590',
 '129260',
 '023810',
 '249420',
 '000230',
 '013360',
 '003120',
 '003200',
 '007110',
 '007570',
 '008500',
 '081000',
 '020760',
 '020150',
 '103590',
 '015860',
 '226320',
 '317400',
 '033240',
 '000950',
 '194370',
 '025620',
 '036420',
 '030000',
 '271980',
 '001560',
 '002620',
 '006220',
 '089590',
 '004910',
 '004700',
 '001550',
 '000480',
 '120030',
 '018470',
 '002600',
 '185750',
 '063160',
 '001630',
 '044380',
 '013890',
 '013870',
 '071320',
 '010580',
 '035000',
 '088790',
 '003780',
 '010640',
 '100250',
 '051630',
 '272450',
 '011000',
 '002780',
 '009310',
 '000650',
 '012600',
 '033250',
 '035720',
 '006380',
 '109070',
 '001620',
 '029460',
 '344820',
 '281820',
 '145270',
 '007810',
 '152330',
 '003690',
 '192820',
 '044820',
 '005070',
 '005420',
 '071950',
 '002020',
 '003070',
 '144620',
 '120110',
 '138490',
 '021240',
 '031820',
 '192400',
 '284740',
 '015590',
 '264900',
 '005740',
 '020120',
 '039490',
 '012170',
 '015890',
 '006890',
 '003240',
 '011280',
 '004100',
 '009410',
 '001420',
 '007980',
 '055490',
 '078000',
 '214420',
 '019180',
 '091810',
 '004870',
 '030790',
 '005690',
 '036580',
 '028670',
 '010820',
 '016800',
 '001020',
 '090080',
 '010770',
 '058430',
 '047050',
 '003670',
 '007630',
 '017810',
 '103140',
 '005810',
 '033180',
 '086790',
 '293480',
 '039130',
 '172580',
 '153360',
 '159650',
 '071090',
 '019490',
 '000080',
 '000140',
 '036460',
 '005430',
 '071050',
 '010040',
 '025540',
 '004090',
 '002960',
 '123890',
 '015760',
 '006200',
 '002300',
 '009540',
 '023350',
 '025890',
 '000970',
 '104700',
 '017960',
 '161890',
 '024720',
 '161390',
 '000240',
 '034830',
 '007280',
 '010100',
 '047810',
 '123690',
 '003350',
 '011500',
 '002390',
 '014790',
 '060980',
 '053690',
 '042700',
 '008930',
 '128940',
 '009240',
 '020000',
 '003680',
 '105630',
 '069640',
 '016450',
 '010420',
 '009180',
 '213500',
 '014680',
 '004710',
 '004150',
 '025750',
 '004960',
 '011700',
 '001750',
 '018880',
 '009420',
 '014130',
 '300720',
 '002220',
 '006390',
 '003300',
 '051600',
 '052690',
 '130660',
 '002320',
 '097230',
 '003480',
 '180640',
 '005110',
 '009460',
 '000880',
 '027390',
 '088350',
 '000370',
 '009830',
 '272210',
 '012450',
 '003530',
 '195870',
 '101530',
 '143210',
 '000720',
 '267270',
 '005440',
 '086280',
 '064350',
 '079430',
 '012330',
 '010620',
 '069960',
 '004560',
 '011760',
 '011200',
 '004310',
 '322000',
 '126560',
 '017800',
 '307950',
 '011210',
 '267260',
 '004020',
 '267250',
 '005380',
 '001500',
 '227840',
 '001450',
 '057050',
 '093240',
 '003010',
 '111110',
 '008770',
 '002460',
 '013520',
 '241590',
 '006060',
 '010690',
 '133820',
 '010660',
 '000850',
 '016580',
 '032560',
 '004800',
 '094280',
 '298040',
 '298050',
 '298020',
 '298000',
 '093370',
 '081660',
 '005870',
 '079980',
 '005010',
 '069260',
 '000540',
 '003280']

In [52]:
df = get_shorting_investor_volume_by_date("20190401", "20190405", "KOSPI")
df

                 기관      개인      외국인    기타        합계
날짜
2019-04-01  3402249  133996  5702788   200   9239233
2019-04-02  2883434  139801  5580395     0   8603630
2019-04-03  3589910  127075  6375248     0  10092233
2019-04-04  3200221  119193  5604505  1405   8925324
2019-04-05  3163018  134396  6882981  1754  10182149

In [53]:
df = get_shorting_investor_price_by_date("20190401", "20190405", "KOSPI")
df

                      기관          개인           외국인        기타            합계
날짜
2019-04-01  105536073368  2936388505  168285844893  30302100  276788608866
2019-04-02   96384728941  2951117600  160734480125         0  260070326666
2019-04-03  112539971387  2169492030  180355524574         0  295064987991
2019-04-04   92635400253  2294543280  175873863029  10918080  270814724642
2019-04-05   90581343837  1221266912  150558110496   2218810  242362940055

In [54]:
df = get_shorting_volume_top50("20190401", "KOSPI")
df

,순위,공매도거래대금,총거래대금,공매도비중,직전40일거래대금평균,공매도거래대금증가율,직전40일공매도평균비중,공매도비중증가율,주가수익률
종목명,,,,,,,,,
DGB금융지주,1,5041915380,7429640690,67.862,855497798,5.894,16.900,4.015,2.081
BGF리테일,2,1594605500,3610016500,44.172,866076025,1.841,19.277,2.291,-3.432
쌍용차,3,301318290,787566640,38.259,55733550,5.406,7.131,5.366,-1.373
GS리테일,4,2121989300,5601127100,37.885,895386019,2.370,16.672,2.272,-1.277
한라홀딩스,5,104073700,335436950,31.026,64204705,1.621,8.073,3.843,1.597
한진칼,6,2016373850,6705409300,30.071,807177084,2.498,5.366,5.604,-0.584
대교,7,88865460,300967420,29.527,11292795,7.869,4.175,7.073,0.162
빙그레,8,411658700,1546122500,26.625,100386210,4.101,8.597,3.097,1.043
롯데쇼핑,9,3677116500,14275196500,25.759,763216300,4.818,5.975,4.311,0.281
CJ,10,662563000,2829381000,23.417,460636075,1.438,7.543,3.105,1.606
LG하우시스,11,361272500,1562829500,23.117,224860045,1.607,9.514,2.430,1.647
LIG넥스원,12,1059122350,4876130200,21.721,361109390,2.933,6.501,3.341,0.889
넷마블,13,4352353500,20086781500,21.668,4405049550,0.988,14.565,1.488,-1.200
엔씨소프트,14,8205709500,37898923000,21.652,4074636300,2.014,7.919,2.734,-1.109
한국자산신탁,15,26458955,123268525,21.464,8862019,2.986,4.283,5.012,-0.120
금호타이어,16,216213060,1016805100,21.264,272493392,0.793,14.261,1.491,0.343
BGF,17,213504880,1014207120,21.051,52564665,4.062,3.794,5.549,-0.856
동성코퍼레이션,18,44903150,214553010,20.929,13943866,3.220,3.960,5.285,0.753
농심홀딩스,19,51400000,249401900,20.609,3967010,12.957,2.097,9.827,0.465
삼성바이오로직스,20,6532672000,31884814000,20.488,8764927963,0.745,18.221,1.124,2.504
동국제강,21,496082290,2427808800,20.433,198220755,2.503,9.195,2.222,3.935
아모레G,22,1128008300,5878083500,19.190,1046253635,1.078,9.695,1.979,2.443
에스원,23,757119200,3954750700,19.145,437807673,1.729,9.196,2.082,-0.697
무학,24,29854350,156917400,19.026,60916241,0.490,19.837,0.959,2.745
남양유업,25,34362000,182185000,18.861,25071750,1.371,7.342,2.569,-0.326
S&T모티브,26,515573550,2763917750,18.654,133665324,3.857,8.046,2.319,4.404
계룡건설,27,53673300,289712850,18.526,11237734,4.776,2.740,6.761,2.273
롯데지주,28,807350350,4369594250,18.477,1028809241,0.785,15.747,1.173,0.101
롯데관광개발,29,352630950,1909775950,18.465,182928166,1.928,3.956,4.667,0.794
큐로,30,10781023,58718949,18.360,4751129,2.269,1.666,11.019,0.992
현대중공업지주,31,1435662000,8249706000,17.403,722951088,1.986,6.730,2.586,1.952
KT,32,6314120350,37311112150,16.923,974556765,6.479,5.828,2.904,-0.547
현대로템,33,3358044350,20426215500,16.440,2853003724,1.177,8.768,1.875,0.860
신성이엔지,34,123315420,750602330,16.429,77606252,1.589,5.902,2.784,0.830
한미사이언스,35,286043000,1749305700,16.352,474575863,0.603,12.564,1.301,0.129
현대차2우B,36,317544600,1962852100,16.178,351321370,0.904,6.745,2.399,0.786
코스맥스,37,1000390000,6239948500,16.032,1000484400,1.000,11.561,1.387,1.980
아모레퍼시픽우,38,250772500,1564555500,16.028,131718728,1.904,15.670,1.023,3.738
더존비즈온,39,466806850,2943435600,15.859,511107134,0.913,9.338,1.698,-1.288
효성,40,964263400,6095855400,15.818,1311011503,0.736,11.820,1.338,0.000
LG화학,41,9948867500,63586807000,15.646,9424206338,1.056,12.080,1.295,1.230
일양약품,42,137375700,878532250,15.637,32673729,4.204,2.140,7.306,0.349
동아에스티,43,225980600,1479141300,15.278,95802010,2.359,4.365,3.500,-0.622
삼성SDI,44,7941148500,54122522500,14.673,6060864225,1.310,6.477,2.265,0.932
하이트진로,45,342015650,2360101800,14.492,317945146,1.076,10.130,1.430,-0.811
웅진,46,73590110,511107180,14.398,131377744,0.560,4.557,3.159,0.853
CJ CGV,47,661736000,4637653100,14.269,1489084216,0.444,16.887,0.845,2.535
현대위아,48,718695650,5071677350,14.171,855800889,0.840,15.543,0.912,4.691
두산인프라코어,49,2834265930,20091530930,14.107,1602273707,1.769,9.802,1.439,3.688
고려아연,50,1969008000,14101278000,13.963,1259901213,1.563,9.206,1.517,0.968

In [55]:
df = get_shorting_balance_by_ticker("20190401", "20190405", "005930")
df

              공매도잔고       상장주식수         공매도금액             시가총액    비중
날짜
2019-04-01  3403293  5969782550  153318349650  268938703877500  0.06
2019-04-02  3435390  5969782550  157169092500  273117551662500  0.06
2019-04-03  3380137  5969782550  157514384200  278191866830000  0.06
2019-04-04  3419184  5969782550  160530688800  280281290722500  0.06
2019-04-05  3421622  5969782550  160302990700  279684312467500  0.06

In [57]:
df = get_shorting_balance_top50("20190401", "KOSDAQ")
df

              종목명  순위      잔고수량        주식수          잔고금액           시가총액     비중
티커
215600        신라젠   1  10682769   70363125  691175154300  4552494187500  15.18
028300      에이치엘비   2   3583715   39235182  287055571500  3142738078200   9.13
086520       에코프로   3   1537840   22090191   42675060000   613002800250   6.96
263750       펄어비스   4    868937   13015720  145286266400  2176228384000   6.68
200230     텔콘RF제약   5   5239941   82736256   39771152190   627968183040   6.33
067630  에이치엘비생명과학   6   2277066   36298625   37116175800   591667587500   6.27
034230      파라다이스   7   4261451   90942672   77558408200  1655156630400   4.69
010170      대한광통신   8   3361436   73741625   13580201440   297916165000   4.56
091990   셀트리온헬스케어   9   6348321  140526549  424067842800  9387173473200   4.52
066970       엘앤에프  10   1086346   24758729   31666985900   721716950350   4.39
122870  와이지엔터테인먼트  11    776657   18185709   28775141850   673780518450   4.27
090710     디에스티로봇  12   3070229   73694978    4375076325   105015343650   4.17
068760     셀트리온제약  13   1406093   34065904   78600598700  1904284033600   4.13
068240       다원시스  14   1065144   26101057   16882532400   413701753450   4.08
095610         테스  15    789914   19768226   14731896100   368677414900   4.00
084990      바이로메드  16    596549   15956260  163991320100  4386375874000   3.74
073070        에스모  17   3209228   87666769   19736752200   539150629350   3.66
065620        제낙스  18    810324   22486744   11222987400   311441404400   3.60
067390        아스트  19    554989   15844233    8630078950   246377823150   3.50
003670     포스코케미칼  20   1969701   59070000  118182060000  3544200000000   3.34
078160      메디포스트  21    256909    7868421    9801078350   300180261150   3.26
065060        지엔코  22   3146961   98008044    5161016040   160733192160   3.21
032820       우리기술  23   2691745   85399992    4037617500   128099988000   3.15
059090         미코  24    944052   31316603    6447875160   213892398490   3.02
237690       에스티팜  25    539919   18656000   11986201800   414163200000   2.89
091700        파트론  26   1563704   54156410   21110004000   731111535000   2.89
007390       네이처셀  27   1523160   53056399   19572606000   681774727150   2.87
021080   에이티넘인베스트  28   1294823   48000000    3172316350   117600000000   2.70
054780       키이스트  29   2276875   85175625    7297384375   272987878125   2.67
066700     테라젠이텍스  30    803158   30935143    8393001100   323272244350   2.60
115450     지트리비앤티  31    634214   24491837   17821413400   688220619700   2.59
018000        유니슨  32   2329684   93600606    3098479720   124488805980   2.49
016670     포비스티앤씨  33    966875   40078058    1832228125    75947919910   2.41
196450        텔루스  34   2949201  124056371    2500922448   105199802608   2.38
049180       셀루메드  35    482608   20428011    4415863200   186916300650   2.36
117670      알파홀딩스  36    307157   13144440    3470874100   148532172000   2.34
042000       카페24  37    219479    9430597   23593992500  1013789177500   2.33
094190       이엘케이  38   1665100   72327965    1310433700    56922108455   2.30
087010        펩트론  39    340745   15326500    7683799750   345612575000   2.22
058820      CMG제약  40   2407242  108887244   11013132150   498159141300   2.21
065950        웰크론  41    592643   26856058    2880244980   130520441880   2.21
035480       마제스타  42    993826   45529070    1465893350    67155378250   2.18
098460         고영  43    296960   13687951   26073088000  1201802097800   2.17
041960        코미팜  44   1252766   58070833   28813618000  1335629159000   2.16
011320        유니크  45    408847   19320695    3593765130   169828909050   2.12
065940       바이오빌  46    919510   43987186    1503398850    71919049110   2.09
237880        클리오  47    354056   16967895    6868686400   329177163000   2.09
217480    에스디생명공학  48    467336   22415066    4495772320   215632934920   2.08
178920   SKC코오롱PI  49    603721   29366322   18473862600   898609453200   2.06
126870        뉴로스  50    445535   21781659    2958352400   144630215760   2.04

In [59]:
df = get_etf_ticker_list()
df

[]

In [36]:
from pykrx import stock,website

In [37]:
a  = website.krx.SRT02010100()# 02010100  개별종목 공매도 종합 현황 http://short.krx.co.kr/contents/SRT/02/02010100/SRT02010100.jsp

In [38]:
a.read('20190101','20191227','KR7215790007')#02010100  개별종목 공매도 종합 현황

,totCnt,rn,trd_dd,isu_cd,isu_abbrv,cvsrtsell_trdvol,str_const_val1,cvsrtsell_trdval,str_const_val2
0,245,1,2019/12/27,KR7215790007,이노인스트루먼트,"3,617",0,"7,752,030",0
1,245,2,2019/12/26,KR7215790007,이노인스트루먼트,0,0,0,0
2,245,3,2019/12/24,KR7215790007,이노인스트루먼트,0,0,0,0
3,245,4,2019/12/23,KR7215790007,이노인스트루먼트,"1,109",0,"2,745,615",0
4,245,5,2019/12/20,KR7215790007,이노인스트루먼트,771,0,"2,419,655",0
...,...,...,...,...,...,...,...,...,...
240,245,241,2019/01/08,KR7215790007,이노인스트루먼트,"1,523","16,192","10,733,490","113,829,760"
241,245,242,2019/01/07,KR7215790007,이노인스트루먼트,104,"16,192","712,350","111,077,120"
242,245,243,2019/01/04,KR7215790007,이노인스트루먼트,878,"16,188","5,889,360","112,020,960"
243,245,244,2019/01/03,KR7215790007,이노인스트루먼트,"12,214","16,067","72,298,250","107,327,560"
244,245,245,2019/01/02,KR7215790007,이노인스트루먼트,"3,011",0,"15,053,700",0

In [30]:
a  = website.krx.SRT02020100() #02020100 공매도 거래 현황 market: 1 (코스피) / 3 (코스닥) / 4 (코넥스)http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

['006840',
 '027410',
 '282330',
 '138930',
 '001040',
 '079160',
 '000120',
 '097950',
 '005830',
 '000990',
 '114090',
 '078930',
 '006360',
 '007070',
 '012630',
 '294870',
 '001060',
 '096760',
 '105560',
 '002380',
 '030200',
 '033780',
 '093050',
 '003550',
 '034220',
 '001120',
 '051900',
 '032640',
 '011070',
 '066570',
 '108670',
 '051910',
 '079550',
 '006260',
 '010120',
 '035420',
 '005940',
 '010060',
 '005490',
 '064960',
 '010950',
 '034730',
 '011790',
 '001740',
 '006120',
 '096770',
 '285130',
 '017670',
 '000660',
 '005610',
 '035250',
 '010130',
 '002240',
 '011780',
 '073240',
 '000270',
 '024110',
 '003920',
 '025860',
 '002350',
 '251270',
 '006280',
 '005250',
 '004370',
 '019680',
 '008060',
 '000210',
 '001680',
 '047040',
 '042660',
 '069620',
 '006650',
 '003490',
 '001230',
 '026960',
 '000640',
 '170900',
 '001520',
 '049770',
 '014820',
 '000150',
 '241560',
 '042670',
 '034020',
 '115390',
 '023530',
 '004000',
 '004990',
 '005300',
 '011170',
 '002270',
 '071840',
 '204320',
 '008560',
 '006800',
 '003850',
 '003000',
 '005180',
 '006400',
 '028260',
 '207940',
 '032830',
 '018260',
 '028050',
 '009150',
 '005930',
 '010140',
 '016360',
 '029780',
 '000810',
 '145990',
 '000070',
 '004490',
 '001430',
 '068270',
 '004170',
 '031430',
 '055550',
 '003410',
 '003620',
 '002790',
 '090430',
 '010780',
 '018250',
 '005850',
 '012750',
 '036570',
 '111770',
 '003520',
 '000670',
 '007310',
 '271560',
 '001800',
 '316140',
 '014830',
 '000100',
 '214320',
 '139480',
 '007570',
 '020150',
 '030000',
 '185750',
 '035720',
 '192820',
 '120110',
 '021240',
 '192400',
 '003240',
 '028670',
 '047050',
 '103140',
 '086790',
 '000080',
 '036460',
 '071050',
 '025540',
 '002960',
 '015760',
 '009540',
 '161890',
 '161390',
 '000240',
 '047810',
 '060980',
 '008930',
 '128940',
 '009240',
 '020000',
 '105630',
 '014680',
 '018880',
 '009420',
 '006390',
 '051600',
 '052690',
 '000880',
 '088350',
 '009830',
 '012450',
 '000720',
 '005440',
 '086280',
 '064350',
 '079430',
 '012330',
 '010620',
 '069960',
 '017800',
 '011210',
 '004020',
 '267250',
 '005380',
 '001450',
 '057050',
 '008770',
 '004800',
 '298040',
 '093370',
 '081660',
 '069260']

In [ ]:
a.read('20190101','20191227',1) #02020100 공매도 거래 현황market: 1 (코스피) / 3 (코스닥) / 4 (코넥스) http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

In [ ]:
a = website.krx.market.ticker._StockFinder() # 상장종목 검색 http://marketdata.krx.co.kr/mdi#document=040204

In [ ]:
a.read('STK')

In [ ]:
a.read('KSQ')

In [ ]:
a.read('ALL')

In [ ]:
a = website.krx.market.ticker._DelistingFinder() # 상장폐지종목 검색

In [ ]:
a.read('ALL')

In [ ]:
a = website.krx.market.ticker._StockTicker()## 조회일 기준의 상장/상폐 종목 리스트 market: 전체/코스피/코스닥/코넥스 - 입력하지 않을 경우 전체

In [49]:
a._get_stock_info_listed(market='전체')

AttributeError: 'SRT02020100' object has no attribute '_get_stock_info_listed'

In [50]:
a = website.naver.core.Sise()

In [51]:
a.read('006800',10,'week')

'<?xml version="1.0" encoding="EUC-KR" ?>\n\n<protocol>\n\n\n\n\t\n\t\n\t\t\t<chartdata symbol="006800" name="미래에셋대우" count="10" timeframe="week" precision="0" origintime="19900302">\n\t\t\t\n\t\t\t\t<item data="20200207|6790|7200|6700|7060|10922854" />\n\t\t\t\n\t\t\t\t<item data="20200214|7000|7090|6930|7010|7492259" />\n\t\t\t\n\t\t\t\t<item data="20200221|7030|7030|6690|6700|7224927" />\n\t\t\t\n\t\t\t\t<item data="20200228|6540|6690|6320|6340|11928932" />\n\t\t\t\n\t\t\t\t<item data="20200306|6350|6720|6250|6490|8952848" />\n\t\t\t\n\t\t\t\t<item data="20200313|6350|6360|5170|5510|16548002" />\n\t\t\t\n\t\t\t\t<item data="20200320|5580|5670|3505|3985|31120377" />\n\t\t\t\n\t\t\t\t<item data="20200327|3615|5520|3565|5200|36769104" />\n\t\t\t\n\t\t\t\t<item data="20200403|4950|5490|4685|4920|21984734" />\n\t\t\t\n\t\t\t\t<item data="20200410|4965|5290|4935|5150|21483639" />\n\t\t\t\n\t\n\n\n\t</chartdata>\n</protocol>\n'

In [52]:
stock.api.get_market_ticker_list()

['060310',
 '095570',
 '006840',
 '054620',
 '265520',
 '211270',
 '027410',
 '282330',
 '138930',
 '001460',
 '001465',
 '001040',
 '079160',
 '035760',
 '00104K',
 '000120',
 '011150',
 '011155',
 '001045',
 '097950',
 '097955',
 '051500',
 '058820',
 '023460',
 '065770',
 '083660',
 '000590',
 '012030',
 '322780',
 '016610',
 '005830',
 '000990',
 '000995',
 '139130',
 '001530',
 '068790',
 '004840',
 '241520',
 '155660',
 '069730',
 '017940',
 '245620',
 '037370',
 '079190',
 '007700',
 '130500',
 '114090',
 '078930',
 '083450',
 '006360',
 '001250',
 '007070',
 '078935',
 '028150',
 '045890',
 '078150',
 '012630',
 '039570',
 '089470',
 '294870',
 '036640',
 '082740',
 '299170',
 '335890',
 '335870',
 '276920',
 '003560',
 '095340',
 '099520',
 '175330',
 '950170',
 '234080',
 '067290',
 '001060',
 '001067',
 '001065',
 '096760',
 '035900',
 '024840',
 '105560',
 '024120',
 '002380',
 '021320',
 '036670',
 '009070',
 '009440',
 '112190',
 '119650',
 '044180',
 '092220',
 '151860',
 '046440',
 '035600',
 '001390',
 '060720',
 '001940',
 '083470',
 '122450',
 '052900',
 '058400',
 '114450',
 '025000',
 '092230',
 '000040',
 '044450',
 '030200',
 '033780',
 '030210',
 '036030',
 '058850',
 '058860',
 '060370',
 '093050',
 '003550',
 '034220',
 '001120',
 '051900',
 '051905',
 '003555',
 '032640',
 '011070',
 '066570',
 '066575',
 '108670',
 '108675',
 '037560',
 '051910',
 '051915',
 '079550',
 '183350',
 '006260',
 '010120',
 '000680',
 '229640',
 '023150',
 '065150',
 '219550',
 '035420',
 '160550',
 '053290',
 '181710',
 '104200',
 '060250',
 '005940',
 '005945',
 '338100',
 '034310',
 '030190',
 '008260',
 '004250',
 '004255',
 '010060',
 '024940',
 '005490',
 '218410',
 '091340',
 '100840',
 '064960',
 '003570',
 '036530',
 '010950',
 '010955',
 '019550',
 '950110',
 '034120',
 '101060',
 '046140',
 '036120',
 '099220',
 '036540',
 '255220',
 '040610',
 '049470',
 '184230',
 '224880',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '034730',
 '307070',
 '337450',
 '340350',
 '011790',
 '057500',
 '178920',
 '018670',
 '001740',
 '001745',
 '006120',
 '006125',
 '210980',
 '068400',
 '036490',
 '052260',
 '03473K',
 '096770',
 '096775',
 '001510',
 '001515',
 '285130',
 '28513K',
 '017670',
 '000660',
 '048550',
 '063440',
 '950180',
 '005610',
 '011810',
 '077970',
 '071970',
 '289080',
 '084870',
 '002710',
 '089230',
 '161570',
 '032540',
 '048770',
 '246690',
 '284610',
 '038340',
 '073570',
 '024070',
 '052300',
 '057030',
 '037270',
 '040300',
 '051390',
 '052220',
 '079940',
 '078890',
 '000500',
 '192410',
 '000860',
 '217730',
 '114190',
 '035250',
 '011420',
 '094480',
 '063080',
 '039240',
 '053950',
 '002100',
 '009450',
 '267290',
 '012320',
 '011040',
 '000050',
 '214390',
 '012610',
 '009140',
 '024910',
 '013580',
 '012200',
 '012205',
 '004200',
 '002140',
 '198440',
 '049720',
 '010130',
 '002240',
 '014570',
 '098460',
 '038530',
 '900280',
 '215000',
 '121440',
 '183410',
 '076340',
 '009290',
 '014200',
 '017040',
 '017900',
 '037710',
 '026910',
 '090150',
 '267320',
 '307280',
 '331520',
 '030610',
 '329050',
 '053270',
 '007690',
 '005320',
 '001140',
 '066620',
 '043650',
 '006050',
 '060480',
 '078130',
 '002720',
 '243870',
 '204020',
 '083420',
 '186230',
 '014530',
 '900070',
 '204620',
 '019660',
 '032860',
 '014280',
 '014285',
 '053260',
 '008870',
 '001570',
 '002990',
 '002995',
 '011780',
 '011785',
 '214330',
 '001210',
 '073240',
 '036190',
 '049080',
 '035460',
 '092440',
 '000270',
 '024110',
 '013700',
 '308100',
 '004540',
 '004545',
 '187790',
 '074610',
 '286750',
 '151910',
 '121600',
 '039860',
 '091970',
 '244880',
 '288490',
 '051490',
 '190510',
 '242040',
 '089600',
 '293580',
 '138610',
 '130580',
 '036800',
 '001260',
 '008350',
 '008355',
 '004270',
 '003920',
 '003925',
 '002070',
 '025860',
 '111710',
 '091590',
 '168330',
 '056000',
 '253590',
 '212560',
 '095660',
 '042420',
 '311390',
 '085910',
 '092730',
 '290660',
 '306620',
 '153460',
 '007390',
 '086220',
 '033640',
 '005720',
 '005725',
 '002350',
 '002355',
 '089140',
 '065170',
 '003580',
 '137940',
 '041140',
 '217270',
 '225570',
 '251270',
 '317860',
 '104620',
 '090350',
 '090355',
 '000320',
 '000325',
 '194700',
 '285490',
 '229500',
 '278650',
 '006280',
 '144510',
 '031390',
 '142280',
 '234690',
 '005250',
 '005257',
 '065560',
 '004370',
 '072710',
 '054050',
 '040160',
 '069140',
 '126870',
 '060260',
 '012340',
 '214870',
 '270870',
 '144960',
 '900100',
 '085670',
 '119860',
 '064260',
 '093640',
 '039560',
 '058730',
 '023590',
 '032190',
 '323350',
 '068240',
 '086080',
 '271850',
 '019680',
 '019685',
 '006370',
 '008060',
 '00806K',
 '178600',
 '000490',
 '020400',
 '008830',
 '048470',
 '008110',
 '004780',
 '005750',
 '000210',
 '000215',
 '004440',
 '017650',
 '006570',
 '007720',
 '317850',
 '290670',
 '078140',
 '001680',
 '001685',
 '084690',
 '084695',
 '036480',
 '128820',
 '117580',
 '025440',
 '027830',
 '104040',
 '016710',
 '307750',
 '332290',
 '336570',
 '020180',
 '003540',
 '003547',
 '003545',
 '045390',
 '009190',
 '108380',
 '006580',
 '014160',
 '047040',
 '009320',
 '042660',
 '003090',
 '069620',
 '007680',
 '000430',
 '048910',
 '005710',
 '006340',
 '006345',
 '003220',
 '024890',
 '290380',
 '002880',
 '290120',
 '000300',
 '120240',
 '003310',
 '114920',
 '078600',
 '012800',
 '015230',
 '096350',
 '140520',
 '131220',
 '010170',
 '054670',
 '001070',
 '023910',
 '006650',
 '001440',
 '084010',
 '001790',
 '001795',
 '001130',
 '003490',
 '003495',
 '005880',
 '003830',
 '016090',
 '069460',
 '021040',
 '021045',
 '067080',
 '192080',
 '035290',
 '012510',
 '302920',
 '213420',
 '317330',
 '077360',
 '004830',
 '004835',
 '090410',
 '024900',
 '263600',
 '194480',
 '263800',
 '199150',
 '139050',
 '206560',
 '145720',
 '227420',
 '067990',
 '002150',
 '006620',
 '100130',
 '005160',
 '075970',
 '001230',
 '086450',
 '023450',
 '004140',
 '099410',
 '007590',
 '005960',
 '005965',
 '016380',
 '016385',
 '083370',
 '083380',
 '026960',
 '002210',
 '102260',
 '033500',
 '005190',
 '025950',
 '000640',
 '170900',
 '088130',
 '028100',
 '282690',
 '041930',
 '001520',
 '001527',
 '001529',
 '084670',
 '002900',
 '082640',
 '060380',
 '001525',
 '079960',
 '008970',
 '228340',
 '092780',
 '104460',
 '088910',
 '094170',
 '049770',
 '013120',
 '018500',
 '006040',
 '030720',
 '014820',
 '014825',
 '163560',
 '109860',
 '032960',
 '004890',
 '002690',
 '023790',
 '005290',
 '025900',
 '000020',
 '000150',
 '000157',
 '241560',
 '336370',
 '33637K',
 '33637L',
 '000155',
 '042670',
 '034020',
 '336260',
 '33626K',
 '33626L',
 '016740',
 '078590',
 '073190',
 '176750',
 '030350',
 '203650',
 '060570',
 '192650',
 '217620',
 '187870',
 '066670',
 '024090',
 '003160',
 '092200',
 '110990',
 '263690',
 '214680',
 '263720',
 '109740',
 '033430',
 '131030',
 '196490',
 '066900',
 '127120',
 '092070',
 '134580',
 '039840',
 '196450',
 '013570',
 '210540',
 '079810',
 '227100',
 '113810',
 '043360',
 '197140',
 '106520',
 '068930',
 '033130',
 '033310',
 '105740',
 '263020',
 '290550',
 '007340',
 '187220',
 '026890',
 '163430',
 '131180',
 '317120',
 '042510',
 '232680',
 '300120',
 '036170',
 '050120',
 '171120',
 '069540',
 '285770',
 '214260',
 '115390',
 '200350',
 '171010',
 '084650',
 '217500',
 '092590',
 '033600',
 '141080',
 '060300',
 '038390',
 '294140',
 '228670',
 '228850',
 '281740',
 '238120',
 '215100',
 '090360',
 '238500',
 '108490',
 '067730',
 '071280',
 '032350',
 '330590',
 '000400',
 '023530',
 '004000',
 '286940',
 '280360',
 '004990',
 '00499K',
 '005300',
 '005305',
 '011170',
 '002270',
 '071840',
 '038060',
 '082800',
 '162120',
 '085370',
 '08537M',
 '060240',
 '058470',
 '039980',
 '019570',
 '016100',
 '197210',
 '012700',
 '302550',
 '277070',
 '042500',
 '219420',
 '027740',
 '195500',
 '305090',
 '098120',
 '227950',
 '147760',
 '038290',
 '204320',
 '001080',
 '267980',
 '005990',
 '127160',
 '093520',
 '141070',
 '088980',
 '094800',
 '100590',
 '067280',
 '072870',
 '215200',
 '133750',
 '235980',
 '200580',
 '041920',
 '233250',
 '014100',
 '236340',
 '086900',
 '047920',
 '078160',
 '065650',
 '138040',
 '008560',
 '000060',
 '021880',
 '140410',
 '241770',
 '090370',
 '059210',
 '327260',
 '058110',
 '096640',
 '017180',
 '257370',
 '267060',
 '012690',
 '005360',
 '149940',
 '080420',
 '080160',
 '204210',
 '100030',
 '087260',
 '101330',
 '012860',
 '250060',
 '033200',
 '009680',
 '118990',
 '006920',
 '009580',
 '001810',
 '009200',
 '033920',
 '008420',
 '279600',
 '028040',
 '095500',
 '025560',
 '218150',
 '007120',
 '006800',
 '00680K',
 '328380',
 '333430',
 '006805',
 '100790',
 '085620',
 '049950',
 '213090',
 '207760',
 '225850',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '059090',
 '214610',
 '201490',
 '214180',
 '155900',
 '206640',
 '018700',
 '035620',
 '064520',
 '029480',
 '053030',
 '064550',
 '208710',
 '142760',
 '065940',
 '086820',
 '038460',
 '281310',
 '044480',
 '216400',
 '086040',
 '199290',
 '032980',
 '222160',
 '043150',
 '003610',
 '267790',
 '001340',
 '014580',
 '046310',
 '035150',
 '036620',
 '066410',
 '002410',
 '019010',
 '177350',
 '299910',
 '096300',
 '007210',
 '225530',
 '250000',
 '002760',
 '003850',
 '006910',
 '000890',
 '226340',
 '206950',
 '003000',
 '001270',
 '001275',
 '026940',
 '014470',
 '015350',
 '011390',
 '005030',
 '008470',
 '100120',
 '066980',
 '064480',
 '288330',
 '251630',
 '018290',
 '263920',
 '033560',
 '126340',
 '121800',
 '148140',
 '100220',
 '200780',
 '141000',
 '090460',
 '083650',
 '215050',
 '271780',
 '086670',
 '138580',
 '082920',
 '054220',
 '042370',
 '032850',
 '101140',
 '148780',
 '238200',
 '093190',
 '065450',
 '210120',
 '005180',
 '072950',
 '143240',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '100090',
 '005090',
 '122350',
 '014970',
 '018310',
 '053700',
 '009620',
 '023600',
 '111870',
 '001470',
 '006400',
 '006405',
 '006660',
 '309930',
 '028260',
 '02826K',
 '207940',
 '032830',
 '291230',
 '018260',
 '028050',
 '009150',
 '009155',
 '005930',
 '005935',
 '001360',
 '010140',
 '010145',
 '016360',
 '068290',
 '029780',
 '000810',
 '000815',
 '006110',
 '009300',
 '145990',
 '145995',
 '003230',
 '225190',
 '002170',
 '272550',
 '000070',
 '000075',
 '002810',
 '054540',
 '065570',
 '005680',
 '003720',
 '023000',
 '073640',
 '004380',
 '002450',
 '032280',
 '002290',
 '000520',
 '009770',
 '037460',
 '032750',
 '054090',
 '005500',
 '000250',
 '004690',
 '024950',
 '038500',
 '017480',
 '001880',
 '010960',
 '046390',
 '004450',
 '009470',
 '011230',
 '001820',
 '000390',
 '027580',
 '038540',
 '307870',
 '329560',
 '101000',
 '001290',
 '041650',
 '091580',
 '263810',
 '089980',
 '042940',
 '042600',
 '075180',
 '263540',
 '007540',
 '248170',
 '294630',
 '038070',
 '006730',
 '079650',
 '100660',
 '007860',
 '200880',
 '019770',
 '017390',
 '043710',
 '092190',
 '046890',
 '004410',
 '004415',
 '063170',
 '027040',
 '018680',
 '021050',
 '093920',
 '189860',
 ...]

In [53]:
stock.api.get_index_ticker_list('20191227', market="KOSPI")

['코스피',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주']

In [54]:
stock.api.get_index_kosdaq_ohlcv_by_date("20200101", "20200410",'코스닥 150')

TypeError: isinstance expected 2 arguments, got 3

In [55]:
df = stock.api.get_index_ohlcv_by_date("20190101", "20190228", "코스피 200")
print(df.head(2))

AttributeError: module 'pykrx.stock.api' has no attribute 'get_index_ohlcv_by_date'

In [56]:
from pykrx import stock

In [57]:
stock.api.get_index_kosdaq_ohlcv_by_date("20190101", "20190228", "코스닥 150")

TypeError: isinstance expected 2 arguments, got 3

In [58]:
stock.api.get_market_fundamental_by_ticker("20191227")

             종목명   DIV    BPS     PER   EPS       PBR
티커
000250     삼천당제약  0.14   6719   84.47   409  5.141871
000440    중앙에너비스  2.04   7269    8.18   958  1.078063
001000      신라섬유  0.00    587  288.57     7  3.441210
001540      안국약품  2.06  11253    9.27  1154  0.950642
001810      무림SP  1.56   9212    4.45   505  0.243948
...          ...   ...    ...     ...   ...       ...
33626K   두산퓨얼셀1우  0.00      0    0.00     0  0.000000
33626L  두산퓨얼셀2우B  0.00      0    0.00     0  0.000000
336370     두산솔루스  0.00      0    0.00     0  0.000000
33637K   두산솔루스1우  0.00      0    0.00     0  0.000000
33637L  두산솔루스2우B  0.00      0    0.00     0  0.000000

[2283 rows x 6 columns]

In [59]:
stock.api.get_market_ticker_name("000660")

'SK하이닉스'

In [60]:
stock.api.get_shorting_status_by_date("20181210", "20181212", "005930")

              공매도       잔고        공매도금액          잔고금액
날짜
20181210  2180611  4728327  87700923850  190078745400
20181211   701924  4249549  28291624600  171044347250
20181212    40002  4236519   1618884450  171367193550

In [61]:
stock.api.get_index_kospi_ohlcv_by_date("20190101","20190228","코스피")

TypeError: isinstance expected 2 arguments, got 3

In [62]:
stock.api.get_index_portfolio_deposit_file("20190412", "코스피 소형주")

['095570',
 '068400',
 '001460',
 '011150',
 '000590',
 '012030',
 '016610',
 '004840',
 '155660',
 '069730',
 '001250',
 '039570',
 '089470',
 '082740',
 '003560',
 '009070',
 '009440',
 '119650',
 '092220',
 '001390',
 '001940',
 '025000',
 '092230',
 '000040',
 '044450',
 '030210',
 '058850',
 '000680',
 '229640',
 '023150',
 '008260',
 '004250',
 '100840',
 '003570',
 '036530',
 '101060',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '001510',
 '011810',
 '077970',
 '071970',
 '084870',
 '002710',
 '024070',
 '037270',
 '000500',
 '000860',
 '011420',
 '002100',
 '267290',
 '012320',
 '000050',
 '214390',
 '012610',
 '009140',
 '013580',
 '012200',
 '004200',
 '002140',
 '001290',
 '017040',
 '017900',
 '037710',
 '030610',
 '007690',
 '005320',
 '001140',
 '002720',
 '083420',
 '014530',
 '014280',
 '008870',
 '001570',
 '214330',
 '001210',
 '092440',
 '013700',
 '004540',
 '074610',
 '001260',
 '008350',
 '004270',
 '002070',
 '005720',
 '003580',
 '090350',
 '000320',
 '058730',
 '006370',
 '000490',
 '008110',
 '005750',
 '004440',
 '006570',
 '084690',
 '128820',
 '117580',
 '016710',
 '009190',
 '014160',
 '009320',
 '000430',
 '006340',
 '003220',
 '024890',
 '002880',
 '000300',
 '012800',
 '015230',
 '001070',
 '084010',
 '001790',
 '001130',
 '003830',
 '016090',
 '069460',
 '004830',
 '024900',
 '001620',
 '023450',
 '004140',
 '007590',
 '005960',
 '016380',
 '083370',
 '083380',
 '102260',
 '005190',
 '028100',
 '282690',
 '084670',
 '030790',
 '002900',
 '008970',
 '092780',
 '018500',
 '030720',
 '163560',
 '001530',
 '004890',
 '002690',
 '000020',
 '011160',
 '016740',
 '024090',
 '003160',
 '092200',
 '013570',
 '210540',
 '007340',
 '026890',
 '027740',
 '001080',
 '015540',
 '090370',
 '017180',
 '012690',
 '005360',
 '204210',
 '009680',
 '009200',
 '008420',
 '025560',
 '007120',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '155900',
 '003610',
 '001340',
 '014580',
 '035150',
 '002410',
 '007210',
 '002760',
 '000890',
 '001270',
 '026940',
 '011390',
 '005030',
 '100220',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '079660',
 '005090',
 '001470',
 '006660',
 '001360',
 '068290',
 '006110',
 '002170',
 '272550',
 '002810',
 '005680',
 '003720',
 '023000',
 '004380',
 '002450',
 '000520',
 '009770',
 '001880',
 '010960',
 '004450',
 '009470',
 '011230',
 '000390',
 '041650',
 '075180',
 '007540',
 '248170',
 '007860',
 '200880',
 '004410',
 '021050',
 '008490',
 '007610',
 '136490',
 '002820',
 '014910',
 '003080',
 '004980',
 '011300',
 '000180',
 '002420',
 '004360',
 '306200',
 '003030',
 '019440',
 '013000',
 '091090',
 '021820',
 '067830',
 '033530',
 '075580',
 '027970',
 '145210',
 '017550',
 '002200',
 '134790',
 '016590',
 '004970',
 '011930',
 '005390',
 '035510',
 '034300',
 '031440',
 '006880',
 '005800',
 '009270',
 '002700',
 '002870',
 '005450',
 '293940',
 '001770',
 '004080',
 '102280',
 '004770',
 '004920',
 '008700',
 '002030',
 '002310',
 '267850',
 '122900',
 '101140',
 '001780',
 '002250',
 '161000',
 '011090',
 '023960',
 '140910',
 '078520',
 '015260',
 '007460',
 '003060',
 '085310',
 '009810',
 '014440',
 '006740',
 '012280',
 '012160',
 '015360',
 '002630',
 '004720',
 '118000',
 '006980',
 '017370',
 '105840',
 '010400',
 '049800',
 '016880',
 '095720',
 '103130',
 '005820',
 '010600',
 '008600',
 '000910',
 '047400',
 '011330',
 '077500',
 '002920',
 '000700',
 '072130',
 '000220',
 '001200',
 '003460',
 '008730',
 '008250',
 '025820',
 '088260',
 '007660',
 '005950',
 '015020',
 '093230',
 '102460',
 '084680',
 '000760',
 '014990',
 '023800',
 '034590',
 '129260',
 '023810',
 '000230',
 '013360',
 '003120',
 '003200',
 '007110',
 '008500',
 '081000',
 '020760',
 '103590',
 '015860',
 '033240',
 '000950',
 '194370',
 '025620',
 '001560',
 '006220',
 '004910',
 '004700',
 '001550',
 '000480',
 '120030',
 '018470',
 '002600',
 '063160',
 '001630',
 '044380',
 '013870',
 '010580',
 '035000',
 '088790',
 '003780',
 '010640',
 '100250',
 '051630',
 '011000',
 '002780',
 '009310',
 '000650',
 '012600',
 '033250',
 '006380',
 '109070',
 '029460',
 '281820',
 '145270',
 '058860',
 '007810',
 '152330',
 '044820',
 '005070',
 '005420',
 '071950',
 '003070',
 '144620',
 '138490',
 '031820',
 '015590',
 '264900',
 '005740',
 '020120',
 '012170',
 '015890',
 '006890',
 '011280',
 '004100',
 '001420',
 '007980',
 '055490',
 '078000',
 '214420',
 '140890',
 '019180',
 '004870',
 '036580',
 '010820',
 '016800',
 '001020',
 '090080',
 '010770',
 '058430',
 '007630',
 '017810',
 '005810',
 '172580',
 '153360',
 '159650',
 '071090',
 '019490',
 '000140',
 '005430',
 '010040',
 '004090',
 '006200',
 '002300',
 '023350',
 '025890',
 '000970',
 '104700',
 '017960',
 '007280',
 '010100',
 '123690',
 '003350',
 '011500',
 '014790',
 '053690',
 '003680',
 '069640',
 '016450',
 '010420',
 '009180',
 '004710',
 '004150',
 '025750',
 '004960',
 '011700',
 '001750',
 '014130',
 '002220',
 '130660',
 '097230',
 '003480',
 '005110',
 '009460',
 '027390',
 '195870',
 '101530',
 '143210',
 '004560',
 '004310',
 '001500',
 '227840',
 '093240',
 '003010',
 '111110',
 '002460',
 '013520',
 '010690',
 '133820',
 '010660',
 '000850',
 '016580',
 '032560',
 '094280',
 '005870',
 '079980',
 '005010',
 '000540',
 '003280']

In [ ]:
stock.api.get_shorting_investor_volume_by_date("20190401", "20190405", "KOSPI")

In [ ]:
stock.api.get_shorting_volume_top50("20191227", "KOSPI") # 공매도거래비중

In [ ]:
stock.api.get_shorting_balance_top50("20191224", "KOSDAQ") # 공매도잔고수량