In [2]:
from pykrx import stock,website

In [18]:
dir(website.krx)

['DataFrame',
 'IndexTicker',
 'KrxBond',
 'KrxWebIo',
 'MKD20011',
 'MKD20011_PDF',
 'MKD20011_SUB',
 'MKD30009_0',
 'MKD30009_1',
 'MKD30040',
 'MKD80037',
 'SRT02010100',
 'SRT02020100',
 'SRT02020300',
 'SRT02020400',
 'SRT02030100',
 'SRT02030400',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'api',
 'bond',
 'core',
 'dataframe_empty_handler',
 'datetime',
 'e3',
 'get_index_ohlcv_by_date',
 'get_index_portfolio_deposit_file',
 'get_index_status_by_group',
 'get_market_fundamental_by_date',
 'get_market_fundamental_by_ticker',
 'get_market_ohlcv_by_date',
 'get_market_price_change_by_ticker',
 'get_shorting_balance_by_ticker',
 'get_shorting_balance_top50',
 'get_shorting_investor_by_date',
 'get_shorting_status_by_date',
 'get_shorting_volume_by_ticker',
 'get_shorting_volume_top50',
 'get_stock_market_from',
 'get_stock_name',
 'get_stock_ticker_delist',
 'get_stock_ticker_isin',
 'get_stock_ticker_list',
 'krxio',
 'market',
 'np',
 'pd',
 'singleton',
 'ticker',
 'wrap']

In [6]:
len(website.krx.get_stock_ticker_list())

2468

In [8]:
website.krx.get_market_ohlcv_by_date('20191027','20191227','036640')

              시가    고가    저가    종가      거래량
날짜
2019-10-28  2445  2480  2435  2460    33402
2019-10-29  2460  2500  2460  2485    61907
2019-10-30  2480  2540  2480  2520    91214
2019-10-31  2535  2545  2510  2530    58514
2019-11-01  2540  2545  2490  2530    74788
2019-11-04  2510  2575  2500  2575   133668
2019-11-05  2560  2595  2560  2580    85060
2019-11-06  2585  2600  2565  2590    53950
2019-11-07  2590  2600  2545  2590    87257
2019-11-08  2590  2595  2550  2585    41337
2019-11-11  2590  2595  2560  2590    73554
2019-11-12  2560  2595  2560  2565    78351
2019-11-13  2590  2605  2555  2555    57640
2019-11-14  2580  2595  2555  2585    79304
2019-11-15  2590  2615  2555  2610    89938
2019-11-18  2620  2620  2545  2570    90661
2019-11-19  2570  2585  2550  2570    57506
2019-11-20  2570  2590  2525  2525    64296
2019-11-21  2490  2540  2445  2470    86786
2019-11-22  2480  2515  2445  2460    34308
2019-11-25  2460  2515  2450  2480    57444
2019-11-26  2470  2535  2470  2515    57575
2019-11-27  2520  2550  2465  2525    93719
2019-11-28  2510  2535  2480  2515    56888
2019-11-29  2515  2535  2500  2515    46185
2019-12-02  2520  2570  2515  2540    93018
2019-12-03  2530  2560  2515  2525    40123
2019-12-04  2525  2670  2505  2620   523584
2019-12-05  2670  2695  2560  2570   271140
2019-12-06  2570  2610  2560  2565    93685
2019-12-09  2575  2690  2565  2605   216180
2019-12-10  2630  2745  2600  2710  1053799
2019-12-11  2750  2750  2670  2680   297977
2019-12-12  2690  2730  2670  2720   191311
2019-12-13  2710  2735  2690  2725   197641
2019-12-16  2750  2755  2695  2705   115879
2019-12-17  2700  2715  2640  2695   145156
2019-12-18  2695  2715  2660  2710    63237
2019-12-19  2730  2790  2690  2725   373854
2019-12-20  2700  2745  2695  2735    65291
2019-12-23  2735  2850  2485  2590   410547
2019-12-24  2570  2620  2570  2605    49541
2019-12-26  2600  2645  2590  2635    64471
2019-12-27  2635  2655  2610  2655    43841

In [10]:
website.krx.get_market_ohlcv_by_date('20190127','20191227','036640')

              시가    고가    저가    종가     거래량
날짜
2019-01-28  3080  3120  3050  3120   60633
2019-01-29  3080  3115  3075  3080   20191
2019-01-30  3080  3120  3050  3070   58634
2019-01-31  3110  3120  3060  3080   59869
2019-02-01  3100  3100  3045  3050   43423
...          ...   ...   ...   ...     ...
2019-12-20  2700  2745  2695  2735   65291
2019-12-23  2735  2850  2485  2590  410547
2019-12-24  2570  2620  2570  2605   49541
2019-12-26  2600  2645  2590  2635   64471
2019-12-27  2635  2655  2610  2655   43841

[227 rows x 5 columns]

In [13]:
from pykrx.website.krx.krxio import KrxWebIo
from pandas import DataFrame
import time

In [22]:
dir(website.krx)

['DataFrame',
 'IndexTicker',
 'KrxBond',
 'KrxWebIo',
 'MKD20011',
 'MKD20011_PDF',
 'MKD20011_SUB',
 'MKD30009_0',
 'MKD30009_1',
 'MKD30040',
 'MKD80037',
 'SRT02010100',
 'SRT02020100',
 'SRT02020300',
 'SRT02020400',
 'SRT02030100',
 'SRT02030400',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'api',
 'bond',
 'core',
 'dataframe_empty_handler',
 'datetime',
 'e3',
 'get_index_ohlcv_by_date',
 'get_index_portfolio_deposit_file',
 'get_index_status_by_group',
 'get_market_fundamental_by_date',
 'get_market_fundamental_by_ticker',
 'get_market_ohlcv_by_date',
 'get_market_price_change_by_ticker',
 'get_shorting_balance_by_ticker',
 'get_shorting_balance_top50',
 'get_shorting_investor_by_date',
 'get_shorting_status_by_date',
 'get_shorting_volume_by_ticker',
 'get_shorting_volume_top50',
 'get_stock_market_from',
 'get_stock_name',
 'get_stock_ticker_delist',
 'get_stock_ticker_isin',
 'get_stock_ticker_list',
 'krxio',
 'market',
 'np',
 'pd',
 'singleton',
 'ticker',
 'wrap']

In [30]:
a  = website.krx.MKD30009_0()

In [32]:
a.read('20191223','STK') #30009 PER/PBR/배당수익률 (개별종목) ,조회 시장 (STK/KSQ/ALL)

,work_dt,isu_cd,isu_nm,iisu_code,end_pr,prv_eps,per,bps,pbr,stk_dvd,dvd_yld,rn,isu_nm2,totCnt
0,2019/12/23,003415,쌍용양회우,-,"11,200",-,-,-,-,380,3.39,1,"<em class =""up""></em>",915
1,2019/12/23,005420,코스모화학,-,"5,550",-,-,"5,556",1,0,0,2,"<em class =""up""></em>",
2,2019/12/23,015540,메디파트너생명공학,-,"5,450",-,-,654,8.33,0,0,3,"<em class =""up""></em>",
3,2019/12/23,000995,DB하이텍1우,-,"68,200",-,-,-,-,300,0.44,4,"<em class =""up""></em>",
4,2019/12/23,002410,범양건영,-,"3,065",222,13.81,"2,020",1.52,0,0,5,"<em class =""up""></em>",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,2019/12/23,003610,방림,-,"2,190",77,28.44,"4,389",0.5,58,2.65,890,"<em class =""up""></em>",
890,2019/12/23,008870,금비,-,"63,100","8,486",7.44,"98,534",0.64,"1,700",2.69,891,"<em class =""up""></em>",
891,2019/12/23,002630,오리엔트바이오,-,289,-,-,283,1.02,0,0,892,"<em class =""up""></em>",
892,2019/12/23,004310,현대약품,-,"4,960",33,150.3,"3,344",1.48,45,0.91,893,"<em class =""up""></em>",
893,2019/12/23,000970,한국주철관,-,"10,550",305,34.59,"11,481",0.92,200,1.9,894,"<em class =""up""></em>",

In [35]:
a  = website.krx.MKD20011() #주가 지수 (http://marketdata.krx.co.kr/mdi#document=030403)

In [36]:
a.read('20191227','02') #주가 지수 (http://marketdata.krx.co.kr/mdi#document=030403)

,ind_tp_cd,idx_ind_cd,idx_clss,idx_nm,bas_tm,annc_tm,bas_idx,prsnt_prc,idx_fluc_tp_cd,cmpprevdd,idx_fluc_rt,idx_mktcap,idx_upmid_cd,add_data_yn,global_yn,trd_dd
0,1,001,종합지수,코스피,1980.01.04,1983.01.04,100,"2,204.21",1,6.28,0.29,"1,480,287,931",0102,,,
1,1,028,대표지수,코스피 200,1990.01.03,1994.06.15,100,295.20,1,1.14,0.39,"1,281,311,282",0102,,,
2,1,034,대표지수,코스피 100,2000.01.04,2000.03.02,"1,000","2,266.12",1,8.54,0.38,"1,184,687,686",0102,,,
3,1,035,대표지수,코스피 50,2000.01.04,2000.03.02,"1,000","2,022.42",1,7.81,0.39,"1,028,944,557",0102,,,
4,1,167,대표지수,코스피 200 중소형주,2010.01.04,2015.07.13,"1,000",873.32,2,0.80,-0.09,"96,623,597",0102,,,
5,1,182,대표지수,코스피 200 초대형제외 지수,2010.01.04,2018.11.12,223,219.02,2,0.72,-0.33,"944,018,568",0102,,,
6,1,150,코스피 200 섹터지수,코스피 200 커뮤니케이션서비스,2010.07.01,2018.10.22,"1,000","1,751.96",1,1.51,0.09,"100,295,291",0102,,,
7,1,151,코스피 200 섹터지수,코스피 200 건설,2008.01.02,2011.04.01,"1,000",235.88,2,1.37,-0.58,"26,245,502",0102,,,
8,1,152,코스피 200 섹터지수,코스피 200 중공업,2008.01.02,2011.04.01,"1,000",269.24,1,0.07,0.03,"33,155,536",0102,,,
9,1,153,코스피 200 섹터지수,코스피 200 철강/소재,2008.01.02,2011.04.01,"1,000",686.68,2,6.35,-0.92,"37,887,782",0102,,,
10,1,154,코스피 200 섹터지수,코스피 200 에너지/화학,2008.01.02,2011.04.01,"1,000","1,201.36",2,6.54,-0.54,"100,423,346",0102,,,
11,1,155,코스피 200 섹터지수,코스피 200 정보기술,2008.01.02,2011.04.01,"1,000","2,340.54",1,43.30,1.88,"485,451,956",0102,,,
12,1,156,코스피 200 섹터지수,코스피 200 금융,2008.01.02,2011.04.01,"1,000",687.80,2,20.72,-2.92,"127,622,816",0102,,,
13,1,157,코스피 200 섹터지수,코스피 200 생활소비재,2008.01.02,2011.04.01,"1,000","1,101.92",2,6.57,-0.59,"114,863,799",0102,,,
14,1,158,코스피 200 섹터지수,코스피 200 경기소비재,2008.01.02,2011.04.01,"1,000","1,398.94",2,8.98,-0.64,"148,902,131",0102,,,
15,1,159,코스피 200 섹터지수,코스피 200 산업재,2010.07.01,2015.07.13,"1,000",489.79,2,0.97,-0.20,"32,857,569",0102,,,
16,1,160,코스피 200 섹터지수,코스피 200 헬스케어,2010.07.01,2015.07.13,"1,000","1,881.84",1,25.15,1.35,"73,605,554",0102,,,
17,1,005,산업별지수,음식료품,1980.01.04,1983.01.04,100,"3,466.38",1,13.79,0.40,"23,902,455",0102,,,
18,1,006,산업별지수,섬유의복,1980.01.04,1983.01.04,100,288.37,1,1.88,0.66,"5,886,070",0102,,,
19,1,007,산업별지수,종이목재,1980.01.04,1983.01.04,100,331.36,2,1.15,-0.35,"2,857,299",0102,,,
20,1,008,산업별지수,화학,1980.01.04,1983.01.04,100,"4,570.86",2,18.68,-0.41,"149,324,127",0102,,,
21,1,009,산업별지수,의약품,1980.01.04,1983.01.04,100,"11,004.29",1,238.97,2.22,"76,930,000",0102,,,
22,1,010,산업별지수,비금속광물,1980.01.04,1983.01.04,100,"1,472.34",2,9.14,-0.62,"10,623,053",0102,,,
23,1,011,산업별지수,철강금속,1980.01.04,1983.01.04,100,"3,705.97",2,45.38,-1.21,"41,621,903",0102,,,
24,1,012,산업별지수,기계,1980.01.04,1983.01.04,100,705.64,2,0.04,-0.01,"20,343,173",0102,,,
25,1,013,산업별지수,전기전자,1980.01.04,1983.01.04,100,"20,434.67",1,393.66,1.96,"507,711,365",0102,,,
26,1,014,산업별지수,의료정밀,2000.01.04,2000.11.06,"1,000","2,430.95",1,39.35,1.65,"2,725,666",0102,,,
27,1,015,산업별지수,운수장비,1980.01.04,1983.01.04,100,"1,558.86",2,10.81,-0.69,"106,475,381",0102,,,
28,1,016,산업별지수,유통업,1980.01.04,1983.01.04,100,368.07,1,2.76,0.76,"65,550,138",0102,,,
29,1,017,산업별지수,전기가스업,2000.01.04,2000.11.06,"1,000",875.39,2,1.80,-0.21,"23,431,322",0102,,,
30,1,018,산업별지수,건설업,1980.01.04,1983.01.04,100,93.68,2,0.93,-0.98,"20,512,278",0102,,,
31,1,019,산업별지수,운수창고업,1980.01.04,1983.01.04,100,"1,329.85",1,4.56,0.34,"22,580,824",0102,,,
32,1,020,산업별지수,통신업,2000.01.04,2000.11.06,"1,000",343.95,2,8.89,-2.52,"32,599,640",0102,,,
33,1,021,산업별지수,금융업,1980.01.04,1983.01.04,100,411.76,2,9.53,-2.26,"217,176,185",0102,,,
34,1,022,산업별지수,은행,1980.01.04,1983.01.04,100,248.69,2,12.33,-4.72,"6,998,932",0102,,,
35,1,024,산업별지수,증권,1980.01.04,1983.01.04,100,"1,764.91",2,31.44,-1.75,"22,212,927",0102,,,
36,1,025,산업별지수,보험,1980.01.04,1983.01.04,100,"13,740.51",2,359.60,-2.55,"43,208,909",0102,,,
37,1,026,산업별지수,서비스업,2000.01.04,2000.11.06,"1,000","1,211.35",1,8.73,0.73,"130,430,188",0102,,,
38,1,027,산업별지수,제조업,1980.01.04,1989.01.04,100,"5,298.33",1,49.74,0.95,"965,459,730",0102,,,
39,1,002,시가총액규모별지수,코스피 대형주,2000.01.04,2003.02.17,"1,000","2,184.28",1,6.89,0.32,"1,188,169,183",0102,,,
40,1,003,시가총액규모별지수,코스피 중형주,2000.01.04,2003.02.17,"1,000","2,223.33",2,0.71,-0.03,"160,754,863",0102,,,
41,1,004,시가총액규모별지수,코스피 소형주,2000.01.04,2003.02.17,"1,000","1,802.31",1,3.84,0.21,"65,289,157",0102,,,

In [37]:
a  = website.krx.MKD20011_PDF() #"""주가지수 구성 항목 :date  : 조회 일자 (YYMMDD) : index : KRX 웹에서 정의하는 index 번호:market: 코스피 (1) / 코스닥 (2)

In [38]:
a.read('20191227','001','1')#"""주가지수 구성 항목 :date  : 조회 일자 (YYMMDD) : index : KRX 웹에서 정의하는 index 번호:market: 코스피 (1) / 코스닥 (2)

,isu_cd,isu_nm,tdd_clsprc,fluc_tp_cd,cmpprevdd_prc,updn_rate,acc_trdval,mktcap,cnt
0,095570,AJ네트웍스,"4,890",2,140,2.78,"1,658,369,415","228,961,022,550",0
1,068400,AJ렌터카,"11,600",1,600,5.45,"2,206,062,150","256,897,080,000",0
2,006840,AK홀딩스,"34,850",2,50,0.14,"1,757,960,300","461,677,500,850",0
3,027410,BGF,"5,600",1,20,0.36,"506,469,410","536,014,029,600",0
4,282330,BGF리테일,"168,500",1,"3,000",1.81,"5,717,245,000","2,912,338,161,000",0
...,...,...,...,...,...,...,...,...,...
787,079980,휴비스,"6,090",2,160,2.56,"498,425,530","210,105,000,000",0
788,005010,휴스틸,"10,000",2,200,1.96,"149,164,760","76,216,680,000",0
789,069260,휴켐스,"21,300",2,"1,150",5.12,"3,712,829,650","870,713,924,400",0
790,000540,흥국화재,"3,070",2,5,0.16,"62,716,620","197,224,920,150",0
791,003280,흥아해운,485,1,6,1.25,"5,805,405,461","54,374,510,120",0

In [39]:
a.read('20191227','001','2')

,isu_cd,isu_nm,tdd_clsprc,fluc_tp_cd,cmpprevdd_prc,updn_rate,acc_trdval,mktcap,cnt
0,060310,3S,"2,820",1,10,0.36,"382,681,180","126,257,443,260",0
1,054620,APS홀딩스,"10,050",1,240,2.45,"2,394,209,940","204,961,921,050",0
2,265520,AP시스템,"32,850",1,"1,150",3.63,"16,351,746,600","475,675,456,950",0
3,211270,AP위성,"6,800",1,110,1.64,"131,290,100","102,100,667,200",0
4,035760,CJ ENM,"158,700",1,600,0.38,"10,915,163,300","3,480,156,739,800",0
...,...,...,...,...,...,...,...,...,...
1379,024060,흥구석유,"5,310",2,10,0.19,"810,331,480","79,650,000,000",0
1380,010240,흥국,"4,415",2,5,0.11,"69,317,060","54,404,702,840",0
1381,189980,흥국에프엔비,"1,780",2,5,0.28,"63,650,725","65,337,489,900",0
1382,037440,희림,"4,230",2,5,0.12,"29,125,165","58,892,069,250",0
1383,238490,힘스,"26,800",1,850,3.28,"4,998,627,700","151,583,962,400",0

In [41]:
a  = website.krx.SRT02010100()# 02010100  개별종목 공매도 종합 현황 http://short.krx.co.kr/contents/SRT/02/02010100/SRT02010100.jsp

In [44]:
a.read('20190101','20191227','KR7215790007')#02010100  개별종목 공매도 종합 현황

,totCnt,rn,trd_dd,isu_cd,isu_abbrv,cvsrtsell_trdvol,str_const_val1,cvsrtsell_trdval,str_const_val2
0,245,1,2019/12/27,KR7215790007,이노인스트루먼트,"3,617",-,"7,752,030",-
1,245,2,2019/12/26,KR7215790007,이노인스트루먼트,0,-,0,-
2,245,3,2019/12/24,KR7215790007,이노인스트루먼트,0,0,0,0
3,245,4,2019/12/23,KR7215790007,이노인스트루먼트,"1,109",0,"2,745,615",0
4,245,5,2019/12/20,KR7215790007,이노인스트루먼트,771,0,"2,419,655",0
...,...,...,...,...,...,...,...,...,...
240,245,241,2019/01/08,KR7215790007,이노인스트루먼트,"1,523","16,192","10,733,490","113,829,760"
241,245,242,2019/01/07,KR7215790007,이노인스트루먼트,104,"16,192","712,350","111,077,120"
242,245,243,2019/01/04,KR7215790007,이노인스트루먼트,878,"16,188","5,889,360","112,020,960"
243,245,244,2019/01/03,KR7215790007,이노인스트루먼트,"12,214","16,067","72,298,250","107,327,560"
244,245,245,2019/01/02,KR7215790007,이노인스트루먼트,"3,011",0,"15,053,700",0

In [45]:
a  = website.krx.SRT02020100() #02020100 공매도 거래 현황 market: 1 (코스피) / 3 (코스닥) / 4 (코넥스)http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

In [ ]:
a.read('20190101','20191227',1) #02020100 공매도 거래 현황market: 1 (코스피) / 3 (코스닥) / 4 (코넥스) http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

In [50]:
a = website.krx.market.ticker._StockFinder() # 상장종목 검색 http://marketdata.krx.co.kr/mdi#document=040204

In [51]:
a.read('STK')

        full_code short_code codeName marketName
0    KR7095570008    A095570   AJ네트웍스      KOSPI
1    KR7068400001    A068400    AJ렌터카      KOSPI
2    KR7006840003    A006840    AK홀딩스      KOSPI
3    KR7027410000    A027410      BGF      KOSPI
4    KR7282330000    A282330   BGF리테일      KOSPI
..            ...        ...      ...        ...
989  KR7069260008    A069260      휴켐스      KOSPI
990  KR7000540005    A000540     흥국화재      KOSPI
991  KR7000542001    A000547  흥국화재2우B      KOSPI
992  KR7000541003    A000545    흥국화재우      KOSPI
993  KR7003280005    A003280     흥아해운      KOSPI

[994 rows x 4 columns]

In [52]:
a.read('KSQ')

         full_code short_code codeName marketName
0     KR7060310000    A060310       3S     KOSDAQ
1     KR7054620000    A054620   APS홀딩스     KOSDAQ
2     KR7265520007    A265520    AP시스템     KOSDAQ
3     KR7211270004    A211270     AP위성     KOSDAQ
4     KR7035760008    A035760   CJ ENM     KOSDAQ
...            ...        ...      ...        ...
1403  KR7024060006    A024060     흥구석유     KOSDAQ
1404  KR7010240000    A010240       흥국     KOSDAQ
1405  KR7189980006    A189980   흥국에프엔비     KOSDAQ
1406  KR7037440005    A037440       희림     KOSDAQ
1407  KR7238490007    A238490       힘스     KOSDAQ

[1408 rows x 4 columns]

In [53]:
a.read('ALL')

         full_code short_code codeName marketName
0     KR7060310000    A060310       3S     KOSDAQ
1     KR7095570008    A095570   AJ네트웍스      KOSPI
2     KR7068400001    A068400    AJ렌터카      KOSPI
3     KR7006840003    A006840    AK홀딩스      KOSPI
4     KR7054620000    A054620   APS홀딩스     KOSDAQ
...            ...        ...      ...        ...
2549  KR7000542001    A000547  흥국화재2우B      KOSPI
2550  KR7000541003    A000545    흥국화재우      KOSPI
2551  KR7003280005    A003280     흥아해운      KOSPI
2552  KR7037440005    A037440       희림     KOSDAQ
2553  KR7238490007    A238490       힘스     KOSDAQ

[2554 rows x 4 columns]

In [55]:
a = website.krx.market.ticker._DelistingFinder() # 상장폐지종목 검색

In [56]:
a.read('ALL')

,isu_cd,end_dd,shrt_isu_cd,isu_abbrv,isu_nm,market_name,delist_dd
0,KR7037730009,20040422,A037730,3R,3R,KOSDAQ,20040422
1,KRA060310125,20120521,J06031012,3S,3S R,KOSDAQ,20120521
2,KR7036360006,20090429,A036360,3SOFT,3SOFT,KOSDAQ,20090429
3,KYG887121070,20130605,A900010,3노드디지탈,3노드디지탈,KOSDAQ,20130605
4,KR7005760004,20090219,A005760,ACTS,위너스인프라인,KOSPI,20090219
...,...,...,...,...,...,...,...
4595,KR7019640002,20090423,A019640,희훈디앤지,희훈디앤지,KOSDAQ,20090423
4596,KR7019640028,19981229,A019642,희훈디앤지,희훈2신,KOSDAQ,19981229
4597,KR7123160004,20130118,A123160,히든챔피언스팩1호,히든챔피언스팩1호,KOSDAQ,20130118
4598,KR7036840007,20110915,A036840,히스토스템,히스토스템,KOSDAQ,20110915
4599,KR7181980004,20150415,A181980,힘스인터내셔널,힘스인터내셔널,KONEX,20150415

In [57]:
a = website.krx.market.ticker._StockTicker()## 조회일 기준의 상장/상폐 종목 리스트 market: 전체/코스피/코스닥/코넥스 - 입력하지 않을 경우 전체

In [58]:
a._get_stock_info_listed(market='전체')

              ISIN      티커       종목      시장
0     KR7060310000  060310       3S  KOSDAQ
1     KR7095570008  095570   AJ네트웍스   KOSPI
2     KR7068400001  068400    AJ렌터카   KOSPI
3     KR7006840003  006840    AK홀딩스   KOSPI
4     KR7054620000  054620   APS홀딩스  KOSDAQ
...            ...     ...      ...     ...
2549  KR7000542001  000547  흥국화재2우B   KOSPI
2550  KR7000541003  000545    흥국화재우   KOSPI
2551  KR7003280005  003280     흥아해운   KOSPI
2552  KR7037440005  037440       희림  KOSDAQ
2553  KR7238490007  238490       힘스  KOSDAQ

[2468 rows x 4 columns]

In [59]:
a = website.naver.core.Sise()

In [60]:
a.read('006800',10,'week')

'<?xml version="1.0" encoding="EUC-KR" ?>\n\n<protocol>\n\n\n\n\t\n\t\n\t\t\t<chartdata symbol="006800" name="미래에셋대우" count="10" timeframe="week" precision="0" origintime="19900302">\n\t\t\t\n\t\t\t\t<item data="20191025|7240|7300|7150|7260|4822984" />\n\t\t\t\n\t\t\t\t<item data="20191101|7310|7320|7050|7110|5758869" />\n\t\t\t\n\t\t\t\t<item data="20191108|7180|7650|7180|7540|8902447" />\n\t\t\t\n\t\t\t\t<item data="20191115|7520|7530|7160|7500|8083251" />\n\t\t\t\n\t\t\t\t<item data="20191122|7470|7500|7180|7270|6214051" />\n\t\t\t\n\t\t\t\t<item data="20191129|7230|7440|7220|7230|5143175" />\n\t\t\t\n\t\t\t\t<item data="20191206|7250|7380|7190|7240|4132306" />\n\t\t\t\n\t\t\t\t<item data="20191213|7250|7770|7240|7720|9026447" />\n\t\t\t\n\t\t\t\t<item data="20191220|7700|7780|7560|7740|8074838" />\n\t\t\t\n\t\t\t\t<item data="20191227|7750|7820|7640|7700|6536187" />\n\t\t\t\n\t\n\n\n\t</chartdata>\n</protocol>\n'

In [61]:
stock.api.get_market_ticker_list()

['060310',
 '095570',
 '068400',
 '006840',
 '054620',
 '265520',
 '211270',
 '027410',
 '282330',
 '138930',
 '001460',
 '001465',
 '001040',
 '079160',
 '035760',
 '00104K',
 '000120',
 '011150',
 '011155',
 '001045',
 '097950',
 '097955',
 '051500',
 '037560',
 '058820',
 '023460',
 '065770',
 '083660',
 '000590',
 '012030',
 '306620',
 '322780',
 '016610',
 '005830',
 '000990',
 '000995',
 '139130',
 '001530',
 '068790',
 '004840',
 '241520',
 '155660',
 '069730',
 '017940',
 '245620',
 '037370',
 '079190',
 '007700',
 '130500',
 '114090',
 '078930',
 '083450',
 '006360',
 '001250',
 '007070',
 '078935',
 '028150',
 '045890',
 '078150',
 '012630',
 '039570',
 '089470',
 '294870',
 '036640',
 '082740',
 '299170',
 '335890',
 '335870',
 '276920',
 '003560',
 '095340',
 '099520',
 '175330',
 '950170',
 '234080',
 '067290',
 '001060',
 '001067',
 '001065',
 '096760',
 '035900',
 '024840',
 '105560',
 '024120',
 '002380',
 '021320',
 '036670',
 '009070',
 '009440',
 '112190',
 '119650',
 '044180',
 '092220',
 '151860',
 '046440',
 '035600',
 '001390',
 '060720',
 '001940',
 '083470',
 '122450',
 '052900',
 '058400',
 '114450',
 '025000',
 '092230',
 '000040',
 '044450',
 '030200',
 '033780',
 '030210',
 '036030',
 '058850',
 '058860',
 '060370',
 '093050',
 '003550',
 '034220',
 '001120',
 '051900',
 '051905',
 '003555',
 '032640',
 '011070',
 '066570',
 '066575',
 '108670',
 '108675',
 '051910',
 '051915',
 '079550',
 '183350',
 '006260',
 '000680',
 '010120',
 '229640',
 '023150',
 '065150',
 '219550',
 '035420',
 '160550',
 '053290',
 '181710',
 '104200',
 '060250',
 '005940',
 '005945',
 '338100',
 '034310',
 '030190',
 '008260',
 '004250',
 '004255',
 '010060',
 '024940',
 '005490',
 '218410',
 '091340',
 '100840',
 '064960',
 '003570',
 '036530',
 '010950',
 '010955',
 '019550',
 '950110',
 '034120',
 '101060',
 '046140',
 '036120',
 '099220',
 '036540',
 '255220',
 '040610',
 '049470',
 '184230',
 '224880',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '034730',
 '307070',
 '337450',
 '011790',
 '057500',
 '178920',
 '018670',
 '001740',
 '001745',
 '006120',
 '006125',
 '210980',
 '036490',
 '052260',
 '03473K',
 '096770',
 '096775',
 '001510',
 '001515',
 '285130',
 '28513K',
 '017670',
 '000660',
 '048550',
 '063440',
 '950180',
 '005610',
 '011810',
 '077970',
 '071970',
 '289080',
 '084870',
 '002710',
 '089230',
 '161570',
 '032540',
 '048770',
 '246690',
 '284610',
 '038340',
 '073570',
 '024070',
 '052300',
 '057030',
 '037270',
 '040300',
 '051390',
 '052220',
 '079940',
 '078890',
 '000500',
 '192410',
 '000860',
 '217730',
 '035250',
 '011420',
 '094480',
 '063080',
 '039240',
 '053950',
 '002100',
 '009450',
 '267290',
 '012320',
 '011040',
 '000050',
 '214390',
 '012610',
 '009140',
 '024910',
 '013580',
 '012200',
 '012205',
 '004200',
 '002140',
 '198440',
 '049720',
 '010130',
 '002240',
 '014570',
 '098460',
 '038530',
 '900280',
 '215000',
 '121440',
 '183410',
 '076340',
 '009290',
 '014200',
 '017040',
 '017900',
 '037710',
 '026910',
 '090150',
 '267320',
 '307280',
 '331520',
 '030610',
 '329050',
 '053270',
 '007690',
 '005320',
 '066620',
 '043650',
 '006050',
 '060480',
 '078130',
 '002720',
 '243870',
 '204020',
 '083420',
 '186230',
 '014530',
 '900070',
 '204620',
 '019660',
 '032860',
 '014280',
 '014285',
 '053260',
 '008870',
 '001570',
 '002990',
 '002995',
 '011780',
 '011785',
 '214330',
 '001210',
 '073240',
 '036190',
 '049080',
 '035460',
 '092440',
 '000270',
 '024110',
 '013700',
 '308100',
 '004540',
 '004545',
 '187790',
 '074610',
 '286750',
 '151910',
 '121600',
 '039860',
 '091970',
 '244880',
 '288490',
 '051490',
 '190510',
 '242040',
 '089600',
 '293580',
 '138610',
 '130580',
 '036800',
 '082660',
 '001260',
 '008350',
 '008355',
 '004270',
 '003920',
 '003925',
 '002070',
 '025860',
 '111710',
 '091590',
 '168330',
 '253590',
 '212560',
 '095660',
 '042420',
 '311390',
 '085910',
 '092730',
 '290660',
 '153460',
 '007390',
 '086220',
 '033640',
 '005720',
 '005725',
 '002350',
 '002355',
 '089140',
 '065170',
 '003580',
 '137940',
 '041140',
 '217270',
 '225570',
 '251270',
 '317860',
 '104620',
 '090350',
 '090355',
 '000320',
 '000325',
 '194700',
 '285490',
 '229500',
 '278650',
 '006280',
 '144510',
 '031390',
 '142280',
 '234690',
 '005250',
 '005257',
 '065560',
 '004370',
 '072710',
 '054050',
 '040160',
 '069140',
 '126870',
 '060260',
 '012340',
 '214870',
 '270870',
 '144960',
 '900100',
 '085670',
 '119860',
 '064260',
 '093640',
 '039560',
 '058730',
 '023590',
 '032190',
 '323350',
 '068240',
 '086080',
 '271850',
 '019680',
 '019685',
 '006370',
 '008060',
 '00806K',
 '178600',
 '000490',
 '020400',
 '008830',
 '048470',
 '008110',
 '004780',
 '005750',
 '000210',
 '000215',
 '004440',
 '017650',
 '006570',
 '007720',
 '317850',
 '290670',
 '078140',
 '001680',
 '001685',
 '084690',
 '084695',
 '036480',
 '128820',
 '117580',
 '025440',
 '027830',
 '104040',
 '016710',
 '307750',
 '332290',
 '336570',
 '020180',
 '003540',
 '003547',
 '003545',
 '045390',
 '009190',
 '108380',
 '006580',
 '014160',
 '047040',
 '009320',
 '042660',
 '003090',
 '069620',
 '007680',
 '000430',
 '311840',
 '048910',
 '005710',
 '006340',
 '006345',
 '003220',
 '024890',
 '290380',
 '002880',
 '290120',
 '000300',
 '120240',
 '003310',
 '114920',
 '078600',
 '012800',
 '015230',
 '096350',
 '140520',
 '131220',
 '010170',
 '054670',
 '001070',
 '023910',
 '006650',
 '001440',
 '084010',
 '001790',
 '001799',
 '001795',
 '001130',
 '003490',
 '003495',
 '005880',
 '003830',
 '016090',
 '069460',
 '021040',
 '021045',
 '067080',
 '192080',
 '035290',
 '012510',
 '302920',
 '213420',
 '317330',
 '077360',
 '004830',
 '004835',
 '090410',
 '024900',
 '263600',
 '194480',
 '263800',
 '199150',
 '139050',
 '206560',
 '145720',
 '067990',
 '002150',
 '006620',
 '100130',
 '005160',
 '075970',
 '001230',
 '086450',
 '023450',
 '004140',
 '099410',
 '007590',
 '005960',
 '005965',
 '281740',
 '016380',
 '016385',
 '083370',
 '083380',
 '026960',
 '002210',
 '102260',
 '033500',
 '005190',
 '025950',
 '000640',
 '170900',
 '088130',
 '028100',
 '282690',
 '041930',
 '001520',
 '001527',
 '001529',
 '084670',
 '030790',
 '002900',
 '082640',
 '060380',
 '001525',
 '079960',
 '008970',
 '228340',
 '092780',
 '104460',
 '088910',
 '094170',
 '049770',
 '013120',
 '018500',
 '006040',
 '030720',
 '014820',
 '014825',
 '163560',
 '109860',
 '032960',
 '004890',
 '002690',
 '023790',
 '005290',
 '025900',
 '000020',
 '000150',
 '000157',
 '011160',
 '241560',
 '336370',
 '33637K',
 '33637L',
 '000155',
 '042670',
 '034020',
 '336260',
 '33626K',
 '33626L',
 '016740',
 '078590',
 '270020',
 '073190',
 '176750',
 '030350',
 '203650',
 '060570',
 '192650',
 '220110',
 '217620',
 '187870',
 '066670',
 '024090',
 '003160',
 '092200',
 '110990',
 '263690',
 '214680',
 '263720',
 '109740',
 '033430',
 '131030',
 '196490',
 '066900',
 '127120',
 '092070',
 '134580',
 '039840',
 '196450',
 '013570',
 '210540',
 '079810',
 '227100',
 '113810',
 '043360',
 '197140',
 '106520',
 '068930',
 '033130',
 '033310',
 '105740',
 '263020',
 '290550',
 '007340',
 '187220',
 '026890',
 '163430',
 '131180',
 '317120',
 '042510',
 '232680',
 '300120',
 '050120',
 '171120',
 '069540',
 '285770',
 '214260',
 '115390',
 '200350',
 '171010',
 '084650',
 '217500',
 '092590',
 '033600',
 '141080',
 '060300',
 '038390',
 '228670',
 '228850',
 '238120',
 '215100',
 '090360',
 '238500',
 '108490',
 '067730',
 '071280',
 '032350',
 '330590',
 '000400',
 '023530',
 '004000',
 '286940',
 '280360',
 '004990',
 '00499K',
 '005300',
 '005305',
 '011170',
 '002270',
 '071840',
 '038060',
 '082800',
 '162120',
 '085370',
 '08537M',
 '060240',
 '058470',
 '039980',
 '019570',
 '016100',
 '197210',
 '012700',
 '302550',
 '277070',
 '042500',
 '219420',
 '027740',
 '195500',
 '305090',
 '098120',
 '227950',
 '147760',
 '038290',
 '204320',
 '001080',
 '267980',
 '005990',
 '127160',
 '093520',
 '141070',
 '088980',
 '094800',
 '100590',
 '067280',
 '072870',
 '215200',
 '133750',
 '235980',
 '200580',
 '041920',
 '233250',
 '236340',
 '086900',
 '015540',
 '078160',
 '065650',
 '138040',
 '008560',
 '000060',
 '021880',
 '140410',
 '241770',
 '090370',
 '059210',
 '327260',
 '058110',
 '096640',
 '017180',
 '257370',
 '267060',
 '012690',
 '005360',
 '149940',
 '080420',
 '080160',
 '204210',
 '100030',
 '087260',
 '101330',
 '012860',
 '250060',
 '033200',
 '009680',
 '118990',
 '006920',
 '009580',
 '001810',
 '009200',
 '033920',
 '008420',
 '279600',
 '028040',
 '095500',
 '025560',
 '218150',
 '007120',
 '006800',
 '00680K',
 '265480',
 '310200',
 '328380',
 '333430',
 '006805',
 '100790',
 '085620',
 '049950',
 '213090',
 '207760',
 '225850',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '059090',
 '214610',
 '201490',
 '214180',
 '155900',
 '206640',
 '018700',
 '035620',
 '064520',
 '029480',
 '053030',
 '064550',
 '208710',
 '142760',
 '065940',
 '086820',
 '038460',
 '281310',
 '044480',
 '216400',
 '086040',
 '199290',
 '032980',
 '222160',
 '043150',
 '003610',
 '267790',
 '001340',
 '014580',
 '046310',
 '035150',
 '036620',
 '066410',
 '002410',
 '019010',
 '177350',
 '299910',
 '096300',
 '007210',
 '225530',
 '250000',
 '002760',
 '014100',
 '003850',
 '006910',
 '000890',
 '226340',
 '206950',
 '003000',
 '001270',
 '001275',
 '026940',
 '014470',
 '015350',
 '011390',
 '005030',
 '008470',
 '100120',
 '066980',
 '064480',
 '288330',
 '251630',
 '018290',
 '263920',
 '033560',
 '126340',
 '121800',
 '148140',
 '100220',
 '200780',
 '141000',
 '090460',
 '083650',
 '215050',
 '271780',
 '086670',
 '138580',
 '082920',
 '054220',
 '042370',
 '032850',
 '101140',
 '148780',
 '238200',
 '093190',
 '065450',
 '210120',
 '005180',
 '072950',
 '143240',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '100090',
 '005090',
 '122350',
 '014970',
 '018310',
 '053700',
 '009620',
 '023600',
 '111870',
 '001470',
 '006400',
 '006405',
 '006660',
 '309930',
 '028260',
 '02826K',
 '207940',
 '032830',
 '291230',
 '018260',
 '028050',
 '009150',
 '009155',
 '005930',
 '005935',
 '001360',
 '010140',
 '010145',
 '016360',
 '068290',
 '029780',
 '000810',
 '000815',
 '006110',
 '009300',
 '145990',
 '145995',
 '003230',
 '225190',
 '002170',
 '272550',
 '000070',
 '000075',
 '002810',
 '054540',
 '065570',
 '005680',
 '003720',
 '023000',
 '073640',
 '004380',
 '002450',
 '032280',
 '002290',
 '000520',
 '009770',
 '037460',
 '032750',
 '054090',
 '005500',
 '000250',
 '004690',
 '024950',
 '038500',
 '017480',
 '001880',
 '010960',
 '046390',
 '004450',
 '009470',
 '011230',
 '001820',
 '000390',
 '027580',
 '038540',
 '307870',
 '329560',
 '101000',
 '001290',
 '041650',
 '091580',
 '263810',
 '089980',
 '042940',
 '042600',
 '075180',
 '263540',
 '007540',
 '248170',
 '038070',
 '006730',
 '079650',
 '100660',
 '007860',
 '200880',
 '019770',
 '017390',
 '043710',
 '046890',
 '004410',
 '004415',
 '063170',
 '027040',
 '018680',
 '021050',
 '093920',
 '189860',
 ...]

In [65]:
stock.api.get_index_ticker_list('20191227', market="KOSPI")

['코스피',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주']

In [79]:
stock.api.get_index_kosdaq_ohlcv_by_date("20190101", "20190228", "코스닥 150")

                 시가       고가       저가       종가        거래량
날짜
2019-01-02  1175.91  1179.65  1141.69  1144.41   55580000
2019-01-03  1148.75  1152.25  1114.52  1114.62   62400000
2019-01-04  1112.70  1131.90  1100.32  1131.90   53534000
2019-01-07  1148.60  1154.31  1133.45  1141.01   47184000
2019-01-08  1141.98  1144.87  1127.04  1130.92   81913000
2019-01-09  1137.20  1153.51  1133.83  1148.07   50892000
2019-01-10  1146.70  1160.32  1142.31  1154.02   56196000
2019-01-11  1157.14  1160.06  1148.40  1154.09   50253000
2019-01-14  1152.15  1152.15  1138.27  1138.70   44908000
2019-01-15  1142.46  1154.27  1139.75  1149.42   52787000
2019-01-16  1151.18  1152.05  1137.45  1146.93   66429000
2019-01-17  1148.18  1152.58  1128.28  1128.28   78330000
2019-01-18  1137.75  1148.06  1134.61  1148.06   69639000
2019-01-21  1149.95  1150.13  1136.06  1139.54   62321000
2019-01-22  1143.50  1145.05  1135.23  1140.36   42771000
2019-01-23  1133.88  1140.44  1131.74  1136.34   54997000
2019-01-24  1136.16  1156.50  1135.96  1155.57   58069000
2019-01-25  1155.29  1171.82  1152.16  1167.59   56680000
2019-01-28  1168.83  1183.59  1168.20  1176.89   84201000
2019-01-29  1171.61  1175.05  1160.81  1173.42   58028000
2019-01-30  1174.97  1188.16  1171.46  1184.45   76141000
2019-01-31  1192.93  1200.37  1186.43  1191.47   53483000
2019-02-01  1194.83  1197.61  1187.60  1191.56  113343000
2019-02-07  1195.79  1217.22  1191.22  1216.85   74224000
2019-02-08  1210.12  1218.79  1207.10  1213.97   75683000
2019-02-11  1219.19  1228.08  1215.62  1226.74   63218000
2019-02-12  1228.87  1230.21  1214.46  1217.52   72552000
2019-02-13  1225.01  1237.28  1221.44  1234.64   63680000
2019-02-14  1233.86  1237.84  1227.18  1236.50   68415000
2019-02-15  1233.07  1238.19  1220.31  1229.34   69780000
2019-02-18  1238.36  1248.31  1235.54  1240.93   55673000
2019-02-19  1242.33  1250.67  1232.57  1248.58   62429000
2019-02-20  1250.27  1257.71  1247.41  1253.83   61939000
2019-02-21  1254.95  1256.31  1242.70  1246.13   59599000
2019-02-22  1244.46  1246.06  1232.77  1239.34   53007000
2019-02-25  1242.73  1254.17  1241.17  1252.65   55058000
2019-02-26  1254.36  1260.20  1245.72  1248.18   57263000
2019-02-27  1247.06  1259.31  1245.64  1259.31   56646000
2019-02-28  1260.22  1274.81  1229.82  1235.26   98827000

In [81]:
stock.api.get_market_fundamental_by_ticker("20191227")

             종목명   DIV   BPS    PER  EPS       PBR
티커
020180    대신정보통신  0.75   649  32.32   41  2.041787
021880    메이슨캐피탈  0.00   381   0.00    0  0.000000
033200       모아텍  0.00  5238  50.82   91  0.882898
060310        3S  0.00   768  88.12   32  3.671667
099750     이지케어텍  0.54  7219  20.44  773  2.188685
...          ...   ...   ...    ...  ...       ...
33626K   두산퓨얼셀1우  0.00     0   0.00    0  0.000000
33626L  두산퓨얼셀2우B  0.00     0   0.00    0  0.000000
336370     두산솔루스  0.00     0   0.00    0  0.000000
33637K   두산솔루스1우  0.00     0   0.00    0  0.000000
33637L  두산솔루스2우B  0.00     0   0.00    0  0.000000

[2283 rows x 6 columns]

In [82]:
stock.api.get_market_ticker_name("000660")

'SK하이닉스'

In [84]:
stock.api.get_shorting_status_by_date("20181210", "20181212", "005930")

              공매도       잔고        공매도금액          잔고금액
날짜
20181210  2180611  4728327  87700923850  190078745400
20181211   701924  4249549  28291624600  171044347250
20181212    40002  4236519   1618884450  171367193550

In [3]:
stock.api.get_index_kospi_ohlcv_by_date("20200101", "20200228", "코스피")

                 시가       고가       저가       종가        거래량
날짜
2020-01-02  2201.21  2202.32  2171.84  2175.17  494678000
2020-01-03  2192.58  2203.38  2165.39  2176.46  631563000
2020-01-06  2154.97  2164.42  2149.95  2155.07  592671000
2020-01-07  2166.60  2181.62  2164.27  2175.54  568236000
2020-01-08  2156.27  2162.32  2137.72  2151.31  913831000
2020-01-09  2182.20  2186.45  2172.16  2186.45  592604000
2020-01-10  2189.48  2206.92  2188.10  2206.39  594537000

In [86]:
stock.api.get_index_portfolio_deposit_file("20190412", "코스피 소형주")

['095570',
 '068400',
 '001460',
 '011150',
 '000590',
 '012030',
 '016610',
 '004840',
 '155660',
 '069730',
 '001250',
 '039570',
 '089470',
 '082740',
 '003560',
 '009070',
 '009440',
 '119650',
 '092220',
 '001390',
 '001940',
 '025000',
 '092230',
 '000040',
 '044450',
 '030210',
 '058850',
 '000680',
 '229640',
 '023150',
 '008260',
 '004250',
 '100840',
 '003570',
 '036530',
 '101060',
 '004060',
 '001380',
 '002360',
 '009160',
 '123700',
 '025530',
 '001510',
 '011810',
 '077970',
 '071970',
 '084870',
 '002710',
 '024070',
 '037270',
 '000500',
 '000860',
 '011420',
 '002100',
 '267290',
 '012320',
 '000050',
 '214390',
 '012610',
 '009140',
 '013580',
 '012200',
 '004200',
 '002140',
 '001290',
 '017040',
 '017900',
 '037710',
 '030610',
 '007690',
 '005320',
 '001140',
 '002720',
 '083420',
 '014530',
 '014280',
 '008870',
 '001570',
 '214330',
 '001210',
 '092440',
 '013700',
 '004540',
 '074610',
 '001260',
 '008350',
 '004270',
 '002070',
 '005720',
 '003580',
 '090350',
 '000320',
 '058730',
 '006370',
 '000490',
 '008110',
 '005750',
 '004440',
 '006570',
 '084690',
 '128820',
 '117580',
 '016710',
 '009190',
 '014160',
 '009320',
 '000430',
 '006340',
 '003220',
 '024890',
 '002880',
 '000300',
 '012800',
 '015230',
 '001070',
 '084010',
 '001790',
 '001130',
 '003830',
 '016090',
 '069460',
 '004830',
 '024900',
 '001620',
 '023450',
 '004140',
 '007590',
 '005960',
 '016380',
 '083370',
 '083380',
 '102260',
 '005190',
 '028100',
 '282690',
 '084670',
 '030790',
 '002900',
 '008970',
 '092780',
 '018500',
 '030720',
 '163560',
 '001530',
 '004890',
 '002690',
 '000020',
 '011160',
 '016740',
 '024090',
 '003160',
 '092200',
 '013570',
 '210540',
 '007340',
 '026890',
 '027740',
 '001080',
 '015540',
 '090370',
 '017180',
 '012690',
 '005360',
 '204210',
 '009680',
 '009200',
 '008420',
 '025560',
 '007120',
 '002840',
 '268280',
 '107590',
 '134380',
 '003650',
 '155900',
 '003610',
 '001340',
 '014580',
 '035150',
 '002410',
 '007210',
 '002760',
 '000890',
 '001270',
 '026940',
 '011390',
 '005030',
 '100220',
 '003960',
 '008040',
 '007160',
 '014710',
 '006090',
 '079660',
 '005090',
 '001470',
 '006660',
 '001360',
 '068290',
 '006110',
 '002170',
 '272550',
 '002810',
 '005680',
 '003720',
 '023000',
 '004380',
 '002450',
 '000520',
 '009770',
 '001880',
 '010960',
 '004450',
 '009470',
 '011230',
 '000390',
 '041650',
 '075180',
 '007540',
 '248170',
 '007860',
 '200880',
 '004410',
 '021050',
 '008490',
 '007610',
 '136490',
 '002820',
 '014910',
 '003080',
 '004980',
 '011300',
 '000180',
 '002420',
 '004360',
 '306200',
 '003030',
 '019440',
 '013000',
 '091090',
 '021820',
 '067830',
 '033530',
 '075580',
 '027970',
 '145210',
 '017550',
 '002200',
 '134790',
 '016590',
 '004970',
 '011930',
 '005390',
 '035510',
 '034300',
 '031440',
 '006880',
 '005800',
 '009270',
 '002700',
 '002870',
 '005450',
 '293940',
 '001770',
 '004080',
 '102280',
 '004770',
 '004920',
 '008700',
 '002030',
 '002310',
 '267850',
 '122900',
 '101140',
 '001780',
 '002250',
 '161000',
 '011090',
 '023960',
 '140910',
 '078520',
 '015260',
 '007460',
 '003060',
 '085310',
 '009810',
 '014440',
 '006740',
 '012280',
 '012160',
 '015360',
 '002630',
 '004720',
 '118000',
 '006980',
 '017370',
 '105840',
 '010400',
 '049800',
 '016880',
 '095720',
 '103130',
 '005820',
 '010600',
 '008600',
 '000910',
 '047400',
 '011330',
 '077500',
 '002920',
 '000700',
 '072130',
 '000220',
 '001200',
 '003460',
 '008730',
 '008250',
 '025820',
 '088260',
 '007660',
 '005950',
 '015020',
 '093230',
 '102460',
 '084680',
 '000760',
 '014990',
 '023800',
 '034590',
 '129260',
 '023810',
 '000230',
 '013360',
 '003120',
 '003200',
 '007110',
 '008500',
 '081000',
 '020760',
 '103590',
 '015860',
 '033240',
 '000950',
 '194370',
 '025620',
 '001560',
 '006220',
 '004910',
 '004700',
 '001550',
 '000480',
 '120030',
 '018470',
 '002600',
 '063160',
 '001630',
 '044380',
 '013870',
 '010580',
 '035000',
 '088790',
 '003780',
 '010640',
 '100250',
 '051630',
 '011000',
 '002780',
 '009310',
 '000650',
 '012600',
 '033250',
 '006380',
 '109070',
 '029460',
 '281820',
 '145270',
 '058860',
 '007810',
 '152330',
 '044820',
 '005070',
 '005420',
 '071950',
 '003070',
 '144620',
 '138490',
 '031820',
 '015590',
 '264900',
 '005740',
 '020120',
 '012170',
 '015890',
 '006890',
 '011280',
 '004100',
 '001420',
 '007980',
 '055490',
 '078000',
 '214420',
 '140890',
 '019180',
 '004870',
 '036580',
 '010820',
 '016800',
 '001020',
 '090080',
 '010770',
 '058430',
 '007630',
 '017810',
 '005810',
 '172580',
 '153360',
 '159650',
 '071090',
 '019490',
 '000140',
 '005430',
 '010040',
 '004090',
 '006200',
 '002300',
 '023350',
 '025890',
 '000970',
 '104700',
 '017960',
 '007280',
 '010100',
 '123690',
 '003350',
 '011500',
 '014790',
 '053690',
 '003680',
 '069640',
 '016450',
 '010420',
 '009180',
 '004710',
 '004150',
 '025750',
 '004960',
 '011700',
 '001750',
 '014130',
 '002220',
 '130660',
 '097230',
 '003480',
 '005110',
 '009460',
 '027390',
 '195870',
 '101530',
 '143210',
 '004560',
 '004310',
 '001500',
 '227840',
 '093240',
 '003010',
 '111110',
 '002460',
 '013520',
 '010690',
 '133820',
 '010660',
 '000850',
 '016580',
 '032560',
 '094280',
 '005870',
 '079980',
 '005010',
 '000540',
 '003280']

In [91]:
stock.api.get_shorting_investor_volume_by_date("20190401", "20190405", "KOSPI")

               기관      개인      외국인    기타        합계
날짜
20190401  3402249  133996  5702788   200   9239233
20190402  2883434  139801  5580395     0   8603630
20190403  3589910  127075  6375248     0  10092233
20190404  3200221  119193  5604505  1405   8925324
20190405  3163018  134396  6882981  1754  10182149

In [93]:
stock.api.get_shorting_volume_top50("20191227", "KOSPI") # 공매도거래비중

,순위,공매도거래대금,총거래대금,공매도비중,직전40일거래대금평균,공매도거래대금증가율,직전40일공매도평균비중,공매도비중증가율,주가수익률
종목명,,,,,,,,,
대한제당,1,82586300,186046400,44.390,9070941,9.104,4.398,10.092,-3.226
효성중공업,2,281744150,791689200,35.588,86216288,3.268,8.212,4.333,0.382
아모레G,3,2204540000,6385411500,34.525,2695385793,0.818,22.826,1.512,0.370
태영건설,4,588235700,1984735400,29.638,174470538,3.372,8.862,3.344,0.847
신한지주,5,15349977400,52057186900,29.487,6273719640,2.447,14.553,2.026,-3.607
강원랜드,6,2657645600,9437290450,28.161,602026408,4.415,6.768,4.161,-3.105
현대리바트,7,155508050,563744450,27.585,32470536,4.789,6.271,4.398,0.000
한라홀딩스,8,432449400,1634411700,26.459,73618044,5.874,7.145,3.703,-3.621
아모레퍼시픽,9,6538606000,26117328500,25.036,13833653271,0.473,25.779,0.971,-0.763
부국증권,10,27430900,110177900,24.897,2651464,10.346,6.189,4.023,-3.864
동양,11,151567145,623566385,24.306,34801862,4.355,7.371,3.298,-3.103
한샘,12,815172000,3523962600,23.132,594172805,1.372,15.850,1.459,-0.478
쌍용양회,13,2537265910,11482690450,22.096,443160402,5.725,10.140,2.179,-4.061
선진,14,91968580,420607120,21.866,14790465,6.218,6.177,3.540,0.106
GS리테일,15,814629800,3807782450,21.394,497062108,1.639,10.658,2.007,-0.506
LG생활건강,16,5755113000,26999356000,21.316,5411965300,1.063,14.888,1.432,0.080
쌍용차,17,264369440,1294895575,20.416,162174730,1.630,20.564,0.993,3.218
한온시스템,18,1243823600,6176981150,20.136,1392858735,0.893,21.587,0.933,-1.316
현대해상,19,1404899700,7048024300,19.933,1059284435,1.326,15.081,1.322,-2.862
영진약품,20,1193378130,6225131480,19.170,410472458,2.907,5.757,3.330,2.362
LG하우시스,21,162803900,859178900,18.949,88679400,1.836,9.869,1.920,-1.085
두산밥캣,22,854478050,4612602300,18.525,550625755,1.552,13.175,1.406,-0.986
금호석유,23,1047734000,5745857900,18.235,353600098,2.963,4.356,4.186,0.000
한국쉘석유,24,333722500,1845472500,18.083,24718488,13.501,6.550,2.761,-4.672
팜스코,25,108970760,608584700,17.906,50972997,2.138,8.944,2.002,-1.618
NH투자증권,26,3238007350,18293017150,17.701,1424139591,2.274,16.013,1.105,-2.632
두산,27,1052937500,6102739100,17.254,579243325,1.818,10.430,1.654,-2.361
대교,28,33488970,194127080,17.251,18072756,1.853,7.936,2.174,-1.932
S-Oil,29,2312320800,13448489800,17.194,3621579823,0.638,15.666,1.098,0.945
효성,30,4062681600,23857904000,17.029,600742483,6.763,12.243,1.391,-5.575
기업은행,31,7914080900,46642537700,16.968,2245414363,3.525,12.921,1.313,-4.800
한미사이언스,32,1064834700,6502658450,16.375,771100065,1.381,12.967,1.263,-3.791
SK,33,5235945500,32181195000,16.270,5608989713,0.933,12.661,1.285,0.000
코스맥스,34,599019800,3706382400,16.162,1120077495,0.535,11.784,1.371,0.510
롯데쇼핑,35,1875431000,11653225000,16.094,1518965713,1.235,14.229,1.131,-1.832
녹십자,36,522211000,3258512500,16.026,307845875,1.696,9.534,1.681,0.763
남해화학,37,99413570,628971790,15.806,31883148,3.118,3.898,4.055,-0.972
S&T모티브,38,179608400,1137012100,15.797,276811493,0.649,10.961,1.441,-1.628
한국항공우주,39,1235091850,7931388050,15.572,728128714,1.696,7.426,2.097,0.742
SK이노베이션,40,5383853000,34990535000,15.387,4205902250,1.280,11.445,1.344,-2.581
한화에어로스페이스,41,904313250,6137147100,14.735,583263104,1.550,5.875,2.508,1.453
농심홀딩스,42,6135800,43473900,14.114,4418108,1.389,6.609,2.136,0.256
E1,43,74033300,527536100,14.034,8369373,8.846,3.394,4.134,-2.231
무학,44,18886500,136735540,13.812,26874217,0.703,9.887,1.397,-0.351
한세실업,45,220130450,1597593000,13.779,189430861,1.162,7.083,1.945,-1.143
한국조선해양,46,2850653500,20998675000,13.575,2240436538,1.272,13.964,0.972,1.606
마니커,47,141814061,1083026384,13.094,80322067,1.766,3.791,3.454,0.628
에스원,48,488274000,3766245000,12.964,266443920,1.833,6.188,2.095,-0.526
제일기획,49,604082450,4672570500,12.928,342605090,1.763,7.327,1.764,-2.213
키움증권,50,304257300,2377299600,12.798,269117813,1.131,8.880,1.441,-0.125

In [95]:
stock.api.get_shorting_balance_top50("20191224", "KOSDAQ") # 공매도잔고수량

              종목명  순위      잔고수량        주식수          잔고금액           시가총액     비중
티커
084990      헬릭스미스   1   2553820   21415088  217840846000  1826707006400  11.92
028300      에이치엘비   2   4841690   42738918  484653169000  4278165691800  11.33
200230     텔콘RF제약   3   7853852   83178230   42882031920   454153135800   9.44
263750       펄어비스   4   1012274   13023000  186258416000  2396232000000   7.77
215600        신라젠   5   5400467   71052125   73716374550   969861506250   7.60
032500     케이엠더블유   6   3011950   39803276  145627782500  1924488394600   7.57
067630  에이치엘비생명과학   7   3499895   47057453   90472285750  1216435160050   7.44
058820      CMG제약   8  10277592  138892244   41110368000   555568976000   7.40
140410        메지온   9    610189    8705952   98850618000  1410364224000   7.01
073070        에스모  10   6347981   92347277   10759827795   156528634515   6.87
045390      대아티아이  11   4460959   71151522   22617062130   360738216540   6.27
007390       네이처셀  12   3801968   61190399   24028437760   386723321680   6.21
086520       에코프로  13   1266633   22090191   25332660000   441803820000   5.73
082270        젬백스  14   1987664   38483023   64499696800  1248774096350   5.16
027050       코리아나  15   1895330   40000000    6946384450   146600000000   4.74
050110        캠시스  16   2895614   64132180    8180109550   181173408500   4.52
048410      현대바이오  17   1525675   34645692   20367761250   462519988200   4.40
066970       엘앤에프  18   1074165   24758729   21859257750   503840135150   4.34
065620        제낙스  19    898429   22486744    3679066755    92083216680   4.00
087010        펩트론  20    587138   15326500   10950123700   285839225000   3.83
183490    엔지켐생명과학  21    299215    7859262   18700937500   491203875000   3.81
047310      파워로직스  22   1307801   34420982   12868761840   338702462880   3.80
052020      에스티큐브  23   1017626   27150631   10837716900   289154220150   3.75
049480      오픈베이스  24   1149862   31422383    3512828410    95995380065   3.66
061970      엘비세미콘  25   1599164   43784592   11497989160   314811216480   3.65
122870  와이지엔터테인먼트  26    661246   18197609   17192396000   473137834000   3.63
121800        비덴트  27   1204484   33991523    9310661320   262754472790   3.54
025980        아난티  28   2919375   84645004   29485687500   854914540400   3.45
041960        코미팜  29   2143019   63924375   30859473600   920511000000   3.35
115450     지트리비앤티  30    834969   24920136   24339346350   726421964400   3.35
091990   셀트리온헬스케어  31   4582913  143928048  252976797600  7944828249600   3.18
018000        유니슨  32   2961726   93600606    2872874220    90792587820   3.16
091700        파트론  33   1659094   54156410   22065950200   720280253000   3.06
010170      대한광통신  34   2256559   73741625    7254837185   237079324375   3.06
099220        SDN  35   1403633   46305180    3972281390   131043659400   3.03
060720       KH바텍  36    673744   23122530   13912813600   477480244500   2.91
032820       우리기술  37   2856221   99078435    2693416403    93430964205   2.88
098460         고영  38    387002   13711951   39280703000  1391763026500   2.82
196170       알테오젠  39    391306   13896750   22695748000   806011500000   2.82
078130       국일제지  40   3386408  122333346   18862292560   681396737220   2.77
050890        쏠리드  41   1440109   52185175    7402160260   268231799500   2.76
048530     인트론바이오  42    821919   30010745   11054810550   403644520250   2.74
138080      오이솔루션  43    211405    7739532   11225605500   410969149200   2.73
016670     포비스티앤씨  44   1062046   40078058    1619620150    61119038450   2.65
090710       휴림로봇  45   2141853   81986448    2248945650    86085770400   2.61
178920   SKC코오롱PI  46    764164   29366322   26019784200   999923264100   2.60
041910      에스텍파마  47    307967   11898263    3757197400   145158808600   2.59
088800      에이스테크  48   1002137   38858022    8007074630   310475595780   2.58
065560     녹원씨엔아이  49    395100   15527195    2173050000    85399572500   2.54
104480     티케이케미칼  50   2304665   90895434    4839796500   190880411400   2.54