In [1]:
from pykrx.stock.api import *

In [2]:
df = get_index_ticker_list('20200410', market="KOSPI")
df

['1001',
 '1028',
 '1034',
 '1035',
 '1167',
 '1182',
 '1244',
 '1150',
 '1151',
 '1152',
 '1153',
 '1154',
 '1155',
 '1156',
 '1157',
 '1158',
 '1159',
 '1160',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '1018',
 '1019',
 '1020',
 '1021',
 '1022',
 '1024',
 '1025',
 '1026',
 '1027',
 '1002',
 '1003',
 '1004',
 '1224',
 '1227',
 '1232']

In [3]:
df = get_market_ohlcv_by_date("20190501", "20190531", "005930")
df

               시가     고가     저가     종가       거래량
날짜
2019-05-02  45500  46150  45400  45900   8625126
2019-05-03  45900  46050  45300  45300   6562916
2019-05-07  45250  45300  44400  44850  12014907
2019-05-08  44300  44850  44200  44250  10398754
2019-05-09  43900  44250  42450  42450  23029718
2019-05-10  42600  43450  42450  42900  14579512
2019-05-13  42500  43200  42350  42650   7635079
2019-05-14  41300  43100  41300  42650  11563730
2019-05-15  42700  43050  42550  42550   7670185
2019-05-16  42350  42400  41350  41550  13687828
2019-05-17  41950  42050  40850  41200  13357951
2019-05-20  41650  42100  41550  42000  15752397
2019-05-21  42600  43950  42350  43150  18812133
2019-05-22  43700  43800  42400  43500  11033339
2019-05-23  43900  44000  43250  43850  12259006
2019-05-24  43800  43800  42400  42700  13966305
2019-05-27  42500  43000  42350  42650   8066669
2019-05-28  42550  42950  42150  42550  24506881
2019-05-29  41850  42100  41300  41800  14930618
2019-05-30  42200  42700  42150  42550  11766018
2019-05-31  42600  42800  42150  42500  11365999

In [4]:
df = get_market_price_change_by_ticker("20190624", "20190630")
df

           종목명     시가     종가   변동폭     등락률      거래량         거래대금
티커
000020    동화약품   9870   9680  -190   -1.93    99885    977258200
000040   KR모터스    520    540    20    3.85  1323274    706294918
000050      경방  10550  10450  -100   -0.95    31235    327224950
000060   메리츠화재  21000  20700  -300   -1.43   793198  16440721550
000070   삼양홀딩스  75500  73700 -1800   -2.38    40271   2988620800
...        ...    ...    ...   ...     ...      ...          ...
950140   잉글우드랩   5710   5240  -470   -8.23   385192   2050455590
950160  코오롱티슈진   8010   8010     0    0.00        0            0
950170     JTC   7980   7880  -100   -1.25   576744   4559041170
950180     SNK  25500  24850  -650   -2.55   668583  16312643350
079660    사조해표   8380      0 -8380 -100.00        0            0

[2398 rows x 7 columns]

In [10]:
df = get_market_price_change_by_ticker("20200917", "20200918")
df.to_excel('f:/kkang.xlsx')

In [4]:
df = get_market_ohlcv_by_date("20180101", "20201231", "003000", "y")
df

               시가     고가     저가     종가        거래량
날짜
2018-12-31  17345  24121  15577  23722   72350556
2019-12-31  24200  24869  11717  14350   53949110
2020-12-31  14350  46550  12350  24600  941203601

In [11]:
df = get_market_fundamental_by_ticker("20200918")
df

             종목명   DIV    BPS     PER  EPS       PBR
티커
000250     삼천당제약  0.09   7142  115.16  488  7.868675
000440    중앙에너비스  2.04   7246   59.39  132  1.081904
001000      신라섬유  0.00    595  240.00    9  3.630252
001540      안국약품  1.33  11366   75.11  221  1.460436
001810      무림SP  1.57   9203   36.48   61  0.241799
...          ...   ...    ...     ...  ...       ...
33637K   두산솔루스1우  0.00      0    0.00    0  0.000000
33637L  두산솔루스2우B  0.00      0    0.00    0  0.000000
344820   케이씨씨글라스  0.00      0    0.00    0  0.000000
353200      대덕전자  0.00      0    0.00    0  0.000000
35320K    대덕전자1우  0.00      0    0.00    0  0.000000

[2307 rows x 6 columns]

In [ ]:
df = get_market_fundamental_by_date("20200101", "20201231", "003000", "m")
df

In [ ]:
df = get_market_ticker_name("000660")
df

In [ ]:
df = get_market_fundamental_by_date("20200101", "20200410", '005930')
df

In [ ]:
df = get_market_fundamental_by_date("20200101", "20200410", '005930')
df

In [12]:
tickers = get_index_ticker_list("20200410", "KOSDAQ")
tickers

['코스닥',
 '코스닥 150',
 '코스닥 150 정보기술',
 '코스닥 150 헬스케어',
 '코스닥 150 커뮤니케이션서비스',
 '코스닥 150 소재',
 '코스닥 150 산업재',
 '코스닥 150 필수소비재',
 '코스닥 150 자유소비재',
 '기타서비스',
 '코스닥 IT',
 '제조',
 '건설',
 '유통',
 '운송',
 '금융',
 '오락,문화',
 '통신방송서비스',
 'IT S/W & SVC',
 'IT H/W',
 '음식료·담배',
 '섬유·의류',
 '종이·목재',
 '출판·매체복제',
 '화학',
 '제약',
 '비금속',
 '금속',
 '기계·장비',
 '일반전기전자',
 '의료·정밀기기',
 '운송장비·부품',
 '기타 제조',
 '통신서비스',
 '방송서비스',
 '인터넷',
 '디지털컨텐츠',
 '소프트웨어',
 '컴퓨터서비스',
 '통신장비',
 '정보기기',
 '반도체',
 'IT부품',
 '코스닥 대형주',
 '코스닥 중형주',
 '코스닥 소형주',
 '코스닥 우량기업부',
 '코스닥 벤처기업부',
 '코스닥 중견기업부',
 '코스닥 기술성장기업부']

In [3]:
tickers = get_index_ticker_list("20200410", "KOSPI")
tickers

['코스피',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피200제외 코스피지수',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주',
 '코스피 200 비중상한 30%',
 '코스피 200 비중상한 25%',
 '코스피 200 비중상한 20%']

In [5]:
from mod1 import *
df_kospi = get_index_ohlcv_by_date("20200612", "20250517", "코스피")
df_kospi

Empty DataFrame
Columns: []
Index: []

In [ ]:
df = get_index_ohlcv_by_date("20190101", "20200528", "코스피", freq='m')
df

In [ ]:
df = get_index_ohlcv_by_date("20190101", "20200528", "코스닥", freq='m')
df

In [6]:
#df = get_index_ohlcv_by_date("20180101", "20180630", "코스피", "m")
df = get_index_ohlcv_by_date("20190101", "20190228", "코스닥",'m')
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df = get_index_portfolio_deposit_file("20190412", "코스피 소형주")
df

In [13]:
df = krx.IndexTicker().get_id("코스피")
df

'001'

In [15]:
df = get_index_portfolio_deposit_file("20200918", "코스피")
df

790

In [ ]:
df = get_shorting_investor_volume_by_date("20190401", "20190405", "KOSPI")
df

In [ ]:
df = get_shorting_investor_price_by_date("20190401", "20190405", "KOSPI")
df

In [ ]:
df = get_shorting_volume_top50("20190401", "KOSPI")
df

In [ ]:
df = get_shorting_balance_by_ticker("20190401", "20190405", "005930")
df

In [ ]:
df = get_shorting_balance_top50("20190401", "KOSDAQ")
df

In [ ]:
df = get_etf_ticker_list()
df

In [17]:
from pykrx import stock,website

In [5]:
a  = website.krx.SRT02010100()# 02010100  개별종목 공매도 종합 현황 http://short.krx.co.kr/contents/SRT/02/02010100/SRT02010100.jsp

In [ ]:
a.read('20190101','20191227','KR7215790007')#02010100  개별종목 공매도 종합 현황

In [ ]:
a  = website.krx.SRT02020100() #02020100 공매도 거래 현황 market: 1 (코스피) / 3 (코스닥) / 4 (코넥스)http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

In [ ]:
a.read('20190101','20191227',1) #02020100 공매도 거래 현황market: 1 (코스피) / 3 (코스닥) / 4 (코넥스) http://short.krx.co.kr/contents/SRT/02/02020100/SRT02020100.jsp

In [22]:
a = website.krx.market.ticker._StockFinder() # 상장종목 검색 http://marketdata.krx.co.kr/mdi#document=040204
a.read()

NotImplementedError()

In [19]:
a.read('STK')

NotImplementedError('STK')

In [20]:
a.read('KSQ')

NotImplementedError('KSQ')

In [7]:
a.read('ALL')

NotImplementedError('ALL')

In [23]:
a = website.krx.market.ticker._DelistingFinder() # 상장폐지종목 검색

In [24]:
a.read('ALL')

NotImplementedError('ALL')

In [25]:
a = website.krx.market.ticker._StockTicker()## 조회일 기준의 상장/상폐 종목 리스트 market: 전체/코스피/코스닥/코넥스 - 입력하지 않을 경우 전체

In [26]:
a._get_stock_info_listed(market='전체')

              ISIN      티커       종목      시장
0     KR7060310000  060310       3S  KOSDAQ
1     KR7095570008  095570   AJ네트웍스   KOSPI
2     KR7006840003  006840    AK홀딩스   KOSPI
3     KR7054620000  054620   APS홀딩스  KOSDAQ
4     KR7265520007  265520    AP시스템  KOSDAQ
...            ...     ...      ...     ...
2569  KR7000542001  000547  흥국화재2우B   KOSPI
2570  KR7000541003  000545    흥국화재우   KOSPI
2571  KR7003280005  003280     흥아해운   KOSPI
2572  KR7037440005  037440       희림  KOSDAQ
2573  KR7238490007  238490       힘스  KOSDAQ

[2486 rows x 4 columns]

In [8]:
a = website.naver.core.Sise()

NameError: name 'website' is not defined

In [9]:
a.read('006800',10,'week')

NameError: name 'a' is not defined

In [7]:
stock.api.get_market_ticker_list()

NameError: name 'stock' is not defined

In [11]:
stock.api.get_index_ticker_list('20191227', market="KOSPI")

['1001',
 '1028',
 '1034',
 '1035',
 '1167',
 '1182',
 '1244',
 '1150',
 '1151',
 '1152',
 '1153',
 '1154',
 '1155',
 '1156',
 '1157',
 '1158',
 '1159',
 '1160',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '1018',
 '1019',
 '1020',
 '1021',
 '1022',
 '1024',
 '1025',
 '1026',
 '1027',
 '1002',
 '1003',
 '1004',
 '1224',
 '1227',
 '1232']

In [12]:
stock.api.get_index_kosdaq_ohlcv_by_date("20200101", "20200410",'코스닥 150')

AttributeError: module 'pykrx.stock.api' has no attribute 'get_index_kosdaq_ohlcv_by_date'

In [13]:
df = stock.api.get_index_ohlcv_by_date("20190101", "20190228", "코스피 200")
print(df.head(2))

Empty DataFrame
Columns: []
Index: []

In [10]:
from pykrx import stock

In [14]:
stock.api.get_index_kosdaq_ohlcv_by_date("20190101", "20190228", "코스닥 150")

AttributeError: module 'pykrx.stock.api' has no attribute 'get_index_kosdaq_ohlcv_by_date'

In [15]:
stock.api.get_market_fundamental_by_ticker("20191227")

             종목명   DIV    BPS     PER   EPS       PBR
티커
000250     삼천당제약  0.14   6719   84.47   409  5.141871
000440    중앙에너비스  2.04   7269    8.18   958  1.078063
001000      신라섬유  0.00    587  288.57     7  3.441210
001540      안국약품  2.06  11253    9.27  1154  0.950642
001810      무림SP  1.56   9212    4.45   505  0.243948
...          ...   ...    ...     ...   ...       ...
33626K   두산퓨얼셀1우  0.00      0    0.00     0  0.000000
33626L  두산퓨얼셀2우B  0.00      0    0.00     0  0.000000
336370     두산솔루스  0.00      0    0.00     0  0.000000
33637K   두산솔루스1우  0.00      0    0.00     0  0.000000
33637L  두산솔루스2우B  0.00      0    0.00     0  0.000000

[2283 rows x 6 columns]

In [24]:
stock.api.get_market_ticker_name("1001")

Empty DataFrame
Columns: []
Index: []

In [17]:
stock.api.get_shorting_status_by_date("20181210", "20181212", "005930")

                공매도       잔고        공매도금액          잔고금액
날짜
2018-12-10  2180611  4728327  87700923850  190078745400
2018-12-11   701924  4249549  28291624600  171044347250
2018-12-12    40002  4236519   1618884450  171367193550

In [23]:
stock.api.get_index_kospi_ohlcv_by_date("20190101","20190228","1001")

AttributeError: module 'pykrx.stock.api' has no attribute 'get_index_kospi_ohlcv_by_date'

In [19]:
stock.api.get_index_portfolio_deposit_file("20190412", "코스피 소형주")

Empty DataFrame
Columns: []
Index: []

In [20]:
stock.api.get_shorting_investor_volume_by_date("20190401", "20190405", "KOSPI")

                 기관      개인      외국인    기타        합계
날짜
2019-04-01  3402249  133996  5702788   200   9239233
2019-04-02  2883434  139801  5580395     0   8603630
2019-04-03  3589910  127075  6375248     0  10092233
2019-04-04  3200221  119193  5604505  1405   8925324
2019-04-05  3163018  134396  6882981  1754  10182149

In [21]:
stock.api.get_shorting_volume_top50("20191227", "KOSPI") # 공매도거래비중

,순위,공매도거래대금,총거래대금,공매도비중,직전40일거래대금평균,공매도거래대금증가율,직전40일공매도평균비중,공매도비중증가율,주가수익률
종목명,,,,,,,,,
대한제당,1,82586300,186046400,44.390,9070941,9.104,4.398,10.092,-3.226
효성중공업,2,281744150,791689200,35.588,86216288,3.268,8.212,4.333,0.382
아모레G,3,2204540000,6385411500,34.525,2695385793,0.818,22.826,1.512,0.370
태영건설,4,588235700,1984735400,29.638,174470538,3.372,8.862,3.344,0.847
신한지주,5,15349977400,52057186900,29.487,6273719640,2.447,14.553,2.026,-3.607
강원랜드,6,2657645600,9437290450,28.161,602026408,4.415,6.768,4.161,-3.105
현대리바트,7,155508050,563744450,27.585,32470536,4.789,6.271,4.398,0.000
한라홀딩스,8,432449400,1634411700,26.459,73618044,5.874,7.145,3.703,-3.621
아모레퍼시픽,9,6538606000,26117328500,25.036,13833653271,0.473,25.779,0.971,-0.763
부국증권,10,27430900,110177900,24.897,2651464,10.346,6.189,4.023,-3.864
동양,11,151567145,623566385,24.306,34801862,4.355,7.371,3.298,-3.103
한샘,12,815172000,3523962600,23.132,594172805,1.372,15.850,1.459,-0.478
쌍용양회,13,2537265910,11482690450,22.096,443160402,5.725,10.140,2.179,-4.061
선진,14,91968580,420607120,21.866,14790465,6.218,6.177,3.540,0.106
GS리테일,15,814629800,3807782450,21.394,497062108,1.639,10.658,2.007,-0.506
LG생활건강,16,5755113000,26999356000,21.316,5411965300,1.063,14.888,1.432,0.080
쌍용차,17,264369440,1294895575,20.416,162174730,1.630,20.564,0.993,3.218
한온시스템,18,1243823600,6176981150,20.136,1392858735,0.893,21.587,0.933,-1.316
현대해상,19,1404899700,7048024300,19.933,1059284435,1.326,15.081,1.322,-2.862
영진약품,20,1193378130,6225131480,19.170,410472458,2.907,5.757,3.330,2.362
LG하우시스,21,162803900,859178900,18.949,88679400,1.836,9.869,1.920,-1.085
두산밥캣,22,854478050,4612602300,18.525,550625755,1.552,13.175,1.406,-0.986
금호석유,23,1047734000,5745857900,18.235,353600098,2.963,4.356,4.186,0.000
한국쉘석유,24,333722500,1845472500,18.083,24718488,13.501,6.550,2.761,-4.672
팜스코,25,108970760,608584700,17.906,50972997,2.138,8.944,2.002,-1.618
NH투자증권,26,3238007350,18293017150,17.701,1424139591,2.274,16.013,1.105,-2.632
두산,27,1052937500,6102739100,17.254,579243325,1.818,10.430,1.654,-2.361
대교,28,33488970,194127080,17.251,18072756,1.853,7.936,2.174,-1.932
S-Oil,29,2312320800,13448489800,17.194,3621579823,0.638,15.666,1.098,0.945
효성,30,4062681600,23857904000,17.029,600742483,6.763,12.243,1.391,-5.575
기업은행,31,7914080900,46642537700,16.968,2245414363,3.525,12.921,1.313,-4.800
한미사이언스,32,1064834700,6502658450,16.375,771100065,1.381,12.967,1.263,-3.791
SK,33,5235945500,32181195000,16.270,5608989713,0.933,12.661,1.285,0.000
코스맥스,34,599019800,3706382400,16.162,1120077495,0.535,11.784,1.371,0.510
롯데쇼핑,35,1875431000,11653225000,16.094,1518965713,1.235,14.229,1.131,-1.832
녹십자,36,522211000,3258512500,16.026,307845875,1.696,9.534,1.681,0.763
남해화학,37,99413570,628971790,15.806,31883148,3.118,3.898,4.055,-0.972
S&T모티브,38,179608400,1137012100,15.797,276811493,0.649,10.961,1.441,-1.628
한국항공우주,39,1235091850,7931388050,15.572,728128714,1.696,7.426,2.097,0.742
SK이노베이션,40,5383853000,34990535000,15.387,4205902250,1.280,11.445,1.344,-2.581
한화에어로스페이스,41,904313250,6137147100,14.735,583263104,1.550,5.875,2.508,1.453
농심홀딩스,42,6135800,43473900,14.114,4418108,1.389,6.609,2.136,0.256
E1,43,74033300,527536100,14.034,8369373,8.846,3.394,4.134,-2.231
무학,44,18886500,136735540,13.812,26874217,0.703,9.887,1.397,-0.351
한세실업,45,220130450,1597593000,13.779,189430861,1.162,7.083,1.945,-1.143
한국조선해양,46,2850653500,20998675000,13.575,2240436538,1.272,13.964,0.972,1.606
마니커,47,141814061,1083026384,13.094,80322067,1.766,3.791,3.454,0.628
에스원,48,488274000,3766245000,12.964,266443920,1.833,6.188,2.095,-0.526
제일기획,49,604082450,4672570500,12.928,342605090,1.763,7.327,1.764,-2.213
키움증권,50,304257300,2377299600,12.798,269117813,1.131,8.880,1.441,-0.125

In [ ]:
stock.api.get_shorting_balance_top50("20191224", "KOSDAQ") # 공매도잔고수량

In [22]:
df = stock.get_market_ohlcv_by_ticker("20200831", "KOSPI")
df

,종목명,시가,고가,저가,종가,거래량,거래대금,시가총액,시총비중,상장주식수
종목코드,,,,,,,,,,
000020,동화약품,23200,24000,23000,23450,786605,18488865200,654992971500,0.040009,27931470
000040,KR모터스,701,750,690,705,3172595,2291451896,64621017690,0.000000,91661018
000050,경방,10600,10850,10350,10550,23905,250412000,289231098500,0.020004,27415270
000060,메리츠화재,12750,12900,12600,12750,181382,2306209250,1449420000000,0.090027,113680000
000070,삼양홀딩스,64400,65600,63700,64400,21257,1371218100,551539052400,0.029999,8564271
...,...,...,...,...,...,...,...,...,...,...
353200,대덕전자,11050,11300,10800,10950,726353,7977902350,541115328750,0.029999,49416925
35320K,대덕전자1우,6850,6890,6720,6760,16839,114332280,14165708440,0.000000,2095519
357120,코람코에너지리츠,4800,4800,4640,4735,2881153,13618800130,329650700000,0.020004,69620000
357250,미래에셋맵스리츠,4780,4790,4750,4765,73962,352358360,95776500000,0.010002,20100000
900140,엘브이엠씨홀딩스,3955,4000,3800,3905,232857,904441525,199625314295,0.010002,51120439