In [8]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

df2 = df1[['date','tradePrice','change', 'changePrice','changeRate','unsettledVolume','foreignSettlement', 'institutionSettlement', 'privateSettlement']]
df2.columns=('Date','Close','change','가격변동','등락률','미결제약정','외국인','기관','개인')
df2['Date'] = pd.to_datetime(df2['Date']).dt.date
#df2['Date'] = pd.to_datetime(df2['Date']).apply(lambda x: x.date())
#df2['Date'] = pd.to_datetime(df2['Date'], format = '%Y-%m-%d') # yyyy-mm-dd hh:mm:ss -> yyyy-mm-dd (속성은그대로 보여주는 형식만 변경)
df2 = df2.set_index('Date')
df2.to_excel('d:\\future.xlsx',encoding='utf-8')
df2

C:\Anaconda3\envs\kkang\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Close change  가격변동     등락률   미결제약정    외국인     기관     개인
Date
2019-06-13  272.00   FALL  0.15  0.0006  124850   4408  -6893   2333
2019-06-12  272.15   FALL  1.00  0.0037  151962    152  -1770   1888
2019-06-11  273.15   RISE  1.45  0.0053  193112    680   1157  -1871
2019-06-10  271.70   RISE  4.10  0.0153  272872   3894  -1570  -1927
2019-06-07  267.60   FALL  0.35  0.0013  320046   1394   -593   -868
2019-06-05  267.95   RISE  0.90  0.0034  326197  -6114   7117  -1077
2019-06-04  267.05   FALL  1.00  0.0037  323119  -4596   3225   1349
2019-06-03  268.05   RISE  4.55  0.0173  327098   2875   1163  -3627
2019-05-31  263.50   FALL  0.80  0.0030  331392  -2203    874    898
2019-05-30  264.30   RISE  3.20  0.0123  333125   5773  -3497  -2351
2019-05-29  261.10   FALL  3.80  0.0143  336869  -2706    517   2256
2019-05-28  264.90   RISE  0.40  0.0015  332709  -4814   4064    684
2019-05-27  264.50   FALL  0.45  0.0017  334405     41    848   -792
2019-05-24  264.95   FALL  1.20  0.0045  334766  -2481    540   1636
2019-05-23  266.15   FALL  1.05  0.0039  331635     37   -467    717
2019-05-22  267.20   RISE  0.55  0.0021  329216   1760   3555  -5450
2019-05-21  266.65   RISE  1.35  0.0051  327286   1626    -41  -1706
2019-05-20  265.30   RISE  0.50  0.0019  328054    899  -1508    518
2019-05-16  266.35   FALL  3.85  0.0142  326513    288   2848  -3365
2019-05-15  270.20   RISE  1.55  0.0058  317623  -1074   5012  -3909
2019-05-14  268.65   FALL  0.40  0.0015  321236   2683  -1889  -1115
2019-05-13  269.05   FALL  2.90  0.0107  321699   2364  -1338   -994
2019-05-10  271.95   FALL  0.30  0.0011  318408   4372   -374  -4133
2019-05-09  272.25   FALL  7.90  0.0282  324495  -7204   -760   2964
2019-05-08  280.15   FALL  1.65  0.0059  314700   1519    654  -1578
2019-05-07  281.80   FALL  2.15  0.0076  318548    813   1446  -1079
2019-05-03  283.95   FALL  2.90  0.0101  320286 -12366   7348   4649
2019-05-02  286.85   RISE  1.45  0.0051  325308   1556    557  -1862
2019-04-30  285.40   FALL  2.25  0.0078  325357  -8783   6574   2206
2019-04-29  287.65   RISE  5.90  0.0209  326879   5914    363  -4838
...            ...    ...   ...     ...     ...    ...    ...    ...
2017-10-11  321.10   RISE  6.60  0.0210     215   4422  -3393   -597
2017-10-10  314.50   RISE  4.05  0.0130     211   9318 -10894   1775
2017-09-29  310.45   EVEN  0.00  0.0000     211   3901  -2951  -1682
2017-09-28  310.45   FALL  1.50  0.0048     211   2538   2549  -4809
2017-09-27  311.95   FALL  0.70  0.0022     210  -2930   2229   2131
2017-09-26  312.65   EVEN  0.00  0.0000     210    481  -3215   3652
2017-09-25  312.65   FALL  0.35  0.0011     210   1704    256  -2376
2017-09-22  313.00   FALL  2.60  0.0082     212  -4907    270   4843
2017-09-21  315.60   RISE  0.10  0.0003     213    317    725  -2298
2017-09-20  315.50   EVEN  0.00  0.0000     212  -3899   1556   2143
2017-09-19  315.50   RISE  4.15  0.0133     212  -4403   1624   2354
2017-09-18  311.35   RISE  1.05  0.0034     210   1608  -4151   2172
2017-09-15  310.30   RISE  2.40  0.0078     210   -683  -1328   -690
2017-09-14  307.90   FALL  0.65  0.0021     210  -4963   4539  -2105
2017-09-13  308.55   EVEN  0.00  0.0000     210   1040  -1060    719
2017-09-12  308.55   RISE  3.05  0.0100     210  -3847   1058   3275
2017-09-11  305.50   RISE  2.50  0.0083     210    241  -2934   2372
2017-09-08  303.00   EVEN  0.00  0.0000     210   -902    -10    887
2017-09-07  303.00   RISE  1.10  0.0036     210   5646   4974 -10292
2017-09-06  301.90   FALL  0.80  0.0026     200  -4050   6906  -2884
2017-09-05  302.70   FALL  2.85  0.0093     200  -6981   1985   4840
2017-09-04  305.55   FALL  0.40  0.0013     200   7787  -6715   -962
2017-09-01  305.95   FALL  2.35  0.0076     200    -72   2753  -2314
2017-08-31  308.30   RISE  1.85  0.0060     200  -2996   2727    878
2017-08-30  306.45   FALL  1.10  0.0036     200   1425   -627   -655
2017-08-29  307.55   FALL  2.10  0.0068     200  -2028   4796  -3255
2017-08-28  309.65   RISE  0.15  0.0005     200  -3599   1702   2319
2017-08-25  309.50   RISE  1.55  0.0050     200  -2444    183   2218
2017-08-24  307.95   FALL  0.10  0.0003     200   2218  -2516   -501
2017-08-23  308.05   RISE  1.65  0.0054     200  -5146   3592   2598

[435 rows x 8 columns]

In [3]:
df2['Date'][0]

datetime.date(2019, 6, 13)

In [10]:
df = pd.read_excel('d:\\future.xlsx')
df=df[['Date','Close']]
df

          Date   Close
0   2019-06-13  272.00
1   2019-06-12  272.15
2   2019-06-11  273.15
3   2019-06-10  271.70
4   2019-06-07  267.60
5   2019-06-05  267.95
6   2019-06-04  267.05
7   2019-06-03  268.05
8   2019-05-31  263.50
9   2019-05-30  264.30
10  2019-05-29  261.10
11  2019-05-28  264.90
12  2019-05-27  264.50
13  2019-05-24  264.95
14  2019-05-23  266.15
15  2019-05-22  267.20
16  2019-05-21  266.65
17  2019-05-20  265.30
18  2019-05-16  266.35
19  2019-05-15  270.20
20  2019-05-14  268.65
21  2019-05-13  269.05
22  2019-05-10  271.95
23  2019-05-09  272.25
24  2019-05-08  280.15
25  2019-05-07  281.80
26  2019-05-03  283.95
27  2019-05-02  286.85
28  2019-04-30  285.40
29  2019-04-29  287.65
..         ...     ...
405 2017-10-11  321.10
406 2017-10-10  314.50
407 2017-09-29  310.45
408 2017-09-28  310.45
409 2017-09-27  311.95
410 2017-09-26  312.65
411 2017-09-25  312.65
412 2017-09-22  313.00
413 2017-09-21  315.60
414 2017-09-20  315.50
415 2017-09-19  315.50
416 2017-09-18  311.35
417 2017-09-15  310.30
418 2017-09-14  307.90
419 2017-09-13  308.55
420 2017-09-12  308.55
421 2017-09-11  305.50
422 2017-09-08  303.00
423 2017-09-07  303.00
424 2017-09-06  301.90
425 2017-09-05  302.70
426 2017-09-04  305.55
427 2017-09-01  305.95
428 2017-08-31  308.30
429 2017-08-30  306.45
430 2017-08-29  307.55
431 2017-08-28  309.65
432 2017-08-25  309.50
433 2017-08-24  307.95
434 2017-08-23  308.05

[435 rows x 2 columns]

In [4]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()


class to_excel:
    
    def get_investor_trend(self):
        url = 'http://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020601&sosok=&page='

        source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
        source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

        last = source.find('td',class_='pgRR').find('a')['href']
        last = last.split('page')[1]
        last = last.split('=')[1]
        last = int(last)
        print(last)

        # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
        path = 'd:\\investortrend.xlsx'
    
        # 날짜를 받을 리스트
        date_list = []

        # 값을 받을 사전
        dictionary = {'개인': [],'외국인': [],'기관': []}

        # dictionary key 인덱싱을 위한 리스트
        name_list = ['개인','외국인','기관']


        # count mask
        mask = [1,2,3]
    
        for i in range(1,last+1):
        
            source = urlopen(url+ str(i)).read()
            source = BeautifulSoup(source,'lxml')

            #tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
            #trs = tbody.find_all('tr')

            body = source.find('body')
            trs = body.find_all('tr')

            for tr in trs:
                tds = tr.find_all('td',{'class':['date2','rate_down3','rate_up3']})
                count = 0
    
                for td in tds:
                    if count == 0:
                        date_ = td.text.strip().replace('.','-')
                        date_list.append(date_)
                        
                      
                    elif count in mask:
                        temp = int(count-1)
                        dictionary[name_list[temp]].append(td.text.strip().replace(',',''))
        
                    count += 1
                if len(date_list) != len(dictionary['개인']):
                    print(str(i)+ '번째 페이지에서 누락된 값 발생')
                    print('누락된 데이터를 제거합니다')
                    
                    date_list.pop(-1)
                    dictionary['개인'].pop(-1)
                    dictionary['외국인'].pop(-1)
                    dictionary['기관'].pop(-1)
                
        # 개별 list 요소 갯수 파악 
        #print(len(date_list))
        #print(len(dictionary['개인']))
        #print(len(dictionary['외국인']))
        #print(len(dictionary['기관']))

        print(str(i) + '번째 페이지 크롤링 완료')
        df = pd.DataFrame(dictionary,index = date_list)
        df = df.sort_index()
        df = df[['개인','외국인','기관']]
        df.to_excel(path, encoding='utf-8')
        print(df)
        
    def get_investor_trend_date(self,until_date=real_yesterday):
    
        url = 'http://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020601&sosok=&page='

        source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
        source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

        last = source.find('td',class_='pgRR').find('a')['href']
        last = last.split('page')[1]
        last = last.split('=')[1]
        last = int(last)
        print(last)

        # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
        path = 'd:\\investortrend.xlsx'

        until_date = input("날짜를 입력하세요 sample: '2019-01-10': ") or real_yesterday
    
        year = until_date.split('-')[0]
        mm = until_date.split('-')[1]
        dd = until_date.split('-')[2]
        year=year[2:]
        until_date = year+'-'+mm+'-'+dd
    
        # 날짜를 받을 리스트
        date_list = []

        # 값을 받을 사전
        dictionary = {'개인': [],'외국인': [],'기관': []}

        # dictionary key 인덱싱을 위한 리스트
        name_list = ['개인','외국인','기관']


        # count mask
        mask = [1,2,3]
    
        for i in range(1,last+1):
        
            source = urlopen(url+ str(i)).read()
            source = BeautifulSoup(source,'lxml')

            #tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
            #trs = tbody.find_all('tr')

            body = source.find('body')
            trs = body.find_all('tr')

            for tr in trs:
                tds = tr.find_all('td',{'class':['date2','rate_down3','rate_up3']})
                count = 0
    
                for td in tds:
                    if count == 0:
                        date_ = td.text.strip().replace('.','-')
                        if date_ <=  until_date :
                            df = pd.DataFrame(dictionary,index = date_list)
                            df = df.sort_index()
                            df = df[['개인','외국인','기관']]
                            df.to_excel(path, encoding='utf-8')
                            return df   
                        date_list.append(date_)
                        #print(date_list)
                    elif count in mask:
                        temp = int(count-1)
                        dictionary[name_list[temp]].append(td.text.strip().replace(',',''))
                    
                    count += 1
                    
class to_sql:
    
    def excel_to_sql(self, type = 1):
        excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx']
        sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend']

        if type == 1:
        
            file_name = input('파일이름을 입력하세요:')

            df=pd.read_excel('d:\\'+ file_name)
            if file_name=='kpi200.xlsx':
                table_name = 'kpi200'
                df.columns=['Date','kpi200','거래량']

            elif file_name=='investortrend.xlsx':
                table_name = 'investortrend'
                df.columns=['Date', '개인', '외국인','기관']

            elif file_name=='moneytrend.xlsx':
                table_name = 'moneytrend'
                df.columns=['Date', '고객예탁금', '신용잔고','주식형펀드','혼합형펀드','채권형펀드']

            elif file_name=='programtrend.xlsx':
                table_name = 'programtrend'
                df.columns=['Date', '차익', '비차익','전체']

            elif file_name=='market.xlsx':
                data = pd.read_excel('d:\\market.xlsx')
                start_date = input("시작날자를 입려하세요 : sample: '2015-01-01'")

                code_list = data['종목코드'].tolist()
                code_list = [str(item).zfill(6) for item in code_list]
                name_list = data['종목명'].tolist()

                # 코스피 상장종목 전체
                stock_dic = dict(list(zip(code_list,name_list)))

                for code in sorted(stock_dic.keys()):
                    df  = fdr.DataReader(code,start_date)
                    print(code,stock_dic[code])
                    df['Code'],df['Name'] = code,stock_dic[code]
                    df = df[['Code','Name','Open','High','Low','Volume','Close']]
                    df.to_sql(name='market', con=engine, if_exists='append')
                return 

            else:
                print('\n file_name error\n')

            df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

            print(df)
            
        else :
            a = 0
            for i in excel_name_list:

                table_name = sql_table_name_list[a]
                df=pd.read_excel('d:\\'+ i)
                print(table_name)
                #print(df.columns)
                #print(df['Unnamed: 0'])
                df = df.rename(columns = {'Unnamed: 0': 'Date'})
                df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

                print(df)
                a += 1

In [5]:
a = to_excel()

In [6]:
a.get_investor_trend_date()

363
날짜를 입력하세요 sample: '2019-01-10': 2019-08-01

             개인    외국인     기관
19-08-02    143  -3979   3626
19-08-05  -4437  -3169   7355
19-08-06  -4439  -6056  10337
19-08-07   1769   -980   -990
19-08-08   2390  -1017  -1417
19-08-09   2152    -43  -2292
19-08-12   1841    -24  -1854
19-08-13   1558  -1765    -24
19-08-14    520   -501   -243
19-08-16    549   -937    153
19-08-19   -573  -1392   1869
19-08-20   -600   1130   -723
19-08-21   1005  -1274     48
19-08-22   1619  -1229   -512
19-08-23   -912     75    664
19-08-26    534  -1175    709
19-08-27     43    153   -265

In [7]:
df

,accTradeVolume,change,changePrice,changeRate,date,foreignSettlement,institutionSettlement,privateSettlement,tradePrice,unsettledVolume
0,0,FALL,2.10,0.0068,2017-08-29 00:00:00,-2028,4796,-3255,307.55,200
1,0,RISE,0.15,0.0005,2017-08-28 00:00:00,-3599,1702,2319,309.65,200
2,0,RISE,1.55,0.0050,2017-08-25 00:00:00,-2444,183,2218,309.50,200
3,0,FALL,0.10,0.0003,2017-08-24 00:00:00,2218,-2516,-501,307.95,200
4,0,RISE,1.65,0.0054,2017-08-23 00:00:00,-5146,3592,2598,308.05,200

In [ ]:
a.until_date

In [ ]:
real_yesterday = '2019-08-19'

def get_kpi200_date(self,until_date=real_yesterday):
    
    url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page='

    source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
    source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

    last = source.find('td',class_='pgRR').find('a')['href']
    last = last.split('page')[1]
    last = last.split('=')[1]
    last = int(last)
    print(last)

    # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
    path = 'd:\\kpi200.xlsx'

    until_date = input("날짜를 입력하세요 sample: '2019-01-10': ") or real_yesterday

In [20]:
import pandas as pd

from sqlalchemy import create_engine

 

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select Date from kpi200 order by Date desc limit 1", connect)

df = str(df['Date'])

def get_investor_trend_date():

    until_date = df[5:15]

    year = until_date.split('-')[0]

    mm = until_date.split('-')[1]

    dd = until_date.split('-')[2]

    year=year[2:]

    until_date = year+'-'+mm+'-'+dd

    print('year:{}'.format(year))

    print('until_date:{}'.format(until_date))
    
    print('len_year.{}'.format(len(year)))
    print('len_until.{}'.format(len(until_date)))
    print('until_date.{}'.format)

    

get_investor_trend_date()

year:19
until_date:19-08-22
len_year.2
len_until.8
<built-in method format of str object at 0x0000000009AF1370>

In [9]:
from __future__ import unicode_literals

import itertools
import logging
import operator
import random
import re

import numpy as np
import pandas as pd
#from int_date import get_date_from_diff

__author__ = 'Cedric Zhuang'

log = logging.getLogger(__name__)


class StockDataFrame(pd.DataFrame):
    OPERATORS = ['le', 'ge', 'lt', 'gt', 'eq', 'ne']

    # Start of options.
    KDJ_PARAM = (2.0 / 3.0, 1.0 / 3.0)
    KDJ_WINDOW = 9

    BOLL_PERIOD = 20
    BOLL_STD_TIMES = 2

    MACD_EMA_SHORT = 12
    MACD_EMA_LONG = 26
    MACD_EMA_SIGNAL = 9

    PDI_SMMA = 14
    MDI_SMMA = 14
    DX_SMMA = 14
    ADX_EMA = 6
    ADXR_EMA = 6

    CR_MA1 = 5
    CR_MA2 = 10
    CR_MA3 = 20

    TRIX_EMA_WINDOW = 12

    TEMA_EMA_WINDOW = 5

    ATR_SMMA = 14

    # End of options

    @staticmethod
    def _get_change(df):
        df['change'] = df['Close'].pct_change() * 100
        return df['change']

In [4]:
import pandas as pd

from sqlalchemy import create_engine

 

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select Close from market where Name='hrs' and Date > '2019-08-01'", connect)
df

    Close
0    2310
1    2010
2    1955
3    1940
4    1990
5    2030
6    2050
7    2055
8    2065
9    2100
10   2100
11   2135
12   2165
13   2150
14   2165

In [10]:
a = StockDataFrame()

In [11]:
a._get_change(df)

0           NaN
1    -12.987013
2     -2.736318
3     -0.767263
4      2.577320
5      2.010050
6      0.985222
7      0.243902
8      0.486618
9      1.694915
10     0.000000
11     1.666667
12     1.405152
13    -0.692841
14     0.697674
Name: change, dtype: float64

In [12]:
df

    Close     change
0    2310        NaN
1    2010 -12.987013
2    1955  -2.736318
3    1940  -0.767263
4    1990   2.577320
5    2030   2.010050
6    2050   0.985222
7    2055   0.243902
8    2065   0.486618
9    2100   1.694915
10   2100   0.000000
11   2135   1.666667
12   2165   1.405152
13   2150  -0.692841
14   2165   0.697674

In [21]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

df2 = df1[['date','tradePrice','change', 'changePrice','changeRate','unsettledVolume','foreignSettlement', 'institutionSettlement', 'privateSettlement']]
df2.columns=('Date','종가','change','가격변동','등락률','미결제수량','외국인','기관','개인')
#df2 = df2.set_index('date')
df2
df2.to_excel('d:\\future.xlsx')

In [ ]:
df['col'] = pd.to_datetime(df['col'])

In [21]:
df = pd.read_excel('d:\\future.xlsx', parse_dates=['Date'], dayfirst=True)
#df = pd.read_excel('d:\\future.xlsx')
df

,Unnamed: 0,Date,종가,change,가격변동,등락률,미결제수량,외국인,기관,개인
0,0,2019-06-13,272.00,FALL,0.15,0.0006,124850,4408,-6893,2333
1,1,2019-06-12,272.15,FALL,1.00,0.0037,151962,152,-1770,1888
2,2,2019-06-11,273.15,RISE,1.45,0.0053,193112,680,1157,-1871
3,3,2019-06-10,271.70,RISE,4.10,0.0153,272872,3894,-1570,-1927
4,4,2019-06-07,267.60,FALL,0.35,0.0013,320046,1394,-593,-868
5,5,2019-06-05,267.95,RISE,0.90,0.0034,326197,-6114,7117,-1077
6,6,2019-06-04,267.05,FALL,1.00,0.0037,323119,-4596,3225,1349
7,7,2019-06-03,268.05,RISE,4.55,0.0173,327098,2875,1163,-3627
8,8,2019-05-31,263.50,FALL,0.80,0.0030,331392,-2203,874,898
9,9,2019-05-30,264.30,RISE,3.20,0.0123,333125,5773,-3497,-2351
10,10,2019-05-29,261.10,FALL,3.80,0.0143,336869,-2706,517,2256
11,11,2019-05-28,264.90,RISE,0.40,0.0015,332709,-4814,4064,684
12,12,2019-05-27,264.50,FALL,0.45,0.0017,334405,41,848,-792
13,13,2019-05-24,264.95,FALL,1.20,0.0045,334766,-2481,540,1636
14,14,2019-05-23,266.15,FALL,1.05,0.0039,331635,37,-467,717
15,15,2019-05-22,267.20,RISE,0.55,0.0021,329216,1760,3555,-5450
16,16,2019-05-21,266.65,RISE,1.35,0.0051,327286,1626,-41,-1706
17,17,2019-05-20,265.30,RISE,0.50,0.0019,328054,899,-1508,518
18,18,2019-05-16,266.35,FALL,3.85,0.0142,326513,288,2848,-3365
19,19,2019-05-15,270.20,RISE,1.55,0.0058,317623,-1074,5012,-3909
20,20,2019-05-14,268.65,FALL,0.40,0.0015,321236,2683,-1889,-1115
21,21,2019-05-13,269.05,FALL,2.90,0.0107,321699,2364,-1338,-994
22,22,2019-05-10,271.95,FALL,0.30,0.0011,318408,4372,-374,-4133
23,23,2019-05-09,272.25,FALL,7.90,0.0282,324495,-7204,-760,2964
24,24,2019-05-08,280.15,FALL,1.65,0.0059,314700,1519,654,-1578
25,25,2019-05-07,281.80,FALL,2.15,0.0076,318548,813,1446,-1079
26,26,2019-05-03,283.95,FALL,2.90,0.0101,320286,-12366,7348,4649
27,27,2019-05-02,286.85,RISE,1.45,0.0051,325308,1556,557,-1862
28,28,2019-04-30,285.40,FALL,2.25,0.0078,325357,-8783,6574,2206
29,29,2019-04-29,287.65,RISE,5.90,0.0209,326879,5914,363,-4838
...,...,...,...,...,...,...,...,...,...,...
405,405,2017-10-11,321.10,RISE,6.60,0.0210,215,4422,-3393,-597
406,406,2017-10-10,314.50,RISE,4.05,0.0130,211,9318,-10894,1775
407,407,2017-09-29,310.45,EVEN,0.00,0.0000,211,3901,-2951,-1682
408,408,2017-09-28,310.45,FALL,1.50,0.0048,211,2538,2549,-4809
409,409,2017-09-27,311.95,FALL,0.70,0.0022,210,-2930,2229,2131
410,410,2017-09-26,312.65,EVEN,0.00,0.0000,210,481,-3215,3652
411,411,2017-09-25,312.65,FALL,0.35,0.0011,210,1704,256,-2376
412,412,2017-09-22,313.00,FALL,2.60,0.0082,212,-4907,270,4843
413,413,2017-09-21,315.60,RISE,0.10,0.0003,213,317,725,-2298
414,414,2017-09-20,315.50,EVEN,0.00,0.0000,212,-3899,1556,2143
415,415,2017-09-19,315.50,RISE,4.15,0.0133,212,-4403,1624,2354
416,416,2017-09-18,311.35,RISE,1.05,0.0034,210,1608,-4151,2172
417,417,2017-09-15,310.30,RISE,2.40,0.0078,210,-683,-1328,-690
418,418,2017-09-14,307.90,FALL,0.65,0.0021,210,-4963,4539,-2105
419,419,2017-09-13,308.55,EVEN,0.00,0.0000,210,1040,-1060,719
420,420,2017-09-12,308.55,RISE,3.05,0.0100,210,-3847,1058,3275
421,421,2017-09-11,305.50,RISE,2.50,0.0083,210,241,-2934,2372
422,422,2017-09-08,303.00,EVEN,0.00,0.0000,210,-902,-10,887
423,423,2017-09-07,303.00,RISE,1.10,0.0036,210,5646,4974,-10292
424,424,2017-09-06,301.90,FALL,0.80,0.0026,200,-4050,6906,-2884
425,425,2017-09-05,302.70,FALL,2.85,0.0093,200,-6981,1985,4840
426,426,2017-09-04,305.55,FALL,0.40,0.0013,200,7787,-6715,-962
427,427,2017-09-01,305.95,FALL,2.35,0.0076,200,-72,2753,-2314
428,428,2017-08-31,308.30,RISE,1.85,0.0060,200,-2996,2727,878
429,429,2017-08-30,306.45,FALL,1.10,0.0036,200,1425,-627,-655
430,430,2017-08-29,307.55,FALL,2.10,0.0068,200,-2028,4796,-3255
431,431,2017-08-28,309.65,RISE,0.15,0.0005,200,-3599,1702,2319
432,432,2017-08-25,309.50,RISE,1.55,0.0050,200,-2444,183,2218
433,433,2017-08-24,307.95,FALL,0.10,0.0003,200,2218,-2516,-501
434,434,2017-08-23,308.05,RISE,1.65,0.0054,200,-5146,3592,2598

In [14]:
df = df.set_index('Date')
df

             Close
Date
2019-06-13  272.00
2019-06-12  272.15
2019-06-11  273.15
2019-06-10  271.70
2019-06-07  267.60
2019-06-05  267.95
2019-06-04  267.05
2019-06-03  268.05
2019-05-31  263.50
2019-05-30  264.30
2019-05-29  261.10
2019-05-28  264.90
2019-05-27  264.50
2019-05-24  264.95
2019-05-23  266.15
2019-05-22  267.20
2019-05-21  266.65
2019-05-20  265.30
2019-05-16  266.35
2019-05-15  270.20
2019-05-14  268.65
2019-05-13  269.05
2019-05-10  271.95
2019-05-09  272.25
2019-05-08  280.15
2019-05-07  281.80
2019-05-03  283.95
2019-05-02  286.85
2019-04-30  285.40
2019-04-29  287.65
...            ...
2017-10-11  321.10
2017-10-10  314.50
2017-09-29  310.45
2017-09-28  310.45
2017-09-27  311.95
2017-09-26  312.65
2017-09-25  312.65
2017-09-22  313.00
2017-09-21  315.60
2017-09-20  315.50
2017-09-19  315.50
2017-09-18  311.35
2017-09-15  310.30
2017-09-14  307.90
2017-09-13  308.55
2017-09-12  308.55
2017-09-11  305.50
2017-09-08  303.00
2017-09-07  303.00
2017-09-06  301.90
2017-09-05  302.70
2017-09-04  305.55
2017-09-01  305.95
2017-08-31  308.30
2017-08-30  306.45
2017-08-29  307.55
2017-08-28  309.65
2017-08-25  309.50
2017-08-24  307.95
2017-08-23  308.05

[435 rows x 1 columns]

In [11]:
df

          Date   Close
0   2019-06-13  272.00
1   2019-06-12  272.15
2   2019-06-11  273.15
3   2019-06-10  271.70
4   2019-06-07  267.60
5   2019-06-05  267.95
6   2019-06-04  267.05
7   2019-06-03  268.05
8   2019-05-31  263.50
9   2019-05-30  264.30
10  2019-05-29  261.10
11  2019-05-28  264.90
12  2019-05-27  264.50
13  2019-05-24  264.95
14  2019-05-23  266.15
15  2019-05-22  267.20
16  2019-05-21  266.65
17  2019-05-20  265.30
18  2019-05-16  266.35
19  2019-05-15  270.20
20  2019-05-14  268.65
21  2019-05-13  269.05
22  2019-05-10  271.95
23  2019-05-09  272.25
24  2019-05-08  280.15
25  2019-05-07  281.80
26  2019-05-03  283.95
27  2019-05-02  286.85
28  2019-04-30  285.40
29  2019-04-29  287.65
..         ...     ...
405 2017-10-11  321.10
406 2017-10-10  314.50
407 2017-09-29  310.45
408 2017-09-28  310.45
409 2017-09-27  311.95
410 2017-09-26  312.65
411 2017-09-25  312.65
412 2017-09-22  313.00
413 2017-09-21  315.60
414 2017-09-20  315.50
415 2017-09-19  315.50
416 2017-09-18  311.35
417 2017-09-15  310.30
418 2017-09-14  307.90
419 2017-09-13  308.55
420 2017-09-12  308.55
421 2017-09-11  305.50
422 2017-09-08  303.00
423 2017-09-07  303.00
424 2017-09-06  301.90
425 2017-09-05  302.70
426 2017-09-04  305.55
427 2017-09-01  305.95
428 2017-08-31  308.30
429 2017-08-30  306.45
430 2017-08-29  307.55
431 2017-08-28  309.65
432 2017-08-25  309.50
433 2017-08-24  307.95
434 2017-08-23  308.05

[435 rows x 2 columns]

In [20]:
df2.to_sql(name='future', con=engine, if_exists='append')

In [24]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

C:\Anaconda3\envs\kkang\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
import pandas as pd

def excel_to_sql(type = 1):
    excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx','market.xlsx']
    sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend','market']

    a = 0
    for i in excel_name_list:

        table_name = sql_table_name_list[a]
        df=pd.read_excel('d:\\'+ i)
        print(table_name)
        df = df.rename(columns = {'Unnamed: 0': 'Date'})
        #df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

        print(df)
        a += 1
        print(a)
        if i == 'market.xlsx':
            market_df = pd.read_sql("select Date from market order by Date desc limit 1", engine)
            market_df = str(market_df['Date'])
            until_date = kpi200_df[5:15]
            
            code_list = data['종목코드'].tolist()
            code_list = [str(item).zfill(6) for item in code_list]
            name_list = data['종목명'].tolist()

            # 코스피 상장종목 전체
            stock_dic = dict(list(zip(code_list,name_list)))

            for code in sorted(stock_dic.keys()):
                df  = fdr.DataReader(code,start_date)
                print(code,stock_dic[code])
                df['Code'],df['Name'] = code,stock_dic[code]
                df = df[['Code','Name','Open','High','Low','Volume','Close']]
                df.to_sql(name='market', con=engine, if_exists='append')
            return 
                
excel_to_sql(type = 1)

kpi200
         Date  KPI200    거래량
0  2019-08-26  252.19  62611
1  2019-08-27  253.50  91311
1
investortrend
       Date   개인   외국인    기관
0  19-08-26  534 -1175   709
1  19-08-27 -313 -1847  1984
2
programtrend
       Date   차익   비차익    전체
0  19-08-26  328  -178   150
1  19-08-27 -224 -1772 -1996
3
moneytrend
       Date   고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
0  19-08-22  239003  82774  786363  1229285  264366
1  19-08-23  237331  83407  785831  1232962  264195
4
market
        종목코드         종목명
0         20        동화약품
1         30        우리은행
2         40       KR모터스
3         50          경방
4         60       메리츠화재
5         70       삼양홀딩스
6         80       하이트진로
7        100        유한양행
8        120      CJ대한통운
9        140    하이트진로홀딩스
10       150          두산
11       180      성창기업지주
12       210        대림산업
13       220        유유제약
14       230       일동홀딩스
15       240  한국타이어월드와이드
16       250       삼천당제약
17       270       기아자동차
18       300       대유플러스
19       320       노루홀딩스
20       370      한화손해보험
21       390     삼화페인트공업
22       400      롯데손해보험
23       430        대원강업
24       440      중앙에너비스
25       480        조선내화
26       490        대동공업
27       500        가온전선
28       520        삼일제약
29       540        흥국화재
...      ...         ...
2236  307870   골든브릿지이안5호
2237  308700         테크엔
2238  309930   삼성머스트스팩3호
2239  310200  미래에셋대우스팩2호
2240  310840   엔에이치스팩13호
2241  310870     한국제8호스팩
2242  311060        엘에이티
2243  311270     키움제5호스팩
2244  311840        대원모방
2245  314130      지놈앤컴퍼니
2246  900040     차이나그레이트
2247  900070      글로벌에스엠
2248  900080    에스앤씨엔진그룹
2249  900100       뉴프라이드
2250  900110   이스트아시아홀딩스
2251  900120      씨케이에이치
2252  900140       엘브이엠씨
2253  900250     크리스탈신소재
2254  900260         로스웰
2255  900270        헝셩그룹
2256  900280       골든센츄리
2257  900290         GRT
2258  900300    오가닉티코스메틱
2259  900310        컬러레이
2260  900340        윙입푸드
2261  950110  SBI핀테크솔루션즈
2262  950130      엑세스바이오
2263  950140       잉글우드랩
2264  950160      코오롱티슈진
2265  950170         JTC

[2266 rows x 2 columns]
5

In [22]:
class to_sql:
    
    def excel_to_sql(self, type = 1):
        excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx','market.xlsx']
        sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend','market']

        if type == 1:
        
            file_name = input('파일이름을 입력하세요:')

            df=pd.read_excel('d:\\'+ file_name)
            if file_name=='kpi200.xlsx':
                table_name = 'kpi200'
                df.columns=['Date','kpi200','거래량']

            elif file_name=='investortrend.xlsx':
                table_name = 'investortrend'
                df.columns=['Date', '개인', '외국인','기관']

            elif file_name=='moneytrend.xlsx':
                table_name = 'moneytrend'
                df.columns=['Date', '고객예탁금', '신용잔고','주식형펀드','혼합형펀드','채권형펀드']

            elif file_name=='programtrend.xlsx':
                table_name = 'programtrend'
                df.columns=['Date', '차익', '비차익','전체']

            elif file_name=='market.xlsx':
                data = pd.read_excel('d:\\market.xlsx')
                start_date = input("시작날자를 입려하세요 : sample: '2015-01-01'")

                code_list = data['종목코드'].tolist()
                code_list = [str(item).zfill(6) for item in code_list]
                name_list = data['종목명'].tolist()

                # 코스피 상장종목 전체
                stock_dic = dict(list(zip(code_list,name_list)))

                for code in sorted(stock_dic.keys()):
                    df  = fdr.DataReader(code,start_date)
                    print(code,stock_dic[code])
                    df['Code'],df['Name'] = code,stock_dic[code]
                    df = df[['Code','Name','Open','High','Low','Volume','Close']]
                    df.to_sql(name='market', con=engine, if_exists='append')
                return 

            else:
                print('\n file_name error\n')

            df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

            print(df)
            
        else :
            a = 0
            for i in excel_name_list:

                table_name = sql_table_name_list[a]
                df=pd.read_excel('d:\\'+ i)
                print(table_name)
                df = df.rename(columns = {'Unnamed: 0': 'Date'})
                #df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

                print(df)
                a += 1
                print(a)
                if i == 4:
                    market_df = pd.read_sql("select Date from market order by Date desc limit 1", engine)
                    market_df = str(market_df['Date'])
                    until_date =  market_df[5:15]
                    print('until_date:{}'.format(until_date))

                    code_list = data['종목코드'].tolist()
                    code_list = [str(item).zfill(6) for item in code_list]
                    name_list = data['종목명'].tolist()

                    # 코스피 상장종목 전체
                    stock_dic = dict(list(zip(code_list,name_list)))

                    for code in sorted(stock_dic.keys()):
                        df  = fdr.DataReader(code,start_date)
                        print(code,stock_dic[code])
                        df['Code'],df['Name'] = code,stock_dic[code]
                        df = df[['Code','Name','Open','High','Low','Volume','Close']]
                        df
                        #df.to_sql(name='market', con=engine, if_exists='append')
                    return

In [23]:
a = to_sql()

In [24]:
a.excel_to_sql(type=2)

kpi200
         Date  KPI200    거래량
0  2019-08-26  252.19  62611
1  2019-08-27  253.50  91311
1
investortrend
       Date   개인   외국인    기관
0  19-08-26  534 -1175   709
1  19-08-27 -313 -1847  1984
2
programtrend
       Date   차익   비차익    전체
0  19-08-26  328  -178   150
1  19-08-27 -224 -1772 -1996
3
moneytrend
       Date   고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
0  19-08-22  239003  82774  786363  1229285  264366
1  19-08-23  237331  83407  785831  1232962  264195
4
market
        종목코드         종목명
0         20        동화약품
1         30        우리은행
2         40       KR모터스
3         50          경방
4         60       메리츠화재
5         70       삼양홀딩스
6         80       하이트진로
7        100        유한양행
8        120      CJ대한통운
9        140    하이트진로홀딩스
10       150          두산
11       180      성창기업지주
12       210        대림산업
13       220        유유제약
14       230       일동홀딩스
15       240  한국타이어월드와이드
16       250       삼천당제약
17       270       기아자동차
18       300       대유플러스
19       320       노루홀딩스
20       370      한화손해보험
21       390     삼화페인트공업
22       400      롯데손해보험
23       430        대원강업
24       440      중앙에너비스
25       480        조선내화
26       490        대동공업
27       500        가온전선
28       520        삼일제약
29       540        흥국화재
...      ...         ...
2236  307870   골든브릿지이안5호
2237  308700         테크엔
2238  309930   삼성머스트스팩3호
2239  310200  미래에셋대우스팩2호
2240  310840   엔에이치스팩13호
2241  310870     한국제8호스팩
2242  311060        엘에이티
2243  311270     키움제5호스팩
2244  311840        대원모방
2245  314130      지놈앤컴퍼니
2246  900040     차이나그레이트
2247  900070      글로벌에스엠
2248  900080    에스앤씨엔진그룹
2249  900100       뉴프라이드
2250  900110   이스트아시아홀딩스
2251  900120      씨케이에이치
2252  900140       엘브이엠씨
2253  900250     크리스탈신소재
2254  900260         로스웰
2255  900270        헝셩그룹
2256  900280       골든센츄리
2257  900290         GRT
2258  900300    오가닉티코스메틱
2259  900310        컬러레이
2260  900340        윙입푸드
2261  950110  SBI핀테크솔루션즈
2262  950130      엑세스바이오
2263  950140       잉글우드랩
2264  950160      코오롱티슈진
2265  950170         JTC

[2266 rows x 2 columns]
5

In [9]:
df

NameError: name 'df' is not defined