In [8]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

df2 = df1[['date','tradePrice','change', 'changePrice','changeRate','unsettledVolume','foreignSettlement', 'institutionSettlement', 'privateSettlement']]
df2.columns=('Date','Close','change','가격변동','등락률','미결제약정','외국인','기관','개인')
df2['Date'] = pd.to_datetime(df2['Date']).dt.date
#df2['Date'] = pd.to_datetime(df2['Date']).apply(lambda x: x.date())
#df2['Date'] = pd.to_datetime(df2['Date'], format = '%Y-%m-%d') # yyyy-mm-dd hh:mm:ss -> yyyy-mm-dd (속성은그대로 보여주는 형식만 변경)
df2 = df2.set_index('Date')
df2.to_excel('d:\\future.xlsx',encoding='utf-8')
df2

C:\Anaconda3\envs\kkang\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Close change  가격변동     등락률   미결제약정    외국인     기관     개인
Date
2019-06-13  272.00   FALL  0.15  0.0006  124850   4408  -6893   2333
2019-06-12  272.15   FALL  1.00  0.0037  151962    152  -1770   1888
2019-06-11  273.15   RISE  1.45  0.0053  193112    680   1157  -1871
2019-06-10  271.70   RISE  4.10  0.0153  272872   3894  -1570  -1927
2019-06-07  267.60   FALL  0.35  0.0013  320046   1394   -593   -868
2019-06-05  267.95   RISE  0.90  0.0034  326197  -6114   7117  -1077
2019-06-04  267.05   FALL  1.00  0.0037  323119  -4596   3225   1349
2019-06-03  268.05   RISE  4.55  0.0173  327098   2875   1163  -3627
2019-05-31  263.50   FALL  0.80  0.0030  331392  -2203    874    898
2019-05-30  264.30   RISE  3.20  0.0123  333125   5773  -3497  -2351
2019-05-29  261.10   FALL  3.80  0.0143  336869  -2706    517   2256
2019-05-28  264.90   RISE  0.40  0.0015  332709  -4814   4064    684
2019-05-27  264.50   FALL  0.45  0.0017  334405     41    848   -792
2019-05-24  264.95   FALL  1.20  0.0045  334766  -2481    540   1636
2019-05-23  266.15   FALL  1.05  0.0039  331635     37   -467    717
2019-05-22  267.20   RISE  0.55  0.0021  329216   1760   3555  -5450
2019-05-21  266.65   RISE  1.35  0.0051  327286   1626    -41  -1706
2019-05-20  265.30   RISE  0.50  0.0019  328054    899  -1508    518
2019-05-16  266.35   FALL  3.85  0.0142  326513    288   2848  -3365
2019-05-15  270.20   RISE  1.55  0.0058  317623  -1074   5012  -3909
2019-05-14  268.65   FALL  0.40  0.0015  321236   2683  -1889  -1115
2019-05-13  269.05   FALL  2.90  0.0107  321699   2364  -1338   -994
2019-05-10  271.95   FALL  0.30  0.0011  318408   4372   -374  -4133
2019-05-09  272.25   FALL  7.90  0.0282  324495  -7204   -760   2964
2019-05-08  280.15   FALL  1.65  0.0059  314700   1519    654  -1578
2019-05-07  281.80   FALL  2.15  0.0076  318548    813   1446  -1079
2019-05-03  283.95   FALL  2.90  0.0101  320286 -12366   7348   4649
2019-05-02  286.85   RISE  1.45  0.0051  325308   1556    557  -1862
2019-04-30  285.40   FALL  2.25  0.0078  325357  -8783   6574   2206
2019-04-29  287.65   RISE  5.90  0.0209  326879   5914    363  -4838
...            ...    ...   ...     ...     ...    ...    ...    ...
2017-10-11  321.10   RISE  6.60  0.0210     215   4422  -3393   -597
2017-10-10  314.50   RISE  4.05  0.0130     211   9318 -10894   1775
2017-09-29  310.45   EVEN  0.00  0.0000     211   3901  -2951  -1682
2017-09-28  310.45   FALL  1.50  0.0048     211   2538   2549  -4809
2017-09-27  311.95   FALL  0.70  0.0022     210  -2930   2229   2131
2017-09-26  312.65   EVEN  0.00  0.0000     210    481  -3215   3652
2017-09-25  312.65   FALL  0.35  0.0011     210   1704    256  -2376
2017-09-22  313.00   FALL  2.60  0.0082     212  -4907    270   4843
2017-09-21  315.60   RISE  0.10  0.0003     213    317    725  -2298
2017-09-20  315.50   EVEN  0.00  0.0000     212  -3899   1556   2143
2017-09-19  315.50   RISE  4.15  0.0133     212  -4403   1624   2354
2017-09-18  311.35   RISE  1.05  0.0034     210   1608  -4151   2172
2017-09-15  310.30   RISE  2.40  0.0078     210   -683  -1328   -690
2017-09-14  307.90   FALL  0.65  0.0021     210  -4963   4539  -2105
2017-09-13  308.55   EVEN  0.00  0.0000     210   1040  -1060    719
2017-09-12  308.55   RISE  3.05  0.0100     210  -3847   1058   3275
2017-09-11  305.50   RISE  2.50  0.0083     210    241  -2934   2372
2017-09-08  303.00   EVEN  0.00  0.0000     210   -902    -10    887
2017-09-07  303.00   RISE  1.10  0.0036     210   5646   4974 -10292
2017-09-06  301.90   FALL  0.80  0.0026     200  -4050   6906  -2884
2017-09-05  302.70   FALL  2.85  0.0093     200  -6981   1985   4840
2017-09-04  305.55   FALL  0.40  0.0013     200   7787  -6715   -962
2017-09-01  305.95   FALL  2.35  0.0076     200    -72   2753  -2314
2017-08-31  308.30   RISE  1.85  0.0060     200  -2996   2727    878
2017-08-30  306.45   FALL  1.10  0.0036     200   1425   -627   -655
2017-08-29  307.55   FALL  2.10  0.0068     200  -2028   4796  -3255
2017-08-28  309.65   RISE  0.15  0.0005     200  -3599   1702   2319
2017-08-25  309.50   RISE  1.55  0.0050     200  -2444    183   2218
2017-08-24  307.95   FALL  0.10  0.0003     200   2218  -2516   -501
2017-08-23  308.05   RISE  1.65  0.0054     200  -5146   3592   2598

[435 rows x 8 columns]

In [3]:
df2['Date'][0]

datetime.date(2019, 6, 13)

In [10]:
df = pd.read_excel('d:\\future.xlsx')
df=df[['Date','Close']]
df

          Date   Close
0   2019-06-13  272.00
1   2019-06-12  272.15
2   2019-06-11  273.15
3   2019-06-10  271.70
4   2019-06-07  267.60
5   2019-06-05  267.95
6   2019-06-04  267.05
7   2019-06-03  268.05
8   2019-05-31  263.50
9   2019-05-30  264.30
10  2019-05-29  261.10
11  2019-05-28  264.90
12  2019-05-27  264.50
13  2019-05-24  264.95
14  2019-05-23  266.15
15  2019-05-22  267.20
16  2019-05-21  266.65
17  2019-05-20  265.30
18  2019-05-16  266.35
19  2019-05-15  270.20
20  2019-05-14  268.65
21  2019-05-13  269.05
22  2019-05-10  271.95
23  2019-05-09  272.25
24  2019-05-08  280.15
25  2019-05-07  281.80
26  2019-05-03  283.95
27  2019-05-02  286.85
28  2019-04-30  285.40
29  2019-04-29  287.65
..         ...     ...
405 2017-10-11  321.10
406 2017-10-10  314.50
407 2017-09-29  310.45
408 2017-09-28  310.45
409 2017-09-27  311.95
410 2017-09-26  312.65
411 2017-09-25  312.65
412 2017-09-22  313.00
413 2017-09-21  315.60
414 2017-09-20  315.50
415 2017-09-19  315.50
416 2017-09-18  311.35
417 2017-09-15  310.30
418 2017-09-14  307.90
419 2017-09-13  308.55
420 2017-09-12  308.55
421 2017-09-11  305.50
422 2017-09-08  303.00
423 2017-09-07  303.00
424 2017-09-06  301.90
425 2017-09-05  302.70
426 2017-09-04  305.55
427 2017-09-01  305.95
428 2017-08-31  308.30
429 2017-08-30  306.45
430 2017-08-29  307.55
431 2017-08-28  309.65
432 2017-08-25  309.50
433 2017-08-24  307.95
434 2017-08-23  308.05

[435 rows x 2 columns]

In [4]:
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

today = datetime.now()
real_yesterday = (today-timedelta(1)).strftime('%Y-%m-%d')
real_today = today.strftime('%Y-%m-%d')

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
conn = engine.connect()


class to_excel:
    
    def get_investor_trend(self):
        url = 'http://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020601&sosok=&page='

        source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
        source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

        last = source.find('td',class_='pgRR').find('a')['href']
        last = last.split('page')[1]
        last = last.split('=')[1]
        last = int(last)
        print(last)

        # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
        path = 'd:\\investortrend.xlsx'
    
        # 날짜를 받을 리스트
        date_list = []

        # 값을 받을 사전
        dictionary = {'개인': [],'외국인': [],'기관': []}

        # dictionary key 인덱싱을 위한 리스트
        name_list = ['개인','외국인','기관']


        # count mask
        mask = [1,2,3]
    
        for i in range(1,last+1):
        
            source = urlopen(url+ str(i)).read()
            source = BeautifulSoup(source,'lxml')

            #tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
            #trs = tbody.find_all('tr')

            body = source.find('body')
            trs = body.find_all('tr')

            for tr in trs:
                tds = tr.find_all('td',{'class':['date2','rate_down3','rate_up3']})
                count = 0
    
                for td in tds:
                    if count == 0:
                        date_ = td.text.strip().replace('.','-')
                        date_list.append(date_)
                        
                      
                    elif count in mask:
                        temp = int(count-1)
                        dictionary[name_list[temp]].append(td.text.strip().replace(',',''))
        
                    count += 1
                if len(date_list) != len(dictionary['개인']):
                    print(str(i)+ '번째 페이지에서 누락된 값 발생')
                    print('누락된 데이터를 제거합니다')
                    
                    date_list.pop(-1)
                    dictionary['개인'].pop(-1)
                    dictionary['외국인'].pop(-1)
                    dictionary['기관'].pop(-1)
                
        # 개별 list 요소 갯수 파악 
        #print(len(date_list))
        #print(len(dictionary['개인']))
        #print(len(dictionary['외국인']))
        #print(len(dictionary['기관']))

        print(str(i) + '번째 페이지 크롤링 완료')
        df = pd.DataFrame(dictionary,index = date_list)
        df = df.sort_index()
        df = df[['개인','외국인','기관']]
        df.to_excel(path, encoding='utf-8')
        print(df)
        
    def get_investor_trend_date(self,until_date=real_yesterday):
    
        url = 'http://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020601&sosok=&page='

        source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
        source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

        last = source.find('td',class_='pgRR').find('a')['href']
        last = last.split('page')[1]
        last = last.split('=')[1]
        last = int(last)
        print(last)

        # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
        path = 'd:\\investortrend.xlsx'

        until_date = input("날짜를 입력하세요 sample: '2019-01-10': ") or real_yesterday
    
        year = until_date.split('-')[0]
        mm = until_date.split('-')[1]
        dd = until_date.split('-')[2]
        year=year[2:]
        until_date = year+'-'+mm+'-'+dd
    
        # 날짜를 받을 리스트
        date_list = []

        # 값을 받을 사전
        dictionary = {'개인': [],'외국인': [],'기관': []}

        # dictionary key 인덱싱을 위한 리스트
        name_list = ['개인','외국인','기관']


        # count mask
        mask = [1,2,3]
    
        for i in range(1,last+1):
        
            source = urlopen(url+ str(i)).read()
            source = BeautifulSoup(source,'lxml')

            #tbody = source.find('div',{'id':'wrap'}).find('div',{'class':'box_type_m'})
            #trs = tbody.find_all('tr')

            body = source.find('body')
            trs = body.find_all('tr')

            for tr in trs:
                tds = tr.find_all('td',{'class':['date2','rate_down3','rate_up3']})
                count = 0
    
                for td in tds:
                    if count == 0:
                        date_ = td.text.strip().replace('.','-')
                        if date_ <=  until_date :
                            df = pd.DataFrame(dictionary,index = date_list)
                            df = df.sort_index()
                            df = df[['개인','외국인','기관']]
                            df.to_excel(path, encoding='utf-8')
                            return df   
                        date_list.append(date_)
                        #print(date_list)
                    elif count in mask:
                        temp = int(count-1)
                        dictionary[name_list[temp]].append(td.text.strip().replace(',',''))
                    
                    count += 1
                    
class to_sql:
    
    def excel_to_sql(self, type = 1):
        excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx']
        sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend']

        if type == 1:
        
            file_name = input('파일이름을 입력하세요:')

            df=pd.read_excel('d:\\'+ file_name)
            if file_name=='kpi200.xlsx':
                table_name = 'kpi200'
                df.columns=['Date','kpi200','거래량']

            elif file_name=='investortrend.xlsx':
                table_name = 'investortrend'
                df.columns=['Date', '개인', '외국인','기관']

            elif file_name=='moneytrend.xlsx':
                table_name = 'moneytrend'
                df.columns=['Date', '고객예탁금', '신용잔고','주식형펀드','혼합형펀드','채권형펀드']

            elif file_name=='programtrend.xlsx':
                table_name = 'programtrend'
                df.columns=['Date', '차익', '비차익','전체']

            elif file_name=='market.xlsx':
                data = pd.read_excel('d:\\market.xlsx')
                start_date = input("시작날자를 입려하세요 : sample: '2015-01-01'")

                code_list = data['종목코드'].tolist()
                code_list = [str(item).zfill(6) for item in code_list]
                name_list = data['종목명'].tolist()

                # 코스피 상장종목 전체
                stock_dic = dict(list(zip(code_list,name_list)))

                for code in sorted(stock_dic.keys()):
                    df  = fdr.DataReader(code,start_date)
                    print(code,stock_dic[code])
                    df['Code'],df['Name'] = code,stock_dic[code]
                    df = df[['Code','Name','Open','High','Low','Volume','Close']]
                    df.to_sql(name='market', con=engine, if_exists='append')
                return 

            else:
                print('\n file_name error\n')

            df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

            print(df)
            
        else :
            a = 0
            for i in excel_name_list:

                table_name = sql_table_name_list[a]
                df=pd.read_excel('d:\\'+ i)
                print(table_name)
                #print(df.columns)
                #print(df['Unnamed: 0'])
                df = df.rename(columns = {'Unnamed: 0': 'Date'})
                df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

                print(df)
                a += 1

In [5]:
a = to_excel()

In [6]:
a.get_investor_trend_date()

363
날짜를 입력하세요 sample: '2019-01-10': 2019-08-01

             개인    외국인     기관
19-08-02    143  -3979   3626
19-08-05  -4437  -3169   7355
19-08-06  -4439  -6056  10337
19-08-07   1769   -980   -990
19-08-08   2390  -1017  -1417
19-08-09   2152    -43  -2292
19-08-12   1841    -24  -1854
19-08-13   1558  -1765    -24
19-08-14    520   -501   -243
19-08-16    549   -937    153
19-08-19   -573  -1392   1869
19-08-20   -600   1130   -723
19-08-21   1005  -1274     48
19-08-22   1619  -1229   -512
19-08-23   -912     75    664
19-08-26    534  -1175    709
19-08-27     43    153   -265

In [7]:
df

,accTradeVolume,change,changePrice,changeRate,date,foreignSettlement,institutionSettlement,privateSettlement,tradePrice,unsettledVolume
0,0,FALL,2.10,0.0068,2017-08-29 00:00:00,-2028,4796,-3255,307.55,200
1,0,RISE,0.15,0.0005,2017-08-28 00:00:00,-3599,1702,2319,309.65,200
2,0,RISE,1.55,0.0050,2017-08-25 00:00:00,-2444,183,2218,309.50,200
3,0,FALL,0.10,0.0003,2017-08-24 00:00:00,2218,-2516,-501,307.95,200
4,0,RISE,1.65,0.0054,2017-08-23 00:00:00,-5146,3592,2598,308.05,200

In [ ]:
a.until_date

In [ ]:
real_yesterday = '2019-08-19'

def get_kpi200_date(self,until_date=real_yesterday):
    
    url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page='

    source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
    source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류

    last = source.find('td',class_='pgRR').find('a')['href']
    last = last.split('page')[1]
    last = last.split('=')[1]
    last = int(last)
    print(last)

    # 사용자의 PC내 폴더 주소를 입력하시면 됩니다.
    path = 'd:\\kpi200.xlsx'

    until_date = input("날짜를 입력하세요 sample: '2019-01-10': ") or real_yesterday

In [20]:
import pandas as pd

from sqlalchemy import create_engine

 

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select Date from kpi200 order by Date desc limit 1", connect)

df = str(df['Date'])

def get_investor_trend_date():

    until_date = df[5:15]

    year = until_date.split('-')[0]

    mm = until_date.split('-')[1]

    dd = until_date.split('-')[2]

    year=year[2:]

    until_date = year+'-'+mm+'-'+dd

    print('year:{}'.format(year))

    print('until_date:{}'.format(until_date))
    
    print('len_year.{}'.format(len(year)))
    print('len_until.{}'.format(len(until_date)))
    print('until_date.{}'.format)

    

get_investor_trend_date()

year:19
until_date:19-08-22
len_year.2
len_until.8
<built-in method format of str object at 0x0000000009AF1370>

In [9]:
from __future__ import unicode_literals

import itertools
import logging
import operator
import random
import re

import numpy as np
import pandas as pd
#from int_date import get_date_from_diff

__author__ = 'Cedric Zhuang'

log = logging.getLogger(__name__)


class StockDataFrame(pd.DataFrame):
    OPERATORS = ['le', 'ge', 'lt', 'gt', 'eq', 'ne']

    # Start of options.
    KDJ_PARAM = (2.0 / 3.0, 1.0 / 3.0)
    KDJ_WINDOW = 9

    BOLL_PERIOD = 20
    BOLL_STD_TIMES = 2

    MACD_EMA_SHORT = 12
    MACD_EMA_LONG = 26
    MACD_EMA_SIGNAL = 9

    PDI_SMMA = 14
    MDI_SMMA = 14
    DX_SMMA = 14
    ADX_EMA = 6
    ADXR_EMA = 6

    CR_MA1 = 5
    CR_MA2 = 10
    CR_MA3 = 20

    TRIX_EMA_WINDOW = 12

    TEMA_EMA_WINDOW = 5

    ATR_SMMA = 14

    # End of options

    @staticmethod
    def _get_change(df):
        df['change'] = df['Close'].pct_change() * 100
        return df['change']

In [4]:
import pandas as pd

from sqlalchemy import create_engine

 

connect = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("select Close from market where Name='hrs' and Date > '2019-08-01'", connect)
df

    Close
0    2310
1    2010
2    1955
3    1940
4    1990
5    2030
6    2050
7    2055
8    2065
9    2100
10   2100
11   2135
12   2165
13   2150
14   2165

In [10]:
a = StockDataFrame()

In [11]:
a._get_change(df)

0           NaN
1    -12.987013
2     -2.736318
3     -0.767263
4      2.577320
5      2.010050
6      0.985222
7      0.243902
8      0.486618
9      1.694915
10     0.000000
11     1.666667
12     1.405152
13    -0.692841
14     0.697674
Name: change, dtype: float64

In [12]:
df

    Close     change
0    2310        NaN
1    2010 -12.987013
2    1955  -2.736318
3    1940  -0.767263
4    1990   2.577320
5    2030   2.010050
6    2050   0.985222
7    2055   0.243902
8    2065   0.486618
9    2100   1.694915
10   2100   0.000000
11   2135   1.666667
12   2165   1.405152
13   2150  -0.692841
14   2165   0.697674

In [21]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

df2 = df1[['date','tradePrice','change', 'changePrice','changeRate','unsettledVolume','foreignSettlement', 'institutionSettlement', 'privateSettlement']]
df2.columns=('Date','종가','change','가격변동','등락률','미결제수량','외국인','기관','개인')
#df2 = df2.set_index('date')
df2
df2.to_excel('d:\\future.xlsx')

In [ ]:
df['col'] = pd.to_datetime(df['col'])

In [21]:
df = pd.read_excel('d:\\future.xlsx', parse_dates=['Date'], dayfirst=True)
#df = pd.read_excel('d:\\future.xlsx')
df

,Unnamed: 0,Date,종가,change,가격변동,등락률,미결제수량,외국인,기관,개인
0,0,2019-06-13,272.00,FALL,0.15,0.0006,124850,4408,-6893,2333
1,1,2019-06-12,272.15,FALL,1.00,0.0037,151962,152,-1770,1888
2,2,2019-06-11,273.15,RISE,1.45,0.0053,193112,680,1157,-1871
3,3,2019-06-10,271.70,RISE,4.10,0.0153,272872,3894,-1570,-1927
4,4,2019-06-07,267.60,FALL,0.35,0.0013,320046,1394,-593,-868
5,5,2019-06-05,267.95,RISE,0.90,0.0034,326197,-6114,7117,-1077
6,6,2019-06-04,267.05,FALL,1.00,0.0037,323119,-4596,3225,1349
7,7,2019-06-03,268.05,RISE,4.55,0.0173,327098,2875,1163,-3627
8,8,2019-05-31,263.50,FALL,0.80,0.0030,331392,-2203,874,898
9,9,2019-05-30,264.30,RISE,3.20,0.0123,333125,5773,-3497,-2351
10,10,2019-05-29,261.10,FALL,3.80,0.0143,336869,-2706,517,2256
11,11,2019-05-28,264.90,RISE,0.40,0.0015,332709,-4814,4064,684
12,12,2019-05-27,264.50,FALL,0.45,0.0017,334405,41,848,-792
13,13,2019-05-24,264.95,FALL,1.20,0.0045,334766,-2481,540,1636
14,14,2019-05-23,266.15,FALL,1.05,0.0039,331635,37,-467,717
15,15,2019-05-22,267.20,RISE,0.55,0.0021,329216,1760,3555,-5450
16,16,2019-05-21,266.65,RISE,1.35,0.0051,327286,1626,-41,-1706
17,17,2019-05-20,265.30,RISE,0.50,0.0019,328054,899,-1508,518
18,18,2019-05-16,266.35,FALL,3.85,0.0142,326513,288,2848,-3365
19,19,2019-05-15,270.20,RISE,1.55,0.0058,317623,-1074,5012,-3909
20,20,2019-05-14,268.65,FALL,0.40,0.0015,321236,2683,-1889,-1115
21,21,2019-05-13,269.05,FALL,2.90,0.0107,321699,2364,-1338,-994
22,22,2019-05-10,271.95,FALL,0.30,0.0011,318408,4372,-374,-4133
23,23,2019-05-09,272.25,FALL,7.90,0.0282,324495,-7204,-760,2964
24,24,2019-05-08,280.15,FALL,1.65,0.0059,314700,1519,654,-1578
25,25,2019-05-07,281.80,FALL,2.15,0.0076,318548,813,1446,-1079
26,26,2019-05-03,283.95,FALL,2.90,0.0101,320286,-12366,7348,4649
27,27,2019-05-02,286.85,RISE,1.45,0.0051,325308,1556,557,-1862
28,28,2019-04-30,285.40,FALL,2.25,0.0078,325357,-8783,6574,2206
29,29,2019-04-29,287.65,RISE,5.90,0.0209,326879,5914,363,-4838
...,...,...,...,...,...,...,...,...,...,...
405,405,2017-10-11,321.10,RISE,6.60,0.0210,215,4422,-3393,-597
406,406,2017-10-10,314.50,RISE,4.05,0.0130,211,9318,-10894,1775
407,407,2017-09-29,310.45,EVEN,0.00,0.0000,211,3901,-2951,-1682
408,408,2017-09-28,310.45,FALL,1.50,0.0048,211,2538,2549,-4809
409,409,2017-09-27,311.95,FALL,0.70,0.0022,210,-2930,2229,2131
410,410,2017-09-26,312.65,EVEN,0.00,0.0000,210,481,-3215,3652
411,411,2017-09-25,312.65,FALL,0.35,0.0011,210,1704,256,-2376
412,412,2017-09-22,313.00,FALL,2.60,0.0082,212,-4907,270,4843
413,413,2017-09-21,315.60,RISE,0.10,0.0003,213,317,725,-2298
414,414,2017-09-20,315.50,EVEN,0.00,0.0000,212,-3899,1556,2143
415,415,2017-09-19,315.50,RISE,4.15,0.0133,212,-4403,1624,2354
416,416,2017-09-18,311.35,RISE,1.05,0.0034,210,1608,-4151,2172
417,417,2017-09-15,310.30,RISE,2.40,0.0078,210,-683,-1328,-690
418,418,2017-09-14,307.90,FALL,0.65,0.0021,210,-4963,4539,-2105
419,419,2017-09-13,308.55,EVEN,0.00,0.0000,210,1040,-1060,719
420,420,2017-09-12,308.55,RISE,3.05,0.0100,210,-3847,1058,3275
421,421,2017-09-11,305.50,RISE,2.50,0.0083,210,241,-2934,2372
422,422,2017-09-08,303.00,EVEN,0.00,0.0000,210,-902,-10,887
423,423,2017-09-07,303.00,RISE,1.10,0.0036,210,5646,4974,-10292
424,424,2017-09-06,301.90,FALL,0.80,0.0026,200,-4050,6906,-2884
425,425,2017-09-05,302.70,FALL,2.85,0.0093,200,-6981,1985,4840
426,426,2017-09-04,305.55,FALL,0.40,0.0013,200,7787,-6715,-962
427,427,2017-09-01,305.95,FALL,2.35,0.0076,200,-72,2753,-2314
428,428,2017-08-31,308.30,RISE,1.85,0.0060,200,-2996,2727,878
429,429,2017-08-30,306.45,FALL,1.10,0.0036,200,1425,-627,-655
430,430,2017-08-29,307.55,FALL,2.10,0.0068,200,-2028,4796,-3255
431,431,2017-08-28,309.65,RISE,0.15,0.0005,200,-3599,1702,2319
432,432,2017-08-25,309.50,RISE,1.55,0.0050,200,-2444,183,2218
433,433,2017-08-24,307.95,FALL,0.10,0.0003,200,2218,-2516,-501
434,434,2017-08-23,308.05,RISE,1.65,0.0054,200,-5146,3592,2598

In [14]:
df = df.set_index('Date')
df

             Close
Date
2019-06-13  272.00
2019-06-12  272.15
2019-06-11  273.15
2019-06-10  271.70
2019-06-07  267.60
2019-06-05  267.95
2019-06-04  267.05
2019-06-03  268.05
2019-05-31  263.50
2019-05-30  264.30
2019-05-29  261.10
2019-05-28  264.90
2019-05-27  264.50
2019-05-24  264.95
2019-05-23  266.15
2019-05-22  267.20
2019-05-21  266.65
2019-05-20  265.30
2019-05-16  266.35
2019-05-15  270.20
2019-05-14  268.65
2019-05-13  269.05
2019-05-10  271.95
2019-05-09  272.25
2019-05-08  280.15
2019-05-07  281.80
2019-05-03  283.95
2019-05-02  286.85
2019-04-30  285.40
2019-04-29  287.65
...            ...
2017-10-11  321.10
2017-10-10  314.50
2017-09-29  310.45
2017-09-28  310.45
2017-09-27  311.95
2017-09-26  312.65
2017-09-25  312.65
2017-09-22  313.00
2017-09-21  315.60
2017-09-20  315.50
2017-09-19  315.50
2017-09-18  311.35
2017-09-15  310.30
2017-09-14  307.90
2017-09-13  308.55
2017-09-12  308.55
2017-09-11  305.50
2017-09-08  303.00
2017-09-07  303.00
2017-09-06  301.90
2017-09-05  302.70
2017-09-04  305.55
2017-09-01  305.95
2017-08-31  308.30
2017-08-30  306.45
2017-08-29  307.55
2017-08-28  309.65
2017-08-25  309.50
2017-08-24  307.95
2017-08-23  308.05

[435 rows x 1 columns]

In [11]:
df

          Date   Close
0   2019-06-13  272.00
1   2019-06-12  272.15
2   2019-06-11  273.15
3   2019-06-10  271.70
4   2019-06-07  267.60
5   2019-06-05  267.95
6   2019-06-04  267.05
7   2019-06-03  268.05
8   2019-05-31  263.50
9   2019-05-30  264.30
10  2019-05-29  261.10
11  2019-05-28  264.90
12  2019-05-27  264.50
13  2019-05-24  264.95
14  2019-05-23  266.15
15  2019-05-22  267.20
16  2019-05-21  266.65
17  2019-05-20  265.30
18  2019-05-16  266.35
19  2019-05-15  270.20
20  2019-05-14  268.65
21  2019-05-13  269.05
22  2019-05-10  271.95
23  2019-05-09  272.25
24  2019-05-08  280.15
25  2019-05-07  281.80
26  2019-05-03  283.95
27  2019-05-02  286.85
28  2019-04-30  285.40
29  2019-04-29  287.65
..         ...     ...
405 2017-10-11  321.10
406 2017-10-10  314.50
407 2017-09-29  310.45
408 2017-09-28  310.45
409 2017-09-27  311.95
410 2017-09-26  312.65
411 2017-09-25  312.65
412 2017-09-22  313.00
413 2017-09-21  315.60
414 2017-09-20  315.50
415 2017-09-19  315.50
416 2017-09-18  311.35
417 2017-09-15  310.30
418 2017-09-14  307.90
419 2017-09-13  308.55
420 2017-09-12  308.55
421 2017-09-11  305.50
422 2017-09-08  303.00
423 2017-09-07  303.00
424 2017-09-06  301.90
425 2017-09-05  302.70
426 2017-09-04  305.55
427 2017-09-01  305.95
428 2017-08-31  308.30
429 2017-08-30  306.45
430 2017-08-29  307.55
431 2017-08-28  309.65
432 2017-08-25  309.50
433 2017-08-24  307.95
434 2017-08-23  308.05

[435 rows x 2 columns]

In [20]:
df2.to_sql(name='future', con=engine, if_exists='append')

In [24]:
# 2019-01-28 수정
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import urllib.request as req

from fake_useragent import UserAgent

#sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding='utf-8')
#sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding='utf-8')

# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101P60004/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
totalPage = json.loads(res)['totalPages']
num = totalPage+1


# 다음 주식 요청 URL
df1 = pd.DataFrame()
for i in range(1,num):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101P90001/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)

C:\Anaconda3\envs\kkang\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
import pandas as pd
import FinanceDataReader as fdr
from sqlalchemy import create_engine

 

engine = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


def excel_to_sql(type = 1):
    excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx','market.xlsx']
    sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend','market']

    a = 0
    for i in excel_name_list:

        table_name = sql_table_name_list[a]
        df=pd.read_excel('d:\\'+ i)
        print(table_name)
        df = df.rename(columns = {'Unnamed: 0': 'Date'})
        #df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

        print(df)
        a += 1
        print(a)
        if i == 'market.xlsx':
            market_df = pd.read_sql("select Date from market order by Date desc limit 1", engine)
            market_df = str(market_df['Date'])
            until_date = kpi200_df[5:15]
            
            code_list = data['종목코드'].tolist()
            code_list = [str(item).zfill(6) for item in code_list]
            name_list = data['종목명'].tolist()

            # 코스피 상장종목 전체
            stock_dic = dict(list(zip(code_list,name_list)))

            for code in sorted(stock_dic.keys()):
                df  = fdr.DataReader(code,start_date)
                print(code,stock_dic[code])
                df['Code'],df['Name'] = code,stock_dic[code]
                df = df[['Code','Name','Open','High','Low','Volume','Close']]
                df.to_sql(name='market', con=engine, if_exists='append')
            return 
                
excel_to_sql(type = 1)

kpi200
         Date  KPI200    거래량
0  2019-08-26  252.19  62611
1  2019-08-27  253.50  91311
1
investortrend
       Date   개인   외국인    기관
0  19-08-26  534 -1175   709
1  19-08-27 -313 -1847  1984
2
programtrend
       Date   차익   비차익    전체
0  19-08-26  328  -178   150
1  19-08-27 -224 -1772 -1996
3
moneytrend
       Date   고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
0  19-08-22  239003  82774  786363  1229285  264366
1  19-08-23  237331  83407  785831  1232962  264195
4
market
        종목코드         종목명
0         20        동화약품
1         30        우리은행
2         40       KR모터스
3         50          경방
4         60       메리츠화재
5         70       삼양홀딩스
6         80       하이트진로
7        100        유한양행
8        120      CJ대한통운
9        140    하이트진로홀딩스
10       150          두산
11       180      성창기업지주
12       210        대림산업
13       220        유유제약
14       230       일동홀딩스
15       240  한국타이어월드와이드
16       250       삼천당제약
17       270       기아자동차
18       300       대유플러스
19       320       노루홀딩스
20       370      한화손해보험
21       390     삼화페인트공업
22       400      롯데손해보험
23       430        대원강업
24       440      중앙에너비스
25       480        조선내화
26       490        대동공업
27       500        가온전선
28       520        삼일제약
29       540        흥국화재
...      ...         ...
2236  307870   골든브릿지이안5호
2237  308700         테크엔
2238  309930   삼성머스트스팩3호
2239  310200  미래에셋대우스팩2호
2240  310840   엔에이치스팩13호
2241  310870     한국제8호스팩
2242  311060        엘에이티
2243  311270     키움제5호스팩
2244  311840        대원모방
2245  314130      지놈앤컴퍼니
2246  900040     차이나그레이트
2247  900070      글로벌에스엠
2248  900080    에스앤씨엔진그룹
2249  900100       뉴프라이드
2250  900110   이스트아시아홀딩스
2251  900120      씨케이에이치
2252  900140       엘브이엠씨
2253  900250     크리스탈신소재
2254  900260         로스웰
2255  900270        헝셩그룹
2256  900280       골든센츄리
2257  900290         GRT
2258  900300    오가닉티코스메틱
2259  900310        컬러레이
2260  900340        윙입푸드
2261  950110  SBI핀테크솔루션즈
2262  950130      엑세스바이오
2263  950140       잉글우드랩
2264  950160      코오롱티슈진
2265  950170         JTC

[2266 rows x 2 columns]
5

NameError: name 'kpi200_df' is not defined

In [33]:
import pandas as pd
import FinanceDataReader as fdr
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


class to_sql:
    
    def excel_to_sql(self, type = 1):
        excel_name_list=['kpi200.xlsx', 'investortrend.xlsx','programtrend.xlsx','moneytrend.xlsx','market.xlsx']
        sql_table_name_list=['kpi200','investortrend','programtrend','moneytrend','market']

        if type == 1:
        
            file_name = input('파일이름을 입력하세요:')

            df=pd.read_excel('d:\\'+ file_name)
            if file_name=='kpi200.xlsx':
                table_name = 'kpi200'
                df.columns=['Date','kpi200','거래량']

            elif file_name=='investortrend.xlsx':
                table_name = 'investortrend'
                df.columns=['Date', '개인', '외국인','기관']

            elif file_name=='moneytrend.xlsx':
                table_name = 'moneytrend'
                df.columns=['Date', '고객예탁금', '신용잔고','주식형펀드','혼합형펀드','채권형펀드']

            elif file_name=='programtrend.xlsx':
                table_name = 'programtrend'
                df.columns=['Date', '차익', '비차익','전체']

            elif file_name=='market.xlsx':
                data = pd.read_excel('d:\\market.xlsx')
                start_date = input("시작날자를 입려하세요 : sample: '2015-01-01'")

                code_list = data['종목코드'].tolist()
                code_list = [str(item).zfill(6) for item in code_list]
                name_list = data['종목명'].tolist()

                # 코스피 상장종목 전체
                stock_dic = dict(list(zip(code_list,name_list)))

                for code in sorted(stock_dic.keys()):
                    df  = fdr.DataReader(code,start_date)
                    print(code,stock_dic[code])
                    df['Code'],df['Name'] = code,stock_dic[code]
                    df = df[['Code','Name','Open','High','Low','Volume','Close']]
                    df.to_sql(name='market', con=engine, if_exists='append')
                return 

            else:
                print('\n file_name error\n')

            df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

            print(df)
            
        else :
            a = 0
            for i in excel_name_list:
                if i == 'market.xlsx':
                    data = pd.read_excel('d:\\market.xlsx')
                    market_df = pd.read_sql("select Date from market order by Date desc limit 1", engine)
                    market_df = str(market_df['Date'])
                    print(market_df)
                    start_date =  market_df[5:15]
                    year = start_date.split('-')[0]
                    mm = start_date.split('-')[1]
                    dd = start_date.split('-')[2]
                    dd = int(dd)+1
                    dd = str(dd)
                    
                    #year=year[2:]
                    start_date = year+'-'+mm+'-'+dd
                    print('start_date:{}'.format(start_date))

                    code_list = data['종목코드'].tolist()
                    code_list = [str(item).zfill(6) for item in code_list]
                    name_list = data['종목명'].tolist()

                    # 코스피 상장종목 전체
                    stock_dic = dict(list(zip(code_list,name_list)))

                    for code in sorted(stock_dic.keys()):
                        df  = fdr.DataReader(code,start_date)
                        print(code,stock_dic[code])
                        df['Code'],df['Name'] = code,stock_dic[code]
                        df = df[['Code','Name','Open','High','Low','Volume','Close']]
                        #df
                        df.to_sql(name='market', con=engine, if_exists='append')
                    return 
                else :
                    table_name = sql_table_name_list[a]
                    df=pd.read_excel('d:\\'+ i)
                    print(table_name)
                    df = df.rename(columns = {'Unnamed: 0': 'Date'})
                    #df.to_sql(name=table_name, con=engine, if_exists='append', index = False)

                    print(df)
                a += 1
                print(a)

In [34]:
a = to_sql()

In [35]:
a.excel_to_sql(type=2)

kpi200
         Date  KPI200    거래량
0  2019-08-26  252.19  62611
1  2019-08-27  253.50  91311
1
investortrend
       Date   개인   외국인    기관
0  19-08-26  534 -1175   709
1  19-08-27 -313 -1847  1984
2
programtrend
       Date   차익   비차익    전체
0  19-08-26  328  -178   150
1  19-08-27 -224 -1772 -1996
3
moneytrend
       Date   고객예탁금   신용잔고   주식형펀드    채권형펀드   혼합형펀드
0  19-08-22  239003  82774  786363  1229285  264366
1  19-08-23  237331  83407  785831  1232962  264195
4
0    2019-08-26
Name: Date, dtype: object
start_date:2019-08-27
000020 동화약품
000030 우리은행
000040 KR모터스
000050 경방
000060 메리츠화재
000070 삼양홀딩스
000080 하이트진로
000100 유한양행
000120 CJ대한통운
000140 하이트진로홀딩스
000150 두산
000180 성창기업지주
000210 대림산업
000220 유유제약
000230 일동홀딩스
000240 한국타이어월드와이드
000250 삼천당제약
000270 기아자동차
000300 대유플러스
000320 노루홀딩스
000370 한화손해보험
000390 삼화페인트공업
000400 롯데손해보험
000430 대원강업
000440 중앙에너비스
000480 조선내화
000490 대동공업
000500 가온전선
000520 삼일제약
000540 흥국화재
000590 CS홀딩스
000640 동아쏘시오홀딩스
000650 천일고속
000660 SK하이닉스
000670 영풍
000680 LS네트웍스
000700 유수홀딩스
000720 현대건설
000760 이화산업
000810 삼성화재해상보험
000850 화천기공
000860 강남제비스코
000880 한화
000890 보해양조
000910 유니온
000950 전방
000970 한국주철관공업
000990 DB하이텍
001000 신라섬유
001020 페이퍼코리아
001040 CJ
001060 JW중외제약
001070 대한방직
001080 만호제강
001120 LG상사
001130 대한제분
001140 국보
001200 유진증권
001210 금호전기
001230 동국제강
001250 GS글로벌
001260 남광토건
001270 부국증권
001290 골든브릿지증권
001340 백광산업
001360 삼성제약
001380 SG충방
001390 KG케미칼
001420 태원물산
001430 세아베스틸
001440 대한전선
001450 현대해상
001460 BYC
001470 삼부토건
001500 현대차증권
001510 SK증권
001520 동양
001530 동일방직
001540 안국약품
001550 조비
001560 제일연마
001570 금양
001620 동국실업
001630 종근당홀딩스
001680 대상
001720 신영증권
001740 SK네트웍스
001750 한양증권
001770 신화실업
001780 알루코
001790 대한제당
001800 오리온홀딩스
001810 무림SP
001820 삼화콘덴서공업
001840 이화공영
001880 삼호
001940 KISCO홀딩스
002020 코오롱
002030 아세아
002070 남영비비안
002100 경농
002140 고려산업
002150 도화엔지니어링
002170 삼양통상
002200 한국수출포장공업
002210 동성제약
002220 한일철강
002230 피에스텍
002240 고려제강
002250 알보젠코리아
002270 롯데푸드
002290 삼일기업공사
002300 한국제지
002310 아세아제지
002320 한진
002350 넥센타이어
002360 SH에너지화학
002380 케이씨씨
002390 한독
002410 범양건영
002420 세기상사
002450 삼익악기
002460 화성산업
002600 조흥
002620 제일파마홀딩스
002630 오리엔트바이오
002680 한탑
002690 동일제강
002700 신일산업
002710 TCC동양
002720 국제약품
002760 보락
002780 진흥기업
002790 아모레퍼시픽그룹
002800 신신제약
002810 삼영무역
002820 선창산업
002840 미원상사
002870 신풍제지
002880 대유에이텍
002900 동양물산기업
002920 유성기업
002960 한국쉘석유
002990 금호산업
003000 부광약품
003010 혜인
003030 세아제강지주
003060 에이프로젠제약
003070 코오롱글로벌
003080 성보화학
003090 대웅
003100 선광
003120 일성신약
003160 디아이
003200 일신방직
003220 대원제약
003230 삼양식품
003240 태광산업
003280 흥아해운
003300 한일홀딩스
003310 대주산업
003350 한국화장품제조
003380 하림지주
003410 쌍용양회공업
003460 유화증권
003470 유안타증권
003480 한진중공업홀딩스
003490 대한항공
003520 영진약품
003530 한화투자증권
003540 대신증권
003550 LG
003560 IHQ
003570 S&T중공업
003580 넥스트사이언스
003610 방림
003620 쌍용자동차
003650 미창석유공업
003670 포스코켐텍
003680 한성기업
003690 코리안리
003720 삼영화학공업
003780 진양산업
003800 에이스침대
003830 대한화섬
003850 보령제약
003920 남양유업
003960 사조대림
004000 롯데정밀화학
004020 현대제철
004060 SG세계물산
004080 신흥
004090 한국석유공업
004100 태양금속공업
004140 동방
004150 한솔홀딩스
004170 신세계
004200 고려개발
004250 엔피씨
004270 남성
004310 현대약품
004360 세방
004370 농심
004380 삼익THK
004410 서울식품공업
004430 송원산업
004440 대림씨엔에스
004450 삼화왕관
004490 세방전지
004540 깨끗한나라
004560 현대비앤지스틸
004590 한국가구
004650 창해에탄올
004690 삼천리
004700 조광피혁
004710 한솔테크닉스
004720 우리들제약
004770 써니전자
004780 대륙제관
004800 효성
004830 덕성
004840 DRB동일
004870 티웨이홀딩스
004890 동일산업
004910 조광페인트
004920 씨아이테크
004960 한신공영
004970 신라교역
004980 성신양회
004990 롯데지주
005010 휴스틸
005030 부산주공
005070 코스모신소재
005090 삼광글라스
005110 한창
005160 동국산업
005180 빙그레
005190 동성화학
005250 녹십자홀딩스
005290 동진쎄미켐
005300 롯데칠성음료
005320 국동
005360 모나미
005380 현대자동차
005390 신성통상
005420 코스모화학
005430 한국공항
005440 현대그린푸드
005450 신한
005490 포스코
005500 삼진제약
005610 SPC삼립
005670 푸드웰
005680 삼영전자공업
005690 파미셀
005710 대원산업
005720 넥센
005740 크라운해태홀딩스
005750 대림비앤코
005800 신영와코루
005810 풍산홀딩스
005820 원림
005830 DB손해보험
005850 에스엘
005860 한일사료
005870 휴니드테크놀러지스
005880 대한해운
005930 삼성전자
005940 NH투자증권
005950 이수화학
005960 동부건설
005990 매일홀딩스
006040 동원산업
006050 국영지앤엠
006060 화승인더스트리
006090 사조오양
006110 삼아알미늄
006120 SK디스커버리
006140 피제이전자
006200 한국전자홀딩스
006220 제주은행
006260 LS
006280 녹십자
006340 대원전선
006360 GS건설
006370 대구백화점
006380 카프로
006390 한일현대시멘트
006400 삼성SDI
006490 인스코비
006570 대림통상
006580 대양제지
006620 동구바이오제약
006650 대한유화
006660 삼성공조
006730 서부T&D
006740 영풍제지
006800 미래에셋대우
006840 AK홀딩스
006880 신송홀딩스
006890 태경화학
006910 보성파워텍
006920 모헨즈
006980 우성사료
007070 GS리테일
007110 일신석재
007120 미래아이앤지
007160 사조산업
007210 벽산
007280 한국특수형강
007310 오뚜기
007330 푸른저축은행
007340 디티알오토모티브
007370 진양제약
007390 네이처셀
007460 에이프로젠 KIC
007530 영신금속
007540 샘표
007570 일양약품
007590 동방아그로
007610 선도전기
007630 폴루스바이오팜
007660 이수페타시스
007680 대원
007690 국도화학
007700 F&F
007720 대명코퍼레이션
007770 한일화학
007810 코리아써키트
007820 에스엠코어
007860 서연
007980 태평양물산
008040 사조동아원
008060 대덕전자
008110 대동전자
008250 이건산업
008260 NI스틸
008290 원풍물산
008350 남선알미늄
008370 원풍
008420 문배철강
008470 부스타
008490 서흥
008500 일정실업
008560 메리츠종금증권
008600 윌비스
008700 아남전자
008730 율촌화학
008770 호텔신라
008800 스튜디오 썸머
008830 대동기어
008870 금비
008930 한미사이언스
008970 동양철관
009070 케이씨티시
009140 경인전자
009150 삼성전기
009160 SIMPAC
009180 한솔로지스틱스
009190 대양금속
009200 무림페이퍼
009240 한샘
009270 신원
009290 광동제약
009300 삼아제약
009310 참엔지니어링
009320 대우부품
009410 태영건설
009420 한올바이오파마
009440 KC그린홀딩스
009450 경동나비엔
009460 한창제지
009470 삼화전기
009520 포스코엠텍
009540 현대중공업
009580 무림P&P
009620 삼보산업
009680 모토닉
009730 코센
009770 삼정펄프
009780 엠에스씨
009810 엔케이물산
009830 한화케미칼
009970 영원무역홀딩스
010040 한국내화
010050 우리종금
010060 OCI
010100 한국프랜지공업
010120 LS산전
010130 고려아연
010140 삼성중공업
010170 대한광통신
010240 흥국
010280 쌍용정보통신
010400 우진아이엔에스
010420 한솔피엔에스
010470 오리콤
010580 지코
010600 웰바이오텍
010620 현대미포조선
010640 진양폴리우레탄
010660 화천기계
010690 화신
010770 평화홀딩스
010780 아이에스동서
010820 퍼스텍
010950 S-Oil
010960 삼호개발
011000 진원생명과학
011040 경동제약
011070 LG이노텍
011080 형지I&C
011090 에넥스
011150 CJ씨푸드
011160 두산건설
011170 롯데케미칼
011200 현대상선
011210 현대위아
011230 삼화전자공업
011280 태림포장
011300 성안
011320 유니크
011330 유니켐
011370 서한
011390 부산산업
011420 갤럭시아에스엠
011500 한농화성
011560 세보엠이씨
011690 유양디앤유
011700 한신기계공업
011760 현대종합상사
011780 금호석유화학
011790 SKC
011810 STX
011930 신성이엔지
012030 DB
012160 영흥철강
012170 키위미디어그룹
012200 계양전기
012280 영화금속
012320 경동인베스트
012330 현대모비스
012340 뉴인텍
012450 한화에어로스페이스
012510 더존비즈온
012600 청호컴넷
012610 경인양행
012620 원일특강
012630 HDC
012690 모나리자
012700 리드코프
012750 에스원
012790 신일제약
012800 대창
012860 서연전자
013000 세우글로벌
013030 하이록코리아
013120 동원개발
013310 아진산업
013360 일성건설
013520 화승알앤에이
013570 디와이
013580 계룡건설산업
013700 까뮤이앤씨
013720 청보산업
013810 스페코
013870 지엠비코리아
013990 아가방컴퍼니
014100 보령메디앙스
014130 한익스프레스
014160 대영포장
014190 원익큐브
014200 광림
014280 금강공업
014440 영보화학
014470 부방
014530 극동유화
014570 고려제약
014580 백광소재
014620 성광벤드
014680 한솔케미칼
014710 사조씨푸드
014790 한라
014820 동원시스템즈
014830 유니드
014910 성문전자
014940 오리엔탈정공
014970 삼륭물산
014990 인디에프
015020 이스타코
015230 대창단조
015260 에이엔피
015350 부산도시가스
015360 예스코홀딩스
015540 메디파트너생명공학
015590 큐로
015710 코콤
015750 성우하이텍
015760 한국전력공사
015860 일진홀딩스
015890 태경산업
016090 대현
016100 리더스코스메틱
016250 이테크건설
016360 삼성증권
016380 동부제철
016450 한세예스24홀딩스
016580 환인제약
016590 신대양제지
016600 큐캐피탈
016610 DB금융투자
016670 포비스티앤씨
016710 대성홀딩스
016740 두올
016790 현대사료
016800 퍼시스
016880 웅진
016920 카스
017000 신원종합개발
017040 광명전기
017180 명문제약
017250 인터엠
017370 우신시스템
017390 서울도시가스
017480 삼현철강
017510 세명전기
017550 수산중공업
017650 대림제지
017670 SK텔레콤
017680 데코앤이
017800 현대엘리베이터
017810 풀무원
017890 한국알콜
017900 광전자
017940 E1
017960 한국카본
018000 유니슨
018120 진로발효
018250 애경산업
018260 삼성에스디에스
018290 지엠피
018310 삼목에스폼
018470 조일알미늄
018500 동원금속
018620 우진비앤지
018670 SK가스
018680 서울제약
018700 바른손
018880 한온시스템
019010 그랜드백화점
019170 신풍제약
019180 티에이치엔
019210 와이지-원
019440 세아특수강
019490 하이트론씨스템즈
019540 일지테크
019550 SBI인베스트먼트
019570 제미니투자
019590 엠벤처투자
019660 글로본
019680 대교
019770 서연탑메탈
019990 에너토크
020000 한섬
020120 키다리스튜디오
020150 일진머티리얼즈
020180 대신정보통신
020400 대동금속
020560 아시아나항공
020710 시공테크
020760 일진디스플
021040 대호피앤씨
021050 서원
021080 에이티넘인베스트
021240 코웨이
021320 KCC건설
021650 한국큐빅
021820 세원정공
021880 메이슨캐피탈
022100 포스코 ICT
022220 정산애강
023000 삼원강재
023150 MH에탄올
023160 태광
023350 한국종합기술
023410 유진기업
023440 제일제강
023450 동남합성
023460 CNH
023530 롯데쇼핑
023590 다우기술
023600 삼보판지
023760 한국캐피탈
023770 플레이위드
023790 동일철강
023800 인지컨트롤스
023810 인팩
023890 아트라스BX
023900 풍국주정
023910 대한약품
023960 에쓰씨엔지니어링
024060 흥구석유
024070 WISCOM
024090 디씨엠
024110 기업은행
024120 KB오토시스
024720 한국콜마홀딩스
024740 한일단조
024800 유성티엔에스
024810 이화전기
024830 세원물산
024840 갑을메탈
024850 피에스엠씨
024880 케이피에프
024890 대원화성

024900 덕양산업
024910 경창산업
024940 PN풍년
024950 삼천리자전거
025000 KPX케미칼
025320 시노펙스
025440 대성엘텍
025530 에스제이엠홀딩스
025540 한국단자공업
025550 한국선재
025560 미래산업
025620 제이준코스메틱
025750 한솔홈데코
025770 한국정보통신
025820 이구산업
025860 남해화학
025870 신라에스지
025880 케이씨피드
025890 한국주강
025900 동화기업
025950 동신건설
025980 아난티
026040 제이에스티나
026150 특수건설
026180 현대정보기술
026890 디피씨
026910 광진실업
026940 부국철강
026960 동서
027040 서울전자통신
027050 코리아나
027360 아주IB투자
027390 한화갤러리아타임월드
027410 BGF
027580 상보
027710 팜스토리
027740 마니커
027830 대성창투
027970 세하
028040 미래SCI
028050 삼성엔지니어링
028080 휴맥스홀딩스
028100 동아지질
028150 GS홈쇼핑
028260 삼성물산
028300 에이치엘비
028670 팬오션
029460 케이씨
029480 바른테크놀로지
029530 신도리코
029780 삼성카드
029960 코엔텍
030000 제일기획
030190 NICE평가정보
030200 KT
030210 KTB투자증권
030270 에스마크
030350 드래곤플라이
030520 한글과컴퓨터
030530 원익홀딩스
030610 교보증권
030720 동원수산
030790 동양네트웍스
030960 양지사
031310 아이즈비전
031330 에스에이엠티
031390 녹십자셀
031430 신세계인터내셔날
031440 신세계푸드
031510 오스템
031820 콤텍시스템
031860 엔에스엔
031980 피에스케이
032080 아즈텍WB
032190 다우데이타
032280 삼일
032350 롯데관광개발
032500 케이엠더블유
032540 TJ미디어
032560 황금에스티
032580 피델릭스
032620 유비케어
032640 LG유플러스
032680 소프트센
032750 삼진
032790 엠젠플러스
032800 판타지오
032820 우리기술
032830 삼성생명
032850 비트컴퓨터
032860 GMR 머티리얼즈
032940 원익
032960 동일기연
032980 바이온
033050 제이엠아이
033100 제룡전기
033110 이디
033130 디지틀조선
033160 엠케이전자
033170 시그네틱스
033180 필룩스
033200 모아텍
033230 인성정보
033240 자화전자
033250 체시스
033270 유나이티드
033290 코웰패션
033310 디케이디앤아이
033320 제이씨현시스템
033340 좋은사람들
033430 디에스티
033500 동성화인텍
033530 세종공업
033540 파라텍
033560 블루콤
033600 에이코넬
033640 네패스
033660 아주캐피탈
033780 KT&G
033790 스카이문스테크놀로지
033830 티비씨
033920 무학
034020 두산중공업
034120 SBS
034220 LG디스플레이
034230 파라다이스
034300 신세계건설
034310 NICE
034590 인천도시가스
034730 SK
034810 해성산업
034830 한국토지신탁
034940 조아제약
034950 한국기업평가
035000 지투알
035080 인터파크홀딩스
035150 백산
035200 프럼파스트
035250 강원랜드
035290 더블유에프엠
035420 NAVER
035460 기산텔레콤
035480 마제스타
035510 신세계I&C
035600 KG이니시스
035610 솔본
035620 바른손이앤에이
035720 카카오
035760 CJ ENM
035810 이지바이오
035890 서희건설
035900 JYP Ent.
036000 예림당
036010 아비코전자
036030 KTH
036090 위지트
036120 SCI평가정보
036170 씨티젠
036180 영인프런티어
036190 금화피에스시
036200 유니셈
036260 이매진아시아
036420 제이콘텐트리
036460 한국가스공사
036480 대성미생물
036490 SK머티리얼즈
036530 S&T홀딩스
036540 SFA반도체
036560 영풍정밀
036570 엔씨소프트
036580 팜스코
036620 버추얼텍
036630 세종텔레콤
036640 HRS
036670 KCI
036690 코맥스
036710 심텍홀딩스
036800 나이스정보통신
036810 에프에스티
036830 솔브레인
036890 진성티이씨
036930 주성엔지니어링
037030 파워넷
037070 파세코
037230 한국팩키지
037270 YG PLUS
037330 인지디스플레
037350 성도이엔지
037370 EG
037400 우리조명
037440 희림
037460 삼지전자
037560 CJ헬로
037710 광주신세계
037760 쎄니트
037950 엘컴텍
038010 제일테크노스
038060 루멘스
038070 서린바이오
038110 에코플라스틱
038160 팍스넷
038290 마크로젠
038340 UCI
038390 레드캡투어
038460 바이오스마트
038500 삼표시멘트
038530 골드퍼시픽
038540 상상인
038620 위즈코프
038680 에스넷
038870 에코바이오
038880 아이에이
038950 파인디지털
039010 현대통신
039020 이건홀딩스
039030 이오테크닉스
039130 하나투어
039200 오스코텍
039230 에이아이비트
039240 경남스틸
039290 인포뱅크
039310 세중
039340 한국경제TV
039420 케이엘넷
039440 에스티아이
039490 키움증권
039560 다산네트웍스
039570 HDC아이콘트롤스
039610 화성밸브
039670 스포츠서울
039740 한국정보공학
039830 오로라
039840 디오
039860 나노엔텍
039980 리노스
040160 누리텔레콤
040300 YTN
040350 큐로컴
040420 정상제이엘에스
040610 SG&G
040910 아이씨디
041020 인프라웨어
041140 넥슨지티
041190 우리기술투자
041440 에버다임
041460 한국전자인증
041510 에스엠
041520 이라이콤
041590 에너전트
041650 상신브레이크
041830 인바디
041910 에스텍파마
041920 메디아나
041930 동아화성
041960 코미팜
042000 카페24
042040 케이피엠테크
042110 에스씨디
042370 비츠로테크
042420 네오위즈홀딩스
042500 링네트
042510 라온시큐어
042520 한스바이오메드
042600 새로닉스
042660 대우조선해양
042670 두산인프라코어
042700 한미반도체
042940 상지카일룸
043090 팜스웰바이오
043100 솔고바이오
043150 바텍
043200 파루
043220 에이치엘비파워
043260 성호전자
043290 케이맥
043340 에쎈테크
043360 디지아이
043370 평화정공
043590 크로바하이텍
043610 지니뮤직
043650 국순당
043710 서울리거
043910 자연과환경
044060 조광ILI
044180 KD건설
044340 위닉스
044380 주연테크
044450 KSS해운
044480 바이오제네틱스
044490 태웅
044780 에이치케이
044820 코스맥스비티아이
044960 이글벳
044990 에이치엔에스하이텍
045060 오공
045100 한양이엔지
045300 성우테크론
045340 토탈소프트
045390 대아티아이
045510 정원엔시스
045520 크린앤사이언스
045660 에이텍
045890 GV
045970 코아시아홀딩스
046070 코다코
046110 한일네트웍스
046120 오르비텍
046140 SBS콘텐츠허브
046210 파나진
046310 백금T&A
046390 삼화네트웍스
046440 KG모빌리언스
046890 서울반도체
046940 우원개발
046970 우리로
047040 대우건설
047050 포스코대우
047080 한빛소프트
047310 파워로직스
047400 유니온머티리얼
047560 이스트소프트
047770 코데즈컴바인
047810 한국항공우주
047820 초록뱀
047920 씨트리
048260 오스템임플란트
048410 현대바이오
048430 유라테크
048470 대동스틸
048530 인트론바이오
048550 SM C&C
048770 TPC
048830 엔피케이
048870 시너지이노베이션
048910 대원미디어
049070 인탑스
049080 기가레인
049120 파인디앤씨
049180 셀루메드
049430 코메론
049470 SGA
049480 오픈베이스
049520 유아이엘
049550 잉크테크
049630 재영솔루텍
049720 고려신용정보
049770 동원F&B
049800 우진플라임
049830 승일
049950 미래컴퍼니
049960 쎌바이오텍
050090 휘닉스소재
050110 캠시스
050120 라이브플렉스
050320 에이앤티앤
050540 한국코퍼레이션
050760 에스폴리텍
050860 아세아텍
050890 쏠리드
050960 수산아이앤티
051160 지어소프트
051360 토비스
051370 인터플렉스
051380 피씨디렉트
051390 YW
051490 나라엠앤디
051500 CJ프레시웨이
051600 한전KPS
051630 진양화학
051780 큐로홀딩스
051900 LG생활건강
051910 LG화학
051980 중앙리빙테크
052020 에스티큐브
052190 이에스에이
052220 iMBC
052260 SK바이오랜드
052300 W홀딩컴퍼니
052330 코텍
052400 코나아이
052420 오성첨단소재
052460 아이크래프트
052600 한네트
052670 제일바이오
052690 한전기술
052710 아모텍
052770 와이디온라인
052790 액토즈소프트
052860 아이앤씨
052900 KMH하이텍
053030 바이넥스
053050 지에스이
053060 세동
053110 소리바다
053160 프리엠스
053210 케이티스카이라이프
053260 금강철강
053270 구영테크
053280 예스24
053290 NE능률
053300 한국정보인증
053350 이니텍
053450 세코닉스
053580 웹케시
053590 한국테크놀로지
053610 프로텍
053620 태양
053660 현진소재
053690 한미글로벌
053700 삼보모터스
053800 안랩
053950 경남제약
053980 오상자이엘
054040 한국컴퓨터
054050 농우바이오
054090 삼진엘앤디
054180 중앙오션
054210 이랜텍
054220 비츠로시스
054300 팬스타엔터프라이즈
054340 피앤텔
054410 케이피티유
054450 텔레칩스
054540 삼영엠텍
054620 APS홀딩스
054630 에이디칩스
054670 대한뉴팜
054780 키이스트
054800 아이디스홀딩스
054920 한컴시큐어
054930 유신
054940 엑사이엔씨
054950 제이브이엠
055490 테이팩스
055550 신한지주
056000 신스타임즈
056080 유진로봇
056090 유앤아이
056190 에스에프에이
056360 코위버
056700 신화인터텍
056730 포스링크
057030 와이비엠넷
057050 현대홈쇼핑
057500 SKC 솔믹스
057540 옴니시스템
057680 옴니텔
057880 토필드
058110 멕아이씨에스
058220 아리온
058400 KNN
058420 제이웨이
058430 포스코강판
058450 일야
058470 리노공업
058530 슈펙스비앤피
058610 에스피지
058630 엠게임
058650 세아홀딩스
058730 다스코
058820 CMG제약
058850 KTcs
058860 케이티스
058970 엠로
059090 미코
059100 아이컴포넌트
059120 아진엑스텍
059210 메타바이오메드
060150 인선이엔티
060230 이그잭스
060240 룽투코리아
060250 NHN한국사이버결제
060260 뉴보텍
060280 큐렉소
060300 레드로버
060310 3S
060370 KT서브마린
060380 동양에스텍
060480 국일신동
060540 에스에이티
060560 홈센타홀딩스
060570 아이리버
060590 씨티씨바이오
060720 KH바텍
060900 퍼시픽바이오
060980 한라홀딩스
061040 알에프텍
061250 화일약품
061970 엘비세미콘
062860 티엘아이
063080 게임빌
063160 종근당바이오
063170 서울옥션
063440 SM Life Design
063570 한국전자금융
063760 이엘피
064090 에프앤리퍼블릭
064240 홈캐스트
064260 다날
064290 인텍플러스
064350 현대로템
064480 브리지텍
064510 에코마이스터
064520 바른전자
064550 바이오니아
064760 티씨케이
064800 필링크
064820 케이프
064850 에프앤가이드
064960 S&T모티브
065060 지엔코
065130 탑엔지니어링
065150 MP그룹
065160 에프티이앤이
065170 넥스트BT
065350 신성델타테크
065370 위세아이텍
065420 에스아이리소스
065440 이루온
065450 빅텍
065500 오리엔트정공
065510 휴비츠
065530 전파기지국
065560 녹원씨엔아이
065570 삼영이엔씨
065620 제낙스
065650 메디프론
065660 안트로젠
065680 우주일렉트로
065690 대진디엠피
065710 서호전기
065770 CS
065940 바이오빌
065950 웰크론
066110 한프
066130 하츠
066310 큐에스아이
066360 체리부로
066410 버킷스튜디오
066430 와이오엠
066570 LG전자
066590 우수AMS
066620 국보디자인
066670 디스플레이텍
066700 테라젠이텍스
066790 씨씨에스
066830 제노텍
066900 디에이피
066910 손오공
066970 엘앤에프
066980 브레인콘텐츠
067000 조이시티
067010 이씨에스
067080 대화제약
067160 아프리카TV
067170 오텍
067280 멀티캠퍼스
067290 JW신약
067310 하나마이크론
067370 선바이오
067390 아스트
067570 엔브이에이치코리아
067630 에이치엘비생명과학
067730 로지시스
067770 세진티에스
067830 세이브존I&C
067900 와이엔텍
067920 이글루시큐리티
067990 도이치모터스
068050 팬엔터테인먼트
068240 다원시스
068270 셀트리온
068290 삼성출판사
068330 일신바이오
068400 AJ렌터카
068760 셀트리온제약
068790 DMS
068930 디지털대성
068940 아이씨케이
069080 웹젠
069110 코스온
069140 누리플랜
069260 휴켐스
069330 유아이디
069410 엔텔스
069460 대호에이엘
069510 에스텍
069540 라이트론
069620 대웅제약
069640 한세엠케이
069730 DSR제강
069920 아이에스이커머스
069960 현대백화점
070300 한솔시큐어
070590 한솔인티큐브
070960 용평리조트
071050 한국금융지주
071090 하이스틸
071200 인피니트헬스케어
071280 로체시스템즈
071320 지역난방공사
071460 대유위니아
071670 에이테크솔루션
071840 롯데하이마트
071850 캐스텍코리아
071950 코아스
071970 STX중공업
072020 중앙백신
072130 유엔젤
072470 우리산업홀딩스
072520 제넨바이오
072710 농심홀딩스
072770 네오디안테크놀로지
072870 메가스터디
072950 빛샘전자
072990 에이치시티
073010 케이에스피
073070 에스모
073110 엘엠에스
073190 듀오백
073240 금호타이어
073490 이노와이어리스
073540 에프알텍
073560 우리손에프앤지
073570 피엠지파마
073640 삼원테크
074430 아미노로직스
074600 원익QnC
074610 나노메딕스
075130 플랜티넷
075180 새론오토모티브
075580 세진중공업
075970 동국알앤에스
076080 웰크론한텍
076340 관악산업
076610 해성옵틱스
077280 한컴지엠디
077360 덕산하이메탈
077500 유니퀘스트
077970 STX엔진
078000 텔코웨어
078020 이베스트투자증권
078070 유비쿼스홀딩스
078130 국일제지
078140 대봉엘에스
078150 HB테크놀러지
078160 메디포스트

078340 컴투스
078350 한양디지텍
078520 에이블씨엔씨
078590 두올산업
078600 대주전자재료
078650 코렌
078860 아이오케이
078890 가온미디어
078930 GS
078940 일경산업개발
079000 와토스코리아
079160 CJ CGV
079170 한창산업
079190 EMW
079370 제우스
079430 현대리바트
079440 오렌지라이프
079550 LIG넥스원
079650 서산
079660 사조해표
079810 디이엔티
079940 가비아
079950 인베니아
079960 동양이엔피
079970 투비소프트
079980 휴비스
080000 에스엔유
080010 이상네트웍스
080160 모두투어
080220 제주반도체
080420 모다이노칩
080440 에스제이케이
080470 성창오토텍
080520 오디텍
080530 코디
080580 오킨스전자
080720 한국유니온제약
081000 일진다이아
081150 티플랙스
081580 성우전자
081660 휠라코리아
082210 옵트론텍
082270 젬백스
082640 동양생명
082660 삼우엠스
082740 HSD엔진
082800 루미마이크로
082850 우리이티아이
082920 비츠로셀
083310 엘오티베큠
083370 동북아12호선박투자
083380 동북아13호선박투자
083420 그린케미칼
083450 GST
083470 KJ프리텍
083500 에프엔에스테크
083550 케이엠
083640 인콘
083650 비에이치아이
083660 CSA 코스믹
083790 크리스탈
083930 아바코
084010 대한제강
084110 휴온스글로벌
084180 수성
084370 유진테크
084440 유비온
084650 랩지노믹스
084670 동양고속
084680 이월드
084690 대상홀딩스
084730 팅크웨어
084870 티비에이치글로벌
084990 바이로메드
085310 엔케이
085370 루트로닉
085620 미래에셋생명
085660 차바이오텍
085670 뉴프렉스
085810 알티캐스트
085910 네오티스
086040 바이오톡스텍
086060 진바이오텍
086080 다이노나
086220 네추럴FNP
086250 화신테크
086280 현대글로비스
086390 유니테스트
086450 동국제약
086460 에스엔피제네틱스
086520 에코프로
086670 비엠티
086790 하나금융지주
086820 바이오솔루션
086890 이수앱지스
086900 메디톡스
086960 한컴MDS
086980 쇼박스
087010 펩트론
087260 모바일어플라이언스
087600 픽셀플러스
087730 네패스신소재
088130 동아엘텍
088260 이리츠코크렙
088290 이원컴포텍
088350 한화생명
088390 이녹스
088790 진도
088800 에이스테크
088910 동우팜투테이블
088980 맥쿼리인프라
089010 켐트로닉스
089030 테크윙
089140 넥스턴
089150 케이씨티
089230 THE E&M
089470 HDC현대EP
089530 에이티세미콘
089590 제주항공
089600 나스미디어
089790 제이티
089850 유비벨록스
089890 코세스
089970 에이피티씨
089980 상아프론테크
090080 평화산업
090150 광진윈텍
090350 노루페인트
090360 로보스타
090370 메타랩스
090410 덕신하우징
090430 아모레퍼시픽
090460 비에이치
090470 제이스텍
090710 디에스티로봇
090740 연이정보통신
090850 이지웰페어
091090 세원셀론텍
091120 이엠텍
091340 S&K폴리텍
091440 텔레필드
091580 상신이디피
091590 남화토건
091700 파트론
091810 티웨이항공
091970 나노캠텍
091990 셀트리온헬스케어
092040 아미코젠
092070 디엔에프
092130 이크레더블
092200 디아이씨
092220 KEC
092230 KPX홀딩스
092300 현우산업
092440 기신정기
092460 한라IMS
092590 럭스피아
092600 앤씨앤
092730 네오팜
092780 동양피스톤
092870 엑시콘
093050 LF
093190 빅솔론
093230 이아이디
093240 형지엘리트
093320 케이아이엔엑스
093370 후성
093380 풍강
093520 매커스
093640 다믈멀티미디어
093920 서원인텍
094170 동운아나텍
094190 이엘케이
094280 효성 ITX
094360 칩스앤미디어
094480 갤럭시아컴즈
094800 맵스리얼티1
094820 일진파워
094840 슈프리마에이치큐
094850 참좋은여행
094860 코닉글로리
094940 푸른기술
094970 제이엠티
095190 이엠코리아
095270 웨이브일렉트로
095340 ISC
095500 미래나노텍
095570 AJ네트웍스
095610 테스
095660 네오위즈
095700 제넥신
095720 웅진씽크빅
095910 에스에너지
096040 이트론
096240 청담러닝
096300 베트남개발1
096350 대창솔루션
096530 씨젠
096610 알에프세미
096630 에스코넥
096640 멜파스
096690 제이스테판
096760 JW홀딩스
096770 SK이노베이션
096870 엘디티
097230 한진중공업
097520 엠씨넥스
097780 에스맥
097800 윈팩
097870 효성오앤비
097950 CJ제일제당
098120 마이크로컨텍솔
098460 고영
098660 에스티오
099190 아이센스
099220 SDN
099320 쎄트렉아이
099340 하나니켈1호
099350 하나니켈2호
099410 동방선기
099440 스맥
099520 ITX엠투엠
100030 모바일리더
100090 삼강엠앤티
100120 뷰웍스
100130 동국S&C
100220 비상교육
100250 진양홀딩스
100590 머큐리
100660 서암기계공업
100700 세운메디칼
100840 S&TC
101000 디엠씨
101060 SBS미디어홀딩스
101140 아티스
101160 월덱스
101170 우림기계
101240 씨큐브
101330 모베이스
101360 이엔드디
101390 아이엠
101400 엔시트론
101490 에스앤에스텍
101530 해태제과식품
101670 코리아에스이
101680 한국정밀기계
101730 조이맥스
101930 인화정공
102120 어보브반도체
102210 해덕파워웨이
102260 동성코퍼레이션
102280 쌍방울
102460 이연제약
102710 이엔에프테크놀로지
102940 코오롱생명과학
103130 웅진에너지
103140 풍산
103230 에스앤더블류
103590 일진전기
103660 씨앗
104040 대성파인텍
104200 NHN벅스
104460 동양피엔에프
104480 티케이케미칼
104540 코렌텍
104620 노랑풍선
104700 한국철강
104830 원익머트리얼즈
105330 케이엔더블유
105550 트루윈
105560 KB금융
105630 한세실업
105740 디케이락
105840 우진
106080 지투하이소닉
106190 하이텍팜
106240 파인테크닉스
106520 디지탈옵틱
107590 미원홀딩스
107640 한중엔시에스
108230 톱텍
108320 실리콘웍스
108380 대양전기공업
108490 로보티즈
108670 LG하우시스
108790 인터파크
108860 셀바스AI
109070 컨버즈
109080 옵티시스
109610 에스와이패널
109740 디에스케이
109820 진매트릭스
109860 동일금속
109960 에이프로젠 H&G
110020 전진바이오팜
110790 크리스에프앤씨
110990 디아이티
111110 호전실업
111710 남화산업
111770 영원무역
111820 지와이커머스
111870 삼본정밀전자
112040 위메이드
112190 KC산업
112240 에스에프씨
112610 씨에스윈드
113810 디젠스
114090 GKL
114120 크루셜텍
114190 웰크론강원
114450 KPX생명과학
114570 지스마트글로벌
114630 우노앤컴퍼니
114810 아이원스
114920 대주이엔티
115160 휴맥스
115180 큐리언트
115310 인포바인
115390 락앤락
115440 우리넷
115450 지트리비앤티
115480 씨유메디칼
115500 케이씨에스
115530 씨엔플러스
115570 스타플렉스
115610 이미지스
115960 연우
116100 태양기계
117580 대성에너지
117670 알파홀딩스
117730 티로보틱스
118000 우리들휴브레인
118990 모트렉스
119500 포메탈
119610 인터로조
119650 KC코트렐
119830 아이텍반도체
119850 지엔씨에너지
119860 다나와
120030 조선선재
120110 코오롱인더
120240 대정화금
120780 전우정밀
121060 유니포인트
121440 골프존뉴딘홀딩스
121600 나노신소재
121800 비덴트
121850 코이즈
121890 에스디시스템
122050 아이엘사이언스
122310 제노레이
122350 삼기오토모티브
122450 KMH
122640 예스티
122690 서진오토모티브
122800 썬텍
122870 와이지엔터테인먼트
122900 아이마켓코리아
122990 와이솔
123010 옵토팩
123040 엠에스오토텍
123100 원익테라세미콘
123260 화텍파워
123330 제닉
123410 코리아에프티
123420 선데이토즈
123570 이엠넷
123690 한국화장품
123700 에스제이엠
123750 알톤스포츠
123840 한일진공
123860 아나패스
123890 한국자산신탁
124500 아이티센
126340 비나텍
126560 현대에이치씨엔
126600 코프라
126640 화신정공
126700 하이비젼시스템
126870 뉴로스
126880 제이엔케이히터
127120 디엔에이링크
127160 매직마이크로
127710 아시아경제
128540 에코캡
128660 피제이메탈
128820 대성산업
128940 한미약품
129260 인터지스
130500 GH신소재
130580 나이스디앤비
130660 한전산업
130740 티피씨글로벌
131030 디에이치피코리아
131090 시큐브
131100 리켐
131180 딜리
131220 대한과학
131290 티에스이
131370 알서포트
131390 피앤이솔루션
131400 액트
131760 파인텍
131970 테스나
133750 메가엠디
133820 화인베스틸
134060 이퓨쳐
134380 미원화학
134580 디엠티
134780 화진
134790 시디즈
135160 지오씨
135270 세종머티리얼즈
136480 하림
136490 선진
136510 쎄미시스코
136540 윈스
136660 큐엠씨
137400 피엔티
137940 넥스트아이
137950 제이씨케미칼
138040 메리츠금융지주
138070 신진에스엠
138080 오이솔루션
138250 엔에스쇼핑
138360 에이씨티
138490 코오롱플라스틱
138580 비즈니스온
138610 나이벡
138690 엘아이에스
138930 BNK금융지주
139050 데일리블록체인
139130 DGB금융지주
139480 이마트
139670 넥스트리밍
140070 서플러스글로벌
140290 청광종건
140410 메지온
140520 대창스틸
140610 엔솔바이오사이언스
140660 위월드
140670 알에스오토메이션
140860 파크시스템스
140890 트러스제7호
140910 에이리츠
141000 비아트론
141020 포티스
141070 맥스로텍
141080 레고켐바이오
142210 유니트론텍
142280 녹십자엠에스
142760 바이오리더스
143160 아이디스
143210 핸즈코퍼레이션
143240 사람인에이치알
143540 영우디에스피
144510 녹십자랩셀
144620 코오롱머티리얼
144960 뉴파워프라즈마
145020 휴젤
145210 세화아이엠씨
145270 케이탑리츠
145720 덴티움
145990 삼양사
147760 마이크로프랜드
147830 제룡산업
148140 비디아이
148250 알엔투테크놀로지
148780 비플라이소프트
149010 아이케이세미콘
149940 모다
149950 아바텍
149980 하이로닉
150440 피노텍
150840 인트로메딕
150900 파수닷컴
151860 KG ETS
151910 나노스
152330 코리아오토글라스
152550 한국ANKOR유전
153360 하이골드3호
153460 네이블커뮤니케이션즈
153490 우리이앤엘
153710 옵티팜
154030 아시아종묘
154040 솔루에타
155650 와이엠씨
155660 DSR
155900 바다로19호
156100 엘앤케이바이오
158300 에스에이티이엔지
158310 인터불스
159580 제로투세븐
159650 하이골드8호
159910 스킨앤스킨
160550 NEW
160600 에스엔텍
160980 싸이맥스
161000 애경유화
161390 한국타이어
161570 THE MIDONG
161580 필옵틱스
161890 한국콜마
162120 루켄테크놀러지스
163430 디피코
163560 동일고무벨트
166090 하나머티리얼즈
166480 코아스템
168330 내츄럴엔도텍
168490 한국패러랠
170030 현대공업
170790 파이오링크
170900 동아에스티
170920 엘티씨
171010 램테크놀러지
171090 선익시스템
171120 라이온켐텍
172580 하이골드12호
173130 오파스넷
173940 에프엔씨엔터
174880 장원테크
174900 앱클론
175140 인포마크
175250 아이큐어
175330 JB금융지주
176440 에이치엔티
176560 포인트엔지니어링
176750 듀켐바이오
177350 베셀
177830 파버나인
178320 서진시스템
178600 대동고려삼
178780 유테크
178920 SKC코오롱PI
179290 엠아이텍
179720 옐로페이
179900 유티아이
180060 탑선
180400 캔서롭
180640 한진칼
181340 이즈미디어
181710 NHN엔터테인먼트
182360 큐브엔터
182400 에이티젠
182690 테라셈
183190 아세아시멘트
183300 코미코
183350 엘피케이
183410 골프존데카
183490 엔지켐생명과학
184230 SGA솔루션즈
185190 수프로
185490 아이진
185750 종근당
186230 그린플러스
187220 디티앤씨
187270 신화콘텍
187420 제노포커스
187790 나노
187870 디바이스이엔지
189300 인텔리안테크
189330 씨이랩
189350 코셋
189540 씨티네트웍스
189690 포시에스
189860 서전기전
189980 흥국에프엔비
190510 나무가
191410 육일씨엔에쓰
191420 테고사이언스
191600 티케이씨
192080 더블유게임즈
192250 케이사인
192390 윈하이텍
192400 쿠쿠홀딩스
192410 감마누
192440 슈피겐코리아
192820 코스맥스
193250 와이제이엠게임즈
194370 제이에스코퍼레이션
194480 데브시스터즈
194510 파티게임즈
194700 노바렉스
195440 퓨전데이타
195870 해성디에스
195990 유지인트
196170 알테오젠
196300 애니젠
196450 텔루스
196490 디에이테크놀로지
196700 웹스
197140 디지캡
197210 리드
198440 고려시멘트
199150 데이터스트림즈
199290 바이오프로테크
199800 툴젠
200130 콜마비앤에이치
200230 텔콘RF제약
200350 래몽래인
200470 하이셈
200580 메디쎄이
200670 휴메딕스
200710 에이디테크놀로지
200780 비씨월드제약
200880 서연이화
201490 미투온
202960 판도라티비
203400 에이비온
203450 유니온커뮤니티
203650 드림시큐리티
203690 프로스테믹스
204020 엠코르셋
204210 모두투어리츠
204320 만도
204620 글로벌텍스프리
204630 화이브라더스코리아
204840 지엘팜텍
204990 현성바이탈
205100 엑셈
205290 케미메디
205470 휴마시스
205500 액션스퀘어
206400 엔터메이트
206560 덱스터
206640 바디텍메드
206650 유바이오로직스
206950 볼빅
207490 에이펙스인텍
207760 미스터블루
207940 삼성바이오로직스
208140 정다운
208340 파멥신
208350 지란지교시큐리티
208370 셀바스헬스케어
208640 썸에이지
208710 바이오로그디바이스
208850 이비테크
208860 엔지스테크널러지
208890 에듀파트너
210120 빅텐츠
210540 디와이파워
210610 소프트캠프
210980 SK디앤디

211050 인카금융서비스
211270 AP위성
212310 휴벡셀
212560 네오오토
213090 미래테크놀로지
213420 덕산네오룩스
213500 한솔제지
214150 클래시스
214180 민앤지
214270 퓨쳐스트림네트웍스
214310 세미콘라이트
214320 이노션
214330 금호에이치티
214370 케어젠
214390 경보제약
214420 토니모리
214430 아이쓰리시스템
214450 파마리서치프로덕트
214610 미코바이오메드
214680 디알텍
214870 에치디프로
215000 골프존
215050 비엔디생활건강
215090 한컴유니맥스
215100 로보로보
215200 메가스터디교육
215360 우리산업
215380 우정바이오
215480 토박스코리아
215570 크로넥스
215600 신라젠
215790 이노인스트루먼트
216050 인크로스
216280 원텍
216400 바이오코아
217190 제너셈
217270 넵튠
217320 썬테크
217330 싸이토젠
217480 에스디생명공학
217500 러셀
217600 켐온
217620 디딤
217730 강스템바이오텍
217820 엔에스
217880 틸론
217910 에스제이켐
217950 파마리서치바이오
218150 미래생명자원
218410 RFHIC
219130 타이거일렉
219420 링크제니시스
219550 MP한강
219750 지티지웰니스
220100 퓨쳐켐
220110 드림티엔터테인먼트
220180 핸디소프트
220250 카이노스메드
220260 켐트로스
220630 해마로푸드서비스
221610 한솔씨앤피
221670 주노콜렉션
221800 유투바이오
221840 하이즈항공
221980 케이디켐
222040 뉴트리바이오텍
222080 씨아이에스
222110 팬젠
222160 바이옵트로
222420 쎄노텍
222670 플럼라인생명과학
222800 심텍
222810 한류AI센터
222980 한국맥널티
223220 아이피몬스터
223310 이에스브이
224020 에스케이씨에스
224060 코디엠
224110 에이텍티앤
224760 엔에스컴퍼니
224810 엄지하우스
224880 SGA임베디드
225190 삼양옵틱스
225220 제놀루션
225330 씨엠에스에듀
225430 케이엠제약
225530 보광산업
225570 넷게임즈
225590 패션플랫폼
225650 쿠첸
225850 미애부
225860 엠앤씨생명과학
226320 잇츠한불
226340 본느
226350 아이엠텍
226360 이엑스티
226400 오스테오닉
226440 한송네오텍
226610 한국비엔씨
226950 올릭스
227100 디자인
227420 포레스팅블록체인
227610 아우딘퓨쳐스
227840 현대코퍼레이션홀딩스
227950 마이크로텍
228180 티씨엠생명과학
228340 동양파일
228760 지노믹트리
228850 레이언스
229000 젠큐릭스
229480 줌인터넷
229500 노브메타파마
229640 LS전선아시아
230240 에치에프알
230360 에코마케팅
230400 자비스
230980 솔트웍스
232140 와이아이케이
232330 SK3호스팩
232530 이엠티
232680 라온테크
232830 시큐센
233250 메디안디노스틱
233990 질경이
234070 에이원알폼
234080 JW생명과학
234100 세원
234300 에스트래픽
234920 자이글
236030 씨알푸드
236200 슈프리마
236340 메디젠휴먼케어
237690 에스티팜
237750 피앤씨테크
237880 클리오
238090 앤디포스
238120 로고스바이오
238200 비피도
238490 힘스
238500 로보쓰리
239340 미래에셋제5호스팩
239610 에이치엘사이언스
239890 피엔에이치테크
240340 인터코스
240810 원익IPS
241510 이에스산업
241520 DSC인베스트먼트
241560 두산밥캣
241590 화승엔터프라이즈
241690 유니테크노
241710 코스메카코리아
241770 메카로
241790 오션브릿지
241820 피씨엘
242040 나무기술
242350 피엔아이컴퍼니
242850 영현무역
243070 휴온스
243840 신흥에스이씨
243870 굿센
244880 나눔테크
245030 스페이스솔루션
245450 씨앤에스링크
245620 EDGC
246250 에스엘에스바이오
246690 티에스인베스트먼트
246710 티앤알바이오팹
246720 아스타
246960 이노테라피
247300 인프라웨어테크놀러지
248170 샘표식품
249420 일동제약
250000 보라티알
250060 모비스
250300 제이에스피브이
250930 케이비제10호스팩
251270 넷마블
251280 안지오랩
251370 와이엠티
251630 브이원텍
251960 엠에프엠코리아
252370 유쎌
252500 세화피앤씨
253450 스튜디오드래곤
253590 네오셈
253840 수젠텍
254120 IBKS제5호스팩
255220 SG
255440 야스
256630 엔에이치스팩10호
256840 엔에이치스팩11호
256940 케이피에스
257370 명성티엔에스
257730 신한제3호스팩
258050 테크트랜스
258250 셀젠텍
258540 스템랩
258610 이더블유케이
258790 케이비제11호스팩
258830 세종메디칼
259630 엠플러스
260660 알리코제약
260870 시그넷이브이
260930 씨티케이코스메틱스
260970 에스앤디
261200 하나금융9호스팩
262760 엔케이맥스
262830 대신밸런스제4호스팩
263020 디케이앤디
263050 유틸렉스
263540 샘코
263600 덕우전자
263690 디알젬
263700 케어랩스
263720 디앤씨미디어
263750 펄어비스
263770 유에스티
263800 데이타솔루션
263810 상신전자
263860 지니언스
263920 에스엔피월드
264290 한화에이스스팩3호
264450 유비쿼스
264660 씨앤지하이테크
264850 IBKS제6호스팩
264900 크라운제과
265480 미래에셋대우스팩1호
265520 AP시스템
265560 영화테크
265920 한화수성스팩
266170 앤유엔터테인먼트
266870 파워풀엑스
267060 명진홀딩스
267250 현대중공업지주
267260 현대일렉트릭
267270 현대건설기계
267290 경동도시가스
267320 교보7호스팩
267790 배럴
267810 앙츠
267850 아시아나IDT
267980 매일유업
268280 미원에스씨
268600 셀리버리
269620 시스웍
270020 두원석재
270210 에스알바이오텍
270520 하나금융10호스팩
270660 에브리봇
270870 뉴트리
271400 알로이스
271560 오리온
271740 한국제5호스팩
271780 비엔에프코퍼레이션
271850 다이오진
271980 제일약품
272290 이녹스첨단소재
272450 진에어
272550 삼양패키징
273060 엔에이치스팩12호
275630 에스에스알
276240 엘리비젼
276920 IBKS제7호스팩
277070 린드먼아시아
277410 인산가
277480 신한제4호스팩
277880 티에스아이
278990 파인이엠텍
279410 한화에이스스팩4호
279600 미디어젠
280360 롯데제과
281310 바이오시네틱스
281410 한국제6호스팩
281740 동부스팩5호
281820 케이씨텍
282330 BGF리테일
282690 동아타이어
284420 휴럼
284610 TS트릴리온
284620 하나금융11호스팩
284740 쿠쿠홈시스
285130 SK케미칼
285490 노바텍
285770 라이프사이언스테크놀로지
286940 롯데정보통신
287410 유안타제3호스팩
288490 나라소프트
288620 에스퓨얼셀
289080 SV인베스트먼트
290120 대유에이피
290270 휴네시온
290380 대유
290550 디케이티
290650 엘앤씨바이오
290660 네오펙트
290670 대보마그네틱
290720 푸드나무
290740 액트로
291210 한국제7호스팩
291230 삼성스팩2호
293480 하나제약
293580 나우아이비캐피탈
293940 신한알파리츠
294870 HDC현대산업개발
297570 IBKS제9호스팩
298000 효성화학
298020 효성티앤씨
298040 효성중공업
298050 효성첨단소재
298380 에이비엘바이오
298690 에어부산
299170 IBKS제10호스팩
299480 지앤이헬스케어
299670 에스엠비나
299900 위지윅스튜디오
299910 베스파
300720 한일시멘트
302430 이노메트리
302550 리메드
302920 더콘텐츠온
303030 대신밸런스제5호스팩
303360 프로테옴텍
306200 세아제강
306620 DB금융스팩6호
307070 SK4호스팩
307160 하나머스트제6호스팩
307180 신영스팩4호
307280 교보8호스팩
307750 대신밸런스제6호스팩
307870 골든브릿지이안5호
308700 테크엔
309930 삼성머스트스팩3호
310200 미래에셋대우스팩2호
310840 엔에이치스팩13호
310870 한국제8호스팩
311060 엘에이티
311270 키움제5호스팩
311840 대원모방
314130 지놈앤컴퍼니
900040 차이나그레이트
900070 글로벌에스엠
900080 에스앤씨엔진그룹
900100 뉴프라이드
900110 이스트아시아홀딩스
900120 씨케이에이치
900140 엘브이엠씨
900250 크리스탈신소재
900260 로스웰
900270 헝셩그룹
900280 골든센츄리
900290 GRT
900300 오가닉티코스메틱
900310 컬러레이
900340 윙입푸드
950110 SBI핀테크솔루션즈
950130 엑세스바이오
950140 잉글우드랩
950160 코오롱티슈진
950170 JTC

In [9]:
df

NameError: name 'df' is not defined