In [ ]:
5900*1.4

In [ ]:
from mod1 import *
df = select_stock('부광약품','2018-01-01')
df.columns=df.columns.str.lower()
df[['open','high','low','volume','close']] = df[['open','high','low','volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.head()

In [ ]:
df[['high','close']].plot(figsize=(12,6),grid=True)
plt.show()

In [ ]:
df['tr'] = ta.TRANGE(df)
df

In [ ]:
df['atr2'] = df['tr'].rolling(10).mean()
df

In [ ]:
from mod1 import *
df1 = select_stock('hrs','2018-01-01')
df1.columns=df1.columns.str.lower()
df1[['open','high','low','volume','close']] = df1[['open','high','low','volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df1.head()

In [ ]:
df1['atr2'] = df1['volume'].rolling(10).mean()
df1.head(15)

In [ ]:
from mod1 import * 
data = select_stock('부광약품','2018-01-01')


PP = pd.Series((data['High'] + data['Low'] + data['Close']) / 3)  
R1 = pd.Series(2 * PP - data['Low'])  
S1 = pd.Series(2 * PP - data['High'])  
R2 = pd.Series(PP + data['High'] - data['Low'])  
S2 = pd.Series(PP - data['High'] + data['Low'])  
R3 = pd.Series(data['High'] + 2 * (PP - data['Low']))  
S3 = pd.Series(data['Low'] - 2 * (data['High'] - PP))  
psr = {'PP':PP, 'R1':R1, 'S1':S1, 'R2':R2, 'S2':S2, 'R3':R3, 'S3':S3}  
PSR = pd.DataFrame(psr)  
data= data.join(PSR)  

# plot the data
#pd.concat([data['Close'],PP,R1,S1,R2,S2,R3,S3],axis=1).plot(figsize=(12,9),grid=True)
pd.concat([data['Close'],PP],axis=1).plot(figsize=(12,6),grid=True)
plt.show()

In [ ]:
data

In [ ]:
from mod1 import * 
data = select_stock('hrs','2018-01-01')


PP = pd.Series((data['High'] + data['Low'] + data['Close']) / 3)  
R1 = pd.Series(2 * PP - data['Low'])  
S1 = pd.Series(2 * PP - data['High'])  
R2 = pd.Series(PP + data['High'] - data['Low'])  
S2 = pd.Series(PP - data['High'] + data['Low'])  
R3 = pd.Series(data['High'] + 2 * (PP - data['Low']))  
S3 = pd.Series(data['Low'] - 2 * (data['High'] - PP))  
psr = {'PP':PP, 'R1':R1, 'S1':S1, 'R2':R2, 'S2':S2, 'R3':R3, 'S3':S3}  
PSR = pd.DataFrame(psr)  
data= data.join(PSR)  

# plot the data
pd.concat([data['Close'],PP,R1,S1,R2,S2,R3,S3],axis=1).plot(figsize=(12,9),grid=True)
plt.show()

In [1]:
##  기간동안 낙폭 과대종목 검색

from mod1 import *

df_from = all_stock('2020-04-3')
df_to = all_stock('2020-04-06')
df_first=df_from[['Name','Close']]
df_last=df_to[['Name','Close']]
df = pd.merge(df_first,df_last,on='Name')

df['diff']=df['Close_y']/df['Close_x']
df.head()

close_diff_df =  df.sort_values(["diff"],ascending=True)
close_diff_df.head()

close_diff_df.to_excel("d:\\b_1.xlsx")

In [2]:
import time
from  mod1 import *

start = time.time()  # 시작 시간 저장

def all_stock_period(date1, date2='2021-01-01'):
    select_query = "select * from market_good where Date >=  "
    var = select_query +"'"+date1+"'"  +" "+ 'and Date <=' + "'"+date2+"'"
    df = pd.read_sql(var, engine)
    return df


df = all_stock_period('2020-02-20','2020-03-25')
df_uniq = df['Name'].unique()
df_uniq_list=df_uniq.tolist()

min_data = []
for x in df_uniq_list:
    min_value = min(df[df['Name']== x ].Close)
    min_data.append(min_value)

min_close = pd.DataFrame(min_data)

df_a=pd.DataFrame(df_uniq)


df_first=pd.DataFrame()
df_first['Name']=df_a[0]
df_first['Close']=min_close[0]
df_to = all_stock('2020-04-08')
df_last=df_to[['Name','Close']]
df = pd.merge(df_first,df_last,on='Name')

df['diff']=df['Close_y']/df['Close_x']
df.head()

close_diff_df =  df.sort_values(["diff"],ascending=True)
close_diff_df.head()

close_diff_df.to_excel("d:\\b_1.xlsx")
print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 18.12507677078247

In [141]:
from  mod1 import *

def all_stock_period(date1, date2='2021-01-01'):
    select_query = "select * from market_good where Date >=  "
    var = select_query +"'"+date1+"'"  +" "+ 'and Date <=' + "'"+date2+"'"
    df = pd.read_sql(var, engine)
    return df


df = all_stock_period('2020-02-20','2020-03-25')
df_uniq = df['Name'].unique()
df_uniq_list=df_uniq.tolist()

min_data = []
for x in df_uniq_list:
    min_value = min(df[df['Name']== x ].Close)
    min_data.append(min_value)

min_close = pd.DataFrame(min_data)

df_a=pd.DataFrame(df_uniq)


df_first=pd.DataFrame()
df_first['Name']=df_a[0]
df_first['Close']=min_close[0]
df_to = all_stock('2020-04-07')
df_last=df_to[['Name','Close']]
df = pd.merge(df_first,df_last,on='Name')

df['diff']=df['Close_y']/df['Close_x']
df.head()

close_diff_df =  df.sort_values(["diff"],ascending=True)
close_diff_df.head()

close_diff_df.to_excel("d:\\b_1.xlsx")

In [71]:
min_data = []
for x in code:
    min_value = min(df[df['Code']== x ].Close)
    min_data.append(min_value)

a['min'] = pd.DataFrame(min_data)
a

ValueError: Lengths must match to compare

In [140]:
df

             Date    Code Name   Open   High    Low  Volume  Close
0      2020-02-20  060310   3S   2865   2885   2790  129466   2865
1      2020-02-21  060310   3S   2810   2845   2720  172500   2730
2      2020-02-24  060310   3S   2675   2715   2565  133815   2570
3      2020-02-25  060310   3S   2590   2750   2575  103511   2740
4      2020-02-26  060310   3S   2710   2710   2625  130369   2645
...           ...     ...  ...    ...    ...    ...     ...    ...
36688  2020-03-09  238490   힘스  19700  20100  18800   68279  19250
36689  2020-03-10  238490   힘스  19100  19500  17900   86842  19450
36690  2020-03-11  238490   힘스  19400  19650  17800   77272  18400
36691  2020-03-12  238490   힘스  17950  18500  16550  104135  16650
36692  2020-03-13  238490   힘스  14800  15800  13250  197648  14800

[36693 rows x 8 columns]

In [75]:
code = df['Code'].unique()
len(code)

2212

In [22]:
df['code'] = pd.DataFrame(data = code)
df['code']

0        060310
1        095570
2        068400
3        006840
4        054620
          ...
14617       NaN
14618       NaN
14619       NaN
14620       NaN
14621       NaN
Name: code, Length: 14622, dtype: object

In [28]:
a = df['code'].dropna()
a

0       060310
1       095570
2       068400
3       006840
4       054620
         ...
2190    000547
2191    000545
2192    003280
2193    037440
2194    238490
Name: code, Length: 2195, dtype: object

In [30]:
min_data = []
for x in code:
    min_value = min(df[df['Code']== x ].Close)
    min_data.append(min_value)

min_close = pd.DataFrame(min_data)

In [36]:
min_close

          0
0      2390
1      4090
2      9550
3     24050
4      9600
...     ...
2190  19950
2191   5780
2192    328
2193   3945
2194  18750

[2195 rows x 1 columns]

In [39]:
df = pd.DataFrame()
df['code']=a
df

        code
0     060310
1     095570
2     068400
3     006840
4     054620
...      ...
2190  000547
2191  000545
2192  003280
2193  037440
2194  238490

[2195 rows x 1 columns]

In [40]:
df['min']=min_close
df

        code    min
0     060310   2390
1     095570   4090
2     068400   9550
3     006840  24050
4     054620   9600
...      ...    ...
2190  000547  19950
2191  000545   5780
2192  003280    328
2193  037440   3945
2194  238490  18750

[2195 rows x 2 columns]

In [19]:
max(df[df['Code']=='000547'])

'min'

In [16]:
for i in a:
    print(i)

3S
AJ네트웍스
AJ렌터카
AK홀딩스
APS홀딩스
AP시스템
AP위성
BGF
BGF리테일
BNK금융지주
BYC
BYC우
CJ
CJ CGV
CJ ENM
CJ대한통운
CJ씨푸드
CJ씨푸드1우
CJ우
CJ제일제당
CJ제일제당 우
CJ프레시웨이
CJ헬로
CMG제약
CNH
CS
CS홀딩스
DB
DB금융스팩6호
DB금융스팩7호
DB금융투자
DB손해보험
DB하이텍
DB하이텍1우
DGB금융지주
DI동일
DMS
DRB동일
DSC인베스트먼트
DSR
DSR제강
E1
EDGC
EG
F&F
GH신소재
GKL
GRT
GS
GST
GS건설
GS글로벌
GS리테일
GS우
GS홈쇼핑
GV
HB테크놀러지
HDC
HDC아이콘트롤스
HDC현대EP
HDC현대산업개발
HRS
HSD엔진
IBKS제10호스팩
IBKS제11호스팩
IBKS제12호스팩
IBKS제6호스팩
IBKS제7호스팩
IHQ
iMBC
ISC
ITX엠투엠
JB금융지주
JTC
JW생명과학
JW신약
JW중외제약
JW중외제약2우B
JW중외제약우
JW홀딩스
JYP Ent.
KBI메탈
KB금융
KB오토시스
KCC
KCC건설
KCI
KCTC
KC그린홀딩스
KC코트렐
KEC
KG ETS
KG모빌리언스
KG이니시스
KG케미칼
KH바텍
KISCO홀딩스
KMH
KMH하이텍
KNN
KPX생명과학
KPX케미칼
KPX홀딩스
KR모터스
KSS해운
KT
KT&G
KTB투자증권
KTcs
KTH
KTis
KT서브마린
LF
LG
LG디스플레이
LG상사
LG생활건강
LG생활건강우
LG우
LG유플러스
LG이노텍
LG전자
LG전자우
LG하우시스
LG하우시스우
LG화학
LG화학우
LIG넥스원
LS
LS네트웍스
LS산전
LS전선아시아
MH에탄올
MP한강
NAVER
NEW
NE능률
NHN
NHN벅스
NHN한국사이버결제
NH투자증권
NH투자증권우
NH프라임리츠
NICE
NICE평가정보
NI스틸
NPC
NPC우
OCI
PN풍년
POSCO
RFHIC
S&K폴리텍
S&TC
S&T모티브
S&T중공업
S&T홀딩스
S-Oil
S-Oil우
SBI인베스트먼트
SBI핀테크솔루션즈
SBS
SBS미디어홀딩스
SBS콘텐츠허브
SCI평가정보
SDN
SFA반도체
SG
SG&G
SGA
SGA솔루션즈
SG세계물산
SG충방
SH에너지화학
SIMPAC
SJM
SJM홀딩스
SK
SK4호스팩
SK5호스팩
SKC
SKC 솔믹스
SKC코오롱PI
SK가스
SK네트웍스
SK네트웍스우
SK디스커버리
SK디스커버리우
SK디앤디
SK머티리얼즈
SK바이오랜드
SK이노베이션
SK이노베이션우
SK증권
SK증권우
SK케미칼
SK텔레콤
SK하이닉스
SM C&C
SM Life Design
SNK
SPC삼립
STX
STX엔진
STX중공업
SV인베스트먼트
TBH글로벌
TCC스틸
THE E&M
THE MIDONG
TJ미디어
TPC
TS인베스트먼트
UCI
WI
WISCOM
W홀딩컴퍼니
YBM넷
YG PLUS
YTN
YW
가비아
가온미디어
가온전선
강남제비스코
강스템바이오텍
강원랜드
갤럭시아에스엠
갤럭시아컴즈
게임빌
경남스틸
경남제약
경농
경동나비엔
경동도시가스
경동인베스트
경동제약
경방
경보제약
경인양행
경인전자
경창산업
계룡건설
계양전기
계양전기우
고려개발
고려산업
고려시멘트
고려신용정보
고려아연
고려제강
고려제약
고영
골드퍼시픽
골든센츄리
골프존
골프존뉴딘홀딩스
광동제약
광림
광명전기
광전자
광주신세계
광진실업
광진윈텍
교보7호스팩
교보8호스팩
교보9호스팩
교보증권
구영테크
국도화학
국동
국보디자인
국영지앤엠
국일신동
국일제지
국제약품
그리티
그린케미칼
그린플러스
극동유화
글로벌에스엠
글로벌텍스프리
글로본
글로스퍼랩스
금강공업
금강공업우
금강철강
금비
금양
금호산업
금호산업우
금호석유
금호석유우
금호에이치티
금호전기
금호타이어
금화피에스시
기가레인
기산텔레콤
기신정기
기아차
기업은행
까뮤이앤씨
까스텔바작
깨끗한나라
깨끗한나라우
나노
나노메딕스
나노브릭
나노스
나노신소재
나노엔텍
나노캠텍
나라엠앤디
나무가
나무기술
나스미디어
나우IB
나이벡
나이스디앤비
나이스정보통신
나인컴플렉스
남광토건
남선알미늄
남선알미우
남성
남양유업
남양유업우
남영비비안
남해화학
남화산업
남화토건
네스엠
네오셈
네오오토
네오위즈
네오위즈홀딩스
네오크레마
네오티스
네오팜
네오펙트
네이블
네이처셀
네패스
넥센
넥센우
넥센타이어
넥센타이어1우B
넥스턴
넥스트BT
넥스트사이언스
넥스트아이
넥슨지티
넵튠
넷게임즈
넷마블
노랑풍선
노루페인트
노루페인트우
노루홀딩스
노루홀딩스우
노바렉스
노바텍
노터스
녹십자
녹십자랩셀
녹십자셀
녹십자엠에스
녹십자웰빙
녹십자홀딩스
녹십자홀딩스2우
농심
농심홀딩스
농우바이오
누리텔레콤
누리플랜
뉴로스
뉴보텍
뉴인텍
뉴지랩
뉴트리
뉴파워프라즈마
뉴프라이드
뉴프렉스
다나와
다날
다믈멀티미디어
다산네트웍스
다스코
다우기술
다우데이타
다원시스
대교
대교우B
대구백화점
대덕전자
대동공업
대동금속
대동기어
대동스틸
대동전자
대륙제관
대림B&Co
대림산업
대림산업우
대림씨엔에스
대림제지
대림통상
대명코퍼레이션
대모
대보마그네틱
대봉엘에스
대상
대상우
대상홀딩스
대상홀딩스우
대성미생물
대성산업
대성에너지
대성엘텍
대성창투
대성파인텍
대성홀딩스
대신밸런스제6호스팩
대신밸런스제7호스팩
대신정보통신
대신증권
대신증권2우B
대신증권우
대아티아이
대양금속
대양전기공업
대양제지
대영포장
대우건설
대우부품
대우조선해양
대웅
대웅제약
대원
대원강업
대원미디어
대원산업
대원전선
대원전선우
대원제약
대원화성
대유
대유에이텍
대유에이피
대유플러스
대정화금
대주산업
대주전자재료
대창
대창단조
대창솔루션
대창스틸
대한과학
대한광통신
대한뉴팜
대한방직
대한약품
대한유화
대한전선
대한제강
대한제당
대한제당3우B
대한제당우
대한제분
대한항공
대한항공우
대한해운
대한화섬
대현
대호에이엘
대호피앤씨
대호피앤씨우
대화제약
더블유게임즈
더존비즈온
덕산네오룩스
덕산테코피아
덕산하이메탈
덕성
덕성우
덕신하우징
덕양산업
덕우전자
데브시스터즈
데이타솔루션
데일리블록체인
덱스터
덴티움
도이치모터스
도화엔지니어링
동구바이오제약
동국S&C
동국산업
동국알앤에스
동국제강
동국제약
동남합성
동방
동방선기
동방아그로
동부건설
동부건설우
동부스팩5호
동부제철
동부제철우
동북아12호
동북아13호
동서
동성제약
동성코퍼레이션
동성화인텍
동성화학
동신건설
동아쏘시오홀딩스
동아에스티
동아엘텍
동아지질
동아타이어
동아화성
동양
동양2우B
동양3우B
동양고속
동양물산
동양생명
동양에스텍
동양우
동양이엔피
동양철관
동양파일
동양피스톤
동양피엔에프
동우팜투테이블
동운아나텍
동원F&B
동원개발
동원금속
동원산업
동원수산
동원시스템즈
동원시스템즈우
동일고무벨트
동일금속
동일기연
동일산업
동일제강
동일철강
동진쎄미켐
동화기업
동화약품
두산
두산2우B
두산건설
두산밥캣
두산솔루스
두산우
두산인프라코어
두산중공업
두산퓨얼셀
두올
두올산업
듀오백
드래곤플라이
드림시큐리티
드림어스컴퍼니
드림텍
디딤
디바이스이엔지
디스플레이텍
디씨엠
디아이
디아이씨
디아이티
디알젬
디알텍
디앤씨미디어
디에스케이
디에이치피코리아
디에이테크놀로지
디에이피
디엔에이링크
디엔에프
디엠티
디오
디오스텍
디와이
디와이파워
디이엔티
디자인
디젠스
디지아이
디지캡
디지탈옵틱
디지털대성
디지틀조선
디케이디앤아이
디케이락
디케이앤디
디케이티
디티알오토모티브
디티앤씨
디피씨
딜리
라닉스
라온시큐어
라온피플
라이브플렉스
라이온켐텍
라파스
락앤락
램테크놀러지
랩지노믹스
러셀
레고켐바이오
레드캡투어
레이
레이언스
로고스바이오
로보로보
로보스타
로보티즈
로스웰
로지시스
로체시스템즈
롯데관광개발
롯데리츠
롯데손해보험
롯데쇼핑
롯데정밀화학
롯데정보통신
롯데제과
롯데지주
롯데칠성
롯데칠성우
롯데케미칼
롯데푸드
롯데하이마트
루멘스
루미마이크로
루트로닉
루트로닉3우C
룽투코리아
리노공업
리노스
리더스 기술투자
리더스코스메틱
리드코프
리메드
린드먼아시아
링네트
링크제니시스
마니커
마니커에프앤지
마이크로디지탈
마이크로컨텍솔
마이크로텍
마이크로프랜드
마크로젠
만도
만호제강
매일유업
매일홀딩스
매직마이크로
매커스
맥스로텍
맥쿼리인프라
맵스리얼티1
머큐리
멀티캠퍼스
메가스터디
메가스터디교육
메가엠디
메디아나
메디톡스
메디파트너생명공학
메디포스트
메디프론
메리츠금융지주
메리츠종금증권
메리츠화재
메이슨캐피탈
메지온
메카로
메타랩스
메타바이오메드
멕아이씨에스
멜파스
명문제약
명성티엔에스
모나리자
모나미
모다이노칩
모두투어
모두투어리츠
모바일리더
모바일어플라이언스
모베이스
모베이스전자
모비스
모아텍
모토닉
모트렉스
모헨즈
무림P&P
무림SP
무림페이퍼
무학
문배철강
미디어젠
미래나노텍
미래산업
미래생명자원
미래아이앤지
미래에셋대우
미래에셋대우스팩2호
미래에셋대우스팩3호
미래에셋대우스팩4호
미래에셋대우우
미래에셋벤처투자
미래에셋생명
미래컴퍼니
미래테크놀로지
미스터블루
미원상사
미원에스씨
미원홀딩스
미원화학
미창석유
미코
미투온
민앤지
바다로19호
바디텍메드
바른손
바른손이앤에이
바른테크놀로지
바이넥스
바이오니아
바이오로그디바이스
바이오리더스
바이오솔루션
바이오스마트
바이오제네틱스
바이오톡스텍
바이온
바텍
방림
배럴
백광산업
백광소재
백금T&A
백산
버추얼텍
버킷스튜디오
범양건영
베뉴지
베셀
베스파
베트남개발1
벽산
보광산업
보라티알
보락
보령메디앙스
보령제약
보성파워텍
보해양조
본느
부광약품
부국증권
부국증권우
부국철강
부방
부산가스
부산산업
부산주공
부스타
뷰웍스
브레인콘텐츠
브리지텍
브이원텍
브이티지엠피
블러썸엠앤씨
블루콤
비덴트
비디아이
비상교육
비씨월드제약
비아트론
비에이치
비에이치아이
비엠티
비즈니스온
비츠로셀
비츠로테크
비트컴퓨터
비티원
비피도
빅솔론
빅텍
빙그레
빛샘전자
사람인에이치알
사조대림
사조동아원
사조산업
사조씨푸드
사조오양
삼강엠앤티
삼광글라스
삼기오토모티브
삼륭물산
삼목에스폼
삼보모터스
삼보산업
삼보판지
삼본전자
삼부토건
삼성SDI
삼성SDI우
삼성공조
삼성머스트스팩3호
삼성물산
삼성바이오로직스
삼성생명
삼성스팩2호
삼성에스디에스
삼성엔지니어링
삼성전기
삼성전기우
삼성전자
삼성전자우
삼성제약
삼성중공업
삼성중공우
삼성증권
삼성출판사
삼성카드
삼성화재
삼성화재우
삼아알미늄
삼아제약
삼양사
삼양사우
삼양식품
삼양옵틱스
삼양통상
삼양패키징
삼양홀딩스
삼양홀딩스우
삼영무역
삼영엠텍
삼영이엔씨
삼영전자
삼영화학
삼원강재
삼원테크
삼익THK
삼익악기
삼일
삼일기업공사
삼일제약
삼정펄프
삼지전자
삼진
삼진엘앤디
삼진제약
삼천당제약
삼천리
삼천리자전거
삼표시멘트
삼현철강
삼호
삼호개발
삼화네트웍스
삼화왕관
삼화전기
삼화전자
삼화콘덴서
삼화페인트
상보
상상인
상상인이안1호스팩
상상인이안제2호스팩
상상인인더스트리
상상인증권
상신브레이크
상신이디피
상신전자
상아프론테크
상지카일룸
새로닉스
새론오토모티브
샘표
샘표식품
서린바이오
서부T&D
서산
서암기계공업
서연
서연이화
서연탑메탈
서울가스
서울리거
서울반도체
서울식품
서울식품우
서울옥션
서울전자통신
서울제약
서원
서원인텍
서전기전
서진시스템
서진오토모티브
서플러스글로벌
서한
서호전기
서흥
서희건설
선광
선데이토즈
선도전기
선익시스템
선진
선창산업
성광벤드
성도이엔지
성문전자
성문전자우
성보화학
성신양회
성신양회우
성안
성우전자
성우테크론
성우하이텍
성창기업지주
성창오토텍
성호전자
세경하이테크
세기상사
세동
세명전기
세미콘라이트
세방
세방우
세방전지
세보엠이씨
세아베스틸
세아제강
세아제강지주
세아특수강
세아홀딩스
세우글로벌
세운메디칼
세원
세원셀론텍
세원정공
세이브존I&C
세종공업
세종메디칼
세종텔레콤
세중
세진중공업
세진티에스
세코닉스
세틀뱅크
세하
세화피앤씨
센트랄모텍
센트럴바이오
셀리드
셀리버리
셀바스헬스케어
셀트리온
셀트리온제약
셀트리온헬스케어
소리바다
소프트센
소프트센우
손오공
솔루에타
솔본
솔브레인
솔트웍스
송원산업
쇼박스
수산아이앤티
수산중공업
수젠텍
수출포장
슈펙스비앤피
슈프리마
슈프리마아이디
슈프리마에이치큐
슈피겐코리아
스맥
스카이라이프
스카이이앤엠
스킨앤스킨
스타플렉스
스튜디오드래곤
스페코
승일
시공테크
시그네틱스
시너지이노베이션
시노펙스
시디즈
시스웍
시큐브
신대양제지
신도리코
신라교역
신라섬유
신라에스지
신라젠
신성델타테크
신성이엔지
신성통상
신세계
신세계 I&C
신세계건설
신세계인터내셔날
신세계푸드
신송홀딩스
신신제약
신영스팩4호
신영스팩5호
신영와코루
신영증권
신영증권우
신원
신원우
신원종합개발
신일산업
신일제약
신진에스엠
신풍제약
신풍제약우
신풍제지
신한알파리츠
신한제4호스팩
신한제5호스팩
신한제6호스팩
신한지주
신화실업
신화인터텍
신화콘텍
신흥
신흥에스이씨
실리콘웍스
심텍
심텍홀딩스
싸이맥스
싸이토젠
쌍방울
쌍용양회
쌍용양회우
쌍용정보통신
쌍용차
써니전자
썸에이지
쎄노텍
쎄니트
쎄미시스코
쎄트렉아이
쎌바이오텍
쏠리드
씨아이에스
씨아이테크
씨앤지하이테크
씨에스베어링
씨에스윈드
씨엠에스에듀
씨유메디칼
씨젠
씨케이에이치
씨큐브
씨트리
씨티씨바이오
씨티젠
씨티케이코스메틱스
아가방컴퍼니
아나패스
아난티
아남전자
아리온
아모그린텍
아모레G
아모레G우
아모레퍼시픽
아모레퍼시픽우
아모텍
아미노로직스
아미코젠
아바코
아바텍
아비코전자
아세아
아세아시멘트
아세아제지
아세아텍
아스타
아스트
아시아경제
아시아나IDT
아시아나항공
아시아종묘
아우딘퓨쳐스
아이디스
아이디스홀딩스
아이마켓코리아
아이센스
아이스크림에듀
아이쓰리시스템
아이씨디
아이씨케이
아이앤씨
아이에스동서
아이에스이커머스
아이에이
아이에이네트웍스
아이엠
아이오케이
아이원스
아이즈비전
아이진
아이컴포넌트
아이큐어
아이크래프트
아이텍
아이티센
아이티엠반도체
아주IB투자
아주캐피탈
아즈텍WB
아진산업
아진엑스텍
아톤
아프리카TV
안국약품
안랩
안트로젠
알로이스
알루코
알리코제약
알서포트
알에스오토메이션
알에프세미
알에프텍
알엔투테크놀로지
알테오젠
알티캐스트
알파홀딩스
압타바이오
애경산업
애경유화
애니젠
액토즈소프트
액트
액트로
앤디포스
앤씨앤
앱클론
야스
양지사
어보브반도체
에너토크
에넥스
에버다임
에스넷
에스디생명공학
에스디시스템
에스맥
에스모
에스씨디
에스앤씨엔진그룹
에스앤에스텍
에스에너지
에스에스알
에스에이엠티
에스에이티
에스에프에이
에스엔유
에스엘
에스엠
에스엠코어
에스와이
에스원
에스제이그룹
에스코넥
에스텍
에스텍파마
에스트래픽
에스티아이
에스티오
에스티큐브
에스티팜
에스폴리텍
에스퓨얼셀
에스피시스템스
에스피지
에쎈테크
에쓰씨엔지니어링
에어부산
에이디칩스
에이디테크놀로지
에이리츠
에이블씨엔씨
에이비엘바이오
에이비프로바이오
에이스침대
에이스테크
에이스토리
에이에프더블류
에이엔피
에이치시티
에이치엘비
에이치엘비생명과학
에이치엘비파워
에이치엘사이언스
에이치케이
에이테크솔루션
에이텍
에이텍티앤
에이티넘인베스트
에이티세미콘
에이프로젠 H&G
에이프로젠 KIC
에이프로젠제약
에이프론티어
에이피티씨
에치에프알
에코마이스터
에코마케팅
에코바이오
에코캡
에코프로
에코프로비엠
에코플라스틱
에프알텍
에프앤리퍼블릭
에프에스티
에프엔씨엔터
에프엔에스테크
엑사이엔씨
엑세스바이오
엑셈
엑시콘
엔바이오니아
엔브이에이치코리아
엔씨소프트
엔에스
엔에스쇼핑
엔에스엔
엔에이치스팩12호
엔에이치스팩13호
엔에이치스팩14호
엔지스테크널러지
엔지켐생명과학
엔케이
엔케이맥스
엔케이물산
엔터메이트
엔텔스
엔피케이
엘디티
엘브이엠씨홀딩스
엘비세미콘
엘아이에스
엘앤씨바이오
엘앤에프
엘엠에스
엘오티베큠
엘컴텍
엘티씨
엠게임
엠씨넥스
엠아이텍
엠에스씨
엠에스오토텍
엠케이전자
엠플러스
연우
연이정보통신
영보화학
영신금속
영우디에스피
영원무역
영원무역홀딩스
영진약품
영풍
영풍정밀
영풍제지
영화금속
영화테크
영흥철강
예림당
예선테크
예스24
예스코홀딩스
예스티
오가닉티코스메틱
오공
오디텍
오뚜기
오로라
오르비텍
오리엔탈정공
오리엔트바이오
오리엔트정공
오리온
오리온홀딩스
오리콤
오상자이엘
오성첨단소재
오션브릿지
오스코텍
오스테오닉
오스템
오스템임플란트
오이솔루션
오킨스전자
오텍
오파스넷
오픈베이스
올리패스
올릭스
옴니시스템
옴니텔
옵트론텍
옵티시스
옵티팜
와이솔
와이아이케이
와이엔텍
와이엠씨
와이엠티
와이제이엠게임즈
와이지-원
와이지엔터테인먼트
와토스코리아
용평리조트
우노앤컴퍼니
우리금융지주
우리기술
우리기술투자
우리넷
우리들제약
우리들휴브레인
우리로
우리바이오
우리산업
우리산업홀딩스
우리손에프앤지
우리이앤엘
우리조명
우리종금
우림기계
우성사료
우수AMS
우신시스템
우양
우원개발
우정바이오
우주일렉트로
우진
우진비앤지
우진아이엔에스
우진플라임
웅진
웅진씽크빅
웅진코웨이
원림
원익
원익IPS
원익QnC
원익머트리얼즈
원익큐브
원익홀딩스
원일특강
원풍
원풍물산
월덱스
웨이브일렉트로
웰바이오텍
웰크론
웰크론강원
웰크론한텍
웹스
웹젠
웹케시
위니아딤채
위닉스
위메이드
위즈코프
위지윅스튜디오
위지트
윈스
윈팩
윈하이텍
윌링스
윌비스
윙입푸드
유나이티드제약
유니드
유니맥스글로벌
유니셈
유니슨
유니온
유니온머티리얼
유니온커뮤니티
유니켐
유니퀘스트
유니크
유니테스트
유니테크노
유니트론텍
유라테크
유바이오로직스
유비벨록스
유비케어
유비쿼스
유비쿼스홀딩스
유성기업
유성티엔에스
유수홀딩스
유신
유아이엘
유안타제3호스팩
유안타제4호스팩
유안타제5호스팩
유안타증권
유안타증권우
유앤아이
유양디앤유
유에스티
유엔젤
유유제약
유유제약1우
유유제약2우B
유진기업
유진로봇
유진스팩4호
유진스팩5호
유진테크
유진투자증권
유티아이
유틸렉스
유한양행
유한양행우
유화증권
유화증권우
육일씨엔에쓰
율촌화학
율호
이건산업
이건홀딩스
이구산업
이그잭스
이글루시큐리티
이글벳
이노메트리
이노션
이노와이어리스
이노와이즈
이노인스트루먼트
이노테라피
이녹스
이녹스첨단소재
이니텍
이더블유케이
이라이콤
이랜텍
이루온
이리츠코크렙
이마트
이미지스
이베스트이안스팩1호
이베스트투자증권
이상네트웍스
이수앱지스
이수페타시스
이수화학
이스타코
이스트소프트
이씨에스
이아이디
이에스브이
이엑스티
이엔에프테크놀로지
이엘피
이엠넷
이엠코리아
이엠텍
이연제약
이오테크닉스
이원컴포텍
이월드
이즈미디어
이지바이오
이지웰페어
이지케어텍
이크레더블
이테크건설
이트론
이퓨쳐
이화공영
이화산업
이화전기
인디에프
인바디
인베니아
인산가
인선이엔티
인성정보
인스코비
인지디스플레
인지컨트롤스
인천도시가스
인콘
인크로스
인탑스
인터로조
인터엠
인터지스
인터파크
인터파크홀딩스
인터플렉스
인텍플러스
인텔리안테크
인트로메딕
인트론바이오
인팩
인포마크
인포바인
인포뱅크
인프라웨어
인피니트헬스케어
인화정공
일동제약
일동홀딩스
일성건설
일성신약
일신바이오
일신방직
일신석재
일야
일양약품
일양약품우
일정실업
일지테크
일진다이아
일진디스플
일진머티리얼즈
일진전기
일진파워
일진홀딩스
잇츠한불
잉글우드랩
잉크테크
자비스
자연과환경
자이글
자이에스앤디
자화전자
장원테크
재영솔루텍
전방
전진바이오팜
전파기지국
정다운
정산애강
정상제이엘에스
정원엔시스
제너셈
제넥신
제넨바이오
제노레이
제노포커스
제닉
제로투세븐
제룡산업
제룡전기
제우스
제이브이엠
제이스테판
제이스텍
제이씨케미칼
제이씨현시스템
제이에스코퍼레이션
제이에스티나
제이엔케이히터
제이엘케이인스펙션
제이엠아이
제이엠티
제이준코스메틱
제이콘텐트리
제이티
제일기획
제일바이오
제일약품
제일연마
제일제강
제일테크노스
제일파마홀딩스
제주반도체
제주은행
제주항공
제테마
젬백스
젬백스지오
조광ILI
조광페인트
조광피혁
조비
조선내화
조선선재
조아제약
조이시티
조일알미늄
조흥
종근당
종근당바이오
종근당홀딩스
좋은사람들
주성엔지니어링
주연테크
줌인터넷
중앙백신
중앙에너비스
중앙오션
지노믹트리
지누스
지니뮤직
지니언스
지니틱스
지란지교시큐리티
지어소프트
지에스이
지엔씨에너지
지엔코
지엘팜텍
지엠비코리아
지역난방공사
지투알
지트리비앤티
지티지웰니스
진도
진로발효
진매트릭스
진바이오텍
진성티이씨
진양산업
진양제약
진양폴리
진양홀딩스
진양화학
진에어
진원생명과학
진흥기업
진흥기업2우B
진흥기업우B
차바이오텍
참엔지니어링
참좋은여행
창해에탄올
천보
천일고속
청담러닝
청보산업
체리부로
체시스
초록뱀
칩스앤미디어
카리스국보
카스
카카오
카페24
카프로
캐리소프트
캐스텍코리아
캠시스
컬러레이
컴투스
컴퍼니케이
케어랩스
케이디켐
케이맥
케이비17호스팩
케이비아이동국실업
케이비제11호스팩
케이비제18호스팩
케이비제19호스팩
케이사인
케이씨
케이씨에스
케이씨텍
케이씨티
케이씨피드
케이아이엔엑스
케이알피앤이
케이에스피
케이엔더블유
케이엔제이
케이엘넷
케이엠
케이엠더블유
케이엠제약
케이탑리츠
케이프
케이피에스
케이피에프
케이피엠테크
케이피티유
켐온
켐트로닉스
켐트로스
코닉글로리
코데즈컴바인
코디
코디엠
코렌
코렌텍
코리아나
코리아센터
코리아써우
코리아써키트
코리아에셋투자증권
코리아에스이
코리아에프티
코리아오토글라스
코리안리
코맥스
코메론
코미코
코미팜
코세스
코센
코스맥스
코스맥스비티아이
코스맥스엔비티
코스메카코리아
코스모신소재
코스모화학
코스온
코아스
코아스템
코아시아
코엔텍
코오롱
코오롱글로벌
코오롱글로벌우
코오롱머티리얼
코오롱생명과학
코오롱우
코오롱인더
코오롱인더우
코오롱플라스틱
코웰패션
코위버
코윈테크
코이즈
코콤
코텍
코프라
콜마비앤에이치
콤텍시스템
쿠쿠홀딩스
쿠쿠홈시스
큐렉소
큐로
큐로컴
큐로홀딩스
큐리언트
큐브앤컴퍼니
큐브엔터
큐에스아이
큐캐피탈
크라운제과
크라운해태홀딩스
크라운해태홀딩스우
크리스에프앤씨
크리스탈
크리스탈신소재
크린앤사이언스
클래시스
클리오
키네마스터
키다리스튜디오
키움제5호스팩
키움증권
키이스트
타이거일렉
탑엔지니어링
태경산업
태경화학
태광
태광산업
태림포장
태양
태양금속
태양금속우
태영건설
태영건설우
태웅
태웅로직스
태원물산
태평양물산
테고사이언스
테라젠이텍스
테스
테스나
테이팩스
테크윙
텔레칩스
텔레필드
텔코웨어
텔콘RF제약
토니모리
토박스코리아
토비스
토탈소프트
톱텍
투비소프트
트루윈
특수건설
티라유텍
티로보틱스
티비씨
티씨케이
티앤알바이오팹
티에스이
티에이치엔
티엘아이
티움바이오
티웨이항공
티웨이홀딩스
티케이케미칼
티탑스
티플랙스
티피씨글로벌
팅크웨어
파라다이스
파라텍
파루
파마리서치프로덕트
파멥신
파미셀
파버나인
파세코
파수닷컴
파워넷
파워로직스
파이오링크
파인디앤씨
파인디지털
파인테크닉스
파인텍
파커스
파크시스템스
파트론
판타지오
팜스빌
팜스코
팜스토리
패션플랫폼
팬스타엔터프라이즈
팬엔터테인먼트
팬오션
팬젠
퍼스텍
퍼시스
펄어비스
펌텍코리아
페이퍼코리아
펩트론
평화산업
평화정공
평화홀딩스
포메탈
포비스티앤씨
포스코 ICT
포스코강판
포스코엠텍
포스코인터내셔널
포스코케미칼
포시에스
포인트엔지니어링
푸드나무
푸드웰
푸른기술
푸른저축은행
풀무원
풍강
풍국주정
풍산
풍산홀딩스
퓨쳐스트림네트웍스
퓨쳐켐
프럼파스트
프로스테믹스
프로텍
프리엠스
플랜티넷
플레이위드
플리토
피델릭스
피씨디렉트
피씨엘
피앤씨테크
피앤이솔루션
피에스엠씨
피에스케이
피에스케이홀딩스
피에스텍
피엔티
피제이메탈
피제이전자
필룩스
필링크
필옵틱스
하나금융10호스팩
하나금융11호스팩
하나금융13호스팩
하나금융14호스팩
하나금융9호스팩
하나금융지주
하나니켈1호
하나니켈2호
하나마이크론
하나머스트제6호스팩
하나머티리얼즈
하나제약
하나투어
하림
하림지주
하이골드12호
하이골드3호
하이골드8호
하이로닉
하이록코리아
하이비젼시스템
하이셈
하이스틸
하이제4호스팩
하이즈항공
하이텍팜
하이트론
하이트진로
하이트진로2우B
하이트진로홀딩스
하이트진로홀딩스우
하츠
한국ANKOR유전
한국가구
한국가스공사
한국경제TV
한국공항
한국금융지주
한국금융지주우
한국기업평가
한국내화
한국단자
한국맥널티
한국바이오젠
한국비엔씨
한국석유
한국선재
한국쉘석유
한국아트라스비엑스
한국알콜
한국유니온제약
한국자산신탁
한국전력
한국전자금융
한국전자인증
한국전자홀딩스
한국정보공학
한국정보인증
한국정보통신
한국제5호스팩
한국제6호스팩
한국제7호스팩
한국제8호스팩
한국제지
한국조선해양
한국종합기술
한국주강
한국주철관
한국철강
한국카본
한국캐피탈
한국컴퓨터
한국콜마
한국콜마홀딩스
한국큐빅
한국타이어앤테크놀로지
한국테크놀로지
한국테크놀로지그룹
한국토지신탁
한국특수형강
한국패러랠
한국팩키지
한국프랜지
한국항공우주
한국화장품
한국화장품제조
한글과컴퓨터
한네트
한농화성
한독
한독크린텍
한라
한라IMS
한라홀딩스
한미글로벌
한미반도체
한미사이언스
한미약품
한빛소프트
한샘
한섬
한성기업
한세실업
한세엠케이
한세예스24홀딩스
한솔PNS
한솔로지스틱스
한솔시큐어
한솔씨앤피
한솔인티큐브
한솔제지
한솔케미칼
한솔테크닉스
한솔홀딩스
한솔홈데코
한송네오텍
한스바이오메드
한신공영
한신기계
한양디지텍
한양이엔지
한양증권
한양증권우
한온시스템
한올바이오파마
한익스프레스
한일네트웍스
한일단조
한일사료
한일시멘트
한일진공
한일철강
한일현대시멘트
한일홀딩스
한일화학
한전KPS
한전기술
한전산업
한진
한진중공업
한진중공업홀딩스
한진칼
한창
한창산업
한창제지
한컴MDS
한컴위드
한탑
한프
한화
한화3우B
한화갤러리아타임월드
한화생명
한화손해보험
한화시스템
한화에스비아이스팩
한화에어로스페이스
한화에이스스팩4호
한화우
한화케미칼
한화케미칼우
한화투자증권
한화투자증권우
해마로푸드서비스
해성디에스
해성산업
해성옵틱스
해태제과식품
핸디소프트
핸즈코퍼레이션
헝셩그룹
헬릭스미스
현대건설
현대건설기계
현대건설우
현대공업
현대그린푸드
현대글로비스
현대로템
현대리바트
현대모비스
현대미포조선
현대바이오
현대백화점
현대비앤지스틸
현대비앤지스틸우
현대사료
현대상사
현대상선
현대약품
현대에너지솔루션
현대에이치씨엔
현대엘리베이
현대오토에버
현대위아
현대일렉트릭
현대제철
현대중공업지주
현대차
현대차2우B
현대차3우B
현대차우
현대차증권
현대코퍼레이션홀딩스
현대통신
현대해상
현대홈쇼핑
현성바이탈
현우산업
현진소재
형지I&C
형지엘리트
혜인
호전실업
호텔신라
호텔신라우
홈센타홀딩스
홈캐스트
화성밸브
화성산업
화승알앤에이
화승엔터프라이즈
화승인더
화신
화신정공
화이브라더스코리아
화인베스틸
화일약품
화천기계
화천기공
환인제약
황금에스티
효성
효성ITX
효성오앤비
효성중공업
효성첨단소재
효성티앤씨
효성화학
후성
휘닉스소재
휠라코리아
휴네시온
휴니드
휴림로봇
휴마시스
휴맥스
휴맥스홀딩스
휴메딕스
휴비스
휴비츠
휴스틸
휴온스
휴온스글로벌
휴젤
휴켐스
흥구석유
흥국
흥국에프엔비
흥국화재
흥국화재2우B
흥국화재우
흥아해운
희림
힘스

NameError: name 'a' is not defined

In [18]:
df

           0    code
0     060310  060310
1     095570  095570
2     068400  068400
3     006840  006840
4     054620  054620
...      ...     ...
2190  000547  000547
2191  000545  000545
2192  003280  003280
2193  037440  037440
2194  238490  238490

[2195 rows x 2 columns]

In [ ]:
for i in name:
    df['min']  = min(df[df['Name']==i].Close)
    print(df)

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()    
    
def rsi(df):
    talib_rsi = ta.RSI(df, timeperiod=14)
    df['rsi_14'] = talib_rsi
    df = df.set_index(df['date'])
    
    plt.figure(figsize=(16,4))
    plt.plot(df['rsi_14'])
    plt.fill_between(df.index,y1=30, y2=70, color='#adccff', alpha='0.3')
    plt.xlabel('Date')
    plt.ylabel('RSI')
    plt.grid()
    plt.show()

name = ['hrs','한컴위드','손오공']    
#name = ['hrs','이노인스트루먼트','한국자산신탁','한국화장품','코리아나','우림기계','아스트','디엔에프','푸드나무','상보','포스코인터내셔널','우주일렉트로','서원','인터파크홀딩스','대양금속','아난티','제룡전기']   
for i in name:
    df = select_stock(i,'2010-01-01')
    close_ma(df,'ma60','ma120')
    rsi(df)
    close_ma_vol(df,'ma60','ma120','volume')

In [ ]:
df

In [ ]:
    
df = select_stock('hrs','2010-01-01')

close_ma(df,'ma60','ma120')
close_ma_vol(df,'ma60','ma120','volume')

talib_rsi = ta.RSI(df, timeperiod=14)
df['rsi_14'] = talib_rsi
display(talib_rsi.head(15))

plt.figure(figsize=(16,4))
plt.plot(df['rsi_14'])
plt.fill_between(df.index,y1=30, y2=70, color='#adccff', alpha='0.3')
plt.xlabel('Date')
plt.ylabel('RSI')
plt.grid()
plt.show()

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def market_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['market'][0])
    plt.grid(True)
    plt.show()

def market_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['market'][0])
    plt.grid(True)
    plt.show()    
    
df = select_market('kospi','2010-01-01')
    
close_ma(df,'ma60','ma120')

In [ ]:
def select_market(name,date):
    select_query = "select * from "
    date_query = " where Date > "    
    var = select_query + name + date_query+"'"+date+"'" 
    df = pd.read_sql(var, engine)
    return df

In [ ]:
from mod1 import *
df = select_market('kospi','2015-01-01')
market_ma(df,'ma60','ma120')
df = select_market('kosdaq','2015-01-01')
market_ma(df,'ma60','ma120')

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()    
    
query = "select * from kospi where Date > '1995-01-01'"
df = pd.read_sql(query ,engine)

close_ma(df,'ma60','ma120')

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['market'][0])
    plt.grid(True)
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    #plt.title(df['Market'][0])
    plt.grid(True)
    plt.show()    
    
query = "select * from kospi where Date > '2010-01-01'"
df = pd.read_sql(query ,engine)

close_ma(df,'ma60','ma120')

In [ ]:
from mod1 import *
from pykrx import stock,website

df_kospi  = stock.api.get_index_kospi_ohlcv_by_date("19950101", "202001050228", "코스피")
df_kospi.index.names = ['Date']
df_kospi.columns  = ('Open','High','Low','Close','Volume')
df_kospi['Market']='kospi'
df_kospi.to_sql(name='kospi', con=engine, if_exists='append')

df_kosdaq = stock.api.get_index_kosdaq_ohlcv_by_date("19960101", "20200105", "코스닥")
df_kosdaq.index.names = ['Date']
df_kosdaq.columns  = ('Open','High','Low','Close','Volume')
df_kosdaq'Market']='kosdaq'
df_kosdaq.to_sql(name='kosdaq', con=engine, if_exists='append')

In [ ]:
from mod1 import *
from pykrx import stock,website

df  = stock.api.get_index_kospi_ohlcv_by_date("19960101", "202001050228", "코스피")
df.index.names = ['Date']
df.head()

In [ ]:
df['Name']='kospi'
df

In [ ]:
import pandas as pd

df.to_excel('d:\\kospi.xlsx')

In [ ]:
from mod1 import *


df = select_stock('hrs','2019-01-01')
df.columns=df.columns.str.lower()
df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
volume = df['volume'].values.astype('float')
sma_vol = talib.SMA(volume, timeperiod=10)
df['vol_10'] = sma_vol
df

In [ ]:
from mod1 import *

df = select_stock('hrs','2019-01-01')
df.columns=df.columns.str.lower()
df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
sma_vol = ta.SMA(df, timeperiod=10,price='volume')
df['vol_10'] = sma_vol
df

In [ ]:
from mod1 import *

df = select_stock('hrs','2019-01-01')
df.columns=df.columns.str.lower()
df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

close=ta.MA(df,timeperiod=10)
sma = ta.SMA(df, timeperiod=10,price='volume')
ema = ta.EMA(df, timeperiod=10,price='volume')
plt.plot(close, 'r-')
plt.plot(sma, 'b-')
plt.plot(ema, 'g-')
plt.grid(True)
plt.show()

In [ ]:
for numeric_string in a:
    print(numeric_string)

In [ ]:
a.shape

In [ ]:
a = np.array([1,2,3,4,5,5,7,8,9,10,10,2,3,4])
desired_array = [int(numeric_string) for numeric_string in row] for row in a]
#a = a.astype(np.int64)
a

In [ ]:
c=np.random.random(15)
c

In [ ]:
import talib
a = a.astype(float)
ama=talib.MA(a, timeperiod=5)
ama

In [ ]:
type(c)

In [ ]:
a.ndim

In [ ]:
c.ndim

In [ ]:
b=a.shape[0]
b

In [ ]:
sma = ta.SMA(b, timeperiod=5)

In [ ]:
sma

In [ ]:
volume

In [ ]:
from mod1 import *


df = select_stock('hrs','2010-01-01')
df.columns=df.columns.str.lower()
df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

close = df['close']

sma = ta.SMA(df, timeperiod=120)
ema = ta.EMA(df, timeperiod=120)
plt.figure(figsize=(16,4))
plt.plot(close, 'r-')
plt.plot(sma, 'b-')
plt.plot(ema, 'g-')
plt.grid(True)
plt.show()

In [ ]:
type(sma)

In [ ]:
from mod1 import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from torch.autograd import Variable
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
import torch.nn as nn
import torch.nn.functional as F
from torch import optim
import torch.utils.data

from sklearn.naive_bayes import GaussianNB

df = select_stock('hrs','2018-01-01')

df['Direction'] = df['Close'].shift(-1)-df['Close']
df['Direction'] = df['Direction'].shift(1)

#df['shift'][df['shift'] <= 0 ] = 0
#df['shift'][df['shift']  > 0 ] = 1
# Change type to datetime
df['Date'] = pd.to_datetime(df['Date'])

df

In [ ]:

# Moving average indicators, short, medium and long term
df['SMA10'] = df.Close.rolling(10).mean()
df['SMA30'] = df.Close.rolling(30).mean()
df['SMA90'] = df.Close.rolling(90).mean()

# Exponential moving average 
df['EWA10'] = df['Close'].ewm(span=10, min_periods=10).mean()
df['EWA30'] = df['Close'].ewm(span=30, min_periods=30).mean()
df['EWA90'] = df['Close'].ewm(span=90, min_periods=90).mean()

# Stochastic Osciallator
df['SOI'] = (df['Close'] - df['Low']) / (df['High'] - df['Low'])

# 10, 5 and 2 Day Momentum
df['Momentum_10'] = df['Close'].diff(10)
df['Momentum_5'] = df['Close'].diff(5)
df['Momentum_2'] = df['Close'].diff(2)

# Standard deviation
df['Std_10'] = df['Close'].rolling(10, min_periods=10).std()


# Daily variation (High - low)
df['Daily_variation'] = (df['High'] - df['Low']) / df['Close']

# Day of week
df['Day'] = df.Date.dt.dayofweek

# Month of year
df['Month'] = df.Date.dt.month_name()

# Replace day of week number with string in order to make categorical dummy variables
df['Day'].replace({0: 'Monday', 1 : 'Tuesday', 2: 'Wednesday', 3 : 'Thursday', 4 : 'Friday'}, inplace=True);

# Make dummy variables out of cateorical features 
df = pd.get_dummies(df);
df

In [ ]:
##  전종목 검색하여  종가 > ma120  일일 비교  하여  관심 종목 추출_9  total_a(1년분) ,total_b(11년분) 추출 및  공통종목을 추출

from mod1 import *
#import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
#from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\total_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'
path_total_a = 'd:\\stockdata\\close_ma120\\total_a_'
path_total_b = 'd:\\stockdata\\close_ma120\\total_b_'
path_total_c = 'd:\\stockdata\\close_ma120\\total_c_'


df = all_stock('2019-10-10')
df = df['Name']
name = df.to_list()
    
select_start_a = '2019-01-01'
select_start_b = '2008-01-01'

select_query = "select * from market where Name='hrs' and Date >= '2019-10-01' "
df3 = pd.read_sql(select_query, engine)

df3 = df3['Date']
datelist = df3.to_list()
    
def search_stock(name,select_start):   
    print(name)
    print(select_start)
    pure_df = pd.DataFrame()
    df2 = pd.DataFrame() 
    for i in name:
        #print(i)
        df=select_stock(i,select_start)
        #print(df)
        pure_df = pure_df.append(df)
        ma(df)

        source = MinMaxScaler()
        data = source.fit_transform(df[['close','ma60','ma120','volume']].values)
        df1 = pd.DataFrame(data)
        df1['name']=i
        df1.columns=['close','ma60','ma120','volume','name']
        df1[['date','code']] = df[['date','code']]
        #print(df1)
        df2 = df2.append(df1)

    pure_df.columns = map(str.lower, pure_df.columns) ## 

    last_df = df2.loc[df2['date'] == datelist[-1]]
    last_close_df = last_df[last_df['close'] < 0.1]
    last_ma_df = last_df[last_df['ma120'] < 0.1]
    a_df = last_ma_df[last_ma_df['close'] > last_ma_df['ma60']] 
    last_ma_df = a_df[a_df['ma60'] > a_df['ma120']]
    last_price_df = pure_df.loc[pure_df['date'] == datelist[-1]]
    
    for i in datelist:
        first_df = df2.loc[df2['date'] == i]
        first_price_df = pure_df.loc[pure_df['date'] == i]
        one_close_df = pd.merge(first_df,last_close_df,on='code')
        one_df = pd.merge(first_df,last_ma_df,on='code')
        reset_close_df = last_close_df.reset_index()
        reset_ma_df = last_ma_df.reset_index()
        one_close_df['code']= reset_close_df['code']
        one_df['code']= reset_ma_df['code']
        close_df = pd.merge(first_price_df[['close','code']],one_close_df,on='code')
        ma_df = pd.merge(first_price_df[['close','code']],one_df,on='code')        
        two_close_df = pd.merge(last_price_df[['close','code','volume']],close_df,on='code')
        two_df = pd.merge(last_price_df[['close','code','volume']],ma_df,on='code')
        two_close_df.columns= ['price_y','code', 'volume_z','price_x', 'close_x', 'ma60_x', 'ma120_x', 'volume_x','name_x', 'date_x', 'close_y', 'ma60_y', 'ma120_y', 'volume_y','name_y', 'date_y']
        two_df.columns= ['price_y','code', 'volume_z','price_x', 'close_x', 'ma60_x', 'ma120_x', 'volume_x','name_x', 'date_x', 'close_y', 'ma60_y', 'ma120_y', 'volume_y','name_y', 'date_y']

        price_df = two_close_df[['name_x','code','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_z']]
        ma120_df = two_df[['name_x','code','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_z']]
        price_df['price_diff']=price_df['price_y']/price_df['price_x']
        ma120_df['price_diff']=ma120_df['price_y']/ma120_df['price_x']
        price_df =  price_df.sort_values(["price_diff"],ascending=True)
        ma120_df =  ma120_df.sort_values(["price_diff"],ascending=True)
        second_df =  first_df.sort_values(["ma120"],ascending=True)
        #ma120_df['price_x']=first_price_df['close'].values
        #ma120_df['price_y']=last_price_df['close'].values
        strdate = i.strftime('%Y-%m-%d')
       
        if select_start == select_start_a:
            ma120_df.to_excel(path_total_a+strdate+'.xlsx')
            price_df.to_excel(path_total_c+strdate+'.xlsx')
        else:
            ma120_df.to_excel(path_total_b+strdate+'.xlsx')
            second_df.to_excel(path+strdate+'.xlsx')
            
def total_ab_intersection( ):
    for i in datelist:
        strdate = i.strftime('%Y-%m-%d')
        df_a = pd.read_excel(path_total_a+strdate+'.xlsx')
        filter_df_a = df_a[df_a['close_y'] < 0.2]
        df_b = pd.read_excel(path_total_b+strdate+'.xlsx')
        #df_ab = pd.DataFrame()
        df_ab = pd.merge(df_a[['name_x']],df_b,on='name_x')
        filter_df_ab = pd.merge(filter_df_a[['name_x']],df_b,on='name_x')

        total_df = df_ab[['name_x', 'code', 'close_x', 'close_y', 'ma60_x', 'ma60_y', 'ma120_x', 'ma120_y', 'price_x', 'price_y', 'date_x','volume_z', 'price_diff']]
        filter_total_df = filter_df_ab[['name_x', 'code', 'close_x', 'close_y', 'ma60_x', 'ma60_y', 'ma120_x', 'ma120_y', 'price_x', 'price_y', 'date_x','volume_z', 'price_diff']]
        total_df.to_excel(path_total+strdate+'.xlsx')
        filter_total_df.to_excel('filter_'+path_total+strdate+'.xlsx')

In [ ]:
##  전종목 검색하여  종가 > ma120  일일 비교  하여  관심 종목 추출_9  total_a(1년분) ,total_b(11년분) 추출 및  공통종목을 추출 another method

from mod1 import *
#import pandas as pd

path = 'd:\\test\\close_ma120_'
path_total = 'd:\\test\\total_'
path_total_a = 'd:\\test\\total_a_'
path_total_b = 'd:\\test\\total_b_'
path_total_c = 'd:\\test\\total_c_'

#df = all_stock('2019-10-10')
#df = df['Name']
#name = df.to_list()
    
name = ['HRS','디엔에프','푸드나무','에이프로젠제약','포스코엠텍','유니켐','DB','아난티','상보','이에스에이','아스트','모트렉스','이노인스트루먼트','피앤씨테크']

select_start_a = '2019-01-01'
select_start_b = '2008-01-01'

select_query = "select * from market where Name='hrs' and Date >= '2019-10-01' "
df3 = pd.read_sql(select_query, engine)

df3 = df3['Date']
datelist = df3.to_list()
    
def search_stock(name,select_start_a,select_start_b):   
    #print(name)
    #print(select_start)
    pure_df_a = pd.DataFrame()
    df2_a = pd.DataFrame() 
    pure_df_b = pd.DataFrame()
    df2_b = pd.DataFrame() 
    for i in name:
        #print(i)
        df_a=select_stock(i,select_start_a)
        df_b=select_stock(i,select_start_b)
        #print(df)
        pure_df_a = pure_df_a.append(df_a)
        pure_df_b = pure_df_b.append(df_b)
        ma(df_a)
        ma(df_b)

        source = MinMaxScaler()
        data_a = source.fit_transform(df_a[['close','ma60','ma120','volume']].values)
        data_b = source.fit_transform(df_b[['close','ma60','ma120','volume']].values)
        df1_a = pd.DataFrame(data_a)
        df1_b = pd.DataFrame(data_b)
        df1_a['name']=i
        df1_b['name']=i
        df1_a.columns=['close','ma60','ma120','volume','name']
        df1_b.columns=['close','ma60','ma120','volume','name']
        df1_a[['date','code','price']] = df_a[['date','code','close']]
        df1_b[['date','code','price']] = df_b[['date','code','close']]
        df2_a = df2_a.append(df1_a)
        df2_b = df2_b.append(df1_b)        
        
    pure_df_a.columns = map(str.lower, pure_df_a.columns) ## 
    pure_df_b.columns = map(str.lower, pure_df_a.columns) ##
    
    pure_df_a = pure_df_a[['name','close','volume','date']]
    pure_df_b = pure_df_b[['name','close','volume','date']]
        
    choice_day = pd.Timestamp('2019-09-30 00:00:00')
    c = df2_a[df2_a['date']>choice_day]
    d = df2_b[df2_b['date']>choice_day]
    e = pure_df_a[pure_df_a['date']>choice_day]
    f = pure_df_b[pure_df_b['date']>choice_day]
    
    last_df_a = c.loc[c['date'] == datelist[-1]]
    last_close_df_a = last_df_a[last_df_a['close'] < 0.1]
    last_ma_df_a = last_df_a[last_df_a['ma120'] < 0.1]
    a_df_a = last_ma_df_a[last_ma_df_a['close'] > last_ma_df_a['ma60']] 
    last_ma_df_a = a_df_a[a_df_a['ma60'] > a_df_a['ma120']]
    last_price_df_a = e.loc[e['date'] == datelist[-1]]
    last_price_df_a = last_price_df_a[['name','volume']]
    last_ma_df_a  = pd.merge(last_ma_df_a,last_price_df_a,on='name')

    last_df_b = d.loc[d['date'] == datelist[-1]]
    last_close_df_b = last_df_b[last_df_b['close'] < 0.1]
    last_ma_df_b = last_df_b[last_df_b['ma120'] < 0.1]
    a_df_b = last_ma_df_b[last_ma_df_b['close'] > last_ma_df_b['ma60']] 
    last_ma_df_b = a_df_b[a_df_b['ma60'] > a_df_b['ma120']]
    last_price_df_b = f.loc[f['date'] == datelist[-1]]
    last_price_df_b = last_price_df_b[['name','volume']]
    last_ma_df_b  = pd.merge(last_ma_df_b,last_price_df_b,on='name')
    
    g = last_ma_df_a
    h = last_ma_df_b
    
    a = pd.merge(c,g, on='name')
    b = pd.merge(d,h, on='name')
    
    a['price_diff']=a['price_y']/a['price_x']
    b['price_diff']=b['price_y']/b['price_x']
    #g['volume_z'] = last_price_df_a['volume']
    a = a[['name','code_x','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_y','price_diff']]
    b = b[['name','code_x','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_y','price_diff']]
    
    for i in datelist:
        t = pd.Timestamp(i)
        first_df = a.loc[a['date_x'] == t]             ##  표준화 dataframe 
        second_df = b.loc[b['date_x'] == t] 
        strdate = t.strftime('%Y-%m-%d')
        first_df =  first_df.sort_values(["price_diff"],ascending=True)
        second_df = second_df.sort_values(["price_diff"],ascending=True)
        first_df.to_excel(path_total_a+strdate+'.xlsx')  ##  표준화 dataframe 중 ma120 < 0.1 and close > ma60 > ma120 (from 2019.01.01)
        second_df.to_excel(path_total_b+strdate+'.xlsx')  ##  표준화 dataframe 중 ma120 < 0.1 and close > ma60 > ma120 (from 2008.01.01) 
        
search_stock(name,select_start_a,select_start_b)

# 1

In [ ]:
from mod1 import *
#import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
#from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

path = 'd:\\test\\close_ma120_'
path_total = 'd:\\test\\total_'
path_total_a = 'd:\\test\\total_a_'
path_total_b = 'd:\\test\\total_b_'
path_total_c = 'd:\\test\\total_c_'
path_total_f = 'd:\\test\\total_filter_'

#df = all_stock('2019-10-10')
#df = df['Name']
#name = df.to_list()
    
name = ['hrs','디엔에프','푸드나무','화성밸브','미래생명자원','웹케시']

select_start_a = '2019-01-01'
select_start_b = '2008-01-01'

select_query = "select * from market where Name='hrs' and Date >= '2019-10-01' "
df3 = pd.read_sql(select_query, engine)

df3 = df3['Date']
datelist = df3.to_list()
    
def search_stock(name,select_start):   
    print(name)
    print(select_start)
    pure_df = pd.DataFrame()
    df2 = pd.DataFrame() 
    for i in name:
        #print(i)
        df=select_stock(i,select_start)
        #print(df)
        pure_df = pure_df.append(df)
        ma(df)

        source = MinMaxScaler()
        data = source.fit_transform(df[['close','ma60','ma120','volume']].values)
        df1 = pd.DataFrame(data)
        df1['name']=i
        df1.columns=['close','ma60','ma120','volume','name']
        df1[['date','code']] = df[['date','code']]
        #print(df1)
        df2 = df2.append(df1)

    pure_df.columns = map(str.lower, pure_df.columns) ## 

    last_df = df2.loc[df2['date'] == datelist[-1]]
    last_close_df = last_df[last_df['close'] < 0.1]
    last_ma_df = last_df[last_df['ma120'] < 0.1]
    a_df = last_ma_df[last_ma_df['close'] > last_ma_df['ma60']] 
    last_ma_df = a_df[a_df['ma60'] > a_df['ma120']]
    last_price_df = pure_df.loc[pure_df['date'] == datelist[-1]]
    
    for i in datelist:
        first_df = df2.loc[df2['date'] == i]
        first_price_df = pure_df.loc[pure_df['date'] == i]
        one_close_df = pd.merge(first_df,last_close_df,on='code')
        one_df = pd.merge(first_df,last_ma_df,on='code')
        reset_close_df = last_close_df.reset_index()
        reset_ma_df = last_ma_df.reset_index()
        one_close_df['code']= reset_close_df['code']
        one_df['code']= reset_ma_df['code']
        close_df = pd.merge(first_price_df[['close','code']],one_close_df,on='code')
        ma_df = pd.merge(first_price_df[['close','code']],one_df,on='code')        
        two_close_df = pd.merge(last_price_df[['close','code','volume']],close_df,on='code')
        two_df = pd.merge(last_price_df[['close','code','volume']],ma_df,on='code')
        two_close_df.columns= ['price_y','code', 'volume_z','price_x', 'close_x', 'ma60_x', 'ma120_x', 'volume_x','name_x', 'date_x', 'close_y', 'ma60_y', 'ma120_y', 'volume_y','name_y', 'date_y']
        two_df.columns= ['price_y','code', 'volume_z','price_x', 'close_x', 'ma60_x', 'ma120_x', 'volume_x','name_x', 'date_x', 'close_y', 'ma60_y', 'ma120_y', 'volume_y','name_y', 'date_y']

        price_df = two_close_df[['name_x','code','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_z']]
        ma120_df = two_df[['name_x','code','close_x','close_y','ma60_x','ma60_y','ma120_x','ma120_y','price_x','price_y','date_x','volume_z']]
        price_df['price_diff']=price_df['price_y']/price_df['price_x']
        ma120_df['price_diff']=ma120_df['price_y']/ma120_df['price_x']
        price_df =  price_df.sort_values(["price_diff"],ascending=True)
        ma120_df =  ma120_df.sort_values(["price_diff"],ascending=True)
        second_df =  first_df.sort_values(["ma120"],ascending=True)
        #ma120_df['price_x']=first_price_df['close'].values
        #ma120_df['price_y']=last_price_df['close'].values
        strdate = i.strftime('%Y-%m-%d')
       
        if select_start == select_start_a:
            ma120_df.to_excel(path_total_a+strdate+'.xlsx')
            price_df.to_excel(path_total_c+strdate+'.xlsx')
        else:
            ma120_df.to_excel(path_total_b+strdate+'.xlsx')
            second_df.to_excel(path+strdate+'.xlsx')

def total_ab_intersection( ):
    for i in datelist:
        strdate = i.strftime('%Y-%m-%d')
        df_a = pd.read_excel(path_total_a+strdate+'.xlsx')
        filter_df_a = df_a[df_a['close_y'] < 0.2]
        df_b = pd.read_excel(path_total_b+strdate+'.xlsx')
        #df_ab = pd.DataFrame()
        df_ab = pd.merge(df_a[['name_x']],df_b,on='name_x')
        filter_df_ab = pd.merge(filter_df_a[['name_x']],df_b,on='name_x')

        total_df = df_ab[['name_x', 'code', 'close_x', 'close_y', 'ma60_x', 'ma60_y', 'ma120_x', 'ma120_y', 'price_x', 'price_y', 'date_x','volume_z', 'price_diff']]
        filter_total_df = filter_df_ab[['name_x', 'code', 'close_x', 'close_y', 'ma60_x', 'ma60_y', 'ma120_x', 'ma120_y', 'price_x', 'price_y', 'date_x','volume_z', 'price_diff']]
        total_df.to_excel(path_total+strdate+'.xlsx')
        filter_total_df.to_excel(path_total_f+strdate+'.xlsx') 
            
            
#search_stock(name,select_start_b)
total_ab_intersection( )

# graph

# vote_stock volume

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.grid(True)
    plt.show()    
    
    
path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'
path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

choice_date='2020-01-02'
df_volume = pd.read_excel(path_volume+choice_date+'.xlsx')
name_volume = df_volume['Name']
#name = name_volume.to_list()
name = ['한국화장품','HRS','디엔에프','푸드나무','에이프로젠제약','포스코엠텍','유니켐','DB','아난티','상보','이에스에이','아스트','모트렉스','이노인스트루먼트','피앤씨테크']


for i in name:
#for i in name_volume:
    #df = select_stock(i,choice_date)
    df = select_stock(i, '2018-01-03')
    close_ma_vol(df,'ma60','ma120','volume')
    #close_ma(df,'ma5','ma20','volume')

In [ ]:
from pykrx.stock.api import *

In [ ]:
get_shorting_status_by_date('20191211','2019125','067390')

In [ ]:
from pykrx.stock import api

In [ ]:
dir(api)

# vote_stock price

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()    
    
    
path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'
path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

choice_date='2020-01-02'
df_price = pd.read_excel(path_price+choice_date+'.xlsx')
name_price = df_price['Name']
#name = name_df.to_list()
#name=['hrs','디엔에프','푸드나무','이에스브이']

for i in name_price:
    #df = select_stock(i,choice_date)
    df = select_stock(i, '2010-01-03')
    #close_ma_vol(df,'ma60','ma120','volume')
    close_ma_vol(df,'ma60','ma120','volume')

# close_ma120 filter

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.grid(True)
    plt.title(df['name'][0])
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.grid(True)
    plt.title(df['name'][0])
    plt.show()    
    
    
path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'
path_total_c = 'd:\\stockdata\\close_ma120\\total_c_'
path_total_b = 'd:\\stockdata\\close_ma120\\total_b_'
path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

choice_date='2019-10-01'
df = pd.read_excel(path_total_b+choice_date+'.xlsx')
name = df['name_x']
#name=['hrs','디엔에프','푸드나무','이에스브이']

for i in name:
    #df = select_stock(i,choice_date)
    df = select_stock(i,'2010-01-01')
    close_ma(df,'ma60','ma120')
    #close_ma(df,'ma10','ma20')

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.grid(True)
    plt.title(df['name'][0])
    plt.show()

def close_ma_vol(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.grid(True)
    plt.title(df['name'][0])
    plt.show()    
    
    
path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'
path_total_c = 'd:\\stockdata\\close_ma120\\total_c_'
path_total_b = 'd:\\stockdata\\close_ma120\\total_b_'
path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

choice_date='2019-10-01'
df = pd.read_excel(path_total_f+choice_date+'.xlsx')
name = df['name_x']
#name=['hrs','디엔에프','푸드나무','이에스브이']

for i in name:
    #df = select_stock(i,choice_date)
    df = select_stock(i,'2012-12-30')
    #close_ma(df,'ma60','ma120')
    close_ma_vol(df,'ma60','ma120','volume')

In [ ]:
from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'

choice_date='2019-10-01'
df = pd.read_excel(path_total_f +choice_date+'.xlsx')
#df = df.sort_values(["close_y"],ascending=True)
name_df = df['name_x']
name = name_df.to_list()
name.insert(0,'hrs')
#name=['hrs','디엔에프','푸드나무','에스퓨얼셀']


for i in name:
    df = select_stock(i, '2010-01-01')
    close_ma(df,'ma60','ma120')

In [ ]:
###  관심종목 ma60, ma120, cci 그래프 생성

from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def close_ma(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\total_'
path_total_f = 'd:\\stockdata\\close_ma120\\total_filter_'

choice_date='2019-10-01'
df = pd.read_excel(path_total_f+choice_date+'.xlsx')
name_df = df['name_x']
name = name_df.to_list()
name.insert(0,'hrs')
name=['hrs','디엔에프','푸드나무','에스퓨얼셀','에어부산','HDC아이콘트롤스','유니슨','엔시트론','데일리블록체인']

pure_df = pd.DataFrame()
df2 = pd.DataFrame()
cci_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    cci_df[['open','high','low','volume','close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
    period = 60
    cci_df['cci'] = ta.CCI(cci_df, timeperiod=period)
    df['cci'] = cci_df['cci']
    close_ma(df,'cci','ma60','ma120')

In [ ]:
df

In [ ]:
###  관심종목 ma60, ma120, cci 그래프 생성

from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

def cci_ma2(df,select1,select2,select3):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2,select3]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2,select3]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\total_'

choice_date = '2019-10-01'
df = pd.read_excel(path_total+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

#name=['hrs','손오공']

pure_df = pd.DataFrame()
df2 = pd.DataFrame()
cci_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    cci_df[['open','high','low','volume','close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
    period = 120
    cci_df['cci'] = ta.CCI(cci_df, timeperiod=period)
    df['cci'] = cci_df['cci']
    cci_ma2(df,'cci','ma60','ma120')

In [ ]:
df_ab.columns

In [ ]:
from mod1 import * 

def close_ma(df,select1,select2):
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select1,select2]].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select1,select2]
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()
    
#df = df_ab['name_x']
#name = df.to_list()
name=['hrs','디엔에프','푸드나무','에스퓨얼셀','에어부산','HDC아이콘트롤스','유니슨','엔시트론','데일리블록체인']

for i in name:
    df = select_stock(i, '2015-01-01')
    close_ma(df,'ma60','ma120')

In [ ]:
## 일별 관리종목 추출

from  datetime import datetime
import pandas as pd
import xlsxwriter
from urllib.request import urlopen
from bs4 import BeautifulSoup

today = datetime.now()
today = today.strftime("%Y-%m-%d")
#today=input('입력')
#url = 'http://finance.naver.com/sise/investorDealTrendDay.nhn?bizdate=2020601&sosok=&page=1'
url = 'https://finance.naver.com/sise/management.nhn'
source = urlopen(url).read()   # 지정한 페이지에서 코드 읽기
source = BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류
data = []

path = 'd:\\stockdata\\관리종목\\'+today+'.xlsx'
body = source.find('body')
trs = body.find_all('tr')
name = []
for tr in trs:
    tds = tr.find_all('a',{'class':"tltle"})
    for td in tds:
        name.append(td.text.strip())

df = pd.DataFrame(name)
df['Date']=str(today)
df = df.set_index('Date')
df.columns=['Name']
df.to_excel(path)
df = pd.read_excel(path)

df.to_sql(name='badstock', con=engine, if_exists='append', index = False)

print(df)

In [ ]:
from mod1 import *

df = select_stock('hrs','2017-10-01')

In [ ]:
from mod1 import *

df = select_stock('hrs','2010-10-01')
df.columns=df.columns.str.lower()
df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

# ta-lib로 5기간 종가 이동평균 계산
talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120
# pandas 기능을 이용하여 5기간 이동평균 계산
pandas_ma120 = df.close.rolling(window=120).mean() 

talib_ma120.equals(pandas_ma120)
# True / 결과는 같음  

vol_ma120 = df.volume.rolling(window=120).mean() 
df['vol_ma120'] = vol_ma120

plt.figure(figsize=(16,6))
plt.scatter(df['vol_ma120'],df['ma120'])
plt.show()

In [ ]:
plt.figure(figsize=(16,6))
plt.scatter(df['Volume'],df['Close'])
plt.show()

In [ ]:
1e7*16

In [ ]:
from mod1 import *
#import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
#from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

path = 'd:\\test\\close_ma120_'
path_total = 'd:\\test\\total_'
path_total_a = 'd:\\test\\total_a_'
path_total_b = 'd:\\test\\total_b_'
path_total_c = 'd:\\test\\total_c_'
path_total_f = 'd:\\test\\total_filter_'

#df = all_stock('2019-10-10')
#df = df['Name']
#name = df.to_list()
    
name = ['hrs','디엔에프','푸드나무','화성밸브','미래생명자원','웹케시']

select_start_a = '2019-01-01'
select_start_b = '2008-01-01'

select_query = "select distinct name from market "
df3 = pd.read_sql(select_query, engine)

df3.to_excel('d:\\market_name.xlsx')

In [ ]:
#### 기존에 액면분할시 가격조정 안된 기존 data가 있을때
## insert mysql 개별 주식

Code = input('주식 Code를 입력하세요')
Name = input('주식이름을 입력하세요')

query = "delete from  market where Code = "+"'"+Code+"'"

curs.execute(query)
conn.commit()
conn.close()

df = fdr.DataReader(Code, '1995')
df.to_excel('d:\\'+Code+'.xlsx', encoding='UTF-8')

df = pd.read_excel('d:\\'+Code+'.xlsx')
df['Code']= Code
df['Name']= Name

df = df[['Date','Code','Name','Open', 'High', 'Low', 'Volume','Close']]
df

In [ ]:
###  선물크롤링하여 맨처음 DB에 future table생성할때

# 2019-09-11 수정  mysql future table에서 최종 날짜를 확인해서 그뒤날부터 insert 
# 기존 daum 주식 사이트 : ajax 방식으로 변경으로 인해 이를 반영한 코드를 수정.
# pip install fake-useragent 설치 후 실행 가능

import io
import json
import sys
import pandas as pd
import sqlalchemy 
import urllib.request as req
from datetime import datetime
from fake_useragent import UserAgent

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


# Fake Header 정보
ua = UserAgent()

# 헤더 선언
headers = {
    'User-Agent': ua.ie,
    'referer': 'http://finance.daum.net/domestic/futures'
}


url = "http://finance.daum.net/api/future/KR4101Q30005/days?pagination=true&page=1"
res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')

df1 = pd.DataFrame()
for i in range(1,7):
    # 다음 주식 요청 URL
    url = "http://finance.daum.net/api/future/KR4101Q30005/days?pagination=true&page="+str(i)

    res = req.urlopen(req.Request(url, headers=headers)).read().decode('utf-8')
    
    rank_json = json.loads(res)['data']
    
    df = pd.DataFrame(rank_json)
    df1 = df1.append(df,ignore_index=True)
    
df2 = df1[['date','tradePrice','change', 'changePrice','changeRate','unsettledVolume','foreignSettlement', 'institutionSettlement', 'privateSettlement']]
df2.columns=('Date','Future','change','가격변동','등락률','미결제약정','외국인','기관','개인')
df2['Date'] = pd.to_datetime(df2['Date']).dt.date
#df2['Date'] = pd.to_datetime(df2['Date']).apply(lambda x: x.date())
#df2['Date'] = pd.to_datetime(df2['Date'], format = '%Y-%m-%d') # yyyy-mm-dd hh:mm:ss -> yyyy-mm-dd (속성은그대로 보여주는 형식만 변경)
df2 =df2[['Date','Future','미결제약정','외국인','기관','개인']]
#df2 = df2[df2.Date > until_date]
df2.to_sql(name='future', con=engine, if_exists='append', index = False)
df2 = df2.set_index('Date')
df2.to_excel('d:\\future.xlsx',encoding='utf-8')
df2

In [ ]:
from mod1 import *

## 선물  베이시스 graph ( One_graph)
## def future_trend_graph():
   

#query = "select * from future where Date > '2019-06-13'"+"'"+date+"'"
query = "select * from basis where Date > '2019-12-11'"


name=['kpi200','Future']
#name=['미결제약정']

tuple_name=tuple(name)
df1 = pd.DataFrame()
    
df = pd.read_sql(query ,engine)

#df.columns=['Date','kpi200','Close']
df = df.set_index('Date')
df1=df[name]

plt.figure(figsize=(16,4))    
for i in range(len(name)):
    plt.plot(df1[name[i]]/df1[name[i]].loc[df.index[0]]*100, label=name[i])
        
#plt.legend(loc=0)
plt.legend(loc=0)
plt.grid(True,color='0.7',linestyle=':',linewidth=1)
plt.show()

In [ ]:
from mod1 import *

df = select_stock('hrs','2010-01-01')
    
df.to_csv('d:\\hrs.csv')

In [ ]:
37810821*1155

In [ ]:
import fix_yahoo_finance as yf