In [1]:
import mod1

In [2]:
a = mod1.to_excel()

In [3]:
a.get_kpi200_date()

560
날짜를 입력하세요 sample: '2019-01-10': 2019-08-01

            KPI200    거래량
2019-08-02  262.99  99663

In [10]:
a.get_program_trend_date()

361
날짜를 입력하세요 sample: '2019-01-10': 2019-04-12

             개인    외국인     기관
19-04-15    466   1781  -2189
19-04-16   -949   1527   -539
19-04-17   -589    756     14
19-04-18   2959  -1320  -1290
19-04-19    178   -567    351
19-04-22    702   -186   -503
19-04-23    180    407   -708
19-04-24   4030    230  -4214
19-04-25    629   -165   -446
19-04-26   1401    355  -1844
19-04-29  -2833     30   2785
19-04-30    119    429   -573
19-05-02  -1025    681    170
19-05-03   2417   1521  -4075
19-05-07   2823   2026  -4787
19-05-08    493     90   -631
19-05-09   8157  -2015  -6465
19-05-10   2969  -3223     13
19-05-13   2581  -1373  -1314
19-05-14   -603  -2851   3368
19-05-15   1082   -776   -484
19-05-16   4114  -4679    367
19-05-17   1825  -1994     42
19-05-20    370   -178     96
19-05-21    -95    744   -730
19-05-22    728     53   -925
19-05-23    150    809   -962
19-05-24    -13  -3102   3069
19-05-27    229  -1940   1711
19-05-28   1199  -7191   6227
...         ...    ...    ...
19-06-24   -728   -992   1637
19-06-25   -211     88   -273
19-06-26   -736    165    610
19-06-27  -4058   1559   2671
19-06-28  -1995   3123  -1097
19-07-01   -191   1545     61
19-07-02    240    343   -515
19-07-03   1562   -860   -675
19-07-04   -238    401    -93
19-07-05  -1050   -250   1263
19-07-08    499     18   -498
19-07-09    826    240  -1149
19-07-10    -13   2033  -1882
19-07-11  -1993   3649  -1782
19-07-12    168    -59    -64
19-07-15   -494    143    253
19-07-16  -2157   2512   -315
19-07-17    587    233   -745
19-07-18   1002    708  -1729
19-07-19  -4632   1306   3381
19-07-22   -647   2335  -1686
19-07-23  -2833   2857     37
19-07-24    533    585  -1140
19-07-25    457   1124  -1536
19-07-26   -221   1184  -1032
19-07-29   -767   -625   1350
19-07-30  -1469   1410     39
19-07-31   -774   -496   1209
19-08-01   -873    -51    836
19-08-02    227  -4233   3815

[77 rows x 3 columns]

In [6]:
a.get_moneytrend_date()

날짜를 입력하세요 sample: '2019-01-10': 2019-07-01

           고객예탁금    신용잔고  주식형 펀드  혼합형 펀드   채권형 펀드
19-07-02  249327  102014  810117  267668  1187303
19-07-03  245303  101285  806478  267931  1189882
19-07-04  246573  101509  806966  267577  1191866
19-07-05  244098  101908  806254  267246  1191666
19-07-08  249578  101685  801271  267835  1193273
19-07-09  245999  101470  800163  267431  1196568
19-07-10  243732  100741  799399  267512  1195346
19-07-11  241386   98951  802245  267814  1197854
19-07-12  242357   98681  803167  267776  1199725
19-07-15  249210   98777  804104  267627  1200156
19-07-16  238733   99272  805791  267646  1202023
19-07-17  239065   99648  802964  267828  1203694
19-07-18  244744   99827  801783  267729  1205610
19-07-19  244479   99833  806933  267574  1206755
19-07-22  241833   99736  805981  268322  1204910
19-07-23  242129   99451  807415  272576  1206357
19-07-24  241131   99822  804661  272530  1207924
19-07-25  244278   99805  803018  272481  1210819
19-07-26  248585   98998  802480  272205  1211688
19-07-29  245195   97742  795191  272078  1213904
19-07-30  242994   96489  795857  272006  1211852
19-07-31  241078   94518  793464  266559  1213679

In [4]:
a.get_investor_trend_date()

361
날짜를 입력하세요 sample: '2019-01-10': 2019-03-22

             개인    외국인     기관
19-03-25   2692   -709  -2191
19-03-26   1557    374  -1915
19-03-27    192  -1561   1202
19-03-28    837   -139   -832
19-03-29  -1560    890    597
19-04-01  -4381   2491   1846
19-04-02  -1036   2734  -1506
19-04-03  -4644   1431   2008
19-04-04  -3797   2449   1378
19-04-05  -1544    996    616
19-04-08  -1181   2731  -1566
19-04-09  -1740   2090   -332
19-04-10  -2280    -33   2335
19-04-11  -1512   3208  -1606
19-04-12  -1657   2446   -558
19-04-15    466   1781  -2189
19-04-16   -949   1527   -539
19-04-17   -589    756     14
19-04-18   2959  -1320  -1290
19-04-19    178   -567    351
19-04-22    702   -186   -503
19-04-23    180    407   -708
19-04-24   4030    230  -4214
19-04-25    629   -165   -446
19-04-26   1401    355  -1844
19-04-29  -2833     30   2785
19-04-30    119    429   -573
19-05-02  -1025    681    170
19-05-03   2417   1521  -4075
19-05-07   2823   2026  -4787
...         ...    ...    ...
19-06-24   -728   -992   1637
19-06-25   -211     88   -273
19-06-26   -736    165    610
19-06-27  -4058   1559   2671
19-06-28  -1995   3123  -1097
19-07-01   -191   1545     61
19-07-02    240    343   -515
19-07-03   1562   -860   -675
19-07-04   -238    401    -93
19-07-05  -1050   -250   1263
19-07-08    499     18   -498
19-07-09    826    240  -1149
19-07-10    -13   2033  -1882
19-07-11  -1993   3649  -1782
19-07-12    168    -59    -64
19-07-15   -494    143    253
19-07-16  -2157   2512   -315
19-07-17    587    233   -745
19-07-18   1002    708  -1729
19-07-19  -4632   1306   3381
19-07-22   -647   2335  -1686
19-07-23  -2833   2857     37
19-07-24    533    585  -1140
19-07-25    457   1124  -1536
19-07-26   -221   1184  -1032
19-07-29   -767   -625   1350
19-07-30  -1469   1410     39
19-07-31   -774   -496   1209
19-08-01   -873    -51    836
19-08-02    143  -3979   3626

[92 rows x 3 columns]

In [5]:
mod1.excel_to_mysql()

파일이름을 입력하세요:investortrend.xlsx
        Date    개인   외국인    기관
0   19-03-25  2692  -709 -2191
1   19-03-26  1557   374 -1915
2   19-03-27   192 -1561  1202
3   19-03-28   837  -139  -832
4   19-03-29 -1560   890   597
5   19-04-01 -4381  2491  1846
6   19-04-02 -1036  2734 -1506
7   19-04-03 -4644  1431  2008
8   19-04-04 -3797  2449  1378
9   19-04-05 -1544   996   616
10  19-04-08 -1181  2731 -1566
11  19-04-09 -1740  2090  -332
12  19-04-10 -2280   -33  2335
13  19-04-11 -1512  3208 -1606
14  19-04-12 -1657  2446  -558
15  19-04-15   466  1781 -2189
16  19-04-16  -949  1527  -539
17  19-04-17  -589   756    14
18  19-04-18  2959 -1320 -1290
19  19-04-19   178  -567   351
20  19-04-22   702  -186  -503
21  19-04-23   180   407  -708
22  19-04-24  4030   230 -4214
23  19-04-25   629  -165  -446
24  19-04-26  1401   355 -1844
25  19-04-29 -2833    30  2785
26  19-04-30   119   429  -573
27  19-05-02 -1025   681   170
28  19-05-03  2417  1521 -4075
29  19-05-07  2823  2026 -4787
..       ...   ...   ...   ...
62  19-06-24  -728  -992  1637
63  19-06-25  -211    88  -273
64  19-06-26  -736   165   610
65  19-06-27 -4058  1559  2671
66  19-06-28 -1995  3123 -1097
67  19-07-01  -191  1545    61
68  19-07-02   240   343  -515
69  19-07-03  1562  -860  -675
70  19-07-04  -238   401   -93
71  19-07-05 -1050  -250  1263
72  19-07-08   499    18  -498
73  19-07-09   826   240 -1149
74  19-07-10   -13  2033 -1882
75  19-07-11 -1993  3649 -1782
76  19-07-12   168   -59   -64
77  19-07-15  -494   143   253
78  19-07-16 -2157  2512  -315
79  19-07-17   587   233  -745
80  19-07-18  1002   708 -1729
81  19-07-19 -4632  1306  3381
82  19-07-22  -647  2335 -1686
83  19-07-23 -2833  2857    37
84  19-07-24   533   585 -1140
85  19-07-25   457  1124 -1536
86  19-07-26  -221  1184 -1032
87  19-07-29  -767  -625  1350
88  19-07-30 -1469  1410    39
89  19-07-31  -774  -496  1209
90  19-08-01  -873   -51   836
91  19-08-02   143 -3979  3626

[92 rows x 4 columns]