In [50]:
##  전종목  종가, ma120 일선 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\all_'

back_date=5
choice_date='2019-10-11'

df = all_stock(choice_date)
#df.columns=['date', 'code', 'name', 'open', 'high', 'low', 'volume', 'close']
df.columns = map(str.lower, df.columns)
df = df['name']

(2163, 8)

In [52]:
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
ma120_df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    df1 = df1.append(df)    
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    ma120_df1 = pd.DataFrame(data)
    ma120_df1['Name']=i
    ma120_df1.columns=['close','ma120','volume','name',]
    ma120_df1['date'] = df['date']
    #print(df1)
    ma120_df2 = ma120_df2.append(ma120_df1)

In [58]:
ma120_df2['event_date'] = pd.to_datetime(ma120_df2['date'])
day = str((datetime.now()-timedelta(3)).date())
ma120_df2 = ma120_df2.loc[ma120_df2['event_date'] == day]
ma120_df2

         close     ma120    volume      name        date event_date
2414  0.080541  0.072171  0.004751        3S  2019-10-17 2019-10-17
1017  0.011197  0.055408  0.046642    AJ네트웍스  2019-10-17 2019-10-17
1773  0.348754  0.309441  0.027366     AJ렌터카  2019-10-17 2019-10-17
2414  0.261856  0.388288  0.019353     AK홀딩스  2019-10-17 2019-10-17
2414  0.380965  0.173456  0.007883    APS홀딩스  2019-10-17 2019-10-17
615   0.241700  0.096338  0.039721     AP시스템  2019-10-17 2019-10-17
887   0.116832  0.097194  0.000619      AP위성  2019-10-17 2019-10-17
1328  0.008309  0.000410  0.008929       BGF  2019-10-17 2019-10-17
451   0.454545  0.797353  0.006881    BGF리테일  2019-10-17 2019-10-17
2105  0.075779  0.001913  0.066371   BNK금융지주  2019-10-17 2019-10-17
2414  0.237849  0.264400  0.005601       BYC  2019-10-17 2019-10-17
2399  0.372093  0.482942  0.006684      BYC우  2019-10-17 2019-10-17
2414  0.116379  0.170497  0.023132        CJ  2019-10-17 2019-10-17
2414  0.104547  0.135558  0.021171    CJ CGV  2019-10-17 2019-10-17
2414  0.156689  0.139486  0.057808    CJ ENM  2019-10-17 2019-10-17
2414  0.550339  0.557751  0.075459    CJ대한통운  2019-10-17 2019-10-17
2414  0.470455  0.436948  0.008263     CJ씨푸드  2019-10-17 2019-10-17
2399  0.546268  0.978234  0.003361   CJ씨푸드1우  2019-10-17 2019-10-17
2399  0.229795  0.334242  0.006222       CJ우  2019-10-17 2019-10-17
2414  0.119850  0.274771  0.039027    CJ제일제당  2019-10-17 2019-10-17
2399  0.204635  0.318951  0.051116  CJ제일제당 우  2019-10-17 2019-10-17
2414  0.201474  0.275759  0.033564   CJ프레시웨이  2019-10-17 2019-10-17
1701  0.043634  0.001539  0.107529      CJ헬로  2019-10-17 2019-10-17
2414  0.269857  0.389875  0.030152     CMG제약  2019-10-17 2019-10-17
2414  0.268199  0.389000  0.007727       CNH  2019-10-17 2019-10-17
2414  0.225568  0.219305  0.009895        CS  2019-10-17 2019-10-17
2414  0.102219  0.383573  0.001627     CS홀딩스  2019-10-17 2019-10-17
2414  0.251733  0.333593  0.006716        DB  2019-10-17 2019-10-17
236   1.000000  0.990314  0.000000  DB금융스팩6호  2019-10-17 2019-10-17
93    0.017182       NaN  0.000093  DB금융스팩7호  2019-10-17 2019-10-17
...        ...       ...       ...       ...         ...        ...
307   0.050725  0.004809  0.009343     효성중공업  2019-10-17 2019-10-17
307   0.410977  0.600260  0.026805    효성첨단소재  2019-10-17 2019-10-17
307   0.239819  0.001410  0.010175     효성티앤씨  2019-10-17 2019-10-17
307   0.731707  0.979749  0.007841      효성화학  2019-10-17 2019-10-17
2414  0.657115  0.747556  0.011166        후성  2019-10-17 2019-10-17
2414  0.049244  0.039901  0.003852     휘닉스소재  2019-10-17 2019-10-17
2231  0.628533  0.932339  0.131488     휠라코리아  2019-10-17 2019-10-17
294   0.174018  0.012740  0.036919      휴네시온  2019-10-17 2019-10-17
2399  0.291230  0.413854  0.019733       휴니드  2019-10-17 2019-10-17
49    0.875622       NaN  0.118249      휴림로봇  2019-10-17 2019-10-17
1196  0.095912  0.110325  0.007062      휴마시스  2019-10-17 2019-10-17
2414  0.058940  0.019445  0.001498       휴맥스  2019-10-17 2019-10-17
2414  0.038275  0.034034  0.002318    휴맥스홀딩스  2019-10-17 2019-10-17
1178  0.073888  0.000975  0.000192      휴메딕스  2019-10-17 2019-10-17
1879  0.028241  0.004604  0.002079       휴비스  2019-10-17 2019-10-17
2414  0.246333  0.355730  0.001494       휴비츠  2019-10-17 2019-10-17
2414  0.026253  0.001232  0.000167       휴스틸  2019-10-17 2019-10-17
825   0.206466  0.292836  0.032252       휴온스  2019-10-17 2019-10-17
2414  0.312447  0.442853  0.007083    휴온스글로벌  2019-10-17 2019-10-17
931   0.431259  0.407909  0.013717        휴젤  2019-10-17 2019-10-17
2414  0.472376  0.465026  0.013123       휴켐스  2019-10-17 2019-10-17
2414  0.666898  0.999047  0.057706      흥구석유  2019-10-17 2019-10-17
2414  0.443126  0.781894  0.003850        흥국  2019-10-17 2019-10-17
1026  0.105562  0.047885  0.000000    흥국에프엔비  2019-10-17 2019-10-17
2414  0.006637  0.207000  0.004484      흥국화재  2019-10-17 2019-10-17
2399  0.367718  0.647962  0.000010   흥국화재2우B  2019-10-17 2019-10-17
2399  0.417344  0.689432  0.000881     흥국화재우  2019-10-17 2019-10-17
2414  0.043402  0.060985  0.000825      흥아해운  2019-10-17 2019-10-17
2414  0.078361  0.050197  0.000397        희림  2019-10-17 2019-10-17
546   0.557273  0.604140  0.046122        힘스  2019-10-17 2019-10-17

[2163 rows x 6 columns]

In [71]:
##  전종목  종가, ma120 일선 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\all_'

back_day=5
choice_date='2019-10-11'

df = all_stock(choice_date)
#df.columns=['date', 'code', 'name', 'open', 'high', 'low', 'volume', 'close']
df.columns = map(str.lower, df.columns)
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
ma120_df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    df1 = df1.append(df)    
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    ma120_df1 = pd.DataFrame(data)
    ma120_df1['Name']=i
    ma120_df1.columns=['close','ma120','volume','name',]
    ma120_df1['date'] = df['date']
    #print(df1)
    ma120_df2 = ma120_df2.append(ma120_df1)
    
ma120_df2['event_date'] = pd.to_datetime(ma120_df2['date'])
df1['event_date'] = pd.to_datetime(df1['Date'])
day = str((datetime.now()-timedelta(back_day)).date())
da = str((datetime.now()-timedelta(back_day-1)).date())
ma120_startday_df = ma120_df2.loc[ma120_df2['event_date'] == day]
ma120_today_df = ma120_df2.loc[ma120_df2['event_date'] == da]
price_startday_df = df1.loc[df1['event_date'] == day]
price_today_df = df1.loc[df1['event_date'] == da]

ma120_diff_df = pd.merge(ma120_startday_df[['name','ma120']],ma120_today_df[['name','ma120']],on='name')
ma120_diff_df.columns=['name','ma120_startday','ma120_today']
ma120_diff_df['ma120_diff']=ma120_diff_df['ma120_today']/ma120_diff_df['ma120_startday']

diff_df = pd.merge(price_startday_df[['Name','Close']],price_today_df[['Name','Close']],on='Name')
diff_df.columns=['name','price_startday','price_today']
diff_df['price_diff']=diff_df['price_today']/diff_df['price_startday']

ma120_up = ma120_diff_df[ma120_diff_df['ma120_diff'] > 1]
ma120_down = ma120_diff_df[ma120_diff_df['ma120_diff'] < 1]
ma120_sum=len(ma120_up)+len(ma120_down)

price_up = diff_df[diff_df['price_diff'] > 1]
price_down = diff_df[diff_df['price_diff'] < 1]
price_sum=len(price_up)+len(price_down)

print('ma120_up = {}'.format(len(ma120_up)))
print('ma120_down = {}'.format(len(ma120_down)))
    
print('win_rate={}%'.format((len(ma120_up)/ma120_sum)*100))

display((ma120_up.sort_values(["ma120_diff"],ascending=False).head(10)))
display(ma120_down.sort_values(['ma120_diff']).head(10))
display(ma120_diff_df.describe())

print('price_up = {}'.format(len(price_up)))
print('price_down = {}'.format(len(price_down)))
    
print('win_rate={}%'.format((len(price_up)/price_sum)*100))

display((price_up.sort_values(["price_diff"],ascending=False).head(10)))
display(price_down.sort_values(['price_diff']).head(10))
display(diff_df.describe())

total_df = pd.merge(ma120_diff_df,diff_df,on='name')
total_df = total_df.sort_values(["price_diff"],ascending=False)
total_df.to_excel(path_total+choice_date+'.xlsx')

ma120_up = 444
ma120_down = 1635
win_rate=21.356421356421357%

        name  ma120_startday  ma120_today  ma120_diff
1832  파인테크닉스        0.000340     0.001044    3.068966
682   모두투어리츠        0.000125     0.000375    3.000000
549     두산건설        0.000026     0.000038    1.454545
2011  한솔테크닉스        0.000728     0.001020    1.400168
911    선익시스템        0.001188     0.001651    1.390244
480     덕우전자        0.002470     0.003299    1.335655
1128   알리코제약        0.001786     0.002246    1.257143
2009    한솔제지        0.006051     0.007336    1.212389
370      뉴인텍        0.023798     0.027511    1.155991
2140    휴네시온        0.012740     0.014663    1.150943

        name  ma120_startday  ma120_today  ma120_diff
1061   씨유메디칼        0.000862          0.0         0.0
290    금호타이어        0.000277          0.0         0.0
289     금호전기        0.000345          0.0         0.0
288   금호에이치티        0.002048          0.0         0.0
1047     쌍용차        0.002042          0.0         0.0
1049    썸에이지        0.001713          0.0         0.0
1057   씨아이테크        0.000160          0.0         0.0
1060  씨엠에스에듀        0.005257          0.0         0.0
1042    싸이토젠        0.023203          0.0         0.0
1067     씨티젠        0.000581          0.0         0.0

       ma120_startday  ma120_today   ma120_diff
count     2085.000000  2085.000000  2085.000000
mean         0.380683     0.379383     0.851911
std          0.325970     0.327081     0.357997
min          0.000004     0.000000     0.000000
25%          0.066183     0.064616     0.988017
50%          0.324397     0.323078     0.996512
75%          0.621363     0.618452     0.999460
max          1.000000     1.000000     3.068966

price_up = 874
price_down = 1079
win_rate=44.751664106502815%

           name  price_startday  price_today  price_diff
323       남영비비안           15900        20650    1.298742
1013      신스타임즈            3990         5180    1.298246
1387        윌비스            1140         1355    1.188596
1865        포티스             615          728    1.183740
283          금양            2125         2460    1.157647
1706     코리아써키트            7110         8230    1.157525
1575      제이엠아이            1195         1375    1.150628
1204  에이치엘비생명과학           19550        22200    1.135550
56           GV            2400         2690    1.120833
244       고려시멘트            2910         3235    1.111684

          name  price_startday  price_today  price_diff
547         두산          106000        79700    0.751887
548      두산2우B           89100        67900    0.762065
551        두산우           81000        68100    0.840741
1699  코너스톤네트웍스            1315         1130    0.859316
1065       씨트리            6450         5620    0.871318
1753     큐에스아이           10300         9100    0.883495
986     스타모빌리티            3005         2745    0.913478
644      마이크로텍            2480         2270    0.915323
1471     이에스에이            3370         3090    0.916914
1229     엑사이엔씨            2300         2115    0.919565

       price_startday   price_today   price_diff
count    2.163000e+03  2.163000e+03  2163.000000
mean     2.158975e+04  2.152056e+04     0.999113
std      6.009784e+04  5.996890e+04     0.025297
min      1.500000e+02  1.500000e+02     0.751887
25%      2.825000e+03  2.815000e+03     0.989011
50%      6.330000e+03  6.410000e+03     1.000000
75%      1.727500e+04  1.725000e+04     1.006495
max      1.275000e+06  1.271000e+06     1.298742

In [67]:
ma120_df2['event_date'] = pd.to_datetime(ma120_df2['date'])
day = str((datetime.now()-timedelta(3)).date())
da = str((datetime.now()-timedelta(2)).date())
ma120_startday_df = ma120_df2.loc[ma120_df2['event_date'] == day]
ma120_today_df = ma120_df2.loc[ma120_df2['event_date'] == da]

display(ma120_startday_df.head())
display(ma120_today_df.head())

         close     ma120    volume    name        date event_date
2414  0.080541  0.072171  0.004751      3S  2019-10-17 2019-10-17
1017  0.011197  0.055408  0.046642  AJ네트웍스  2019-10-17 2019-10-17
1773  0.348754  0.309441  0.027366   AJ렌터카  2019-10-17 2019-10-17
2414  0.261856  0.388288  0.019353   AK홀딩스  2019-10-17 2019-10-17
2414  0.380965  0.173456  0.007883  APS홀딩스  2019-10-17 2019-10-17

         close     ma120    volume    name        date event_date
2415  0.080163  0.072445  0.006383      3S  2019-10-18 2019-10-18
1018  0.018949  0.051372  0.024261  AJ네트웍스  2019-10-18 2019-10-18
1774  0.341637  0.308825  0.008735   AJ렌터카  2019-10-18 2019-10-18
2415  0.256488  0.386138  0.013688   AK홀딩스  2019-10-18 2019-10-18
2415  0.359873  0.176515  0.011780  APS홀딩스  2019-10-18 2019-10-18

In [70]:
ma120_df2['event_date'] = pd.to_datetime(ma120_df2['date'])
df1['event_date'] = pd.to_datetime(df1['Date'])
day = str((datetime.now()-timedelta(3)).date())
da = str((datetime.now()-timedelta(2)).date())
ma120_startday_df = ma120_df2.loc[ma120_df2['event_date'] == day]
ma120_today_df = ma120_df2.loc[ma120_df2['event_date'] == da]
price_startday_df = df1.loc[df1['event_date'] == day]
price_today_df = df1.loc[df1['event_date'] == da]

ma120_diff_df = pd.merge(ma120_startday_df[['name','ma120']],ma120_today_df[['name','ma120']],on='name')
ma120_diff_df.columns=['name','ma120_startday','ma120_today']
ma120_diff_df['ma120_diff']=ma120_diff_df['ma120_today']/ma120_diff_df['ma120_startday']

diff_df = pd.merge(price_startday_df[['Name','Close']],price_today_df[['Name','Close']],on='Name')
diff_df.columns=['name','price_startday','price_today']
diff_df['price_diff']=diff_df['price_today']/diff_df['price_startday']

ma120_up = ma120_diff_df[ma120_diff_df['ma120_diff'] > 1]
ma120_down = ma120_diff_df[ma120_diff_df['ma120_diff'] < 1]
ma120_sum=len(ma120_up)+len(ma120_down)

price_up = diff_df[diff_df['price_diff'] > 1]
price_down = diff_df[diff_df['price_diff'] < 1]
price_sum=len(price_up)+len(price_down)

print('ma120_up = {}'.format(len(ma120_up)))
print('ma120_down = {}'.format(len(ma120_down)))
    
print('win_rate={}%'.format((len(ma120_up)/ma120_sum)*100))

display((ma120_up.sort_values(["ma120_diff"],ascending=False).head(10)))
display(ma120_down.sort_values(['ma120_diff']).head(10))
display(ma120_diff_df.describe())

print('price_up = {}'.format(len(price_up)))
print('price_down = {}'.format(len(price_down)))
    
print('win_rate={}%'.format((len(price_up)/price_sum)*100))

display((price_up.sort_values(["price_diff"],ascending=False).head(10)))
display(price_down.sort_values(['price_diff']).head(10))
display(diff_df.describe())

total_df = pd.merge(ma120_diff_df,diff_df,on='name')
total_df = total_df.sort_values(["price_diff"],ascending=False)
total_df.to_excel(path_total+choice_date+'.xlsx')

ma120_up = 443
ma120_down = 1636
win_rate=21.30832130832131%

        name  ma120_startday  ma120_today  ma120_diff
1832  파인테크닉스        0.000340     0.001044    3.068966
682   모두투어리츠        0.000125     0.000375    3.000000
549     두산건설        0.000026     0.000038    1.454545
2011  한솔테크닉스        0.000728     0.001020    1.400168
911    선익시스템        0.001188     0.001651    1.390244
480     덕우전자        0.002470     0.003299    1.335655
1128   알리코제약        0.001786     0.002246    1.257143
2009    한솔제지        0.006051     0.007336    1.212389
370      뉴인텍        0.023798     0.027511    1.155991
2140    휴네시온        0.012740     0.014663    1.150943

        name  ma120_startday  ma120_today  ma120_diff
1061   씨유메디칼        0.000862          0.0         0.0
290    금호타이어        0.000277          0.0         0.0
289     금호전기        0.000345          0.0         0.0
288   금호에이치티        0.002048          0.0         0.0
1047     쌍용차        0.002042          0.0         0.0
1049    썸에이지        0.001713          0.0         0.0
1057   씨아이테크        0.000160          0.0         0.0
1060  씨엠에스에듀        0.005257          0.0         0.0
1042    싸이토젠        0.023203          0.0         0.0
1067     씨티젠        0.000581          0.0         0.0

       ma120_startday  ma120_today   ma120_diff
count     2085.000000  2085.000000  2085.000000
mean         0.380683     0.379383     0.851894
std          0.325970     0.327082     0.357991
min          0.000004     0.000000     0.000000
25%          0.066183     0.064616     0.987960
50%          0.324397     0.323078     0.996500
75%          0.621363     0.618452     0.999457
max          1.000000     1.000000     3.068966

price_up = 874
price_down = 1079
win_rate=44.751664106502815%

           name  price_startday  price_today  price_diff
323       남영비비안           15900        20650    1.298742
1013      신스타임즈            3990         5180    1.298246
1387        윌비스            1140         1355    1.188596
1865        포티스             615          728    1.183740
283          금양            2125         2460    1.157647
1706     코리아써키트            7110         8230    1.157525
1575      제이엠아이            1195         1375    1.150628
1204  에이치엘비생명과학           19550        22200    1.135550
56           GV            2400         2690    1.120833
244       고려시멘트            2910         3235    1.111684

          name  price_startday  price_today  price_diff
2156    흥국에프엔비            8520         1630    0.191315
547         두산          106000        79700    0.751887
548      두산2우B           89100        67900    0.762065
551        두산우           81000        68100    0.840741
1699  코너스톤네트웍스            1315         1130    0.859316
1065       씨트리            6450         5620    0.871318
1753     큐에스아이           10300         9100    0.883495
986     스타모빌리티            3005         2745    0.913478
644      마이크로텍            2480         2270    0.915323
1471     이에스에이            3370         3090    0.916914

       price_startday   price_today   price_diff
count    2.163000e+03  2.163000e+03  2163.000000
mean     2.159290e+04  2.152056e+04     0.998759
std      6.009697e+04  5.996890e+04     0.030672
min      1.500000e+02  1.500000e+02     0.191315
25%      2.825000e+03  2.815000e+03     0.989011
50%      6.380000e+03  6.410000e+03     1.000000
75%      1.727500e+04  1.725000e+04     1.006495
max      1.275000e+06  1.271000e+06     1.298742

In [49]:
ma120_df2['event_date'] = pd.to_datetime(ma120_df2['date'])
day = str((datetime.now()-timedelta(3)).date())
da = str((datetime.now()-timedelta(2)).date())
ma120_startday_df = ma120_df2.loc[ma120_df2['event_date'] == day]
ma120_today_df =  = ma120_df2.loc[ma120_df2['event_date'] == da]

(548, 15)

In [59]:
day

'2019-10-17'

In [61]:
ma120_df2.head()

         close     ma120    volume    name        date event_date
2414  0.080541  0.072171  0.004751      3S  2019-10-17 2019-10-17
1017  0.011197  0.055408  0.046642  AJ네트웍스  2019-10-17 2019-10-17
1773  0.348754  0.309441  0.027366   AJ렌터카  2019-10-17 2019-10-17
2414  0.261856  0.388288  0.019353   AK홀딩스  2019-10-17 2019-10-17
2414  0.380965  0.173456  0.007883  APS홀딩스  2019-10-17 2019-10-17

In [64]:
da = str((datetime.now()-timedelta(2)).date())
ma120_df2 = ma120_df2.loc[ma120_df2['event_date'] == da]
ma120_df2

Empty DataFrame
Columns: [close, ma120, volume, name, date, event_date]
Index: []

In [43]:
df1['event_date'] = pd.to_datetime(df1['Date'])
da = str((datetime.now()-timedelta(3)).date())
df_co = df1.loc[df1['event_date'] == da]

In [44]:
da = str((datetime.now()-timedelta(3)).date())
da

'2019-10-17'

In [45]:
df1.head()

         Date    Code Name  Open  High   Low   Volume  Close event_date
0  2010-01-04  060310   3S  1143  1306  1143  1137353   1282 2010-01-04
1  2010-01-05  060310   3S  1302  1336  1242   744091   1277 2010-01-05
2  2010-01-06  060310   3S  1287  1361  1262   410717   1307 2010-01-06
3  2010-01-07  060310   3S  1311  1465  1311  1138507   1431 2010-01-07
4  2010-01-08  060310   3S  1465  1465  1351   480875   1391 2010-01-08

In [47]:
df_co = df1.loc[df1['event_date'] == da]

In [48]:
df_co.s

,Date,Code,Name,Open,High,Low,Volume,Close,event_date
2414,2019-10-17,060310,3S,3360,3425,3345,119705,3385,2019-10-17
1017,2019-10-17,095570,AJ네트웍스,4230,4350,4230,93005,4280,2019-10-17
1773,2019-10-17,068400,AJ렌터카,11000,11050,10700,229173,10900,2019-10-17
2414,2019-10-17,006840,AK홀딩스,34750,34750,33550,18527,33750,2019-10-17
2414,2019-10-17,054620,APS홀딩스,10600,10800,10450,143837,10500,2019-10-17
615,2019-10-17,265520,AP시스템,28400,28850,28050,179728,28450,2019-10-17
887,2019-10-17,211270,AP위성,6600,6670,6530,3525,6590,2019-10-17
1328,2019-10-17,027410,BGF,6240,6250,6160,82693,6220,2019-10-17
451,2019-10-17,282330,BGF리테일,193000,195500,192000,12635,194500,2019-10-17
2105,2019-10-17,138930,BNK금융지주,7180,7240,7100,807043,7180,2019-10-17
2414,2019-10-17,001460,BYC,241500,241500,238500,256,239500,2019-10-17
2399,2019-10-17,001465,BYC우,128500,128500,126000,598,126500,2019-10-17
2414,2019-10-17,001040,CJ,84500,84700,82800,50570,83300,2019-10-17
2414,2019-10-17,079160,CJ CGV,33000,33600,33000,50133,33150,2019-10-17
2414,2019-10-17,035760,CJ ENM,166000,167600,162100,45545,164300,2019-10-17
2414,2019-10-17,000120,CJ대한통운,144500,150000,144500,113786,149000,2019-10-17
2414,2019-10-17,011150,CJ씨푸드,3080,3095,3030,423388,3070,2019-10-17
2399,2019-10-17,011155,CJ씨푸드1우,33300,33750,32550,2166,33250,2019-10-17
2399,2019-10-17,001045,CJ우,42300,42300,41850,2922,42000,2019-10-17
2414,2019-10-17,097950,CJ제일제당,224500,227500,222500,34142,223500,2019-10-17
2399,2019-10-17,097955,CJ제일제당 우,99500,99700,98700,3477,99200,2019-10-17
2414,2019-10-17,051500,CJ프레시웨이,25700,25750,25300,20151,25400,2019-10-17
1701,2019-10-17,037560,CJ헬로,6550,6620,6030,986969,6080,2019-10-17
2414,2019-10-17,058820,CMG제약,3100,3100,2980,2481488,3010,2019-10-17
2414,2019-10-17,023460,CNH,1475,1475,1455,72963,1465,2019-10-17
2414,2019-10-17,065770,CS,3495,3535,3345,77835,3455,2019-10-17
2414,2019-10-17,000590,CS홀딩스,57400,57700,57100,203,57700,2019-10-17
2414,2019-10-17,012030,DB,774,784,769,294283,777,2019-10-17
236,2019-10-17,306620,DB금융스팩6호,0,0,0,0,2150,2019-10-17
93,2019-10-17,322780,DB금융스팩7호,2090,2090,2065,4500,2080,2019-10-17
...,...,...,...,...,...,...,...,...,...
307,2019-10-17,298040,효성중공업,31050,31350,30600,22715,30750,2019-10-17
307,2019-10-17,298050,효성첨단소재,129500,130000,127500,27353,130000,2019-10-17
307,2019-10-17,298020,효성티앤씨,166000,166000,161500,10340,163500,2019-10-17
307,2019-10-17,298000,효성화학,174000,175500,170500,12384,175500,2019-10-17
2414,2019-10-17,093370,후성,9000,9030,8820,964594,8870,2019-10-17
2414,2019-10-17,050090,휘닉스소재,669,683,664,169964,670,2019-10-17
2231,2019-10-17,081660,휠라코리아,56900,58300,56400,702965,58200,2019-10-17
294,2019-10-17,290270,휴네시온,6000,6220,5990,330677,6050,2019-10-17
2399,2019-10-17,005870,휴니드,7400,7430,7140,80529,7170,2019-10-17
49,2019-10-17,090710,휴림로봇,962,978,936,1237314,938,2019-10-17
1196,2019-10-17,205470,휴마시스,1480,1545,1470,246447,1515,2019-10-17
2414,2019-10-17,115160,휴맥스,5380,5430,5330,12800,5360,2019-10-17
2414,2019-10-17,028080,휴맥스홀딩스,3410,3410,3250,9372,3270,2019-10-17
1178,2019-10-17,200670,휴메딕스,23250,23300,22950,6769,23100,2019-10-17
1879,2019-10-17,079980,휴비스,6100,6110,6010,22585,6080,2019-10-17
2414,2019-10-17,065510,휴비츠,8900,8900,8590,15612,8780,2019-10-17
2414,2019-10-17,005010,휴스틸,10450,10450,10300,1579,10450,2019-10-17
825,2019-10-17,243070,휴온스,47200,47200,46100,24577,46250,2019-10-17
2414,2019-10-17,084110,휴온스글로벌,30750,30750,29800,20773,29900,2019-10-17
931,2019-10-17,145020,휴젤,389300,389300,370000,11661,370000,2019-10-17
2414,2019-10-17,069260,휴켐스,22700,22700,22450,35702,22600,2019-10-17
2414,2019-10-17,024060,흥구석유,5950,6230,5880,1397223,6080,2019-10-17
2414,2019-10-17,010240,흥국,4920,4920,4780,50718,4810,2019-10-17
1026,2019-10-17,189980,흥국에프엔비,0,0,0,0,8520,2019-10-17
2414,2019-10-17,000540,흥국화재,3175,3185,3140,18655,3160,2019-10-17
2399,2019-10-17,000547,흥국화재2우B,19500,19500,19300,4,19450,2019-10-17
2399,2019-10-17,000545,흥국화재우,4760,4870,4740,1490,4800,2019-10-17
2414,2019-10-17,003280,흥아해운,418,419,408,127994,412,2019-10-17
2414,2019-10-17,037440,희림,4450,4500,4420,5622,4490,2019-10-17
546,2019-10-17,238490,힘스,25150,26050,24700,141398,25200,2019-10-17

In [13]:
real_yesterday = (today-timedelta(2)).strftime('%Y-%m-%d')
real_yesterday

(1256, 5)

In [1]:
##  전종목  종가, ma120 일선 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\all_'

back_date=5
choice_date='2019-10-11'

df = all_stock(choice_date)
#df.columns=['date', 'code', 'name', 'open', 'high', 'low', 'volume', 'close']
df.columns = map(str.lower, df.columns)
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
ma120_df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    df1 = df1.append(df)    
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    ma120_df1 = pd.DataFrame(data)
    ma120_df1['Name']=i
    ma120_df1.columns=['close','ma120','volume','name',]
    ma120_df1['date'] = df['date']
    #print(df1)
    ma120_df2 = ma120_df2.append(ma120_df1)
    

last = len(ma120_df2[ma120_df2['name'] == name[0]])-1
ma120_startday_df = ma120_df2[ma120_df2.index == (last-back_date)]
ma120_today_df = ma120_df2[ma120_df2.index == last]
price_startday_df = df1[df1.index == (last-back_date)]
price_today_df = df1[df1.index == last]

ma120_diff_df = pd.merge(ma120_startday_df[['name','ma120']],ma120_today_df[['name','ma120']],on='name')
ma120_diff_df.columns=['name','ma120_startday','ma120_today']
ma120_diff_df['ma120_diff']=ma120_diff_df['ma120_today']/ma120_diff_df['ma120_startday']

diff_df = pd.merge(price_startday_df[['Name','Close']],price_today_df[['Name','Close']],on='Name')
diff_df.columns=['name','price_startday','price_today']
diff_df['price_diff']=diff_df['price_today']/diff_df['price_startday']

ma120_up = ma120_diff_df[ma120_diff_df['ma120_diff'] > 1]
ma120_down = ma120_diff_df[ma120_diff_df['ma120_diff'] < 1]
ma120_sum=len(ma120_up)+len(ma120_down)

price_up = diff_df[diff_df['price_diff'] > 1]
price_down = diff_df[diff_df['price_diff'] < 1]
price_sum=len(price_up)+len(price_down)

print('ma120_up = {}'.format(len(ma120_up)))
print('ma120_down = {}'.format(len(ma120_down)))
    
print('win_rate={}%'.format((len(ma120_up)/ma120_sum)*100))

display((ma120_up.sort_values(["ma120_diff"],ascending=False).head(10)))
display(ma120_down.sort_values(['ma120_diff']).head(10))
display(ma120_diff_df.describe())

print('price_up = {}'.format(len(price_up)))
print('price_down = {}'.format(len(price_down)))
    
print('win_rate={}%'.format((len(price_up)/price_sum)*100))

display((price_up.sort_values(["price_diff"],ascending=False).head(10)))
display(price_down.sort_values(['price_diff']).head(10))
display(diff_df.describe())

total_df = pd.merge(ma120_diff_df,diff_df,on='name')
total_df = total_df.sort_values(["price_diff"],ascending=False)
total_df.to_excel(path_total+choice_date+'.xlsx')

ma120_up = 273
ma120_down = 983
win_rate=21.73566878980892%

        name  ma120_startday  ma120_today  ma120_diff
1171  한솔테크닉스        0.000116     0.001020    8.775044
348     두산건설        0.000010     0.000038    3.692308
230      뉴인텍        0.010353     0.027511    2.657222
764   오성첨단소재        0.000039     0.000064    1.627219
1144   한국컴퓨터        0.004294     0.005900    1.374194
585       세하        0.014246     0.017947    1.259786
539     서연전자        0.014926     0.018025    1.207619
155     고려개발        0.161575     0.189804    1.174712
63       KTH        0.044579     0.052355    1.174423
856     이수화학        0.020264     0.023777    1.173343

        name  ma120_startday  ma120_today  ma120_diff
468   비에이치아이        0.002746          0.0         0.0
911       전방        0.002243          0.0         0.0
189    금호타이어        0.001676          0.0         0.0
188     금호전기        0.001801          0.0         0.0
927     제이웨이        0.005886          0.0         0.0
928  제이준코스메틱        0.000991          0.0         0.0
946     조이맥스        0.001928          0.0         0.0
961      지엔코        0.006000          0.0         0.0
580     세종공업        0.010689          0.0         0.0
973   진원생명과학        0.002714          0.0         0.0

       ma120_startday  ma120_today   ma120_diff
count     1256.000000  1256.000000  1256.000000
mean         0.392876     0.389301     0.910577
std          0.298747     0.300056     0.364047
min          0.000010     0.000000     0.000000
25%          0.130851     0.127839     0.967344
50%          0.357415     0.351379     0.985208
75%          0.607366     0.602587     0.997556
max          0.999921     1.000000     8.775044

price_up = 895
price_down = 323
win_rate=73.48111658456486%

                name  price_startday  price_today  price_diff
616            신스타임즈            1780         5180    2.910112
709        에이치엘비생명과학           13900        22200    1.597122
1113             필룩스            4200         6590    1.569048
861            이에스에이            2140         3090    1.443925
939              젬백스           12000        16850    1.404167
639              씨티젠            1980         2695    1.361111
122   SM Life Design            1625         2145    1.320000
53              KH바텍           10900        14250    1.307339
675              에넥스            1035         1335    1.289855
205            남영비비안           16100        20650    1.282609

         name  price_startday  price_today  price_diff
1237     화천기계            4535         3035    0.669239
347        두산          106000        79700    0.751887
1027      큐렉소            7400         5720    0.772973
1031    큐에스아이           11650         9100    0.781116
1251     흥구석유            7370         6050    0.820896
402      메디톡스          359700       314300    0.873784
984     카리스국보            4600         4020    0.873913
767   오스템임플란트           40100        35300    0.880299
609     신라에스지           14700        13100    0.891156
982       체시스            4465         3995    0.894737

       price_startday   price_today   price_diff
count    1.256000e+03  1.256000e+03  1256.000000
mean     2.169115e+04  2.199179e+04     1.025774
std      6.826541e+04  6.910873e+04     0.078599
min      1.500000e+02  1.500000e+02     0.669239
25%      2.570000e+03  2.678750e+03     0.998376
50%      5.485000e+03  5.620000e+03     1.016637
75%      1.460000e+04  1.512500e+04     1.041860
max      1.272000e+06  1.271000e+06     2.910112

In [ ]:
##  관심종목  종가, ma120 일선 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
path_total = 'd:\\stockdata\\close_ma120\\total_'

back_date=5
choice_date='2019-10-11'

df = pd.read_excel(path+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
ma120_df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    df1 = df1.append(df)    
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    ma120_df1 = pd.DataFrame(data)
    ma120_df1['Name']=i
    ma120_df1.columns=['close','ma120','volume','name',]
    ma120_df1['date'] = df['date']
    #print(df1)
    ma120_df2 = ma120_df2.append(ma120_df1)
    

last = len(ma120_df2[ma120_df2['name'] == name[0]])-1
ma120_startday_df = ma120_df2[ma120_df2.index == (last-back_date)]
ma120_today_df = ma120_df2[ma120_df2.index == last]
price_startday_df = df1[df1.index == (last-back_date)]
price_today_df = df1[df1.index == last]

ma120_diff_df = pd.merge(ma120_startday_df[['name','ma120']],ma120_today_df[['name','ma120']],on='name')
ma120_diff_df.columns=['name','ma120_startday','ma120_today']
ma120_diff_df['ma120_diff']=ma120_diff_df['ma120_today']/ma120_diff_df['ma120_startday']

diff_df = pd.merge(price_startday_df[['Name','Close']],price_today_df[['Name','Close']],on='Name')
diff_df.columns=['name','price_startday','price_today']
diff_df['price_diff']=diff_df['price_today']/diff_df['price_startday']

ma120_up = ma120_diff_df[ma120_diff_df['ma120_diff'] > 1]
ma120_down = ma120_diff_df[ma120_diff_df['ma120_diff'] < 1]
ma120_sum=len(ma120_up)+len(ma120_down)

price_up = diff_df[diff_df['price_diff'] > 1]
price_down = diff_df[diff_df['price_diff'] < 1]
price_sum=len(price_up)+len(price_down)

print('ma120_up = {}'.format(len(ma120_up)))
print('ma120_down = {}'.format(len(ma120_down)))
    
print('win_rate={}%'.format((len(ma120_up)/ma120_sum)*100))

display((ma120_up.sort_values(["ma120_diff"],ascending=False).head(10)))
display(ma120_down.sort_values(['ma120_diff']).head(10))
display(ma120_diff_df.describe())

print('price_up = {}'.format(len(price_up)))
print('price_down = {}'.format(len(price_down)))
    
print('win_rate={}%'.format((len(price_up)/price_sum)*100))

display((price_up.sort_values(["price_diff"],ascending=False).head(10)))
display(price_down.sort_values(['price_diff']).head(10))
display(diff_df.describe())

total_df = pd.merge(ma120_diff_df,diff_df,on='name')
total_df = total_df.sort_values(["price_diff"],ascending=False)
total_df.to_excel(path_total+choice_date+'.xlsx')

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'

back_date=1
choice_date='2019-10-18'

df = pd.read_excel(path+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    df1 = df1.append(df)

last = len(df1[df1['Name'] == name[0]])-1
startday_df = df1[df1.index == (last-back_date)]
today_df = df1[df1.index == last]

diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

up = diff_df[diff_df['diff'] > 1]
down = diff_df[diff_df['diff'] < 1]
sum=len(up)+len(down)
print('up = {}'.format(len(up)))
print('down = {}'.format(len(down)))
    
print('win_rate={}%'.format((len(up)/sum)*100))

display((up.sort_values(["diff"],ascending=False).head(10)))
display(down.sort_values(['diff']).head(10))
display(diff_df.describe())

#sort_df = diff_df.sort_values(["diff"],ascending=False)  ##  상승, 하락 을  순서별로 정렬

In [ ]:
name=['비에이치아이','에스앤씨엔진그룹','sbs','simpac','제이웨이','메타랩스','에이프로젠제약']
for i in name:
    df = select_stock(i,'2010-01-01')
    close_vol_ma(df,'ma120')

In [ ]:
##  전종목  종가 > ma120  일일 비교

from mod1 import *
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 


path = 'd:\\stockdata\\close_ma120\\close_ma120_'

df = all_stock('2019-10-10')
df = df['Name']

name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)
    

last = len(df2[df2['name'] == name[0]])-1
today_df = df2[df2.index == last]

ma120_df = today_df[today_df['close'] > today_df['ma120']]
ma120_df = ma120_df.sort_values(['ma120'])

today = str(ma120_df.iloc[0,4])
ma120_df.to_excel(path+today+'.xlsx', encoding='utf-8')

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'

back_date=1
choice_date='2019-10-18'

df = pd.read_excel(path+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    df1 = df1.append(df)

last = len(df1[df1['Name'] == name[0]])-1
startday_df = df1[df1.index == (last-back_date)]
today_df = df1[df1.index == last]

diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

up = diff_df[diff_df['diff'] > 1]
down = diff_df[diff_df['diff'] < 1]
sum=len(up)+len(down)
print('up = {}'.format(len(up)))
print('down = {}'.format(len(down)))
    
print('win_rate={}%'.format((len(up)/sum)*100))

display((up.sort_values(["diff"],ascending=False).head(10)))
display(down.sort_values(['diff']).head(10))
display(diff_df.describe())

#sort_df = diff_df.sort_values(["diff"],ascending=False)  ##  상승, 하락 을  순서별로 정렬

In [ ]:
##  전종목  종가 > ma120  일일 비교 하여  종목 pick 하고 pick한 종목의  종가를  비교분석

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 


path = 'd:\\stockdata\\close_ma120\\close_ma120_'
back_date=2
choice_date='2019-10-15'

all_df = all_stock(choice_date)
all_name_df = all_df['Name']

all_name = all_name_df.to_list()

all_df2 = pd.DataFrame()
for i in all_name:
    #print(i)
    all_df=select_stock(i,'2010-01-01')
    ma(all_df)

    source = MinMaxScaler()
    data = source.fit_transform(all_df[['close','ma120','volume']].values)
    all_df1 = pd.DataFrame(data)
    all_df1['Name']=i
    all_df1.columns=['close','ma120','volume','name',]
    all_df1['date'] = all_df['date']
    #print(df1)
    all_df2 = all_df2.append(all_df1)
    

last = len(all_df2[all_df2['name'] == all_name[0]])-1
all_today_df = all_df2[all_df2.index == last]

ma120_df = all_today_df[all_today_df['close'] > all_today_df['ma120']]
ma120_df = ma120_df.sort_values(['ma120'])

today = str(ma120_df.iloc[0,4])
ma120_df.to_excel(path+today+'.xlsx', encoding='utf-8')

pick_df = pd.read_excel(path+choice_date+'.xlsx')
pick_df = pick_df['name']
pick_name = pick_df.to_list()

pick_df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in pick_name:
    #print(i)
    pick_df=select_stock(i,'2019-01-01')
    pick_df1 = pick_df1.append(pick_df)

last = len(pick_df1[pick_df1['Name'] == pick_name[0]])-1
startday_df = pick_df1[pick_df1.index == (last-back_date)]
today_df = pick_df1[pick_df1.index == last]

diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

up = diff_df[diff_df['diff'] > 1]
down = diff_df[diff_df['diff'] < 1]
sum=len(up)+len(down)
print('up = {}'.format(len(up)))
print('down = {}'.format(len(down)))
    
print('win_rate={}%'.format((len(up)/sum)*100))

display((up.sort_values(["diff"],ascending=False).head(10)))
display(down.sort_values(['diff']).head(10))
display(diff_df.describe())

#sort_df = diff_df.sort_values(["diff"],ascending=False)  ##  상승, 하락 을  순서별로 정렬

In [ ]:
from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'

back_date=1
choice_date=real_today

df = pd.read_excel(path+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

for i in name:
    df = select_stock(i,'2010-01-01')
    close_vol_ma(df,'ma120')

In [ ]:
today = datetime.now()
today

In [33]:
real_yesterday = (today-timedelta(2)).strftime('%Y-%m-%d')
real_yesterday

'2019-10-18'

In [ ]:
import datetime

mdate = "2010-10-05"
rdate = "2010-10-01"
mdate1 = datetime.datetime.strptime(mdate, "%Y-%m-%d").date()
rdate1 = datetime.datetime.strptime(rdate, "%Y-%m-%d").date()
delta =  (mdate1 - rdate1).days
delta

In [ ]:
choice_date='2019-10-1'
choice_date = datetime.datetime.strptime(choice_date, "%Y-%m-%d").date()
real_today = datetime.datetime.strptime(real_today, "%Y-%m-%d").date()
back_date =  (real_today - choice_date).days
back_date

In [ ]:
datetime.timedelta(days=3, seconds=35, microseconds=320303)

In [ ]:
td.dt.day

In [ ]:
sort_df = diff_df.sort_values(["diff"])  
df = sort_df['name']
name=df.to_list()
for i in name:
    df = select_stock(i,'2010-01-01')
    close_vol_ma(df,'ma120')

In [ ]:
diff_df.to_excel('d:\\diff.xlsx')

In [ ]:
sort_df = diff_df.sort_values(["diff"],ascending=False)

In [ ]:
df = sort_df['name']
name=df.to_list()

In [ ]:
for i in name:
    df=select_stock(i,'2010-01-01')
    close_vol_ma(df,'ma120')

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

path = 'd:\\stockdata\\close_ma120\\close_ma120_'

back_date=1
choice_date='2019-10-18'

df = pd.read_excel(path+choice_date+'.xlsx')
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    df1 = df1.append(df)

last = len(df1[df1['Name'] == name[0]])-1
startday_df = df1[df1.index == (last-back_date)]
today_df = df1[df1.index == last]

diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

up = diff_df[diff_df['diff'] > 1]
down = diff_df[diff_df['diff'] < 1]
sum=len(up)+len(down)
print('up = {}'.format(len(up)))
print('down = {}'.format(len(down)))
    
print('win_rate={}%'.format((len(up)/sum)*100))

display((up.sort_values(["diff"],ascending=False).head(10)))
display(down.sort_values(['diff']).head(10))
display(diff_df.describe())

#sort_df = diff_df.sort_values(["diff"],ascending=False)  ##  상승, 하락 을  순서별로 정렬

In [ ]:
from mod1 import *

df = market_stock('2019-10-11')
df = df['Name']

name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)

In [ ]:
##  전종목  종가 > ma120  일일 비교

from mod1 import *

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
df = all_stock('2019-10-10')
df = df['Name']

name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2010-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)
    

last = len(df2[df2['name'] == name[0]])-1
today_df = df2[df2.index == last]

df3 = today_df[today_df['close'] > today_df['ma120']]

today = str(df3.iloc[0,4])
df3.to_excel(path+today+'.xlsx', encoding='utf-8')

In [ ]:
df3

In [ ]:
from mod1 import *

path = 'd:\\stockdata\\close_ma120\\close_ma120_'
df = all_stock('2019-10-10')
df = df['Name']

name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)

In [ ]:
last

In [ ]:
df2[df2['name']=='3S']

In [ ]:
df3[190:350]

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd

df = pd.read_excel('d:\\stockdata\\close_ma120\\close_ma120_2019-10-14.xlsx')
df = df['name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    df1 = df1.append(df)
    
last = len(df1[df1['Name'] == name[0]])-1
startday_df = df1[df1.index == (last-1)]
today_df = df1[df1.index == last]

diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

good = diff_df[diff_df['diff'] > 1]
bad = diff_df[diff_df['diff'] < 1]

print('good = {}'.format(len(good)))
print('bad = {}'.format(len(bad)))

display(diff_df.head(10))
display(diff_df.describe())

In [ ]:
df = pd.read_excel('d:\\stockdata\\close_ma120\\close_ma120_2019-10-11.xlsx')
df.columns

In [ ]:
from mod1 import *
import pandas as pd

def close_vol_without_ma(df,select):
    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])
    plt.show()
    

df = pd.read_excel('d:\\stockdata\\close_ma120\\close_ma120_2019-10-11.xlsx')
df = df['name']
name = df.to_list()

for i in name:
    df = select_stock(i,'2010-01-01')
    close_vol_ma(df,'ma120')

In [ ]:
####  현재 ma120 하고 종가 비교하기

from mod1 import *
import pandas as pd


df = pd.read_excel('d:\\good_stock.xlsx')
df = df['Name']
name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)
    

last = len(df2[df2['name'] == name[0]])-1
today_df = df2[df2.index == last]

df3 = today_df[df3['close'] > today_df['ma120']]
df3

In [ ]:
df4.to_excel('d:\\kkang.xlsx')

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd

def price_flow(start):
    df = pd.read_excel('d:\\kkang.xlsx')
    df = df['Name']
    name = df.to_list()

    df1 = pd.DataFrame()
    diff_df = pd.DataFrame()
    for i in name:
        #print(i)
        df=select_stock(i,'2019-01-01')
        df1 = df1.append(df)

    last = len(df1[df1['Name'] == name[0]])-1
    startday_df = df1[df1.index == (last-start)]
    today_df = df1[df1.index == last]

    diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
    diff_df.columns=['name','startday','today']
    diff_df['diff']=diff_df['today']/diff_df['startday']

    good = diff_df[diff_df['diff'] > 1]
    bad = diff_df[diff_df['diff'] < 1]

    print('good = {}'.format(len(good)))
    print('bad = {}'.format(len(bad)))

    display(diff_df.head(15))
    display(diff_df.describe())
price_flow(50)

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd

path = 'd:\\stockdata\\close_ma120\\close_ma120_'

def price_flow(back_date,choice_date):
    df = pd.read_excel(path+choice_date+'.xlsx')
    df = df['name']
    name = df.to_list()

    df1 = pd.DataFrame()
    diff_df = pd.DataFrame()
    for i in name:
        #print(i)
        df=select_stock(i,'2019-01-01')
        df1 = df1.append(df)

    last = len(df1[df1['Name'] == name[0]])-1
    startday_df = df1[df1.index == (last-back_date)]
    today_df = df1[df1.index == last]

    diff_df = pd.merge(startday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
    diff_df.columns=['name','startday','today']
    diff_df['diff']=diff_df['today']/diff_df['startday']

    up = diff_df[diff_df['diff'] > 1]
    down = diff_df[diff_df['diff'] < 1]
    sum=len(good)+len(bad)
    print('up = {}'.format(len(up)))
    print('down = {}'.format(len(down)))
    
    print('win_rate={}%'.format((len(up)/sum)*100))

    display(diff_df.head(15))
    display(diff_df.describe())
price_flow(3,'2019-10-11')

In [ ]:
down

In [ ]:
##  관심종목 종가 비교하기

from mod1 import *
import pandas as pd

df = pd.read_excel('d:\\good_stock.xlsx')
df = df['Name']
name = df.to_list()

df1 = pd.DataFrame()
diff_df = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    df1 = df1.append(df)
    
last = len(df1[df1['Name'] == name[0]])-1
startday_df = df1[df1.index == (last-10)]
today_df = df1[df1.index == last]

diff_df = pd.merge(yesterday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','startday','today']
diff_df['diff']=diff_df['today']/diff_df['startday']

good = diff_df[diff_df['diff'] > 1]
bad = diff_df[diff_df['diff'] < 1]

print('good = {}'.format(len(good)))
print('bad = {}'.format(len(bad)))

diff_df

In [ ]:
diff_df.describe()

In [ ]:
380/529*100

In [ ]:
diff_df = pd.merge(yesterday_df[['Name','Close']],today_df[['Name','Close']],on='Name')
diff_df.columns=['name','yesterday','today']
diff_df['diff']=diff_df['today']-diff_df['yesterday']
diff_df

In [ ]:
good = diff_df[diff_df['diff'] > 0]
bad = diff_df[diff_df['diff'] < 0]

print('good = {}'.format(len(good)))
print('bad = {}'.format(len(bad)))

In [ ]:
today_df['Close'] = today_df['Close'].reset_index(drop=True)
yesterday_df['Close'] = yesterday_df['Close'].reset_index(drop=True)
print(today_df.head())

print(yesterday_df.head())

In [ ]:
diff_df = pd.DataFrame()
diff_df

In [ ]:
diff_df['today']=today_df['Close']
diff_df['yesterday']=yesterday_df['Close']
diff_df

In [ ]:
diff_df['yesterday']=yesterday_df['Close']

In [ ]:
today_df

In [ ]:
diff_df = pd.DataFrame()
diff_df[['today_Close','yesterday_Close']] = [[today_df['Close']],[yesterday_df['Close']]]
diff_df

In [ ]:
last = len(df2[df2['name'] == name[0]])-1
df3 = df2[df2.index == last]
df4 = df2[df2.index == (last-1)]
print(df3.head())
print(df4.head())

In [ ]:
####  현재 ma120 하고 종가 비교하기

from mod1 import *
import pandas as pd


df = pd.read_excel('d:\\good_stock.xlsx')
df = df['Name']
name = df.to_list()

df2 = pd.DataFrame()
for i in name:
    #print(i)
    df=select_stock(i,'2019-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    #print(df1)
    df2 = df2.append(df1)
    
last = len(df2[df2['name'] == name[0]])-1   ##   종목별 마지막 row 수 
df3 = df2[df2.index == last]
df4 = df3[df3['close'] > df3['ma120']]
df4

In [ ]:
df4 = df3[df3['close'] > df3['ma120']]
df4

In [ ]:
df2[df2.index.isin(str('2019-01-02'))]

In [ ]:
df2 = pd.DataFrame()
for i in name:
    print(i)
    df=select_stock(i,'2019-01-01')
    ma(df)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close','ma120','volume']].values)
    df1 = pd.DataFrame(data)
    df1['Name']=i
    df1.columns=['close','ma120','volume','name',]
    df1['date'] = df['date']
    print(df1)
    df2 = df2.append(df1)

df3 = df2[df2.index > 189]

In [ ]:
df2[df2.index > 189]

In [ ]:
df2[df2.name=='3S']

In [ ]:
df2

In [ ]:
from mod1 import *
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from datetime import timedelta
from tqdm import tqdm
sns.set()
tf.set_random_seed(1234)

f =  open('d:\\/stock_prediction with LSTM_version-1.txt', 'a')
print("===== Stock Prediction with LSTM_first =====", file = f)
print("start_day: {}\n".format(datetime.now()),file = f)

tf.set_random_seed(777)  # reproducibility
tf.reset_default_graph()

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')
    
df = select_stock('hrs','2019-01-01')

#df = df[['Open','High','Low','Volume','Close']]
df = df.iloc[:,3:]
xy = df.values

test_min = np.min(xy, 0)
test_max = np.max(xy, 0)
test_denom = test_max - test_min

seq_length = 5
data_dim = 5
hidden_dim = 10
output_dim = 1
learning_rate = 0.01
iterations = 900

minmax = MinMaxScaler().fit(df.astype('float64')) # Close index
dataset = minmax.transform(df.astype('float64')) # Close index

train_size = int(len(dataset) * 0.7)
train_set = dataset[0:train_size]
test_set = dataset[train_size-seq_length:]  # Index from [train_size - seq_leng

# build datasets
def build_dataset(time_series, seq_length):
    dataX = []
    dataY = []
    for i in range(0, len(time_series) - seq_length):
        _x = time_series[i:i + seq_length, :]
        _y = time_series[i + seq_length, [-1]]  # Next close price
        #print(_x, "->", _y)
        dataX.append(_x)
        dataY.append(_y)
    return np.array(dataX), np.array(dataY)

trainX, trainY = build_dataset(train_set, seq_length)
#print("#"*100)
testX, testY = build_dataset(test_set, seq_length)
#print("#"*100)
#lastX = last_set
#print(lastX)

# input place holders
X = tf.placeholder(tf.float32, [None, seq_length, data_dim])
Y = tf.placeholder(tf.float32, [None, 1])

# build a LSTM network
cell = tf.nn.rnn_cell.LSTMCell(num_units=hidden_dim, state_is_tuple=True, activation=tf.tanh)
outputs, _states = tf.nn.dynamic_rnn(cell, X, dtype=tf.float32)
Y_pred = tf.contrib.layers.fully_connected(outputs[:, -1], output_dim, activation_fn=None)  # We use the last cell's output

# cost/loss
loss = tf.reduce_sum(tf.square(Y_pred - Y))  # sum of the squares
# optimizer
optimizer = tf.train.AdamOptimizer(learning_rate)
train = optimizer.minimize(loss)

# RMSE
targets = tf.placeholder(tf.float32, [None, 1])
predictions = tf.placeholder(tf.float32, [None, 1])
rmse = tf.sqrt(tf.reduce_mean(tf.square(targets - predictions)))

with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)

    # Training step
    for i in range(iterations):
        _, step_loss = sess.run([train, loss], feed_dict={X: trainX, Y: trainY})
        if i % 100 == 0:
            print("[step: {}] loss: {}".format(i, step_loss))

    # Test step
    test_predict = sess.run(Y_pred, feed_dict={X: testX})
    print("test_predict:{}".format(test_predict))
    rmse_val = sess.run(rmse, feed_dict={targets: testY, predictions: test_predict})
    
    
    # Predictions test
    #prediction_last = sess.run(Y_pred, feed_dict={X: lastX.reshape(1,seq_length,data_dim)})

print("step_loss: {}".format(step_loss),file = f)
print("RMSE: {}\n".format(rmse_val),file = f)
print("step_loss: {}".format(step_loss))
print("predictions ", end='')
print("RMSE: {}\n".format(rmse_val))
#print("prediction_last :{}". format(prediction_last) )
df1 = ((testY * ((test_max - test_min) + 1e-7) + test_min).astype(int))
df1 = pd.DataFrame(df1)
testY = df1[4]
df2 = ((test_predict * ((test_max - test_min) + 1e-7) + test_min).astype(int))
df2= pd.DataFrame(df2)
pred = df2[4]
df = pd.concat([pred,testY], axis=1)
df.columns=['Pred','True']
display(df)
df['Pred'].plot(figsize=(16,4))
df['True'].plot()
plt.legend(loc=0)
plt.show()

In [ ]:
from mod1 import *

all_df = market_stock('2019-10-01')
stock_name=all_df['Name'].drop_duplicates()
stock_name = stock_name.tolist()

## 상승추세종목별로 표준화 (MinMaxSchalr)생성
good_stock_df = pd.DataFrame()
min_max_df = pd.DataFrame()

for name in stock_name:
    print(name)
    good_df1 = select_stock(name,'2017-01-01')
    min_max_df1 = min_max(good_df1,'ma120')
    good_stock_df=good_stock_df.append(good_df1)
    min_max_df=min_max_df.append(min_max_df1)

 

good_stock_df1 = good_stock_df.set_index('date')
min_max_df[['code','name']]=good_stock_df1[['code','name']]
 
second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == '2019-10-02')]
second_df3 = second_df2[(second_df2['close'] <= 0.05)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == '2019-10-02')]
second_df3 = second_df2[(second_df2['close'] <= 0.05)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'19-07-01')
    all_df1 = close_vol_ma(all_df,'ma5')

In [ ]:
##  상승추세 종목 발굴 _3
##  전종목을 표준화하여 상승추세종목을 세부적으로 추출

from mod1 import *

all_df = market_stock('2019-10-01')
stock_name=all_df['Name'].drop_duplicates()
stock_name = stock_name.tolist()

## 상승추세종목별로 표준화 (MinMaxSchalr)생성
good_stock_df = pd.DataFrame()
min_max_df = pd.DataFrame()
for name in stock_name:
    print(name)
    good_df1 = select_stock(name,'2017-01-01')
    min_max_df1 = min_max(good_df1,'ma120')
    good_stock_df=good_stock_df.append(good_df1)
    min_max_df=min_max_df.append(min_max_df1)

good_stock_df1 = good_stock_df.set_index('date')
min_max_df[['code','name']]=good_stock_df1[['code','name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.3) & (second_df2['ma120'] <=0.3)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
len(min_max_name)

In [ ]:
good_stock_df1 = good_stock_df.set_index('date')
min_max_df[['code','name']]=good_stock_df1[['code','name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.05)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')


## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
min_max_df.head()

In [ ]:
good_stock_df1 = good_stock_df.set_index('Date')
min_max_df[['code','name']]=good_stock_df1[['Code','Name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.3) & (second_df2['ma120'] <=0.3)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df=select_stock(i,'17-01-01')
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
##  상승추세 종목 발굴 _3
##  전종목을 표준화하여 상승추세종목을 세부적으로 추출

from mod1 import *

## 개별종목이름 리스트 생성
all_df = market_stock('2017-10-01')
stock_name=all_df['Name'].drop_duplicates()
stock_name = stock_name.tolist()

## 종목별로 이동평균선(ma5 ~ ma120)생성
ma_df = pd.DataFrame()
min_max_df = pd.DataFrame()
for name in stock_name:
    print(name)
    all_df1 = all_df[(all_df['Name'] == name)]
    ma(all_df1)
    ma_df=ma_df.append(all_df1)
    min_max_df1 = min_max(ma_df,'ma120')
    min_max_df=min_max_df.append(min_max_df1)    
    
ma_df1 = ma_df.set_index('Date')
min_max_df[['code','name']]=ma_df1[['Code','Name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.1)]
second_df3

## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
##  상승추세 종목 발굴 _3
##  전종목을 표준화하여 상승추세종목을 세부적으로 추출

from mod1 import *
import pandas as pd
pd.options.mode.chained_assignment = None 

## 개별종목이름 리스트 생성
all_df = market_stock('2017-10-01')
stock_name=all_df['Name'].drop_duplicates()
stock_name = stock_name.tolist()

## 종목별로 이동평균선(ma5 ~ ma120)생성
ma_df = pd.DataFrame()
ma_120_df=pd.DataFrame()
min_max_df = pd.DataFrame()
for name in stock_name:
    print(name)
    all_df1 = all_df[(all_df['Name'] == name)]
    ma(all_df1)
    ma_df=ma_df.append(all_df1)
    min_max_df1 = min_max(all_df1,'ma120')
    min_max_df=min_max_df.append(min_max_df1)
    ma_120_df1 = min_max_df1.iloc[120:]
    ma_120_df=ma_120_df.append(ma_120_df1)    
    
ma_df1 = ma_df.set_index('date')
min_max_df[['code','name']]=ma_df1[['Code','Name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.1)]
second_df3

In [ ]:
ma_df1 = ma_df.set_index('date')
min_max_df[['code','name']]=ma_df1[['code','name']]

second_df1 = min_max_df
second_df2 = second_df1[(second_df1.index.astype(str) == real_yesterday)]
second_df3 = second_df2[(second_df2['close'] <= 0.1)]
second_df3

In [ ]:
min_max_df.shape

In [ ]:
ma_120_df.to_excel('d:\\ma_120.xlsx')

In [ ]:
from mod1 import *

## 개별종목이름 리스트 생성
all_df = market_stock('2019-10-03')
stock_name=all_df['Name'].drop_duplicates()
stock_name = stock_name.tolist()

len(stock_name)

In [ ]:
ma120_df=pd.DataFrame()
for name in stock_name:
    ma_120_df1 = min_max_df[min_max_df['name']== name]
    ma_120_df1 = min_max_df.iloc[120:]
    ma_120_df=ma_120_df.append(ma_120_df1)

In [ ]:
ma_120_df1.head()

In [ ]:
## 표준화로 선별한 상승추세종목 리스트 생성
min_max_name=second_df3['name']
min_max_name = min_max_name.tolist()

## 표준화로 선별한 추세 종목 그래프 생성 
for i in min_max_name:
    all_df1 = close_vol_ma(all_df,'ma120')

In [ ]:
def ma(DataFrame):
    df = DataFrame
    df.columns=df.columns.str.lower()
    df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

    talib_ma5 = ta.MA(df, timeperiod=5)
    df.loc[:,'ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df.loc[:,'ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df.loc[:,'ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df.loc[:,'ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df.loc[:,'ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df.loc[:,'ma120'] = talib_ma120

In [ ]:
second_df3.shape

In [ ]:
df = select_stock('한컴시큐어','2010-01-01')
close_vol_ma(df,'ma120')

In [ ]:
ma120_df.sort_values(['ma120'])