In [5]:
import mod1

In [6]:
a = mod1.to_excel()

In [3]:
a.get_kpi200_date()

560
날짜를 입력하세요 sample: '2019-01-10': 2019-08-02

Empty DataFrame
Columns: [KPI200, 거래량]
Index: []

In [10]:
a.get_program_trend_date()

361
날짜를 입력하세요 sample: '2019-01-10': 2019-04-12

             개인    외국인     기관
19-04-15    466   1781  -2189
19-04-16   -949   1527   -539
19-04-17   -589    756     14
19-04-18   2959  -1320  -1290
19-04-19    178   -567    351
19-04-22    702   -186   -503
19-04-23    180    407   -708
19-04-24   4030    230  -4214
19-04-25    629   -165   -446
19-04-26   1401    355  -1844
19-04-29  -2833     30   2785
19-04-30    119    429   -573
19-05-02  -1025    681    170
19-05-03   2417   1521  -4075
19-05-07   2823   2026  -4787
19-05-08    493     90   -631
19-05-09   8157  -2015  -6465
19-05-10   2969  -3223     13
19-05-13   2581  -1373  -1314
19-05-14   -603  -2851   3368
19-05-15   1082   -776   -484
19-05-16   4114  -4679    367
19-05-17   1825  -1994     42
19-05-20    370   -178     96
19-05-21    -95    744   -730
19-05-22    728     53   -925
19-05-23    150    809   -962
19-05-24    -13  -3102   3069
19-05-27    229  -1940   1711
19-05-28   1199  -7191   6227
...         ...    ...    ...
19-06-24   -728   -992   1637
19-06-25   -211     88   -273
19-06-26   -736    165    610
19-06-27  -4058   1559   2671
19-06-28  -1995   3123  -1097
19-07-01   -191   1545     61
19-07-02    240    343   -515
19-07-03   1562   -860   -675
19-07-04   -238    401    -93
19-07-05  -1050   -250   1263
19-07-08    499     18   -498
19-07-09    826    240  -1149
19-07-10    -13   2033  -1882
19-07-11  -1993   3649  -1782
19-07-12    168    -59    -64
19-07-15   -494    143    253
19-07-16  -2157   2512   -315
19-07-17    587    233   -745
19-07-18   1002    708  -1729
19-07-19  -4632   1306   3381
19-07-22   -647   2335  -1686
19-07-23  -2833   2857     37
19-07-24    533    585  -1140
19-07-25    457   1124  -1536
19-07-26   -221   1184  -1032
19-07-29   -767   -625   1350
19-07-30  -1469   1410     39
19-07-31   -774   -496   1209
19-08-01   -873    -51    836
19-08-02    227  -4233   3815

[77 rows x 3 columns]

In [ ]:
a.get_moneytrend()

3번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다
62번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다
125번째 페이지에서 누락된 값 발생
누락된 데이터를 제거합니다

In [7]:
a.get_investor_trend_date()

TypeError: get_investor_trend_date() takes 0 positional arguments but 1 was given