In [ ]:
import time
import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("SELECT distinct Name from market ", engine)
df = df.set_index('Name')
name = df.index
for i in range(0,5,1):
    df = pd.read_sql("SELECT * from market where Name ="+"'"+name[i]+"'"+"order by Date desc limit 5", engine)
    print(df)

In [ ]:
##  이동평균선  데이타베이스  일괄입력
import time
import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

df = pd.read_sql("SELECT distinct Name from market ", engine)
df = df.set_index('Name')
name = df.index
for i in range(1089,2369,1):
    df = pd.read_sql("SELECT * from market where Name ="+"'"+name[i]+"'", engine)
    line = df.shape[0]   
    
    df[['Open','High','Low','Volume','Close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
    df.columns=df.columns.str.lower()
    #df = df.set_index('date')
            
    if line >= 120:
        talib_ma5 = ta.MA(df, timeperiod=5)
        df['ma5'] = talib_ma5

        talib_ma10 = ta.MA(df, timeperiod=10)
        df['ma10'] = talib_ma10

        talib_ma20 = ta.MA(df, timeperiod=20)
        df['ma20'] = talib_ma20

        talib_ma60 = ta.MA(df, timeperiod=60)
        df['ma60'] = talib_ma60

        talib_ma120 = ta.MA(df, timeperiod=120)
        df['ma120'] = talib_ma120

        df_ma = df[['date','code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
        df_ma.iloc[:4,3]=df_ma.iloc[4,3]
        df_ma.iloc[:9,4]=df_ma.iloc[9,4]
        df_ma.iloc[:19,5]=df_ma.iloc[19,5]
        df_ma.iloc[:59,6]=df_ma.iloc[59,6]
        df_ma.iloc[:119,7]=df_ma.iloc[119,7]        
        df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60','ma120']
        df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)  
        
    elif line >= 60 and line < 120:
        talib_ma5 = ta.MA(df, timeperiod=5)
        df['ma5'] = talib_ma5
        
        talib_ma10 = ta.MA(df, timeperiod=10)
        df['ma10'] = talib_ma10
        
        talib_ma20 = ta.MA(df, timeperiod=20)
        df['ma20'] = talib_ma20
        
        talib_ma60 = ta.MA(df, timeperiod=60)
        df['ma60'] = talib_ma60
        
        df_ma = df[['date','code','name','ma5','ma10','ma20','ma60']].round(2)
        df_ma.iloc[:4,3]=df_ma.iloc[4,3]
        df_ma.iloc[:9,4]=df_ma.iloc[9,4]
        df_ma.iloc[:19,5]=df_ma.iloc[19,5]
        df_ma.iloc[:59,6]=df_ma.iloc[59,6]        
        df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60']
        df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False) 
        
    elif line >= 20 and line <60:
        talib_ma5 = ta.MA(df, timeperiod=5)
        df['ma5'] = talib_ma5
        
        talib_ma10 = ta.MA(df, timeperiod=10)
        df['ma10'] = talib_ma10
        
        talib_ma20 = ta.MA(df, timeperiod=20)
        df['ma20'] = talib_ma20
        
        df_ma = df[['date','code','name','ma5','ma10','ma20']].round(2)
        df_ma.iloc[:4,3]=df_ma.iloc[4,3]
        df_ma.iloc[:9,4]=df_ma.iloc[9,4]
        df_ma.iloc[:19,5]=df_ma.iloc[19,5]
        df_ma.columns=['Date','Code','Name','ma5','ma10','ma20']
        df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
        
    elif line >= 10 and line <20:
        talib_ma5 = ta.MA(df, timeperiod=5)
        df['ma5'] = talib_ma5
        
        talib_ma10 = ta.MA(df, timeperiod=10)
        df['ma10'] = talib_ma10
        
        df_ma = df[['date','code','name','ma5','ma10']].round(2)
        df_ma.iloc[:4,3]=df_ma.iloc[4,3]
        df_ma.iloc[:9,4]=df_ma.iloc[9,4] 
        df_ma.columns=['Date','Code','Name','ma5','ma10']
        df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False) 
        
    elif line >= 5 and line <10:
        talib_ma5 = ta.MA(df, timeperiod=5)
        df['ma5'] = talib_ma5 
        
        df_ma = df[['date','code','name','ma5']].round(2)
        df_ma.iloc[:4,3]=df_ma.iloc[4,3]
        df_ma.columns=['Date','Code','Name','ma5']
        df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
        
    elif line > 5:
        pass
  
    #df_ma.to_excel('d:\ma_line.xlsx')
    #df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60','ma120']
    #df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
    print(df_ma.head(1))
    time.sleep(1)

In [ ]:
for i in range(2):
    print(name[i])

In [ ]:
len(name)

In [ ]:
(10850+10850+10750+10800+10850)/5

In [ ]:
##  이동평균선  데이타베이스  일괄입력

import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


df = pd.read_sql("SELECT * from market", engine)
df = df.set_index('Date')

df[['Open','High','Low','Volume','Close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma10 = ta.MA(df, timeperiod=10)
df['ma10'] = talib_ma10

talib_ma20 = ta.MA(df, timeperiod=20)
df['ma20'] = talib_ma20

talib_ma60 = ta.MA(df, timeperiod=60)
df['ma60'] = talib_ma60

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

df_ma = df[['date','code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
df_ma.iloc[:4,2]=df_ma.iloc[4,2]
df_ma.iloc[:9,3]=df_ma.iloc[9,3]
df_ma.iloc[:19,4]=df_ma.iloc[19,4]
df_ma.iloc[:59,5]=df_ma.iloc[59,5]
df_ma.iloc[:119,6]=df_ma.iloc[119,6]
df_ma.to_excel('d:\ma_line.xlsx')
df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60','ma120']
df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
df_ma.head()

In [ ]:
plt.figure(figsize=(16,4))
plt.plot(df[['ma5','ma10','ma20','ma60','ma120']])
plt.legend(('ma5','ma10','ma20','ma60','ma120'))
plt.show()

In [ ]:
plt.plot(df[['ma5','ma10']])

plt.legend(('label1', 'label2'))
plt.show()

In [ ]:
import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


df = pd.read_sql("SELECT * from market", engine)
df = df.set_index('Date')

df[['Open','High','Low','Volume','Close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma10 = ta.MA(df, timeperiod=10)
df['ma10'] = talib_ma10

talib_ma20 = ta.MA(df, timeperiod=20)
df['ma20'] = talib_ma20

talib_ma60 = ta.MA(df, timeperiod=60)
df['ma60'] = talib_ma60

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

df_ma = df[['code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
df_ma.iloc[:4,2]=df_ma.iloc[4,2]
df_ma.iloc[:9,3]=df_ma.iloc[9,3]
df_ma.iloc[:19,4]=df_ma.iloc[19,4]
df_ma.iloc[:59,5]=df_ma.iloc[59,5]
df_ma.iloc[:119,6]=df_ma.iloc[119,6]
#df_ma = df_ma.set_index('Date')
df_ma.to_excel('d:\ma_line.xlsx')
df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
df_ma.head()

In [ ]:
df

In [ ]:
import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime,timedelta
from urllib.request import urlopen
import sqlalchemy 
import pymysql
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

now = dt.datetime.today().strftime('%Y-%m-%d')
engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')


df = pd.read_sql("SELECT * from market", engine)
df = df.set_index('Date')

df[['Open','High','Low','Volume','Close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma10 = ta.MA(df, timeperiod=10)
df['ma10'] = talib_ma10

talib_ma20 = ta.MA(df, timeperiod=20)
df['ma20'] = talib_ma20

talib_ma60 = ta.MA(df, timeperiod=60)
df['ma60'] = talib_ma60

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

df_ma = df[['date','code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
df_ma.to_excel('d:\ma_line.xlsx')
df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60','ma120']
df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
df_ma.head()

In [ ]:
df.head()

In [ ]:
df_ma = df[['Date','code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
df_ma.to_excel('d:\ma_line.xlsx')

In [ ]:
df_ma.iloc[:4,3]=df_ma.iloc[4,3]
df_ma.iloc[:4]

In [ ]:
df_ma = df[['code','name','ma5','ma10','ma20','ma60','ma120']].round(2)
df_ma.to_excel('d:\ma_line.xlsx')
df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
df_ma.head()

In [ ]:
df_ma = pd.read_excel('d:\ma_line.xlsx')
df_ma.columns=['Date','Code','Name','ma5','ma10','ma20','ma60','ma120']
df_ma.to_sql(name='ma', con=engine, if_exists='append', index = False)
df_ma.head()

In [ ]:
df.head(10)

In [ ]:
(2601+3712+3817+3360+2959)/5

In [ ]:
### Close and Volume graph 표준화

import talib.abstract as ta
import FinanceDataReader as fdr
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select * from market where Name= "
date_query = "Date > "

def choice(select):
    name = 'hrs'
    date = '2010-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)

df = pd.read_sql(choice(select), engine)
df[['Open','High','Low','Volume','Close']] = df[['Open','High','Low','Volume','Close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함
df.columns=df.columns.str.lower()

talib_ma5 = ta.MA(df, timeperiod=5)
df['ma5'] = talib_ma5

talib_ma120 = ta.MA(df, timeperiod=120)
df['ma120'] = talib_ma120

source = MinMaxScaler()
data = source.fit_transform(df[['close','volume','ma120']].values)
df1 = pd.DataFrame(data)
df1.columns=['close','ma120','volume']
df1 = df1.set_index(df['date'])
df1.plot(figsize=(16,4))

choice(select)

In [ ]:
### Close and Volume graph 표준화

import FinanceDataReader as fdr
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def choice(select):
    name = '화천기계'
    date = '2019-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)

df = pd.read_sql(choice(select), engine)

source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values.astype(float))
df1 = pd.DataFrame(data)
df1.columns=['Close','Volume']

In [ ]:
from mod1 import *

df  = make_dataset('hrs','2017-01-01')

In [ ]:
df.head()

In [ ]:
df1 = df1.set_index(df['Date'])
df1.head()

In [ ]:
### Close and Volume graph 표준화

import FinanceDataReader as fdr
import pandas as pd
import sqlalchemy
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

engine = sqlalchemy.create_engine('mysql+pymysql://kkang:leaf2027@localhost/stock?charset=utf8',encoding='utf-8')

select_query = "select Date,Volume,Close from market where Name= "
date_query = "Date > "

def choice(select):
    name = '화천기계'
    date = '2019-01-01'
    if select == 1:
        name = input('주식이름을 입력하세요 : ')
        date = input('날짜를 입력하세요: ')
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var
    elif select == 2:
        var = select_query +"'"+name+"'"+" "+"&&"+" "+date_query+"'"+date+"'" 
        return var

select = input('select 1 or 2: ')
select = int(select)

df = pd.read_sql(choice(select), engine)

source = MinMaxScaler()
data = source.fit_transform(df[['Close','Volume']].values.astype(float))
df1 = pd.DataFrame(data)
df1.columns=['Close','Volume']
df1 = df1.set_index(df['Date'])
df1.plot(figsize=(16,4))

In [ ]:
def ma(DataFrame):
    df = DataFrame
    df.columns=df.columns.str.lower()
    df[['volume','close']] = df[['volume','close']].astype(float) #  TA-Lib로 평균을 구하려면 실수로 만들어야 함

    talib_ma5 = ta.MA(df, timeperiod=5)
    df['ma5'] = talib_ma5
    
    talib_ma10 = ta.MA(df, timeperiod=10)
    df['ma10'] = talib_ma10    

    talib_ma15 = ta.MA(df, timeperiod=15)
    df['ma15'] = talib_ma15

    talib_ma20 = ta.MA(df, timeperiod=20)
    df['ma20'] = talib_ma20
    
    talib_ma30 = ta.MA(df, timeperiod=30)
    df['ma30'] = talib_ma30    
    
    talib_ma60 = ta.MA(df, timeperiod=60)
    df['ma60'] = talib_ma60    
    
    talib_ma120 = ta.MA(df, timeperiod=120)
    df['ma120'] = talib_ma120

In [ ]:
close_vol_ma(df,'ma20')

In [ ]:
df.head()

In [ ]:
def close_vol_ma(DataFrame,select):
    ma(DataFrame)

    source = MinMaxScaler()
    data = source.fit_transform(df[['close',select,'volume']].values)
    df1 = pd.DataFrame(data)
    df1.columns=['close',select,'volume']
    df1 = df1.set_index(df['date'])
    df1.plot(figsize=(16,4))
    plt.title(df['name'][0])

In [ ]:
close_vol_ma(df,'ma120')

In [ ]:
from mod1 import * 

path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'

def analysis(path,today):
    path_price = 'd:\\stockdata\\vote_stock\\detect_stock_with_price_'
    path_volume = 'd:\\stockdata\\vote_stock\\detect_stock_with_volume_'  
    #today = input('날짜를 입력하세요: ')

    df = pd.read_excel(path+today+'.xlsx')
    df = df['Name']

    name=df.to_list()
    for i in name:
        df=select_stock(i,'18-01-01')
        close_vol_ma(df,'ma120')

In [ ]:
from mod1 import *
group_analysis(path_price,'2019-06-19')

In [ ]:
group_analysis(path_volume,'2019-08-27')

In [ ]:
a.path_volume